.invitation {
    width: 100%;
    /*height: 100%;*/
    padding: 15px 10px 28px;
    background: pink;
    box-sizing: border-box;
    overflow: scroll;
    background: -webkit-linear-gradient(top, #FFB45C, #FF5353);
    background: linear-gradient(top, #FFB45C, #FF5353);
}

.invitationCon {
    width: 100%;
    height: auto;
    /*padding: 12px 12px 20px;*/
    box-sizing: border-box;
    /*background: #FFFFFF;*/
    border-radius: 8px;
    position: relative;
    overflow: scroll;
}

.invitationCountDown {
    width: 100%;
    height: 45px;
    padding: 0 12px;
    position: absolute;
    top: 12px;
    left: 0;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
    font-size: 19px;
    box-sizing: border-box;
}

.invitationCountDown div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.invitationImg {
    width: 100%;
    height: 330px;
    display: block;
}
.invitationGoods{
    background: #FFFFFF;
    padding: 12px 12px 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.m15{
    margin-top: 15px;
}
.invitationTitle {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    margin-top: 12px;
    padding: 0 6px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.invitationOrder {
    font-size: 15px;
    color: #333333;
    text-align: center;
    font-weight: bold;
    padding: 50px 12px 25px;
    box-sizing: border-box;
    background: #ffffff;
}

.invitationOrderGold {
    color: red;
    font-weight: 300;
}

.invitationOrderPrice {
    font-size: 26px;
    color: red;
}

/*新老用户 头像*/
.see_new{
    width: 100%;
    height: 86px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-top: 10px;
    box-sizing: border-box;
    background: #FFFFFF;
}
.see_new img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 auto;
}
.see_new div{
    color: #FF5050;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
}
/*老用户*/
.see_old{
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    vertical-align: middle;
    padding: 0 12px;
    border-radius: 8px;
    box-sizing: border-box;
}
.see_old img{
    width: 75px;
    height: 75px;
    display: inline-block;
    vertical-align: middle;
    /*background: url("../resources/sad.png") no-repeat;*/
}
.see_old text{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}
/*新老用户 商品*/
.wares_message{
    width: 100%;
    height: 111px;
    background: #FFFFFF;
    padding: 10px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #f3f3f3;
}
.add_old{
    margin-top: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.wares_headimg{
    width: 90px;
    height: 100%;
}
.wares_synopsis{
    flex: 1;
    height: 100%;
    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.wares_text{
    color: #333333;
}
.wares_price{
    padding-top: 20px;
    color: #FF5050;
    font-weight: bold;
}

.ellipsis_t{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}
/*end*/

.invitationBtn {
    width: 100%;
    padding: 0 18px 20px;
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.invitationBtnCon {
    width: 65%;
    height: 100%;
    background: #FF5050;
    border-radius: 3px;
}

.buyBtn {
    width: 30% !important;
}

.buyBtnt {
    width: 100% !important;
}

.buyBtns {
    width: 100% !important;
    background: #BBBBBB;
}

/*邀请进度*/
.invitationPlan {
    width: 100%;
    height: 12px;
    position: relative;
}

.invitationPlanBg {
    width: 100%;
    height: 100%;
    background: #FFB89B;
    border-radius: 6px;
}

.invitationPlanBgOn {
    /*width: 30%;*/
    height: 100%;
    background: -webkit-linear-gradient(right, #FF2929, #FF9B25);
    background: linear-gradient(right, #FF2929, #FF9B25);
    border-radius: 6px;
    position: absolute;
    top: 0;
}

.invitationPlanFlag {
    position: absolute;
    top: -29px;
    right: -17px;
    width: 60px;
    height: 19px;
    background: #FF2929;
}

.invitationPlanFlag span {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    z-index: 3;
}

.invitationPlanTriangle {
    width: 12px;
    height: 12px;
    background: #FF2929;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -4px;
    transform: rotate(45deg);
}

.invitationEpisode {
    width: 100%;
    font-size: 14px;
    color: #FF5050;
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 6px 6px 0;
    box-sizing: border-box;
}
.invitationEpisode div{
    width: 20%;
    text-align: center;
}


/*助力记录*/
.invitationRecord {
    margin-top: 15px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0 15px 0;
    box-sizing: border-box;
}

.invitationRecordTitle {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

.invitationState {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 13px;
}

/*推荐商品*/
.invitationRecommend {
    width: 100%;
    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0 15px 0;
    box-sizing: border-box;
    position: relative;
}

.recommendTitle {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    line-height: 50px;
}

.recommendTitle div {
    display: inline-block;
    margin: 0 25px;
}
.recommendNew{
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.recommendNewList {
    width: 100%;
    height: 45px;
    padding: 7px 25px;
    box-sizing: border-box;
}

.recommendNewList img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    /*vertical-align: middle;*/
}

.recommendNewListName {
    margin-left: 15px;
    color: #333333;
    font-size: 15px;
    width: 2rem;
    height: 100%;
    display: inline-block;
    line-height: 31px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommendNewListPrice {
    color: #FF5050;
    font-size: 14px;
    float: right;
    line-height: 31px;
}

/*助力推荐*/
.recommendListCon {
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.reduceprice .reduce-main {
    /*padding: 0 !important;*/
    background: #fff;
    /*border-bottom: 1px solid #eee;*/
}

.reduceprice .main-left {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .2rem;
}

.reduceprice .main-right {
    max-width: calc(100% - 2.6rem);
    font-size: 0.28rem;
}

.reduceprice .main-right .right-title {
    line-height: 0.38rem;
    min-height: 0.76rem;
    padding: .04rem 0;
    font-size: 0.28rem;
    box-sizing: border-box;
}

.reduceprice .right-main {
    height: 0.9rem;
}

.reduceprice .img-jiantou {
    height: 0.11rem;
    background: url('../resources/jiantou.png') no-repeat center center;
    background-size: 100% 100%;
    font-size: 0.22rem;
}

.reduceprice .jiantou-top {
    position: relative;
    top: -0.3rem;
    height: .4rem;
    line-height: .4rem;
}

.reduceprice .jiantou-bottom {
    position: relative;
    top: -0.3rem;
    height: .4rem;
    line-height: .4rem;
}

.btn-gray {
    height: 0.6rem;
    margin-top: .14rem;
    background-color: #ff5050;
    border-radius: 0.04rem;
    color: #fefefe;
    font-size: 0.28rem;
}

.btn-gray {
    background-color: #cccccc;
    color: #fefefe;
}

.f7b, .f50s {
    width: 1.3rem;
    font-weight: bolder;
    font-size: 0.36rem;
}

.main-right .getprice,
.main-right .btn-gray {
    height: 0.6rem;
    margin-top: .14rem;
    background-color: #ff5050;
    border-radius: 0.04rem;
    color: #fefefe;
    font-size: 0.28rem;
}

.showColor {
    color: #FF5050;
}

.showList {
    display: block;
}

.hideList {
    display: none;
}

.invitationPerson {
    font-size: 0;
}
.invitationPersons{
    display: block;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
}

.invitationPersonList {
    width: 20%;
    height: 70px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #666666;
    margin-top: 10px;
    position: relative;
}

.invitationPersonList img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
}

.invitationPersonList span {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.invitationPersonList:first-child {
    margin-left: 0;
}

.invitationPersonList .price {
    width: 32px;
    height: 13px;
    background: #FF5050;
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 7px;
}
.invitationPersonLists{
    width: 100%;
    height: 65px;
    padding: 6px 15px;
    box-sizing: border-box;
    /*display: flex;*/
    /*justify-content: space-between;*/
}
.record_head_portrait{
    width: 45px;
    text-align: center;
    position: relative;
    float: left;
}
.head_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.head_text{
    white-space:nowrap;/*规定段落中的文本不进行换行*/
    overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
    text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
    color: #666666;
    font-size: 13px;
}
.details_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block
}
.details_text{
    line-height: 50px;
    float: right;
}
.details_texts{
    margin-right: 30px;
    line-height: 50px;
    float: right;
}
.head_price{
    position: absolute;
    top: -5px;
    right: -10px;
    width: 32px;
    height: 13px;
    background: #FF5050;
    color: #FFFFFF;
    font-size: 10px;
    border-radius: 6px;
    line-height: 13px;
}

.showOrHideBtn {
    width: 100%;
    height: 25px;
    border-radius: 8px;
    text-align: center;
}

.showOrHideBtn .img {
    width: 21px;
    height: 23px;
    display: inline-block;
    background-size: 100%;
}

.showImg {
    background: url("../resources/show.png") no-repeat;
}

.hideImg {
    background: url("../resources/hide.png") no-repeat;
}

.showOrHide {
    display: none;
}

.showOrHides {
    display: none;
}

.helpscuess{
    color: #333333;
    font-size: 15px;
    background: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 90px;
    line-height: 90px;
}
.helpscuess span{
    color: #FF5050;
}
.helpscuess span:last-child{
    font-size: 25px;
}

.iosSty{
    width: 100%;
    height: 28px;
    /* background: #FF5353; */
    /*background: pink;*/
    position: absolute;
    left: 0;
    bottom: -28px;
}










