.address-list li {
	height: 1.84rem;
	border-top: 1px solid #ddd;
	background: #fff;
}
.address-list .con-2 {
	width: .98rem;
}
.address-list .con-1 h3 {
	height: .8rem;
	padding-top: .05rem;
	font-size: .3rem;
}
.address-list .con-1 h3 span {
	margin-right: .4rem;
}
.address-list .con-1 p {
	line-height: .4rem;
	font-size: .28rem;
	color: #666;
}

.address-list .btn-f50 {
	margin-left: .2rem;
	font-weight: bold;
}

.address-list .add-address-btn {
	width: 6.9rem;
	height: .8rem;
	background-color: #ff5050;
	font-size: .3rem;
	color: #fff;
	line-height: .8rem;
	text-align: center;
	margin: .2rem auto;
}