/*common*/
body { background: url("../images/body.jpg"); }

a:hover { color: #e62826; }

/*top*/
/*header*/
#header { background: url("../images/toubu.jpg"); }

#headerSearch { width: 323px; }

.search-panel-fields { width: auto; padding: 0; overflow: hidden; }
.search-panel-fields label { position: absolute; left: 10px; top: 0; z-index: 2; line-height: 30px; color: #949494; cursor: text; }
.search-panel-fields input { float: left; width: 248px; height: 28px; *line-height: 28px; margin: 0; padding: 0 10px; }
.search-panel-fields button { float: left; position: static; width: 53px; height: 30px; background: #5a0c10; border: 0; color: #fff; text-indent: 0; cursor: pointer; }

.hotsearch { position: relative; height: 30px; overflow: hidden; line-height: 30px; }
.hotsearch a { margin-left: 5px; color: #b1a8a3; }

#headerCart { border: 1px solid #5a0c10; }

.cartbtn { background: #23130c; color: #fff; }
.cartbtn a { color: #fff; }
.cartbtn i { position: absolute; left: 5px; top: 0; width: 28px; height: 28px; background: url(../images/topcart.png) no-repeat; }
.cartbtn .cartcount { display: inline-block; padding-right: 20px; background: url("../images/topcart.png") no-repeat 100% 100%; color: #fff; }

.cart-hover .cartbtn { background: #23130c; }

.mini-cart-menu { border: 1px solid #5a0c10; right: -1px; }

.mini-cart-view .mini-cart-btn { background: #5a0c10; border: 1px solid #5a0c10; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #fff; }

/*nav*/
.nav, .nav .layout { background: #23130c; }
.nav .textNav a, .nav .site-nav a { color: #fff; }
.nav .textNav a .current, .nav .textNav a:hover, .nav .site-nav a .current, .nav .site-nav a:hover { color: #e62826; text-decoration: none; }

.gbc-title { background: #5a0c10; color: #fff; }

.gbc-title span { background: url("../images/gbctitle-arrow.gif") no-repeat 100% 0; padding-right: 30px; color: #fff; }

.global-catalog-open .gbc-title span { background-position: 100% 100%; }

.gbc-treetitle .c { background: url("../images/arrow_right.gif") no-repeat right; padding-right: 15px; }

.gbc-treetitle, .gbc-subtree li a:hover, .sublayer-item li a:hover, .sublayer-item dt a:hover { color: #5a0c10; }

/*footer*/
.footer { border-top: 12px solid #5a0c10; background: #1f1713; color: #fff; }

.ftconlist p { padding-left: 20px; background: url("../images/ft_list_ico.gif") no-repeat 0 5px; }

.ftcopyright { margin-top: 10px; line-height: 25px; text-align: center; }

/*login*/
.loginbox { border-top: 3px solid #5a0c10; }

/*main*/
.filter-sort .sort-on { border-color: #5a0c10; background-color: #5a0c10; color: #fff; }

.pagination .page-cur, .page-go button { background: #5a0c10; border: 1px solid #2d0608; color: #fff; }

/*page*/
.page-index #page { padding-bottom: 10px; }
.page-index #page .layout { background: none; min-height: 0; _height: auto; padding: 0; }

.block .blocktitle { border-bottom-color: #5a0c10; color: #5a0c10; }
.block .blocktitle span { margin-bottom: -2px; border-bottom: 2px solid #5a0c10; }

.commentblock h3 { border-color: #5a0c10; }

.sideblock .blocktitle { border-top: 3px solid #5a0c10; margin: 0 -1px; }

/*slides*/
#inslides { height: 414px; background: #000000; }
#inslides .switchable-slides { height: 414px; }
#inslides .switchable-slides li { position: absolute; height: 414px; }
#inslides .switchable-nav { display: none; }
#inslides .switchable-triggers li { float: left; color: #23130c; font-size: 40px; line-height: 20px; cursor: pointer; margin-left: 10px; }
#inslides .switchable-triggers .current { color: #5a0c10; }

/*tabs*/
#intabs .switchable-tab-title { height: 30px; line-height: 30px; border-bottom: 2px solid #d4d4d4; }
#intabs .switchable-tab-title .current { border-bottom: 2px solid #5a0c10; margin-bottom: -2px; }
#intabs .switchable-nav-item i { display: block; margin-top: 70px; width: 0; height: 0; border: 15px dashed transparent; text-indent: -9999px; line-height: 0; }
#intabs .prev i { border-right: 15px solid #5a0c10; }
#intabs .next i { border-left: 15px solid #5a0c10; margin-left: 10px; }

/*goodslist*/
.m-itemslist .type-grid .item-hover { border-color: #5a0c10; }
.m-itemslist .type-grid .goodsname a:hover { color: #5a0c10; }
.m-itemslist .type-grid .thumbslist li.selected { border-color: #5a0c10; }

/*goodsdetail*/
.goods-gallery .thumbs li.selected { border-color: #5a0c10; }

.detail-tabbar { border-color: #4e0a0d; background: #5a0c10; }
.detail-tabbar a { color: #ffffff; border-color: #4e0a0d; }
.detail-tabbar .selected { border-top: 3px solid #5a0c10; margin-top: -3px; background: #23130c; }
.detail-tabbar .selected a { color: #ffffff; }

.detail-bd .hd { background: #5a0c10; color: #ffffff; }

.review-rate span { color: #5a0c10; }

.sumratebar span { background: #5a0c10; }

/*goods-set*/
.combobuy-hd h3, .combobuy-ft h3 { color: #5a0c10; }

/*step*/
.stepind { background-image: url("../images/step.png"); }

.steps .step-active { background-color: #5a0c10; }
.steps .step-active .stepname { color: #5a0c10; }

.orderstate .stepind { background-image: url("../images/step-l.png"); }
.orderstate .steps .step-active { background-color: #5a0c10; }
.orderstate .steps .step-active .stepname { color: #5a0c10; }

/*payment*/
.tabbar .selected { margin-top: -3px; border-top: 3px solid #5a0c10; }

.payment .tabbar .selected a { border-top: 3px solid #5a0c10; padding-top: 0; }

/*refund*/
.tabnav li a.current { color: #fff; background: #5a0c10; }

/*news*/
.newslist h3 { border-bottom: 2px solid #5a0c10; }

.newslist .title a:hover { color: #5a0c10; }

.newstop { border-bottom: 2px solid #5a0c10; }

/*mycenter*/
.mcmenu-home { margin-bottom: 10px; background-color: #5a0c10; }

.mcmenu { border-top: 4px solid #5a0c10; }

.mctitle span { margin-bottom: -2px; border-bottom: 2px solid #5a0c10; }

.mcmenu dd a.current { background-image: url("../images/mc-menuarrow.gif"); }

.link-back { background: #5a0c10; }

.pswstrength-low, .pswstrength-mid, .pswstrength-high { background-image: url("../images/password-strength.png"); }

.link { color: #e62826; }

.deliverstatus li.itemactive s { background: #5a0c10; }

.deliverstatus li p, .deliverstatus li p span { background-image: url("../images/deliverstatus.png"); }

/*brand*/
.brandextra a { background: #23130c; }

/*# sourceMappingURL=theme.css.map */
