<div class="page reduceprice flex dc bgf4" data-title="热卖榜单" data-id="activity_hotlist">
    <link rel="stylesheet" href="activity/hotlist/index.css?ver=1.1">

    <header class="flex ac jb fn">
        <div class="flex fn"><i class="back ico-btn" onclick="back()"></i></div>
        <p class="ellipsis">热卖榜单</p>
        <div class="fn"></div>
    </header>
    <div class="hotlist">
        <img class="hotlist_img" src="activity/hotlist/img/wifi.png" alt="">
        <div class="hotlist_fonthint">暂未开放此功能，请前往APP或小程序打开</div>
    </div>

    <script src="activity/hotlist/index.js?ver=1.3" async></script>
</div>