.hotlist_img{
    width: 129px;
    height: 132px;
    margin: 0 auto;
    margin-top: 126px;
}
.hotlist_fonthint{
    text-align: center;
    color: #333333;
    font-size: 13px;
    margin-top: 17px;
}