<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>醒购</title>
	<style>
		html {
			font-size: 100px;
		}
		@media (min-width: 750px) {
			html {
				width: 750px;
				margin: 0 auto;
			}
		}
	</style>
	<script>
		var	html = document.querySelector('html');

		function fontFix() {
			html.style.fontSize = html.offsetWidth / 7.5 + 'px';
		}
		fontFix();
		window.onresize = fontFix;
	</script>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/apply-standard.css">
</head>
<body>
	<div class="wrapper">
		<h1>2019年醒购商城招商标准</h1>

		<section>
			<h2>第一章 2019年醒购商城招商方向</h2>
			<article>
				<p>
					1.1 品牌
					<br>国际国内知名品牌
					<br>醒购商城，欢迎优质品牌旗舰店入驻。
				</p>
				<p>
					1.2 商品
					<br>
					有特色性价比高的精优商品，能满足醒购商城用户的购物需求。
				</p>
				<p>
					1.3 垂直电商
					<br>
					醒购商城欢迎垂直类电商入驻。
				</p>
			</article>

			<h2>第二章 醒购商城商家入驻须知</h2>
			<article> 
				<p>2.1 醒购商城暂未授权任何机构进行代理招商服务，入驻申请流程及</p>
				<p>相关的资费说明均以醒购商城官方招商页面为准。</p>
				<p>2.2 醒购商城有权根据包括但不限于品牌需求、公司经营状况、服务水平等其他因素限制商家入驻申请。</p>
				<p>2.3 醒购商城有权在申请入驻及后续经营阶段要求商家提供其他资质。</p>
				<p>2.4 醒购商城将结合各行业发展动态、国家相关规定及消费者购买需求，不定期更新招商标准。</p>
				<p>2.5 商家不得提供虚假不实的资料和信息：</p>
				<p>2.5.1 商家确保提交入驻及后续经营阶段提供的相关资质和信息的真实性、完整性、有效性（若商家提供的相关资质为第三方提供，包括但不限于商标注册证、授权书等，请务必先行核实文件的真实有效完整性），发现虚假资质或信息醒购商城将终止与该商家的合作，并有权根据醒购商城运营规则及与商家签署的相关协议之约定进行处理；</p>
				<p>
</p>
				<p>2.5.2 商家应如实提供其店铺运营的主体及相关信息，包括但不限于店铺实际经营主体、代理运营公司等信息；</p>
				<p>2.5.3 醒购商城关于商家信息和资料变更有相关规定的从其规定，但商家如变更2.5.2项所列信息，应提前10日书面告知醒购商城；如未提前告知，醒购商城将根据运营规则进行处理。</p>
				<p>2.6 醒购商城暂不接受个体工商户的入驻申请，商家须为正式注册企业，亦暂时不接受非中国大陆注册企业的入驻申请。</p>
				<p>2.7 醒购商城暂不接受未取得国家商标总局颁发的商标注册证或商标受理通知书的品牌入驻开店申请，亦不接受纯图形类商标的入驻申请。商家提供商标受理通知书（TM状态商标）的，注册申请时间须满六个月。</p>
			</article>

			<h2>第三章 醒购商城店铺类型及相关要求</h2>
			<article>
				<p>3.1 旗舰店，商家以自有品牌（商标为R或TM状态），或由权利人出具在醒购商城开设品牌旗舰店的独占性授权文件（授权文件中应明确独占性、不可撤销性）才能开设店铺。</p>
				<p>3.1.1 旗舰店，可以有以下几种情形：</p>
				<p>3.1.1.1经营一个自有品牌商品的品牌旗舰店（自有品牌是指商标权利归商家所有）或由权利人出具的在醒购商城开设品牌旗舰店的独占性授权文件（授权文件中应明确独占性、不可撤销性）的品牌旗舰店；</p>
				<p>3.1.1.2经营多个自有品牌商品且各品牌归同一实际控制人的品牌旗舰店（自有品牌的子品牌可以放入旗舰店，主、子品牌的商标权利人应为同一实际控制人）；</p>
				<p>3.1.1.3卖场型品牌（服务类商标）商标权人开设的旗舰店；</p>
				<p>3.1.2 开店主体必须是品牌（商标）权利人或持有权利人出具的开设醒购商城旗舰店独占性授权文件的被授权企业。</p>
				<p>3.2 专卖店，商家持他人品牌（商标为R或TM状态）授权文件在醒购商城开设的店铺。</p>
				<p>3.2.1 专卖店类型：经营一个或多个授权品牌商品（多个授权品牌的商标权利人应为同一实际控制人）但未获得品牌（商标）权利人独占授权入驻醒购商城的商家专卖店；</p>
				<p>3.2.2 品牌（商标）权利人出具的授权文件不应有地域限制。</p>
				<p>3.3 专营店，经营一个类目下两个及以上他人或自有品牌（商标为R或TM状态）商品的店铺。</p>
				<p>3.3.1 专营店，可以有以下几种情形：</p>
				<p>3.3.1.1一个类目下经营两个及以上他人品牌商品入驻醒购商城的商家专营店。</p>
				<p>3.3.1.2一个类目下既经营他人品牌商品又经营自有品牌商品入驻醒购商城的商家专营店。</p>
				<p>3.3.1.2一个类目下既经营他人品牌商品又经营自有品牌商品入驻醒购商城的商家专营店。</p>
			</article>

			<h2>第四章 醒购商城提交入驻资质标准</h2>
			<article>
				<p>4.1申请入驻资质标准详见《醒购商城入驻店铺资质要求》。</p>
				<p>4.2经营国际国内知名品牌企业，入驻资质符合《醒购商城入驻店铺资质要求》外，另要求：</p>
				<p>企业资质：办公场地、门店、仓储物流、采购发票等</p>
				<p>缴费要求：在醒购商城资费标准的基础上，另行增收费用</p>
				<p>商品资质：品牌销售授权链、进货发票、寄样审核。</p>
			</article>

			<h2>第五章 醒购商城开店入驻限制</h2>
			<article>
				<p>5.1 品牌入驻限制：</p>
				<p>5.1.1 与醒购商城已有的品牌、频道、业务、类目等相同或相似名称的品牌；</p>
				<p>5.1.2 包含行业名称或通用名称的品牌；</p>
				<p>5.1.3 包含知名人士、地名的品牌；</p>
				<p>5.1.4 与知名品牌相同或近似的品牌。</p>
				<p>5.2 商号（或字号）入驻限制：</p>
				<p>5.2.1 与醒购商城已有的品牌、频道、业务、类目等相同或近似；</p>
				<p>5.2.2 与知名品牌相同或相近的。</p>
				<p>5.3 经营类目限制，商家开店所经营的类目应当符合醒购商城的相关标准，详细请参考《醒购商城经营类目资费一览表》。</p>
				<p>5.4 同一主体入驻的店铺限制：</p>
				<p>5.4.1 商品重合度：要求店铺间同一类目经营的品牌及商品不得重复，经过醒购商城审批的店铺不受此项约束。</p>
				<p>5.5 同一主体重新入驻醒购商城限制：</p>
				<p>5.5.1 严重违规、资质造假被醒购商城清退的，永久限制入驻；</p>
				<p>5.5.2 若商家一自然年内主动退出2次，则自最后一次完成退出之日起12个月内限制入驻。</p>
				<p>5.6 续签限制：</p>
				<p>5.6.1 须每年醒购商城规定的续签时间内完成续签申请的提交，并在醒购商城规定的规定的时间内完成醒购商城使用费的缴纳，如果上一年及下一年资费及资料未补足，醒购商城将终止为店铺服务并清退出醒购商城。</p>
				<p>5.6.2 商家在服务期内未通过《醒购商城商家店铺考核标准》，醒购商城有权拒绝商家提出相应续签服务期的申请。</p>
			</article>

			<h2>第六章 醒购商城保证金/商城使用费/技术服务费费率标准</h2>
			<article>
				<p>6.1保证金：商家以“一店铺一保证金“原则向醒购商城缴纳的用以保证店铺规范运营及对商品和服务质量进行担保的金额。当商家发生侵权、违约、违规行为时，醒购商城可以依照与商家签署的协议中相关约定及运营规则扣除相应金额的保证金作为违约金或给予消费者的赔偿。</p>
				<p>6.1.1 保证金的调整、补足、退还、扣除、赔偿等依据商家签署的相关协议及运营规则约定办理；</p>
				<p>6.1.2 醒购商城各经营类目对应的保证金标准详见《醒购商城经营类目资费一览表》。</p>
				<p>6.1.3 跨类目保证金：就高原则，保证金按最高金额的类目缴纳；经营过程中增加的类目对应的保证金与原有保证金不一致，商家须补交差额部分。</p>
				<p>6.1.4保证金不足额时，商家应在出现该等情况后5个工作日内及时补缴足额的保证金使可用余额达至最低保证金金额。醒购商城可向商家发出续费通知，如商家在醒购商城上有未结货款，醒购商城有权从该等款项中扣除以补足保证金。如商家逾期未能补足保证金，则醒购商城有权对其店铺进行监管或终止服务。</p>
				<p>6.2 商城使用费：商家依照与商城签署的相关协议使用平台各项服务时缴纳的固定技术服务费用。醒购商城各经营类目对应的平台使用费标准详见《醒购商城经营类目资费一览表》。</p>
				<p>续签商家的续展服务期间对应商城使用费须在每年醒购商城规定的缴费时间内一次性缴纳；新签商家须在提交入驻审核通过，一次性缴纳相应服务期间的商城使用费。</p>
				<p>6.2.1 商城使用费结算：</p>
				<p>6.2.1.1商家主动要求停止店铺服务的不返还商城使用费；</p>
				<p>6.2.1.2商家因违规行为或资质造假被清退的不返还商城使用费；</p>
				<p>6.2.1.3拥有独立店铺ID的为一个店铺，若商家根据经营情况须开通多个店铺的，须按照店铺数量缴纳相应的商城使用费。</p>
				<p>6.3 技术服务费费率标准：商家根据经营类目在达成每一单交易成功时按比例（该比例在与商家签署的相关协议中称为“技术服务费费率”）向醒购商城缴纳的费用。醒购商城各经营模式各经营类目对应的费率标准详见《醒购商城经营类目资费一览表》。</p>
				<p>6.4商家店铺运营多品牌的，前3个品牌的以按《资费标准》的1倍缴纳保证金，第3个品牌起，每增加1个品牌，按《资费标准》的1倍补缴纳保证金。</p>
			</article>

			<h2>第七章《醒购商城》店铺服务期</h2>
			<article>
				<p>7.1 商家每个店铺的第一个服务期自服务开通之日起，以一个自然年为周期，具体以醒购商城与商家签署的相关协议为准。</p>
				<p>7.2 商家应在店铺每个服务期届满前60日向甲方提出续签的申请，缴纳续签服务期的平台使用费和提交其经营所需的全部有效资质，并经醒购商城审核。</p>
				<p>7.3 商家未提出续签申请或申请未通过醒购商城审核的，自店铺服务期满之日起，醒购商城将不再向商家提供该店铺的任何服务。</p>
				<p class="mt108">第八章、醒购商城附则：</p>
				<p>8.1商家的行为，发生在本招商标准生效之日以前的，适用当时的规则。发生在本招商标准生效之日以后的，适用本招商标准。</p>
				<p>8.2醒购商城可根据运营情况随时调整本招商标准并以公告的形式向商家公示。</p>
				<p>8.3商家应遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本招商标准已有规定的，适用于本招商标准。本招商标准尚无规定的，醒购商城有权酌情处理。但醒购商城对商家的处理不免除其应承担的法律责任。商家在醒购商城的任何行为，应同时遵守与醒购商城及其关联公司签订的各项协议。</p>
				<p>8.4本标准于2019年1月1日发布并生效，《醒购商城经营类目资费一览表》一并正式生效。</p>
			</article>
		</section>
	</div>
</body>
</html>