<div class="page coupon novaplan-cash-record bgf4" data-title="明细记录" data-id="activity_novaplan_cash_record">
	<link rel="stylesheet" href="../static/css/common-tabTop.css">
	<link rel="stylesheet" href="activity/novaplan/pages/cash/record/record.css?var=1.2">

	<header class="flex ac jb">
		<div class="flex fn"><i class="back ico-btn" onclick="back('my')"></i></div>
		<p class="ellipsis">明细记录</p>
		<div class="fn"></div>
	</header>

	<div class="tab-top flex">
		<a class="flex fg dc ac" onclick="cashRecordApi.main('1')">
			<span class="fg flex ac">余额明细</span>
		</a>
		<a class="flex fg dc ac" onclick="cashRecordApi.main('2')">
			<span class="fg flex ac">提现明细</span>
		</a>
	</div>

	<div class="tab-body">
		<div class="scroll-y scroll-fix tab-con bgf4">
			<div class="touchfix flex dc"></div>
		</div>
		<div class="scroll-y scroll-fix tab-con bgf4">
			<div class="touchfix flex dc"></div>
		</div>
	</div>

	<div class="popup popup-clear" onclick="closeSelf(this)">
		<div class="popup-clear-con" onclick="stopSelf()">
			<div class="tab-head flex ac jc">驳回原因</div>
			<div class="tab-by">1111</div>
			<div class="flex clear-btn ac jc" onclick="closeSelf(this)">确定</div>
		</div>
	</div>

	<script id="novaplan_cash_tpl_record" type="text/html">
		{{if returnData.dataList.length}}
		{{each returnData.dataList value i}}
		<dl class="flex jb ac">
			<dt class="flex dc jc">
				<div class="flex">
				{{if value.status == 5}}
					<h3 class="flex fs28 ac" onclick="cashRecordApi.tip('{{value.innerRemarks}}')"><p class="f50">{{value.title}}</p></h3>
				{{else}}
					<h3 class="flex fs28 ac">
					{{if tab == 2}}提现{{/if}}
					{{value.title}}</h3>
				{{/if}}
				{{if value.bankCard}}
					<p class="flex c9 fs22 ac pl10">卡号：{{value.bankCard}}</p>
				{{/if}}
				</div>
				<p class="c9 fs22 mt10">{{value.createDateStr}}</p>
			</dt>

			<dt>
				{{if tab == 1}}
				<em class="f50 cf5 flex ac je fs28">{{value.amount}}</em>
				{{else}}
				<em class="cf5 flex ac je fs28">{{value.amount}}</em>
				{{/if}}
				{{if value.remarks}}
				<em class="c9 flex fs22 ac mt10 jc">{{value.remarks}}</em>
				{{/if}}
			</dt>
		</dl>
		{{/each}}
		{{else}}
			{{include 'novaplan_cash_tpl_record_empty'}}
		{{/if}}
	</script>

	<script id="novaplan_cash_tpl_record_empty" type="text/html">
		<div class="page-empty empty-order flex dc ac jc fg">
			<i></i>
			<p>当前没有任何记录哦~</p>
		</div>
	</script>

	<script src="activity/novaplan/pages/cash/record/record.js?var=1.2"></script>
</div>