<div class="page address-list flex dc bgf4" data-title="选择地址" data-id="order_detail_address_list">
	<link rel="stylesheet" href="order/detail/address/list.css">

	<header class="flex ac jb fn">
		<div class="flex fn"><i class="back ico-btn" onclick="getUrl(`order/detail/change/index.html?combineOrderId=${orderAddressList.data.combineOrderId}&subOrderId=${orderAddressList.data.subOrderId}`, 'self')"></i></div>
		<p class="ellipsis">选择地址</p>
		<div class="fn"></div>
	</header>

	<div class="fg flex dc scroll-more scroll-y"></div>

	<script id="address_list_tpl" type="text/html">
		{{if returnData.length}}
		<ul class="fg">
			{{each returnData value i}}
			<li class="flex" data-id="{{value.id}}" onclick="orderAddressList.default(this)">
				<div class="con-2 flex ac jc fn">
					<div class="flex ac">
						<i class="ico-btn tick{{addressIdStorage? (value.id == addressIdStorage? ' ticked' : '') : (value.isPrimary == 'Y'? ' ticked' : '')}}"></i>
					</div>
				</div>

				<div class="con-1 fg">
					<h3 class="flex ac">
						<span>{{value.recipient}}</span>
						<b>{{value.phone}}</b>
						{{if value.isPrimary == "Y"}}
						<mark class="btn-f50">默认地址</mark>
						{{/if}}
					</h3>
					<div class="address-info">
						<p>
							{{value.provinceName}}
							{{value.cityName}}
							{{value.countyName}}
							{{value.address}}
						</p>
						<div class="address-btns" onclick="stopSelf()">
							<span 
							onclick="orderAddressList.update(this)"
							data-id="{{value.id}}"
							data-phone="{{value.phone}}"
							data-recipient="{{value.recipient}}"
							data-address="{{value.address}}"

							data-nprovince="{{value.provinceName}}"
							data-ncity="{{value.cityName}}"
							data-ncounty="{{value.countyName}}"

							data-province="{{value.province}}"
							data-city="{{value.city}}"
							data-county="{{value.county}}">编辑</span>
							<span onclick="orderAddressList.deleted(this)">删除</span>
						</div>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

		{{else}}
		{{include 'address_list_tpl_empty'}}
		{{/if}}

	</script>
	<div class="add-address-btn" onclick="orderAddressList.addAddress()">+新增地址</div>

	<script id="address_list_tpl_empty" type="text/html">
		<div class="page-empty empty-address flex dc ac jc fg">
			<i></i>
			<p>当前还没有收获地址哦</p>
		</div>
	</script>

	<!-- 不能删除弹窗提示 -->
	<div class="popup address-del">
		<div class="popup-center popup-tip">
			<h3 class="flex ac jc">提醒</h3>
			<p class="jc txt">地址为当前订单收货地址，不允许删除</p>
			<div class="address-del-btn" onclick="closeSelf(this)">确定</div>
		</div>
	</div>

	<script src="order/detail/address/list.js?var=1.0" async></script>
</div>