.order-firm .popup-bot {
	position: relative !important;
}
.order-detail .no-addr {
	padding: .23rem 0 .23rem .2rem;
	text-align: center;
}
.order-firm .row-2 {
	margin: 0;
}
.order-firm .row-4 {
	height: auto !important;
	padding: 0 0 0 .2rem;
	line-height: initial;
}
.order-firm .row-4 div {
	height: .8rem;
	padding-right: .2rem;
	margin: 0;
}
.order-firm .padd {
	background: #fff;
}

.order-firm .popup-pay {
	position: static;
}

.order-firm .message {
	height: 1rem;
	padding-left: .2rem;
	font-size: .26rem;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.order-firm .message input {
	width: 5.8rem;
	height: .6rem;
	padding-left: .08rem;
	background: #f8f8f8;
	border: 1px solid #ddd;
	outline: none;
}

.popup-set-address .popup-center {
	overflow: hidden;
	width: 5.6rem;
	height: 6rem;
	border-radius: .1rem;
	background: transparent;
}
.popup-set-address .popup-header {
	height: 1.6rem;
	background: url(resources/popup-header.png) no-repeat;
	background-size: 100% 100%;
	font-size: .42rem;
	font-weight: bold;
	color: #fff;
	border: none;
}
.popup-set-address .popup-con {
	height: auto;
	padding-top: .09rem;
	background: #fff;
}
.popup-set-address .popup-con p {
	height: .88rem;
	font-size: .3rem;
}
.popup-set-address .popup-con img {
	width: 2.16rem;
	margin: 0 auto;
}
.popup-set-address .popup-footer {
	height: .9rem;
	font-size: .32rem;
	background: #fff;
	border-top: 1px solid #ddd;
}
.popup-set-address .popup-footer a {
	height: 100%;
}

.order-detail-footer div.con-2 {
	border-top: 1px solid #eee;
	padding-right: 0;
}
.order-detail-footer .con-1 {
	display: none;
}
.order-detail-footer .con-1 p {
	height: .6rem;
	line-height: .6rem;
	padding: 0 .2rem;
	background: #fff6b8;
	font-size: .24rem;
}

/*失效宝贝*/
.order-firm .con-invalid h4 {
	height: .8rem;
	padding: 0 .3rem;
	font-size: .3rem;
	background: #fff;
}
.order-firm .con-invalid dl {
	background: #fffafa;
}
.order-firm .con-invalid dd p:first-child {
	color: #666;
}
.order-firm .con-invalid strong {
	margin-right: .2rem;
}

/*运费*/
.order-firm .wenhao {
	width: .22rem;
	height: .22rem;
	border-radius: 100%;
	border: .02rem solid #ff5050;
	font-size: .32rem;
	color: #ff5050;
	font-weight: bold;
}
.order-firm .wenhao:after {
	content: '?';
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

.order-firm-freight .scroll-y {
	max-height: 6rem;
}

.order-firm-freight h3 {
	height: 1.1rem;
	font-size: .3rem;
	color: #999;
	border-bottom: 1px solid #eee;
}
.order-firm-freight .close-x {
	top: .33rem;
}
.order-firm-freight .bot {
	height: 1rem;
	padding: 0 .2rem;
	color: #ff5050;
	font-size: .34rem;
	border-top: 1px solid #eee;
}
.order-firm-freight .bot strong,
.order-firm-freight .bot b {
	font-weight: bold;
}

.order-firm-freight .bot b {
	font-size: .4rem;
}
.order-firm-freight .bot span {
	color: #999;
	font-size: .24rem;
}

/*无售后功能提醒*/
.order-firm .no-after-sale {
	display: -webkit-flex;
	display: flex;
	height: .6rem;
	font-size: .24rem;
	padding-left: .2rem;
	background: #fff6b8;
}
/*抖音*/
.order-firm .no-after-sale.douyin {
	position: relative;
	display: flex !important;
	display: -webkit-flex !important;
	-webkit-justify-content: center;
	justify-content: center;
}
.order-firm .no-after-sale.douyin a {
	top: .07rem;
	right: .1rem;
}
.order-firm .no-after-sale.douyin a:before,
.order-firm .no-after-sale.douyin a:after {
	background: #333;
}

/*预售定金*/
.order-firm .dep {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	font-size: .24rem;
}
.order-firm .dep span {
	color: #333;
	margin-left: .1rem;
}
.order-firm .huabei {
	width: 1.25rem;
	margin: .05rem;
	background-color: #c4eeff;
	font-size: .16rem;
	font-weight: bold;
	color: #00aaee;
	border-radius: .15rem;
}