<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ActivityGroupMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ActivityGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="sign_pic" property="signPic" jdbcType="VARCHAR" />
    <result column="product_wk_pic" property="productWkPic" jdbcType="VARCHAR" />
    <result column="product_wk_pic_m" property="productWkPicM" jdbcType="VARCHAR" />
    <result column="price_wk_pic" property="priceWkPic" jdbcType="VARCHAR" />
    <result column="price_font_color" property="priceFontColor" jdbcType="VARCHAR" />
    <result column="product_wk_link_id" property="productWkLinkId" jdbcType="INTEGER" />
    <result column="product_wk_position" property="productWkPosition" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, group_name, sign_pic, product_wk_pic, product_wk_pic_m, price_wk_pic, price_font_color, 
    product_wk_link_id, product_wk_position, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ActivityGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_activity_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_activity_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_activity_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.ActivityGroupExample" >
    delete from bu_activity_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.ActivityGroup" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_activity_group (group_name, sign_pic, product_wk_pic, 
      product_wk_pic_m, price_wk_pic, price_font_color, 
      product_wk_link_id, product_wk_position, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{groupName,jdbcType=VARCHAR}, #{signPic,jdbcType=VARCHAR}, #{productWkPic,jdbcType=VARCHAR}, 
      #{productWkPicM,jdbcType=VARCHAR}, #{priceWkPic,jdbcType=VARCHAR}, #{priceFontColor,jdbcType=VARCHAR}, 
      #{productWkLinkId,jdbcType=INTEGER}, #{productWkPosition,jdbcType=CHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.ActivityGroup" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_activity_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="signPic != null" >
        sign_pic,
      </if>
      <if test="productWkPic != null" >
        product_wk_pic,
      </if>
      <if test="productWkPicM != null" >
        product_wk_pic_m,
      </if>
      <if test="priceWkPic != null" >
        price_wk_pic,
      </if>
      <if test="priceFontColor != null" >
        price_font_color,
      </if>
      <if test="productWkLinkId != null" >
        product_wk_link_id,
      </if>
      <if test="productWkPosition != null" >
        product_wk_position,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="signPic != null" >
        #{signPic,jdbcType=VARCHAR},
      </if>
      <if test="productWkPic != null" >
        #{productWkPic,jdbcType=VARCHAR},
      </if>
      <if test="productWkPicM != null" >
        #{productWkPicM,jdbcType=VARCHAR},
      </if>
      <if test="priceWkPic != null" >
        #{priceWkPic,jdbcType=VARCHAR},
      </if>
      <if test="priceFontColor != null" >
        #{priceFontColor,jdbcType=VARCHAR},
      </if>
      <if test="productWkLinkId != null" >
        #{productWkLinkId,jdbcType=INTEGER},
      </if>
      <if test="productWkPosition != null" >
        #{productWkPosition,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.ActivityGroupExample" resultType="java.lang.Integer" >
    select count(*) from bu_activity_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_activity_group
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.groupName != null" >
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.signPic != null" >
        sign_pic = #{record.signPic,jdbcType=VARCHAR},
      </if>
      <if test="record.productWkPic != null" >
        product_wk_pic = #{record.productWkPic,jdbcType=VARCHAR},
      </if>
      <if test="record.productWkPicM != null" >
        product_wk_pic_m = #{record.productWkPicM,jdbcType=VARCHAR},
      </if>
      <if test="record.priceWkPic != null" >
        price_wk_pic = #{record.priceWkPic,jdbcType=VARCHAR},
      </if>
      <if test="record.priceFontColor != null" >
        price_font_color = #{record.priceFontColor,jdbcType=VARCHAR},
      </if>
      <if test="record.productWkLinkId != null" >
        product_wk_link_id = #{record.productWkLinkId,jdbcType=INTEGER},
      </if>
      <if test="record.productWkPosition != null" >
        product_wk_position = #{record.productWkPosition,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_activity_group
    set id = #{record.id,jdbcType=INTEGER},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      sign_pic = #{record.signPic,jdbcType=VARCHAR},
      product_wk_pic = #{record.productWkPic,jdbcType=VARCHAR},
      product_wk_pic_m = #{record.productWkPicM,jdbcType=VARCHAR},
      price_wk_pic = #{record.priceWkPic,jdbcType=VARCHAR},
      price_font_color = #{record.priceFontColor,jdbcType=VARCHAR},
      product_wk_link_id = #{record.productWkLinkId,jdbcType=INTEGER},
      product_wk_position = #{record.productWkPosition,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.ActivityGroup" >
    update bu_activity_group
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="signPic != null" >
        sign_pic = #{signPic,jdbcType=VARCHAR},
      </if>
      <if test="productWkPic != null" >
        product_wk_pic = #{productWkPic,jdbcType=VARCHAR},
      </if>
      <if test="productWkPicM != null" >
        product_wk_pic_m = #{productWkPicM,jdbcType=VARCHAR},
      </if>
      <if test="priceWkPic != null" >
        price_wk_pic = #{priceWkPic,jdbcType=VARCHAR},
      </if>
      <if test="priceFontColor != null" >
        price_font_color = #{priceFontColor,jdbcType=VARCHAR},
      </if>
      <if test="productWkLinkId != null" >
        product_wk_link_id = #{productWkLinkId,jdbcType=INTEGER},
      </if>
      <if test="productWkPosition != null" >
        product_wk_position = #{productWkPosition,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.ActivityGroup" >
    update bu_activity_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      sign_pic = #{signPic,jdbcType=VARCHAR},
      product_wk_pic = #{productWkPic,jdbcType=VARCHAR},
      product_wk_pic_m = #{productWkPicM,jdbcType=VARCHAR},
      price_wk_pic = #{priceWkPic,jdbcType=VARCHAR},
      price_font_color = #{priceFontColor,jdbcType=VARCHAR},
      product_wk_link_id = #{productWkLinkId,jdbcType=INTEGER},
      product_wk_position = #{productWkPosition,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>