<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CloudProductMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.CloudProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sp_office_id" property="spOfficeId" jdbcType="INTEGER" />
    <result column="cloud_product_after_templet_id" property="cloudProductAfterTempletId" jdbcType="INTEGER" />
    <result column="supplier_product_brand_id" property="supplierProductBrandId" jdbcType="INTEGER" />
    <result column="art_no" property="artNo" jdbcType="VARCHAR" />
    <result column="selling_price" property="sellingPrice" jdbcType="DECIMAL" />
    <result column="sku_pic" property="skuPic" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sp_office_id, cloud_product_after_templet_id, supplier_product_brand_id, art_no, 
    selling_price, sku_pic, status, create_by, create_date, update_by, update_date, remarks, 
    del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.CloudProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jybao.bu_cloud_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jybao.bu_cloud_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jybao.bu_cloud_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.CloudProductExample" >
    delete from jybao.bu_cloud_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.CloudProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jybao.bu_cloud_product (sp_office_id, cloud_product_after_templet_id, 
      supplier_product_brand_id, art_no, selling_price, 
      sku_pic, status, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{spOfficeId,jdbcType=INTEGER}, #{cloudProductAfterTempletId,jdbcType=INTEGER}, 
      #{supplierProductBrandId,jdbcType=INTEGER}, #{artNo,jdbcType=VARCHAR}, #{sellingPrice,jdbcType=DECIMAL}, 
      #{skuPic,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.CloudProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jybao.bu_cloud_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spOfficeId != null" >
        sp_office_id,
      </if>
      <if test="cloudProductAfterTempletId != null" >
        cloud_product_after_templet_id,
      </if>
      <if test="supplierProductBrandId != null" >
        supplier_product_brand_id,
      </if>
      <if test="artNo != null" >
        art_no,
      </if>
      <if test="sellingPrice != null" >
        selling_price,
      </if>
      <if test="skuPic != null" >
        sku_pic,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spOfficeId != null" >
        #{spOfficeId,jdbcType=INTEGER},
      </if>
      <if test="cloudProductAfterTempletId != null" >
        #{cloudProductAfterTempletId,jdbcType=INTEGER},
      </if>
      <if test="supplierProductBrandId != null" >
        #{supplierProductBrandId,jdbcType=INTEGER},
      </if>
      <if test="artNo != null" >
        #{artNo,jdbcType=VARCHAR},
      </if>
      <if test="sellingPrice != null" >
        #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuPic != null" >
        #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.CloudProductExample" resultType="java.lang.Integer" >
    select count(*) from jybao.bu_cloud_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jybao.bu_cloud_product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.spOfficeId != null" >
        sp_office_id = #{record.spOfficeId,jdbcType=INTEGER},
      </if>
      <if test="record.cloudProductAfterTempletId != null" >
        cloud_product_after_templet_id = #{record.cloudProductAfterTempletId,jdbcType=INTEGER},
      </if>
      <if test="record.supplierProductBrandId != null" >
        supplier_product_brand_id = #{record.supplierProductBrandId,jdbcType=INTEGER},
      </if>
      <if test="record.artNo != null" >
        art_no = #{record.artNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sellingPrice != null" >
        selling_price = #{record.sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.skuPic != null" >
        sku_pic = #{record.skuPic,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jybao.bu_cloud_product
    set id = #{record.id,jdbcType=INTEGER},
      sp_office_id = #{record.spOfficeId,jdbcType=INTEGER},
      cloud_product_after_templet_id = #{record.cloudProductAfterTempletId,jdbcType=INTEGER},
      supplier_product_brand_id = #{record.supplierProductBrandId,jdbcType=INTEGER},
      art_no = #{record.artNo,jdbcType=VARCHAR},
      selling_price = #{record.sellingPrice,jdbcType=DECIMAL},
      sku_pic = #{record.skuPic,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.CloudProduct" >
    update jybao.bu_cloud_product
    <set >
      <if test="spOfficeId != null" >
        sp_office_id = #{spOfficeId,jdbcType=INTEGER},
      </if>
      <if test="cloudProductAfterTempletId != null" >
        cloud_product_after_templet_id = #{cloudProductAfterTempletId,jdbcType=INTEGER},
      </if>
      <if test="supplierProductBrandId != null" >
        supplier_product_brand_id = #{supplierProductBrandId,jdbcType=INTEGER},
      </if>
      <if test="artNo != null" >
        art_no = #{artNo,jdbcType=VARCHAR},
      </if>
      <if test="sellingPrice != null" >
        selling_price = #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuPic != null" >
        sku_pic = #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.CloudProduct" >
    update jybao.bu_cloud_product
    set sp_office_id = #{spOfficeId,jdbcType=INTEGER},
      cloud_product_after_templet_id = #{cloudProductAfterTempletId,jdbcType=INTEGER},
      supplier_product_brand_id = #{supplierProductBrandId,jdbcType=INTEGER},
      art_no = #{artNo,jdbcType=VARCHAR},
      selling_price = #{sellingPrice,jdbcType=DECIMAL},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>