<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CombineDepositOrderMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.CombineDepositOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="combine_deposit_order_code" property="combineDepositOrderCode" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="total_quantity" property="totalQuantity" jdbcType="INTEGER" />
    <result column="total_deposit" property="totalDeposit" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="cancel_type" property="cancelType" jdbcType="CHAR" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="cancel_date" property="cancelDate" jdbcType="TIMESTAMP" />
    <result column="status_date" property="statusDate" jdbcType="TIMESTAMP" />
    <result column="payment_id" property="paymentId" jdbcType="INTEGER" />
    <result column="payment_no" property="paymentNo" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="pay_status" property="payStatus" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, combine_deposit_order_code, member_id, member_nick, total_quantity, total_deposit, 
    status, cancel_type, cancel_reason, cancel_date, status_date, payment_id, payment_no, 
    pay_date, pay_status, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.CombineDepositOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_combine_deposit_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_combine_deposit_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_combine_deposit_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.CombineDepositOrderExample" >
    delete from bu_combine_deposit_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.CombineDepositOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_combine_deposit_order (combine_deposit_order_code, member_id, 
      member_nick, total_quantity, total_deposit, 
      status, cancel_type, cancel_reason, 
      cancel_date, status_date, payment_id, 
      payment_no, pay_date, pay_status, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{combineDepositOrderCode,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, 
      #{memberNick,jdbcType=VARCHAR}, #{totalQuantity,jdbcType=INTEGER}, #{totalDeposit,jdbcType=DECIMAL}, 
      #{status,jdbcType=CHAR}, #{cancelType,jdbcType=CHAR}, #{cancelReason,jdbcType=VARCHAR}, 
      #{cancelDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{paymentId,jdbcType=INTEGER}, 
      #{paymentNo,jdbcType=VARCHAR}, #{payDate,jdbcType=TIMESTAMP}, #{payStatus,jdbcType=CHAR}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.CombineDepositOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_combine_deposit_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="combineDepositOrderCode != null" >
        combine_deposit_order_code,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberNick != null" >
        member_nick,
      </if>
      <if test="totalQuantity != null" >
        total_quantity,
      </if>
      <if test="totalDeposit != null" >
        total_deposit,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cancelType != null" >
        cancel_type,
      </if>
      <if test="cancelReason != null" >
        cancel_reason,
      </if>
      <if test="cancelDate != null" >
        cancel_date,
      </if>
      <if test="statusDate != null" >
        status_date,
      </if>
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="paymentNo != null" >
        payment_no,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="combineDepositOrderCode != null" >
        #{combineDepositOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberNick != null" >
        #{memberNick,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null" >
        #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalDeposit != null" >
        #{totalDeposit,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="cancelType != null" >
        #{cancelType,jdbcType=CHAR},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelDate != null" >
        #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=INTEGER},
      </if>
      <if test="paymentNo != null" >
        #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.CombineDepositOrderExample" resultType="java.lang.Integer" >
    select count(*) from bu_combine_deposit_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_combine_deposit_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.combineDepositOrderCode != null" >
        combine_deposit_order_code = #{record.combineDepositOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.memberNick != null" >
        member_nick = #{record.memberNick,jdbcType=VARCHAR},
      </if>
      <if test="record.totalQuantity != null" >
        total_quantity = #{record.totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.totalDeposit != null" >
        total_deposit = #{record.totalDeposit,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.cancelType != null" >
        cancel_type = #{record.cancelType,jdbcType=CHAR},
      </if>
      <if test="record.cancelReason != null" >
        cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelDate != null" >
        cancel_date = #{record.cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null" >
        status_date = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paymentId != null" >
        payment_id = #{record.paymentId,jdbcType=INTEGER},
      </if>
      <if test="record.paymentNo != null" >
        payment_no = #{record.paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payDate != null" >
        pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payStatus != null" >
        pay_status = #{record.payStatus,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_combine_deposit_order
    set id = #{record.id,jdbcType=INTEGER},
      combine_deposit_order_code = #{record.combineDepositOrderCode,jdbcType=VARCHAR},
      member_id = #{record.memberId,jdbcType=INTEGER},
      member_nick = #{record.memberNick,jdbcType=VARCHAR},
      total_quantity = #{record.totalQuantity,jdbcType=INTEGER},
      total_deposit = #{record.totalDeposit,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=CHAR},
      cancel_type = #{record.cancelType,jdbcType=CHAR},
      cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      cancel_date = #{record.cancelDate,jdbcType=TIMESTAMP},
      status_date = #{record.statusDate,jdbcType=TIMESTAMP},
      payment_id = #{record.paymentId,jdbcType=INTEGER},
      payment_no = #{record.paymentNo,jdbcType=VARCHAR},
      pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      pay_status = #{record.payStatus,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.CombineDepositOrder" >
    update bu_combine_deposit_order
    <set >
      <if test="combineDepositOrderCode != null" >
        combine_deposit_order_code = #{combineDepositOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberNick != null" >
        member_nick = #{memberNick,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null" >
        total_quantity = #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalDeposit != null" >
        total_deposit = #{totalDeposit,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="cancelType != null" >
        cancel_type = #{cancelType,jdbcType=CHAR},
      </if>
      <if test="cancelReason != null" >
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelDate != null" >
        cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null" >
        status_date = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentId != null" >
        payment_id = #{paymentId,jdbcType=INTEGER},
      </if>
      <if test="paymentNo != null" >
        payment_no = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.CombineDepositOrder" >
    update bu_combine_deposit_order
    set combine_deposit_order_code = #{combineDepositOrderCode,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      member_nick = #{memberNick,jdbcType=VARCHAR},
      total_quantity = #{totalQuantity,jdbcType=INTEGER},
      total_deposit = #{totalDeposit,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      cancel_type = #{cancelType,jdbcType=CHAR},
      cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      status_date = #{statusDate,jdbcType=TIMESTAMP},
      payment_id = #{paymentId,jdbcType=INTEGER},
      payment_no = #{paymentNo,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      pay_status = #{payStatus,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>