<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.Coupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rang" property="rang" jdbcType="CHAR" />
    <result column="belong" property="belong" jdbcType="CHAR" />
    <result column="coupon_type" property="couponType" jdbcType="CHAR" />
    <result column="type_ids" property="typeIds" jdbcType="VARCHAR" />
    <result column="can_superpose" property="canSuperpose" jdbcType="CHAR" />
    <result column="activity_area_id" property="activityAreaId" jdbcType="INTEGER" />
    <result column="mcht_id" property="mchtId" jdbcType="INTEGER" />
    <result column="preferential_type" property="preferentialType" jdbcType="CHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="max_discount_money" property="maxDiscountMoney" jdbcType="DECIMAL" />
    <result column="condition_type" property="conditionType" jdbcType="CHAR" />
    <result column="minimum" property="minimum" jdbcType="DECIMAL" />
    <result column="minicount" property="minicount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="rec_type" property="recType" jdbcType="CHAR" />
    <result column="care_shop_can_rec" property="careShopCanRec" jdbcType="CHAR" />
    <result column="need_integral" property="needIntegral" jdbcType="INTEGER" />
    <result column="rec_begin_date" property="recBeginDate" jdbcType="TIMESTAMP" />
    <result column="rec_end_date" property="recEndDate" jdbcType="TIMESTAMP" />
    <result column="min_member_group" property="minMemberGroup" jdbcType="INTEGER" />
    <result column="expiry_type" property="expiryType" jdbcType="CHAR" />
    <result column="expiry_begin_date" property="expiryBeginDate" jdbcType="TIMESTAMP" />
    <result column="expiry_end_date" property="expiryEndDate" jdbcType="TIMESTAMP" />
    <result column="expiry_days" property="expiryDays" jdbcType="INTEGER" />
    <result column="grant_quantity" property="grantQuantity" jdbcType="INTEGER" />
    <result column="rec_quantity" property="recQuantity" jdbcType="INTEGER" />
    <result column="rec_limit_type" property="recLimitType" jdbcType="CHAR" />
    <result column="rec_each" property="recEach" jdbcType="INTEGER" />
    <result column="link_type" property="linkType" jdbcType="CHAR" />
    <result column="link_value" property="linkValue" jdbcType="VARCHAR" />
    <result column="definition_prefix" property="definitionPrefix" jdbcType="VARCHAR" />
    <result column="is_support_coupon_rain" property="isSupportCouponRain" jdbcType="CHAR" />
    <result column="limit_coupon_rain_score" property="limitCouponRainScore" jdbcType="INTEGER" />
    <result column="activity_type" property="activityType" jdbcType="CHAR" />
    <result column="is_integral_turntable" property="isIntegralTurntable" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, rang, belong, coupon_type, type_ids, can_superpose, activity_area_id, mcht_id, 
    preferential_type, money, discount, max_discount_money, condition_type, minimum, 
    minicount, status, rec_type, care_shop_can_rec, need_integral, rec_begin_date, rec_end_date, 
    min_member_group, expiry_type, expiry_begin_date, expiry_end_date, expiry_days, grant_quantity, 
    rec_quantity, rec_limit_type, rec_each, link_type, link_value, definition_prefix, 
    is_support_coupon_rain, limit_coupon_rain_score, activity_type, is_integral_turntable, 
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.CouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.CouponExample" >
    delete from bu_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.Coupon" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_coupon (name, rang, belong, 
      coupon_type, type_ids, can_superpose, 
      activity_area_id, mcht_id, preferential_type, 
      money, discount, max_discount_money, 
      condition_type, minimum, minicount, 
      status, rec_type, care_shop_can_rec, 
      need_integral, rec_begin_date, rec_end_date, 
      min_member_group, expiry_type, expiry_begin_date, 
      expiry_end_date, expiry_days, grant_quantity, 
      rec_quantity, rec_limit_type, rec_each, 
      link_type, link_value, definition_prefix, 
      is_support_coupon_rain, limit_coupon_rain_score, 
      activity_type, is_integral_turntable, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{name,jdbcType=VARCHAR}, #{rang,jdbcType=CHAR}, #{belong,jdbcType=CHAR}, 
      #{couponType,jdbcType=CHAR}, #{typeIds,jdbcType=VARCHAR}, #{canSuperpose,jdbcType=CHAR}, 
      #{activityAreaId,jdbcType=INTEGER}, #{mchtId,jdbcType=INTEGER}, #{preferentialType,jdbcType=CHAR}, 
      #{money,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{maxDiscountMoney,jdbcType=DECIMAL}, 
      #{conditionType,jdbcType=CHAR}, #{minimum,jdbcType=DECIMAL}, #{minicount,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{recType,jdbcType=CHAR}, #{careShopCanRec,jdbcType=CHAR}, 
      #{needIntegral,jdbcType=INTEGER}, #{recBeginDate,jdbcType=TIMESTAMP}, #{recEndDate,jdbcType=TIMESTAMP}, 
      #{minMemberGroup,jdbcType=INTEGER}, #{expiryType,jdbcType=CHAR}, #{expiryBeginDate,jdbcType=TIMESTAMP}, 
      #{expiryEndDate,jdbcType=TIMESTAMP}, #{expiryDays,jdbcType=INTEGER}, #{grantQuantity,jdbcType=INTEGER}, 
      #{recQuantity,jdbcType=INTEGER}, #{recLimitType,jdbcType=CHAR}, #{recEach,jdbcType=INTEGER}, 
      #{linkType,jdbcType=CHAR}, #{linkValue,jdbcType=VARCHAR}, #{definitionPrefix,jdbcType=VARCHAR}, 
      #{isSupportCouponRain,jdbcType=CHAR}, #{limitCouponRainScore,jdbcType=INTEGER}, 
      #{activityType,jdbcType=CHAR}, #{isIntegralTurntable,jdbcType=CHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.Coupon" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="rang != null" >
        rang,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="typeIds != null" >
        type_ids,
      </if>
      <if test="canSuperpose != null" >
        can_superpose,
      </if>
      <if test="activityAreaId != null" >
        activity_area_id,
      </if>
      <if test="mchtId != null" >
        mcht_id,
      </if>
      <if test="preferentialType != null" >
        preferential_type,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="maxDiscountMoney != null" >
        max_discount_money,
      </if>
      <if test="conditionType != null" >
        condition_type,
      </if>
      <if test="minimum != null" >
        minimum,
      </if>
      <if test="minicount != null" >
        minicount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="recType != null" >
        rec_type,
      </if>
      <if test="careShopCanRec != null" >
        care_shop_can_rec,
      </if>
      <if test="needIntegral != null" >
        need_integral,
      </if>
      <if test="recBeginDate != null" >
        rec_begin_date,
      </if>
      <if test="recEndDate != null" >
        rec_end_date,
      </if>
      <if test="minMemberGroup != null" >
        min_member_group,
      </if>
      <if test="expiryType != null" >
        expiry_type,
      </if>
      <if test="expiryBeginDate != null" >
        expiry_begin_date,
      </if>
      <if test="expiryEndDate != null" >
        expiry_end_date,
      </if>
      <if test="expiryDays != null" >
        expiry_days,
      </if>
      <if test="grantQuantity != null" >
        grant_quantity,
      </if>
      <if test="recQuantity != null" >
        rec_quantity,
      </if>
      <if test="recLimitType != null" >
        rec_limit_type,
      </if>
      <if test="recEach != null" >
        rec_each,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
      <if test="linkValue != null" >
        link_value,
      </if>
      <if test="definitionPrefix != null" >
        definition_prefix,
      </if>
      <if test="isSupportCouponRain != null" >
        is_support_coupon_rain,
      </if>
      <if test="limitCouponRainScore != null" >
        limit_coupon_rain_score,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="isIntegralTurntable != null" >
        is_integral_turntable,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rang != null" >
        #{rang,jdbcType=CHAR},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=CHAR},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=CHAR},
      </if>
      <if test="typeIds != null" >
        #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="canSuperpose != null" >
        #{canSuperpose,jdbcType=CHAR},
      </if>
      <if test="activityAreaId != null" >
        #{activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="mchtId != null" >
        #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="preferentialType != null" >
        #{preferentialType,jdbcType=CHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="maxDiscountMoney != null" >
        #{maxDiscountMoney,jdbcType=DECIMAL},
      </if>
      <if test="conditionType != null" >
        #{conditionType,jdbcType=CHAR},
      </if>
      <if test="minimum != null" >
        #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="minicount != null" >
        #{minicount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="recType != null" >
        #{recType,jdbcType=CHAR},
      </if>
      <if test="careShopCanRec != null" >
        #{careShopCanRec,jdbcType=CHAR},
      </if>
      <if test="needIntegral != null" >
        #{needIntegral,jdbcType=INTEGER},
      </if>
      <if test="recBeginDate != null" >
        #{recBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recEndDate != null" >
        #{recEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="minMemberGroup != null" >
        #{minMemberGroup,jdbcType=INTEGER},
      </if>
      <if test="expiryType != null" >
        #{expiryType,jdbcType=CHAR},
      </if>
      <if test="expiryBeginDate != null" >
        #{expiryBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryEndDate != null" >
        #{expiryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDays != null" >
        #{expiryDays,jdbcType=INTEGER},
      </if>
      <if test="grantQuantity != null" >
        #{grantQuantity,jdbcType=INTEGER},
      </if>
      <if test="recQuantity != null" >
        #{recQuantity,jdbcType=INTEGER},
      </if>
      <if test="recLimitType != null" >
        #{recLimitType,jdbcType=CHAR},
      </if>
      <if test="recEach != null" >
        #{recEach,jdbcType=INTEGER},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=CHAR},
      </if>
      <if test="linkValue != null" >
        #{linkValue,jdbcType=VARCHAR},
      </if>
      <if test="definitionPrefix != null" >
        #{definitionPrefix,jdbcType=VARCHAR},
      </if>
      <if test="isSupportCouponRain != null" >
        #{isSupportCouponRain,jdbcType=CHAR},
      </if>
      <if test="limitCouponRainScore != null" >
        #{limitCouponRainScore,jdbcType=INTEGER},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=CHAR},
      </if>
      <if test="isIntegralTurntable != null" >
        #{isIntegralTurntable,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.CouponExample" resultType="java.lang.Integer" >
    select count(*) from bu_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.rang != null" >
        rang = #{record.rang,jdbcType=CHAR},
      </if>
      <if test="record.belong != null" >
        belong = #{record.belong,jdbcType=CHAR},
      </if>
      <if test="record.couponType != null" >
        coupon_type = #{record.couponType,jdbcType=CHAR},
      </if>
      <if test="record.typeIds != null" >
        type_ids = #{record.typeIds,jdbcType=VARCHAR},
      </if>
      <if test="record.canSuperpose != null" >
        can_superpose = #{record.canSuperpose,jdbcType=CHAR},
      </if>
      <if test="record.activityAreaId != null" >
        activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.preferentialType != null" >
        preferential_type = #{record.preferentialType,jdbcType=CHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.maxDiscountMoney != null" >
        max_discount_money = #{record.maxDiscountMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.conditionType != null" >
        condition_type = #{record.conditionType,jdbcType=CHAR},
      </if>
      <if test="record.minimum != null" >
        minimum = #{record.minimum,jdbcType=DECIMAL},
      </if>
      <if test="record.minicount != null" >
        minicount = #{record.minicount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.recType != null" >
        rec_type = #{record.recType,jdbcType=CHAR},
      </if>
      <if test="record.careShopCanRec != null" >
        care_shop_can_rec = #{record.careShopCanRec,jdbcType=CHAR},
      </if>
      <if test="record.needIntegral != null" >
        need_integral = #{record.needIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.recBeginDate != null" >
        rec_begin_date = #{record.recBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recEndDate != null" >
        rec_end_date = #{record.recEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.minMemberGroup != null" >
        min_member_group = #{record.minMemberGroup,jdbcType=INTEGER},
      </if>
      <if test="record.expiryType != null" >
        expiry_type = #{record.expiryType,jdbcType=CHAR},
      </if>
      <if test="record.expiryBeginDate != null" >
        expiry_begin_date = #{record.expiryBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expiryEndDate != null" >
        expiry_end_date = #{record.expiryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expiryDays != null" >
        expiry_days = #{record.expiryDays,jdbcType=INTEGER},
      </if>
      <if test="record.grantQuantity != null" >
        grant_quantity = #{record.grantQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.recQuantity != null" >
        rec_quantity = #{record.recQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.recLimitType != null" >
        rec_limit_type = #{record.recLimitType,jdbcType=CHAR},
      </if>
      <if test="record.recEach != null" >
        rec_each = #{record.recEach,jdbcType=INTEGER},
      </if>
      <if test="record.linkType != null" >
        link_type = #{record.linkType,jdbcType=CHAR},
      </if>
      <if test="record.linkValue != null" >
        link_value = #{record.linkValue,jdbcType=VARCHAR},
      </if>
      <if test="record.definitionPrefix != null" >
        definition_prefix = #{record.definitionPrefix,jdbcType=VARCHAR},
      </if>
      <if test="record.isSupportCouponRain != null" >
        is_support_coupon_rain = #{record.isSupportCouponRain,jdbcType=CHAR},
      </if>
      <if test="record.limitCouponRainScore != null" >
        limit_coupon_rain_score = #{record.limitCouponRainScore,jdbcType=INTEGER},
      </if>
      <if test="record.activityType != null" >
        activity_type = #{record.activityType,jdbcType=CHAR},
      </if>
      <if test="record.isIntegralTurntable != null" >
        is_integral_turntable = #{record.isIntegralTurntable,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_coupon
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      rang = #{record.rang,jdbcType=CHAR},
      belong = #{record.belong,jdbcType=CHAR},
      coupon_type = #{record.couponType,jdbcType=CHAR},
      type_ids = #{record.typeIds,jdbcType=VARCHAR},
      can_superpose = #{record.canSuperpose,jdbcType=CHAR},
      activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      mcht_id = #{record.mchtId,jdbcType=INTEGER},
      preferential_type = #{record.preferentialType,jdbcType=CHAR},
      money = #{record.money,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      max_discount_money = #{record.maxDiscountMoney,jdbcType=DECIMAL},
      condition_type = #{record.conditionType,jdbcType=CHAR},
      minimum = #{record.minimum,jdbcType=DECIMAL},
      minicount = #{record.minicount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      rec_type = #{record.recType,jdbcType=CHAR},
      care_shop_can_rec = #{record.careShopCanRec,jdbcType=CHAR},
      need_integral = #{record.needIntegral,jdbcType=INTEGER},
      rec_begin_date = #{record.recBeginDate,jdbcType=TIMESTAMP},
      rec_end_date = #{record.recEndDate,jdbcType=TIMESTAMP},
      min_member_group = #{record.minMemberGroup,jdbcType=INTEGER},
      expiry_type = #{record.expiryType,jdbcType=CHAR},
      expiry_begin_date = #{record.expiryBeginDate,jdbcType=TIMESTAMP},
      expiry_end_date = #{record.expiryEndDate,jdbcType=TIMESTAMP},
      expiry_days = #{record.expiryDays,jdbcType=INTEGER},
      grant_quantity = #{record.grantQuantity,jdbcType=INTEGER},
      rec_quantity = #{record.recQuantity,jdbcType=INTEGER},
      rec_limit_type = #{record.recLimitType,jdbcType=CHAR},
      rec_each = #{record.recEach,jdbcType=INTEGER},
      link_type = #{record.linkType,jdbcType=CHAR},
      link_value = #{record.linkValue,jdbcType=VARCHAR},
      definition_prefix = #{record.definitionPrefix,jdbcType=VARCHAR},
      is_support_coupon_rain = #{record.isSupportCouponRain,jdbcType=CHAR},
      limit_coupon_rain_score = #{record.limitCouponRainScore,jdbcType=INTEGER},
      activity_type = #{record.activityType,jdbcType=CHAR},
      is_integral_turntable = #{record.isIntegralTurntable,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.Coupon" >
    update bu_coupon
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rang != null" >
        rang = #{rang,jdbcType=CHAR},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=CHAR},
      </if>
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=CHAR},
      </if>
      <if test="typeIds != null" >
        type_ids = #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="canSuperpose != null" >
        can_superpose = #{canSuperpose,jdbcType=CHAR},
      </if>
      <if test="activityAreaId != null" >
        activity_area_id = #{activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="mchtId != null" >
        mcht_id = #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="preferentialType != null" >
        preferential_type = #{preferentialType,jdbcType=CHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="maxDiscountMoney != null" >
        max_discount_money = #{maxDiscountMoney,jdbcType=DECIMAL},
      </if>
      <if test="conditionType != null" >
        condition_type = #{conditionType,jdbcType=CHAR},
      </if>
      <if test="minimum != null" >
        minimum = #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="minicount != null" >
        minicount = #{minicount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="recType != null" >
        rec_type = #{recType,jdbcType=CHAR},
      </if>
      <if test="careShopCanRec != null" >
        care_shop_can_rec = #{careShopCanRec,jdbcType=CHAR},
      </if>
      <if test="needIntegral != null" >
        need_integral = #{needIntegral,jdbcType=INTEGER},
      </if>
      <if test="recBeginDate != null" >
        rec_begin_date = #{recBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recEndDate != null" >
        rec_end_date = #{recEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="minMemberGroup != null" >
        min_member_group = #{minMemberGroup,jdbcType=INTEGER},
      </if>
      <if test="expiryType != null" >
        expiry_type = #{expiryType,jdbcType=CHAR},
      </if>
      <if test="expiryBeginDate != null" >
        expiry_begin_date = #{expiryBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryEndDate != null" >
        expiry_end_date = #{expiryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDays != null" >
        expiry_days = #{expiryDays,jdbcType=INTEGER},
      </if>
      <if test="grantQuantity != null" >
        grant_quantity = #{grantQuantity,jdbcType=INTEGER},
      </if>
      <if test="recQuantity != null" >
        rec_quantity = #{recQuantity,jdbcType=INTEGER},
      </if>
      <if test="recLimitType != null" >
        rec_limit_type = #{recLimitType,jdbcType=CHAR},
      </if>
      <if test="recEach != null" >
        rec_each = #{recEach,jdbcType=INTEGER},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=CHAR},
      </if>
      <if test="linkValue != null" >
        link_value = #{linkValue,jdbcType=VARCHAR},
      </if>
      <if test="definitionPrefix != null" >
        definition_prefix = #{definitionPrefix,jdbcType=VARCHAR},
      </if>
      <if test="isSupportCouponRain != null" >
        is_support_coupon_rain = #{isSupportCouponRain,jdbcType=CHAR},
      </if>
      <if test="limitCouponRainScore != null" >
        limit_coupon_rain_score = #{limitCouponRainScore,jdbcType=INTEGER},
      </if>
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=CHAR},
      </if>
      <if test="isIntegralTurntable != null" >
        is_integral_turntable = #{isIntegralTurntable,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.Coupon" >
    update bu_coupon
    set name = #{name,jdbcType=VARCHAR},
      rang = #{rang,jdbcType=CHAR},
      belong = #{belong,jdbcType=CHAR},
      coupon_type = #{couponType,jdbcType=CHAR},
      type_ids = #{typeIds,jdbcType=VARCHAR},
      can_superpose = #{canSuperpose,jdbcType=CHAR},
      activity_area_id = #{activityAreaId,jdbcType=INTEGER},
      mcht_id = #{mchtId,jdbcType=INTEGER},
      preferential_type = #{preferentialType,jdbcType=CHAR},
      money = #{money,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      max_discount_money = #{maxDiscountMoney,jdbcType=DECIMAL},
      condition_type = #{conditionType,jdbcType=CHAR},
      minimum = #{minimum,jdbcType=DECIMAL},
      minicount = #{minicount,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      rec_type = #{recType,jdbcType=CHAR},
      care_shop_can_rec = #{careShopCanRec,jdbcType=CHAR},
      need_integral = #{needIntegral,jdbcType=INTEGER},
      rec_begin_date = #{recBeginDate,jdbcType=TIMESTAMP},
      rec_end_date = #{recEndDate,jdbcType=TIMESTAMP},
      min_member_group = #{minMemberGroup,jdbcType=INTEGER},
      expiry_type = #{expiryType,jdbcType=CHAR},
      expiry_begin_date = #{expiryBeginDate,jdbcType=TIMESTAMP},
      expiry_end_date = #{expiryEndDate,jdbcType=TIMESTAMP},
      expiry_days = #{expiryDays,jdbcType=INTEGER},
      grant_quantity = #{grantQuantity,jdbcType=INTEGER},
      rec_quantity = #{recQuantity,jdbcType=INTEGER},
      rec_limit_type = #{recLimitType,jdbcType=CHAR},
      rec_each = #{recEach,jdbcType=INTEGER},
      link_type = #{linkType,jdbcType=CHAR},
      link_value = #{linkValue,jdbcType=VARCHAR},
      definition_prefix = #{definitionPrefix,jdbcType=VARCHAR},
      is_support_coupon_rain = #{isSupportCouponRain,jdbcType=CHAR},
      limit_coupon_rain_score = #{limitCouponRainScore,jdbcType=INTEGER},
      activity_type = #{activityType,jdbcType=CHAR},
      is_integral_turntable = #{isIntegralTurntable,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>