<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberActionMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberAction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="client_source" property="clientSource" jdbcType="CHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="device_number" property="deviceNumber" jdbcType="VARCHAR" />
    <result column="column_type" property="columnType" jdbcType="CHAR" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="member_pv_id" property="memberPvId" jdbcType="VARCHAR" />
    <result column="action_type" property="actionType" jdbcType="CHAR" />
    <result column="action_item_id" property="actionItemId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, client_source, member_id, device_number, column_type, column_id, member_pv_id, 
    action_type, action_item_id, create_by, create_date, update_by, update_date, remarks, 
    del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberActionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_member_action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_member_action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.MemberActionExample" >
    delete from bu_member_action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.MemberAction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_member_action (client_source, member_id, device_number, 
      column_type, column_id, member_pv_id, 
      action_type, action_item_id, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{clientSource,jdbcType=CHAR}, #{memberId,jdbcType=INTEGER}, #{deviceNumber,jdbcType=VARCHAR}, 
      #{columnType,jdbcType=CHAR}, #{columnId,jdbcType=INTEGER}, #{memberPvId,jdbcType=VARCHAR}, 
      #{actionType,jdbcType=CHAR}, #{actionItemId,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.MemberAction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_member_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientSource != null" >
        client_source,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="deviceNumber != null" >
        device_number,
      </if>
      <if test="columnType != null" >
        column_type,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="memberPvId != null" >
        member_pv_id,
      </if>
      <if test="actionType != null" >
        action_type,
      </if>
      <if test="actionItemId != null" >
        action_item_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientSource != null" >
        #{clientSource,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="deviceNumber != null" >
        #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null" >
        #{columnType,jdbcType=CHAR},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="memberPvId != null" >
        #{memberPvId,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=CHAR},
      </if>
      <if test="actionItemId != null" >
        #{actionItemId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.MemberActionExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_member_action
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clientSource != null" >
        client_source = #{record.clientSource,jdbcType=CHAR},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.deviceNumber != null" >
        device_number = #{record.deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.columnType != null" >
        column_type = #{record.columnType,jdbcType=CHAR},
      </if>
      <if test="record.columnId != null" >
        column_id = #{record.columnId,jdbcType=INTEGER},
      </if>
      <if test="record.memberPvId != null" >
        member_pv_id = #{record.memberPvId,jdbcType=VARCHAR},
      </if>
      <if test="record.actionType != null" >
        action_type = #{record.actionType,jdbcType=CHAR},
      </if>
      <if test="record.actionItemId != null" >
        action_item_id = #{record.actionItemId,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_member_action
    set id = #{record.id,jdbcType=INTEGER},
      client_source = #{record.clientSource,jdbcType=CHAR},
      member_id = #{record.memberId,jdbcType=INTEGER},
      device_number = #{record.deviceNumber,jdbcType=VARCHAR},
      column_type = #{record.columnType,jdbcType=CHAR},
      column_id = #{record.columnId,jdbcType=INTEGER},
      member_pv_id = #{record.memberPvId,jdbcType=VARCHAR},
      action_type = #{record.actionType,jdbcType=CHAR},
      action_item_id = #{record.actionItemId,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.MemberAction" >
    update bu_member_action
    <set >
      <if test="clientSource != null" >
        client_source = #{clientSource,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="deviceNumber != null" >
        device_number = #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null" >
        column_type = #{columnType,jdbcType=CHAR},
      </if>
      <if test="columnId != null" >
        column_id = #{columnId,jdbcType=INTEGER},
      </if>
      <if test="memberPvId != null" >
        member_pv_id = #{memberPvId,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null" >
        action_type = #{actionType,jdbcType=CHAR},
      </if>
      <if test="actionItemId != null" >
        action_item_id = #{actionItemId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.MemberAction" >
    update bu_member_action
    set client_source = #{clientSource,jdbcType=CHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      device_number = #{deviceNumber,jdbcType=VARCHAR},
      column_type = #{columnType,jdbcType=CHAR},
      column_id = #{columnId,jdbcType=INTEGER},
      member_pv_id = #{memberPvId,jdbcType=VARCHAR},
      action_type = #{actionType,jdbcType=CHAR},
      action_item_id = #{actionItemId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>