<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.PlatformPvStatisticalMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.PlatformPvStatistical" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="client_source" property="clientSource" jdbcType="CHAR" />
    <result column="statistical_date" property="statisticalDate" jdbcType="CHAR" />
    <result column="total_visitor_count" property="totalVisitorCount" jdbcType="INTEGER" />
    <result column="total_visitor_count_tourist" property="totalVisitorCountTourist" jdbcType="INTEGER" />
    <result column="total_pv_count" property="totalPvCount" jdbcType="INTEGER" />
    <result column="total_pv_count_tourist" property="totalPvCountTourist" jdbcType="INTEGER" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="pay_combine_order_count" property="payCombineOrderCount" jdbcType="INTEGER" />
    <result column="pay_sub_order_count" property="paySubOrderCount" jdbcType="INTEGER" />
    <result column="pay_product_count" property="payProductCount" jdbcType="INTEGER" />
    <result column="pay_member_count" property="payMemberCount" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, client_source, statistical_date, total_visitor_count, total_visitor_count_tourist, 
    total_pv_count, total_pv_count_tourist, pay_amount, pay_combine_order_count, pay_sub_order_count, 
    pay_product_count, pay_member_count, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.PlatformPvStatisticalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_platform_pv_statistical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_platform_pv_statistical
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_platform_pv_statistical
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.PlatformPvStatisticalExample" >
    delete from bu_platform_pv_statistical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.PlatformPvStatistical" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_platform_pv_statistical (client_source, statistical_date, total_visitor_count, 
      total_visitor_count_tourist, total_pv_count, 
      total_pv_count_tourist, pay_amount, pay_combine_order_count, 
      pay_sub_order_count, pay_product_count, pay_member_count, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{clientSource,jdbcType=CHAR}, #{statisticalDate,jdbcType=CHAR}, #{totalVisitorCount,jdbcType=INTEGER}, 
      #{totalVisitorCountTourist,jdbcType=INTEGER}, #{totalPvCount,jdbcType=INTEGER}, 
      #{totalPvCountTourist,jdbcType=INTEGER}, #{payAmount,jdbcType=DECIMAL}, #{payCombineOrderCount,jdbcType=INTEGER}, 
      #{paySubOrderCount,jdbcType=INTEGER}, #{payProductCount,jdbcType=INTEGER}, #{payMemberCount,jdbcType=INTEGER}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.PlatformPvStatistical" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_platform_pv_statistical
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientSource != null" >
        client_source,
      </if>
      <if test="statisticalDate != null" >
        statistical_date,
      </if>
      <if test="totalVisitorCount != null" >
        total_visitor_count,
      </if>
      <if test="totalVisitorCountTourist != null" >
        total_visitor_count_tourist,
      </if>
      <if test="totalPvCount != null" >
        total_pv_count,
      </if>
      <if test="totalPvCountTourist != null" >
        total_pv_count_tourist,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="payCombineOrderCount != null" >
        pay_combine_order_count,
      </if>
      <if test="paySubOrderCount != null" >
        pay_sub_order_count,
      </if>
      <if test="payProductCount != null" >
        pay_product_count,
      </if>
      <if test="payMemberCount != null" >
        pay_member_count,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientSource != null" >
        #{clientSource,jdbcType=CHAR},
      </if>
      <if test="statisticalDate != null" >
        #{statisticalDate,jdbcType=CHAR},
      </if>
      <if test="totalVisitorCount != null" >
        #{totalVisitorCount,jdbcType=INTEGER},
      </if>
      <if test="totalVisitorCountTourist != null" >
        #{totalVisitorCountTourist,jdbcType=INTEGER},
      </if>
      <if test="totalPvCount != null" >
        #{totalPvCount,jdbcType=INTEGER},
      </if>
      <if test="totalPvCountTourist != null" >
        #{totalPvCountTourist,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payCombineOrderCount != null" >
        #{payCombineOrderCount,jdbcType=INTEGER},
      </if>
      <if test="paySubOrderCount != null" >
        #{paySubOrderCount,jdbcType=INTEGER},
      </if>
      <if test="payProductCount != null" >
        #{payProductCount,jdbcType=INTEGER},
      </if>
      <if test="payMemberCount != null" >
        #{payMemberCount,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.PlatformPvStatisticalExample" resultType="java.lang.Integer" >
    select count(*) from bu_platform_pv_statistical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_platform_pv_statistical
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clientSource != null" >
        client_source = #{record.clientSource,jdbcType=CHAR},
      </if>
      <if test="record.statisticalDate != null" >
        statistical_date = #{record.statisticalDate,jdbcType=CHAR},
      </if>
      <if test="record.totalVisitorCount != null" >
        total_visitor_count = #{record.totalVisitorCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalVisitorCountTourist != null" >
        total_visitor_count_tourist = #{record.totalVisitorCountTourist,jdbcType=INTEGER},
      </if>
      <if test="record.totalPvCount != null" >
        total_pv_count = #{record.totalPvCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalPvCountTourist != null" >
        total_pv_count_tourist = #{record.totalPvCountTourist,jdbcType=INTEGER},
      </if>
      <if test="record.payAmount != null" >
        pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.payCombineOrderCount != null" >
        pay_combine_order_count = #{record.payCombineOrderCount,jdbcType=INTEGER},
      </if>
      <if test="record.paySubOrderCount != null" >
        pay_sub_order_count = #{record.paySubOrderCount,jdbcType=INTEGER},
      </if>
      <if test="record.payProductCount != null" >
        pay_product_count = #{record.payProductCount,jdbcType=INTEGER},
      </if>
      <if test="record.payMemberCount != null" >
        pay_member_count = #{record.payMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_platform_pv_statistical
    set id = #{record.id,jdbcType=INTEGER},
      client_source = #{record.clientSource,jdbcType=CHAR},
      statistical_date = #{record.statisticalDate,jdbcType=CHAR},
      total_visitor_count = #{record.totalVisitorCount,jdbcType=INTEGER},
      total_visitor_count_tourist = #{record.totalVisitorCountTourist,jdbcType=INTEGER},
      total_pv_count = #{record.totalPvCount,jdbcType=INTEGER},
      total_pv_count_tourist = #{record.totalPvCountTourist,jdbcType=INTEGER},
      pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      pay_combine_order_count = #{record.payCombineOrderCount,jdbcType=INTEGER},
      pay_sub_order_count = #{record.paySubOrderCount,jdbcType=INTEGER},
      pay_product_count = #{record.payProductCount,jdbcType=INTEGER},
      pay_member_count = #{record.payMemberCount,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.PlatformPvStatistical" >
    update bu_platform_pv_statistical
    <set >
      <if test="clientSource != null" >
        client_source = #{clientSource,jdbcType=CHAR},
      </if>
      <if test="statisticalDate != null" >
        statistical_date = #{statisticalDate,jdbcType=CHAR},
      </if>
      <if test="totalVisitorCount != null" >
        total_visitor_count = #{totalVisitorCount,jdbcType=INTEGER},
      </if>
      <if test="totalVisitorCountTourist != null" >
        total_visitor_count_tourist = #{totalVisitorCountTourist,jdbcType=INTEGER},
      </if>
      <if test="totalPvCount != null" >
        total_pv_count = #{totalPvCount,jdbcType=INTEGER},
      </if>
      <if test="totalPvCountTourist != null" >
        total_pv_count_tourist = #{totalPvCountTourist,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payCombineOrderCount != null" >
        pay_combine_order_count = #{payCombineOrderCount,jdbcType=INTEGER},
      </if>
      <if test="paySubOrderCount != null" >
        pay_sub_order_count = #{paySubOrderCount,jdbcType=INTEGER},
      </if>
      <if test="payProductCount != null" >
        pay_product_count = #{payProductCount,jdbcType=INTEGER},
      </if>
      <if test="payMemberCount != null" >
        pay_member_count = #{payMemberCount,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.PlatformPvStatistical" >
    update bu_platform_pv_statistical
    set client_source = #{clientSource,jdbcType=CHAR},
      statistical_date = #{statisticalDate,jdbcType=CHAR},
      total_visitor_count = #{totalVisitorCount,jdbcType=INTEGER},
      total_visitor_count_tourist = #{totalVisitorCountTourist,jdbcType=INTEGER},
      total_pv_count = #{totalPvCount,jdbcType=INTEGER},
      total_pv_count_tourist = #{totalPvCountTourist,jdbcType=INTEGER},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      pay_combine_order_count = #{payCombineOrderCount,jdbcType=INTEGER},
      pay_sub_order_count = #{paySubOrderCount,jdbcType=INTEGER},
      pay_product_count = #{payProductCount,jdbcType=INTEGER},
      pay_member_count = #{payMemberCount,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>