<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.SysMenu" >
    <id column="MENU_ID" property="menuId" jdbcType="INTEGER" />
    <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_DESC" property="menuDesc" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="MENU_PATH" property="menuPath" jdbcType="VARCHAR" />
    <result column="MENU_ORDER" property="menuOrder" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="STATUS_DATE" property="statusDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF_ID" property="createStaffId" jdbcType="INTEGER" />
    <result column="MODIFY_STAFF_ID" property="modifyStaffId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MENU_ID, MENU_CODE, MENU_NAME, MENU_DESC, PARENT_ID, MENU_PATH, MENU_ORDER, CREATE_DATE, 
    STATUS, STATUS_DATE, CREATE_STAFF_ID, MODIFY_STAFF_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.SysMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.SysMenuExample" >
    delete from sys_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.SysMenu" >
    <selectKey resultType="java.lang.Integer" keyProperty="menuId" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu (MENU_CODE, MENU_NAME, MENU_DESC, 
      PARENT_ID, MENU_PATH, MENU_ORDER, 
      CREATE_DATE, STATUS, STATUS_DATE, 
      CREATE_STAFF_ID, MODIFY_STAFF_ID)
    values (#{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuDesc,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{menuPath,jdbcType=VARCHAR}, #{menuOrder,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, 
      #{createStaffId,jdbcType=INTEGER}, #{modifyStaffId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.SysMenu" >
    <selectKey resultType="java.lang.Integer" keyProperty="menuId" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuCode != null" >
        MENU_CODE,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="menuDesc != null" >
        MENU_DESC,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="menuPath != null" >
        MENU_PATH,
      </if>
      <if test="menuOrder != null" >
        MENU_ORDER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="createStaffId != null" >
        CREATE_STAFF_ID,
      </if>
      <if test="modifyStaffId != null" >
        MODIFY_STAFF_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDesc != null" >
        #{menuDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuPath != null" >
        #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null" >
        #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffId != null" >
        #{createStaffId,jdbcType=INTEGER},
      </if>
      <if test="modifyStaffId != null" >
        #{modifyStaffId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.SysMenuExample" resultType="java.lang.Integer" >
    select count(*) from sys_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_menu
    <set >
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.menuCode != null" >
        MENU_CODE = #{record.menuCode,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuDesc != null" >
        MENU_DESC = #{record.menuDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.menuPath != null" >
        MENU_PATH = #{record.menuPath,jdbcType=VARCHAR},
      </if>
      <if test="record.menuOrder != null" >
        MENU_ORDER = #{record.menuOrder,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null" >
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaffId != null" >
        CREATE_STAFF_ID = #{record.createStaffId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyStaffId != null" >
        MODIFY_STAFF_ID = #{record.modifyStaffId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_menu
    set MENU_ID = #{record.menuId,jdbcType=INTEGER},
      MENU_CODE = #{record.menuCode,jdbcType=VARCHAR},
      MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      MENU_DESC = #{record.menuDesc,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      MENU_PATH = #{record.menuPath,jdbcType=VARCHAR},
      MENU_ORDER = #{record.menuOrder,jdbcType=INTEGER},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR},
      STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      CREATE_STAFF_ID = #{record.createStaffId,jdbcType=INTEGER},
      MODIFY_STAFF_ID = #{record.modifyStaffId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.SysMenu" >
    update sys_menu
    <set >
      <if test="menuCode != null" >
        MENU_CODE = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDesc != null" >
        MENU_DESC = #{menuDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuPath != null" >
        MENU_PATH = #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null" >
        MENU_ORDER = #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffId != null" >
        CREATE_STAFF_ID = #{createStaffId,jdbcType=INTEGER},
      </if>
      <if test="modifyStaffId != null" >
        MODIFY_STAFF_ID = #{modifyStaffId,jdbcType=INTEGER},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.SysMenu" >
    update sys_menu
    set MENU_CODE = #{menuCode,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_DESC = #{menuDesc,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      MENU_PATH = #{menuPath,jdbcType=VARCHAR},
      MENU_ORDER = #{menuOrder,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CREATE_STAFF_ID = #{createStaffId,jdbcType=INTEGER},
      MODIFY_STAFF_ID = #{modifyStaffId,jdbcType=INTEGER}
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>