<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="send_channel" property="sendChannel" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="task_explain" property="taskExplain" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="send_mode" property="sendMode" jdbcType="CHAR" />
    <result column="send_date" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="time_interval" property="timeInterval" jdbcType="INTEGER" />
    <result column="send_count" property="sendCount" jdbcType="INTEGER" />
    <result column="send_type" property="sendType" jdbcType="CHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="label_group_ids" property="labelGroupIds" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="last_send_date" property="lastSendDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jf.entity.Task" extends="BaseResultMap" >
    <result column="send_values" property="sendValues" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, send_channel, name, task_explain, content, send_mode, send_date, time_interval, 
    send_count, send_type, file_path, label_group_ids, status, last_send_date, create_by, 
    create_date, update_by, update_date, remarks, del_flag
  </sql>
  <sql id="Blob_Column_List" >
    send_values
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jf.entity.TaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bu_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.TaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bu_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.TaskExample" >
    delete from bu_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.Task" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_task (type, send_channel, name, 
      task_explain, content, send_mode, 
      send_date, time_interval, send_count, 
      send_type, file_path, label_group_ids, 
      status, last_send_date, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag, send_values
      )
    values (#{type,jdbcType=CHAR}, #{sendChannel,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{taskExplain,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{sendMode,jdbcType=CHAR}, 
      #{sendDate,jdbcType=TIMESTAMP}, #{timeInterval,jdbcType=INTEGER}, #{sendCount,jdbcType=INTEGER}, 
      #{sendType,jdbcType=CHAR}, #{filePath,jdbcType=VARCHAR}, #{labelGroupIds,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{lastSendDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{sendValues,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.Task" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="sendChannel != null" >
        send_channel,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="taskExplain != null" >
        task_explain,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="sendMode != null" >
        send_mode,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="timeInterval != null" >
        time_interval,
      </if>
      <if test="sendCount != null" >
        send_count,
      </if>
      <if test="sendType != null" >
        send_type,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="labelGroupIds != null" >
        label_group_ids,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastSendDate != null" >
        last_send_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="sendValues != null" >
        send_values,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="sendChannel != null" >
        #{sendChannel,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="taskExplain != null" >
        #{taskExplain,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendMode != null" >
        #{sendMode,jdbcType=CHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeInterval != null" >
        #{timeInterval,jdbcType=INTEGER},
      </if>
      <if test="sendCount != null" >
        #{sendCount,jdbcType=INTEGER},
      </if>
      <if test="sendType != null" >
        #{sendType,jdbcType=CHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="labelGroupIds != null" >
        #{labelGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="lastSendDate != null" >
        #{lastSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="sendValues != null" >
        #{sendValues,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.TaskExample" resultType="java.lang.Integer" >
    select count(*) from bu_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.sendChannel != null" >
        send_channel = #{record.sendChannel,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.taskExplain != null" >
        task_explain = #{record.taskExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.sendMode != null" >
        send_mode = #{record.sendMode,jdbcType=CHAR},
      </if>
      <if test="record.sendDate != null" >
        send_date = #{record.sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeInterval != null" >
        time_interval = #{record.timeInterval,jdbcType=INTEGER},
      </if>
      <if test="record.sendCount != null" >
        send_count = #{record.sendCount,jdbcType=INTEGER},
      </if>
      <if test="record.sendType != null" >
        send_type = #{record.sendType,jdbcType=CHAR},
      </if>
      <if test="record.filePath != null" >
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.labelGroupIds != null" >
        label_group_ids = #{record.labelGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.lastSendDate != null" >
        last_send_date = #{record.lastSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.sendValues != null" >
        send_values = #{record.sendValues,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update bu_task
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=CHAR},
      send_channel = #{record.sendChannel,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      task_explain = #{record.taskExplain,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      send_mode = #{record.sendMode,jdbcType=CHAR},
      send_date = #{record.sendDate,jdbcType=TIMESTAMP},
      time_interval = #{record.timeInterval,jdbcType=INTEGER},
      send_count = #{record.sendCount,jdbcType=INTEGER},
      send_type = #{record.sendType,jdbcType=CHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      label_group_ids = #{record.labelGroupIds,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      last_send_date = #{record.lastSendDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      send_values = #{record.sendValues,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_task
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=CHAR},
      send_channel = #{record.sendChannel,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      task_explain = #{record.taskExplain,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      send_mode = #{record.sendMode,jdbcType=CHAR},
      send_date = #{record.sendDate,jdbcType=TIMESTAMP},
      time_interval = #{record.timeInterval,jdbcType=INTEGER},
      send_count = #{record.sendCount,jdbcType=INTEGER},
      send_type = #{record.sendType,jdbcType=CHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      label_group_ids = #{record.labelGroupIds,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      last_send_date = #{record.lastSendDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.Task" >
    update bu_task
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="sendChannel != null" >
        send_channel = #{sendChannel,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="taskExplain != null" >
        task_explain = #{taskExplain,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendMode != null" >
        send_mode = #{sendMode,jdbcType=CHAR},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeInterval != null" >
        time_interval = #{timeInterval,jdbcType=INTEGER},
      </if>
      <if test="sendCount != null" >
        send_count = #{sendCount,jdbcType=INTEGER},
      </if>
      <if test="sendType != null" >
        send_type = #{sendType,jdbcType=CHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="labelGroupIds != null" >
        label_group_ids = #{labelGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="lastSendDate != null" >
        last_send_date = #{lastSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="sendValues != null" >
        send_values = #{sendValues,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jf.entity.Task" >
    update bu_task
    set type = #{type,jdbcType=CHAR},
      send_channel = #{sendChannel,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      task_explain = #{taskExplain,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      send_mode = #{sendMode,jdbcType=CHAR},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      time_interval = #{timeInterval,jdbcType=INTEGER},
      send_count = #{sendCount,jdbcType=INTEGER},
      send_type = #{sendType,jdbcType=CHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      label_group_ids = #{labelGroupIds,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      last_send_date = #{lastSendDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      send_values = #{sendValues,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.Task" >
    update bu_task
    set type = #{type,jdbcType=CHAR},
      send_channel = #{sendChannel,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      task_explain = #{taskExplain,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      send_mode = #{sendMode,jdbcType=CHAR},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      time_interval = #{timeInterval,jdbcType=INTEGER},
      send_count = #{sendCount,jdbcType=INTEGER},
      send_type = #{sendType,jdbcType=CHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      label_group_ids = #{labelGroupIds,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      last_send_date = #{lastSendDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>