<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ActivityAreaMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ActivityArea" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="mcht_id" property="mchtId" jdbcType="INTEGER" />
    <result column="entry_pic" property="entryPic" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="preheat_time" property="preheatTime" jdbcType="TIMESTAMP" />
    <result column="preheat_flag" property="preheatFlag" jdbcType="CHAR" />
    <result column="preheat_seq_no" property="preheatSeqNo" jdbcType="INTEGER" />
    <result column="enroll_begin_time" property="enrollBeginTime" jdbcType="TIMESTAMP" />
    <result column="enroll_end_time" property="enrollEndTime" jdbcType="TIMESTAMP" />
    <result column="activity_begin_time" property="activityBeginTime" jdbcType="TIMESTAMP" />
    <result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="limit_mcht_num" property="limitMchtNum" jdbcType="INTEGER" />
    <result column="benefit_point" property="benefitPoint" jdbcType="VARCHAR" />
    <result column="min_member_group" property="minMemberGroup" jdbcType="INTEGER" />
    <result column="push_mcht_type" property="pushMchtType" jdbcType="CHAR" />
    <result column="mcht_id_group" property="mchtIdGroup" jdbcType="VARCHAR" />
    <result column="product_type_group" property="productTypeGroup" jdbcType="VARCHAR" />
    <result column="preferential_type" property="preferentialType" jdbcType="CHAR" />
    <result column="preferential_id_group" property="preferentialIdGroup" jdbcType="VARCHAR" />
    <result column="url_suffix" property="urlSuffix" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="top_pic" property="topPic" jdbcType="VARCHAR" />
    <result column="templet_type" property="templetType" jdbcType="CHAR" />
    <result column="templet_suffix" property="templetSuffix" jdbcType="VARCHAR" />
    <result column="activity_group_id" property="activityGroupId" jdbcType="INTEGER" />
    <result column="is_sign" property="isSign" jdbcType="CHAR" />
    <result column="area_label" property="areaLabel" jdbcType="VARCHAR" />
    <result column="area_label_pic" property="areaLabelPic" jdbcType="VARCHAR" />
    <result column="purchase_limits" property="purchaseLimits" jdbcType="CHAR" />
    <result column="purchase_limits_quantity" property="purchaseLimitsQuantity" jdbcType="INTEGER" />
    <result column="is_pre_sell" property="isPreSell" jdbcType="CHAR" />
    <result column="share_integral_type" property="shareIntegralType" jdbcType="CHAR" />
    <result column="min_share_integral" property="minShareIntegral" jdbcType="INTEGER" />
    <result column="max_share_integral" property="maxShareIntegral" jdbcType="INTEGER" />
    <result column="activity_share_pic" property="activitySharePic" jdbcType="VARCHAR" />
    <result column="activity_share_desc" property="activityShareDesc" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, source, type, mcht_id, entry_pic, pic, preheat_time, preheat_flag, preheat_seq_no, 
    enroll_begin_time, enroll_end_time, activity_begin_time, activity_end_time, description, 
    limit_mcht_num, benefit_point, min_member_group, push_mcht_type, mcht_id_group, product_type_group, 
    preferential_type, preferential_id_group, url_suffix, status, top_pic, templet_type, 
    templet_suffix, activity_group_id, is_sign, area_label, area_label_pic, purchase_limits, 
    purchase_limits_quantity, is_pre_sell, share_integral_type, min_share_integral, max_share_integral, 
    activity_share_pic, activity_share_desc, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ActivityAreaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_activity_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_activity_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_activity_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.ActivityAreaExample" >
    delete from bu_activity_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.ActivityArea" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_activity_area (name, source, type, 
      mcht_id, entry_pic, pic, 
      preheat_time, preheat_flag, preheat_seq_no, 
      enroll_begin_time, enroll_end_time, activity_begin_time, 
      activity_end_time, description, limit_mcht_num, 
      benefit_point, min_member_group, push_mcht_type, 
      mcht_id_group, product_type_group, preferential_type, 
      preferential_id_group, url_suffix, status, 
      top_pic, templet_type, templet_suffix, 
      activity_group_id, is_sign, area_label, 
      area_label_pic, purchase_limits, purchase_limits_quantity, 
      is_pre_sell, share_integral_type, min_share_integral, 
      max_share_integral, activity_share_pic, activity_share_desc, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{name,jdbcType=VARCHAR}, #{source,jdbcType=CHAR}, #{type,jdbcType=CHAR}, 
      #{mchtId,jdbcType=INTEGER}, #{entryPic,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{preheatTime,jdbcType=TIMESTAMP}, #{preheatFlag,jdbcType=CHAR}, #{preheatSeqNo,jdbcType=INTEGER}, 
      #{enrollBeginTime,jdbcType=TIMESTAMP}, #{enrollEndTime,jdbcType=TIMESTAMP}, #{activityBeginTime,jdbcType=TIMESTAMP}, 
      #{activityEndTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{limitMchtNum,jdbcType=INTEGER}, 
      #{benefitPoint,jdbcType=VARCHAR}, #{minMemberGroup,jdbcType=INTEGER}, #{pushMchtType,jdbcType=CHAR}, 
      #{mchtIdGroup,jdbcType=VARCHAR}, #{productTypeGroup,jdbcType=VARCHAR}, #{preferentialType,jdbcType=CHAR}, 
      #{preferentialIdGroup,jdbcType=VARCHAR}, #{urlSuffix,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{topPic,jdbcType=VARCHAR}, #{templetType,jdbcType=CHAR}, #{templetSuffix,jdbcType=VARCHAR}, 
      #{activityGroupId,jdbcType=INTEGER}, #{isSign,jdbcType=CHAR}, #{areaLabel,jdbcType=VARCHAR}, 
      #{areaLabelPic,jdbcType=VARCHAR}, #{purchaseLimits,jdbcType=CHAR}, #{purchaseLimitsQuantity,jdbcType=INTEGER}, 
      #{isPreSell,jdbcType=CHAR}, #{shareIntegralType,jdbcType=CHAR}, #{minShareIntegral,jdbcType=INTEGER}, 
      #{maxShareIntegral,jdbcType=INTEGER}, #{activitySharePic,jdbcType=VARCHAR}, #{activityShareDesc,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.ActivityArea" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_activity_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="mchtId != null" >
        mcht_id,
      </if>
      <if test="entryPic != null" >
        entry_pic,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="preheatTime != null" >
        preheat_time,
      </if>
      <if test="preheatFlag != null" >
        preheat_flag,
      </if>
      <if test="preheatSeqNo != null" >
        preheat_seq_no,
      </if>
      <if test="enrollBeginTime != null" >
        enroll_begin_time,
      </if>
      <if test="enrollEndTime != null" >
        enroll_end_time,
      </if>
      <if test="activityBeginTime != null" >
        activity_begin_time,
      </if>
      <if test="activityEndTime != null" >
        activity_end_time,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="limitMchtNum != null" >
        limit_mcht_num,
      </if>
      <if test="benefitPoint != null" >
        benefit_point,
      </if>
      <if test="minMemberGroup != null" >
        min_member_group,
      </if>
      <if test="pushMchtType != null" >
        push_mcht_type,
      </if>
      <if test="mchtIdGroup != null" >
        mcht_id_group,
      </if>
      <if test="productTypeGroup != null" >
        product_type_group,
      </if>
      <if test="preferentialType != null" >
        preferential_type,
      </if>
      <if test="preferentialIdGroup != null" >
        preferential_id_group,
      </if>
      <if test="urlSuffix != null" >
        url_suffix,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="topPic != null" >
        top_pic,
      </if>
      <if test="templetType != null" >
        templet_type,
      </if>
      <if test="templetSuffix != null" >
        templet_suffix,
      </if>
      <if test="activityGroupId != null" >
        activity_group_id,
      </if>
      <if test="isSign != null" >
        is_sign,
      </if>
      <if test="areaLabel != null" >
        area_label,
      </if>
      <if test="areaLabelPic != null" >
        area_label_pic,
      </if>
      <if test="purchaseLimits != null" >
        purchase_limits,
      </if>
      <if test="purchaseLimitsQuantity != null" >
        purchase_limits_quantity,
      </if>
      <if test="isPreSell != null" >
        is_pre_sell,
      </if>
      <if test="shareIntegralType != null" >
        share_integral_type,
      </if>
      <if test="minShareIntegral != null" >
        min_share_integral,
      </if>
      <if test="maxShareIntegral != null" >
        max_share_integral,
      </if>
      <if test="activitySharePic != null" >
        activity_share_pic,
      </if>
      <if test="activityShareDesc != null" >
        activity_share_desc,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="mchtId != null" >
        #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="entryPic != null" >
        #{entryPic,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="preheatTime != null" >
        #{preheatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preheatFlag != null" >
        #{preheatFlag,jdbcType=CHAR},
      </if>
      <if test="preheatSeqNo != null" >
        #{preheatSeqNo,jdbcType=INTEGER},
      </if>
      <if test="enrollBeginTime != null" >
        #{enrollBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollEndTime != null" >
        #{enrollEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityBeginTime != null" >
        #{activityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityEndTime != null" >
        #{activityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="limitMchtNum != null" >
        #{limitMchtNum,jdbcType=INTEGER},
      </if>
      <if test="benefitPoint != null" >
        #{benefitPoint,jdbcType=VARCHAR},
      </if>
      <if test="minMemberGroup != null" >
        #{minMemberGroup,jdbcType=INTEGER},
      </if>
      <if test="pushMchtType != null" >
        #{pushMchtType,jdbcType=CHAR},
      </if>
      <if test="mchtIdGroup != null" >
        #{mchtIdGroup,jdbcType=VARCHAR},
      </if>
      <if test="productTypeGroup != null" >
        #{productTypeGroup,jdbcType=VARCHAR},
      </if>
      <if test="preferentialType != null" >
        #{preferentialType,jdbcType=CHAR},
      </if>
      <if test="preferentialIdGroup != null" >
        #{preferentialIdGroup,jdbcType=VARCHAR},
      </if>
      <if test="urlSuffix != null" >
        #{urlSuffix,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="topPic != null" >
        #{topPic,jdbcType=VARCHAR},
      </if>
      <if test="templetType != null" >
        #{templetType,jdbcType=CHAR},
      </if>
      <if test="templetSuffix != null" >
        #{templetSuffix,jdbcType=VARCHAR},
      </if>
      <if test="activityGroupId != null" >
        #{activityGroupId,jdbcType=INTEGER},
      </if>
      <if test="isSign != null" >
        #{isSign,jdbcType=CHAR},
      </if>
      <if test="areaLabel != null" >
        #{areaLabel,jdbcType=VARCHAR},
      </if>
      <if test="areaLabelPic != null" >
        #{areaLabelPic,jdbcType=VARCHAR},
      </if>
      <if test="purchaseLimits != null" >
        #{purchaseLimits,jdbcType=CHAR},
      </if>
      <if test="purchaseLimitsQuantity != null" >
        #{purchaseLimitsQuantity,jdbcType=INTEGER},
      </if>
      <if test="isPreSell != null" >
        #{isPreSell,jdbcType=CHAR},
      </if>
      <if test="shareIntegralType != null" >
        #{shareIntegralType,jdbcType=CHAR},
      </if>
      <if test="minShareIntegral != null" >
        #{minShareIntegral,jdbcType=INTEGER},
      </if>
      <if test="maxShareIntegral != null" >
        #{maxShareIntegral,jdbcType=INTEGER},
      </if>
      <if test="activitySharePic != null" >
        #{activitySharePic,jdbcType=VARCHAR},
      </if>
      <if test="activityShareDesc != null" >
        #{activityShareDesc,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.ActivityAreaExample" resultType="java.lang.Integer" >
    select count(*) from bu_activity_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_activity_area
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=CHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.entryPic != null" >
        entry_pic = #{record.entryPic,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.preheatTime != null" >
        preheat_time = #{record.preheatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.preheatFlag != null" >
        preheat_flag = #{record.preheatFlag,jdbcType=CHAR},
      </if>
      <if test="record.preheatSeqNo != null" >
        preheat_seq_no = #{record.preheatSeqNo,jdbcType=INTEGER},
      </if>
      <if test="record.enrollBeginTime != null" >
        enroll_begin_time = #{record.enrollBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enrollEndTime != null" >
        enroll_end_time = #{record.enrollEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityBeginTime != null" >
        activity_begin_time = #{record.activityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityEndTime != null" >
        activity_end_time = #{record.activityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.limitMchtNum != null" >
        limit_mcht_num = #{record.limitMchtNum,jdbcType=INTEGER},
      </if>
      <if test="record.benefitPoint != null" >
        benefit_point = #{record.benefitPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.minMemberGroup != null" >
        min_member_group = #{record.minMemberGroup,jdbcType=INTEGER},
      </if>
      <if test="record.pushMchtType != null" >
        push_mcht_type = #{record.pushMchtType,jdbcType=CHAR},
      </if>
      <if test="record.mchtIdGroup != null" >
        mcht_id_group = #{record.mchtIdGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeGroup != null" >
        product_type_group = #{record.productTypeGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.preferentialType != null" >
        preferential_type = #{record.preferentialType,jdbcType=CHAR},
      </if>
      <if test="record.preferentialIdGroup != null" >
        preferential_id_group = #{record.preferentialIdGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.urlSuffix != null" >
        url_suffix = #{record.urlSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.topPic != null" >
        top_pic = #{record.topPic,jdbcType=VARCHAR},
      </if>
      <if test="record.templetType != null" >
        templet_type = #{record.templetType,jdbcType=CHAR},
      </if>
      <if test="record.templetSuffix != null" >
        templet_suffix = #{record.templetSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.activityGroupId != null" >
        activity_group_id = #{record.activityGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.isSign != null" >
        is_sign = #{record.isSign,jdbcType=CHAR},
      </if>
      <if test="record.areaLabel != null" >
        area_label = #{record.areaLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.areaLabelPic != null" >
        area_label_pic = #{record.areaLabelPic,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseLimits != null" >
        purchase_limits = #{record.purchaseLimits,jdbcType=CHAR},
      </if>
      <if test="record.purchaseLimitsQuantity != null" >
        purchase_limits_quantity = #{record.purchaseLimitsQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.isPreSell != null" >
        is_pre_sell = #{record.isPreSell,jdbcType=CHAR},
      </if>
      <if test="record.shareIntegralType != null" >
        share_integral_type = #{record.shareIntegralType,jdbcType=CHAR},
      </if>
      <if test="record.minShareIntegral != null" >
        min_share_integral = #{record.minShareIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.maxShareIntegral != null" >
        max_share_integral = #{record.maxShareIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.activitySharePic != null" >
        activity_share_pic = #{record.activitySharePic,jdbcType=VARCHAR},
      </if>
      <if test="record.activityShareDesc != null" >
        activity_share_desc = #{record.activityShareDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_activity_area
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=CHAR},
      type = #{record.type,jdbcType=CHAR},
      mcht_id = #{record.mchtId,jdbcType=INTEGER},
      entry_pic = #{record.entryPic,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      preheat_time = #{record.preheatTime,jdbcType=TIMESTAMP},
      preheat_flag = #{record.preheatFlag,jdbcType=CHAR},
      preheat_seq_no = #{record.preheatSeqNo,jdbcType=INTEGER},
      enroll_begin_time = #{record.enrollBeginTime,jdbcType=TIMESTAMP},
      enroll_end_time = #{record.enrollEndTime,jdbcType=TIMESTAMP},
      activity_begin_time = #{record.activityBeginTime,jdbcType=TIMESTAMP},
      activity_end_time = #{record.activityEndTime,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR},
      limit_mcht_num = #{record.limitMchtNum,jdbcType=INTEGER},
      benefit_point = #{record.benefitPoint,jdbcType=VARCHAR},
      min_member_group = #{record.minMemberGroup,jdbcType=INTEGER},
      push_mcht_type = #{record.pushMchtType,jdbcType=CHAR},
      mcht_id_group = #{record.mchtIdGroup,jdbcType=VARCHAR},
      product_type_group = #{record.productTypeGroup,jdbcType=VARCHAR},
      preferential_type = #{record.preferentialType,jdbcType=CHAR},
      preferential_id_group = #{record.preferentialIdGroup,jdbcType=VARCHAR},
      url_suffix = #{record.urlSuffix,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      top_pic = #{record.topPic,jdbcType=VARCHAR},
      templet_type = #{record.templetType,jdbcType=CHAR},
      templet_suffix = #{record.templetSuffix,jdbcType=VARCHAR},
      activity_group_id = #{record.activityGroupId,jdbcType=INTEGER},
      is_sign = #{record.isSign,jdbcType=CHAR},
      area_label = #{record.areaLabel,jdbcType=VARCHAR},
      area_label_pic = #{record.areaLabelPic,jdbcType=VARCHAR},
      purchase_limits = #{record.purchaseLimits,jdbcType=CHAR},
      purchase_limits_quantity = #{record.purchaseLimitsQuantity,jdbcType=INTEGER},
      is_pre_sell = #{record.isPreSell,jdbcType=CHAR},
      share_integral_type = #{record.shareIntegralType,jdbcType=CHAR},
      min_share_integral = #{record.minShareIntegral,jdbcType=INTEGER},
      max_share_integral = #{record.maxShareIntegral,jdbcType=INTEGER},
      activity_share_pic = #{record.activitySharePic,jdbcType=VARCHAR},
      activity_share_desc = #{record.activityShareDesc,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.ActivityArea" >
    update bu_activity_area
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="mchtId != null" >
        mcht_id = #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="entryPic != null" >
        entry_pic = #{entryPic,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="preheatTime != null" >
        preheat_time = #{preheatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preheatFlag != null" >
        preheat_flag = #{preheatFlag,jdbcType=CHAR},
      </if>
      <if test="preheatSeqNo != null" >
        preheat_seq_no = #{preheatSeqNo,jdbcType=INTEGER},
      </if>
      <if test="enrollBeginTime != null" >
        enroll_begin_time = #{enrollBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollEndTime != null" >
        enroll_end_time = #{enrollEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityBeginTime != null" >
        activity_begin_time = #{activityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityEndTime != null" >
        activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="limitMchtNum != null" >
        limit_mcht_num = #{limitMchtNum,jdbcType=INTEGER},
      </if>
      <if test="benefitPoint != null" >
        benefit_point = #{benefitPoint,jdbcType=VARCHAR},
      </if>
      <if test="minMemberGroup != null" >
        min_member_group = #{minMemberGroup,jdbcType=INTEGER},
      </if>
      <if test="pushMchtType != null" >
        push_mcht_type = #{pushMchtType,jdbcType=CHAR},
      </if>
      <if test="mchtIdGroup != null" >
        mcht_id_group = #{mchtIdGroup,jdbcType=VARCHAR},
      </if>
      <if test="productTypeGroup != null" >
        product_type_group = #{productTypeGroup,jdbcType=VARCHAR},
      </if>
      <if test="preferentialType != null" >
        preferential_type = #{preferentialType,jdbcType=CHAR},
      </if>
      <if test="preferentialIdGroup != null" >
        preferential_id_group = #{preferentialIdGroup,jdbcType=VARCHAR},
      </if>
      <if test="urlSuffix != null" >
        url_suffix = #{urlSuffix,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="topPic != null" >
        top_pic = #{topPic,jdbcType=VARCHAR},
      </if>
      <if test="templetType != null" >
        templet_type = #{templetType,jdbcType=CHAR},
      </if>
      <if test="templetSuffix != null" >
        templet_suffix = #{templetSuffix,jdbcType=VARCHAR},
      </if>
      <if test="activityGroupId != null" >
        activity_group_id = #{activityGroupId,jdbcType=INTEGER},
      </if>
      <if test="isSign != null" >
        is_sign = #{isSign,jdbcType=CHAR},
      </if>
      <if test="areaLabel != null" >
        area_label = #{areaLabel,jdbcType=VARCHAR},
      </if>
      <if test="areaLabelPic != null" >
        area_label_pic = #{areaLabelPic,jdbcType=VARCHAR},
      </if>
      <if test="purchaseLimits != null" >
        purchase_limits = #{purchaseLimits,jdbcType=CHAR},
      </if>
      <if test="purchaseLimitsQuantity != null" >
        purchase_limits_quantity = #{purchaseLimitsQuantity,jdbcType=INTEGER},
      </if>
      <if test="isPreSell != null" >
        is_pre_sell = #{isPreSell,jdbcType=CHAR},
      </if>
      <if test="shareIntegralType != null" >
        share_integral_type = #{shareIntegralType,jdbcType=CHAR},
      </if>
      <if test="minShareIntegral != null" >
        min_share_integral = #{minShareIntegral,jdbcType=INTEGER},
      </if>
      <if test="maxShareIntegral != null" >
        max_share_integral = #{maxShareIntegral,jdbcType=INTEGER},
      </if>
      <if test="activitySharePic != null" >
        activity_share_pic = #{activitySharePic,jdbcType=VARCHAR},
      </if>
      <if test="activityShareDesc != null" >
        activity_share_desc = #{activityShareDesc,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.ActivityArea" >
    update bu_activity_area
    set name = #{name,jdbcType=VARCHAR},
      source = #{source,jdbcType=CHAR},
      type = #{type,jdbcType=CHAR},
      mcht_id = #{mchtId,jdbcType=INTEGER},
      entry_pic = #{entryPic,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      preheat_time = #{preheatTime,jdbcType=TIMESTAMP},
      preheat_flag = #{preheatFlag,jdbcType=CHAR},
      preheat_seq_no = #{preheatSeqNo,jdbcType=INTEGER},
      enroll_begin_time = #{enrollBeginTime,jdbcType=TIMESTAMP},
      enroll_end_time = #{enrollEndTime,jdbcType=TIMESTAMP},
      activity_begin_time = #{activityBeginTime,jdbcType=TIMESTAMP},
      activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      limit_mcht_num = #{limitMchtNum,jdbcType=INTEGER},
      benefit_point = #{benefitPoint,jdbcType=VARCHAR},
      min_member_group = #{minMemberGroup,jdbcType=INTEGER},
      push_mcht_type = #{pushMchtType,jdbcType=CHAR},
      mcht_id_group = #{mchtIdGroup,jdbcType=VARCHAR},
      product_type_group = #{productTypeGroup,jdbcType=VARCHAR},
      preferential_type = #{preferentialType,jdbcType=CHAR},
      preferential_id_group = #{preferentialIdGroup,jdbcType=VARCHAR},
      url_suffix = #{urlSuffix,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      top_pic = #{topPic,jdbcType=VARCHAR},
      templet_type = #{templetType,jdbcType=CHAR},
      templet_suffix = #{templetSuffix,jdbcType=VARCHAR},
      activity_group_id = #{activityGroupId,jdbcType=INTEGER},
      is_sign = #{isSign,jdbcType=CHAR},
      area_label = #{areaLabel,jdbcType=VARCHAR},
      area_label_pic = #{areaLabelPic,jdbcType=VARCHAR},
      purchase_limits = #{purchaseLimits,jdbcType=CHAR},
      purchase_limits_quantity = #{purchaseLimitsQuantity,jdbcType=INTEGER},
      is_pre_sell = #{isPreSell,jdbcType=CHAR},
      share_integral_type = #{shareIntegralType,jdbcType=CHAR},
      min_share_integral = #{minShareIntegral,jdbcType=INTEGER},
      max_share_integral = #{maxShareIntegral,jdbcType=INTEGER},
      activity_share_pic = #{activitySharePic,jdbcType=VARCHAR},
      activity_share_desc = #{activityShareDesc,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>