<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.BusinessCirclesAppealOrderCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.BusinessCirclesAppealOrderCustom" extends="com.jf.dao.BusinessCirclesAppealOrderMapper.BaseResultMap">
  <result column="customerservicehandler_Name" property="customerservicehandlerName" jdbcType="VARCHAR" />
  <result column="createby_Name" property="createbyName" jdbcType="VARCHAR" />
  <result column="mcht_Information" property="mchtInformation" jdbcType="VARCHAR" />
  <result column="productbrand_Name" property="productbrandName" jdbcType="VARCHAR" />
  <result column="customer_ServiceOrder_Count" property="customerServiceOrderCount" jdbcType="INTEGER" />
  <result column="intervention_order_Count" property="interventionOrderCount" jdbcType="INTEGER" />
  <result column="appeal_order_Count" property="appealOrderCount" jdbcType="INTEGER" />
  <result column="customerServiceRecords_id" property="customerServiceRecordsid" jdbcType="INTEGER" />
  <result column="mcht_Code" property="mchtCode" jdbcType="VARCHAR" />
  <result column="mchtCompany_name" property="mchtCompanyname" jdbcType="VARCHAR" />
  <result column="subOrderCustoms_cuont" property="subOrderCustomscuont" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, consumer_appeal_date, registration_number, appeal_name, appeal_mobile, appeal_address, 
    appeal_order_type, types_of_complaints, consumer_appeal_content, appeal_status, customer_service_handler, 
    customer_service_handle_date, member_ids, mcht_ids, mcht_product_brand_ids, sub_order_code, 
    sign_for_date, member_situation, mcht_appealed_count, customer_service_result, customer_service_result_date, 
    fw_result, fw_result_date, business_circles_result, business_circles_date, create_by, 
    create_date, update_by, update_date, remarks, del_flag,
    (select s.staff_name from sys_staff_info s where bca.customer_service_handler=s.staff_id and s.STATUS='A') customerservicehandler_Name,
    (select s.staff_name from sys_staff_info s where bca.create_by=s.staff_id and s.STATUS='A') createby_Name,
    (select GROUP_CONCAT(CONCAT(m.mcht_code,'【',m.company_name,'】 ')) from bu_mcht_info m where FIND_IN_SET(m.id,bca.mcht_ids)) mcht_Information,
    (select GROUP_CONCAT(pb.name) from bu_product_brand pb where FIND_IN_SET(pb.id,bca.mcht_product_brand_ids)) productbrand_Name,
    (SELECT count(*) FROM bu_customer_service_order cso WHERE cso.del_flag='0' AND cso.status='0' AND FIND_IN_SET(cso.create_by,bca.member_ids))customer_ServiceOrder_Count,
    (SELECT count(*) FROM bu_intervention_order io WHERE io.del_flag='0' AND io.status!='8' AND FIND_IN_SET(io.create_by,bca.member_ids))intervention_order_Count,
    (SELECT count(*) FROM bu_appeal_order ao WHERE ao.del_flag='0' AND ao.status in('1','2','5') AND FIND_IN_SET(ao.create_by,bca.member_ids))appeal_order_Count,
    (SELECT csr.id FROM bu_customer_service_records csr where csr.business_circles_appeal_order_id=bca.id and csr.del_flag='0')customerServiceRecords_id,
    (select GROUP_CONCAT(m.mcht_code) from bu_mcht_info m where FIND_IN_SET(m.id,bca.mcht_ids)) mcht_Code,
    (select GROUP_CONCAT(m.company_name) from bu_mcht_info m where FIND_IN_SET(m.id,bca.mcht_ids)) mchtCompany_name,
    (SELECT count(*) FROM bu_combine_order co, bu_sub_order so WHERE so.combine_order_id = co.id AND co.del_flag = '0' AND so.del_flag = '0' AND so.`status` IN ('1','2') AND FIND_IN_SET(co.member_id,bca.member_ids))subOrderCustoms_cuont
   </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.BusinessCirclesAppealOrderCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_business_circles_appeal_order bca
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  
  <select id="selectByPrimaryKeyCustom" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_business_circles_appeal_order bca
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="countByCustomExample" parameterType="com.jf.entity.BusinessCirclesAppealOrderCustom" resultType="java.lang.Integer" >
    select count(*) from bu_business_circles_appeal_order bca
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
   <!-- 获取客服处理人-->
  <select id="getstaffidList" resultType="java.util.Map">
  	SELECT DISTINCT
		bca.customer_service_handler,
		(
			SELECT
				s.staff_name
			FROM
				sys_staff_info s
			WHERE
				s.staff_id = bca.customer_service_handler
		) staff_name
	FROM
		bu_business_circles_appeal_order bca
	WHERE
		bca.del_flag = '0'
	AND bca.customer_service_handler IS NOT NULL
  </select>
  
  <!-- 获取创建人-->
  <select id="getcreatebyList" resultType="java.util.Map">
  	SELECT DISTINCT
		bca.create_by,
		(
			SELECT
				s.staff_name
			FROM
				sys_staff_info s
			WHERE
				s.staff_id = bca.create_by
		) staff_name
	FROM
		bu_business_circles_appeal_order bca
	WHERE
		bca.del_flag = '0'
	AND bca.create_by IS NOT NULL
  </select>
  
   <select id="customerServiceOrdercount" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT count(*) FROM bu_customer_service_order cso WHERE cso.del_flag='0' AND cso.status='0' AND FIND_IN_SET(cso.create_by,#{memberIds})
   </select>
   
   <select id="interventionOrdercount" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT count(*) FROM bu_intervention_order io WHERE io.del_flag='0' AND io.status!='8' AND FIND_IN_SET(io.create_by,#{memberIds})
   </select>
   
   <select id="appealOrdercount" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT count(*) FROM bu_appeal_order ao WHERE ao.del_flag='0' AND ao.status in('1','2','5') AND FIND_IN_SET(ao.create_by,#{memberIds})
   </select>
   
   <select id="subOrderCustomscuont" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT count(*) FROM bu_combine_order co, bu_sub_order so WHERE so.combine_order_id = co.id AND co.del_flag = '0' AND so.del_flag = '0' AND so.`status` IN ('1','2') AND FIND_IN_SET(co.member_id,#{memberIds})
   </select>
   
   <select id="getproStatus" parameterType="java.lang.String" resultType="java.util.Map" >
  	SELECT DISTINCT
		cso.pro_status prostatus
	FROM
		bu_customer_service_order cso
	WHERE
		cso.del_flag = '0'
	<!-- AND cso.status='0' -->
	AND FIND_IN_SET(cso.create_by,#{memberIds})
  </select>
  
   <select id="getStatus" parameterType="java.lang.String" resultType="java.util.Map" >
  	SELECT DISTINCT
		io.status status
	FROM
		bu_intervention_order io
	WHERE
		io.del_flag = '0'
	<!-- AND io.status!='8' -->
	AND FIND_IN_SET(io.create_by,#{memberIds})
  </select>
  
  <select id="getappealOrderstatus" parameterType="java.lang.String" resultType="java.util.Map" >
  	SELECT DISTINCT
		ao.service_status service_status
	FROM
		bu_appeal_order ao
	WHERE
		ao.del_flag = '0'
	<!-- AND ao.status in('1','2','5') -->
	AND FIND_IN_SET(ao.create_by,#{memberIds})
  </select>
  
</mapper>