<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CouponCombineRecLimitCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.CouponCombineRecLimitCustom" extends="com.jf.dao.CouponCombineRecLimitMapper.BaseResultMap" >
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="coupon_id_group" property="couponIdgroup" jdbcType="VARCHAR" />
    <result column="reclimittype_desc" property="reclimittypeDesc" jdbcType="VARCHAR" />
    <result column="rec_each" property="recEach" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, create_by, create_date, update_by, update_date, remarks, del_flag,
    (select ss.STAFF_NAME from sys_staff_info ss where ss.STAFF_ID=ccr.create_by and ss.STATUS='A')staff_name,
    (select GROUP_CONCAT(crt.coupon_id) from bu_coupon_combine_rec_limit_dtl crt where ccr.id=crt.coupon_combine_rec_limit_id and crt.del_flag='0')coupon_id_group,
    FUN_GET_STATUS_DESC("BU_COUPON", "REC_LIMIT_TYPE", (SELECT cp.rec_limit_type FROM bu_coupon_combine_rec_limit_dtl crd,bu_coupon cp WHERE crd.coupon_combine_rec_limit_id=ccr.id and cp.id=crd.coupon_id and crd.del_flag='0' and cp.del_flag='0' LIMIT 1))reclimittype_desc,
    (SELECT cp.rec_each FROM bu_coupon_combine_rec_limit_dtl crd,bu_coupon cp WHERE crd.coupon_combine_rec_limit_id=ccr.id and cp.id=crd.coupon_id and crd.del_flag='0' and cp.del_flag='0' LIMIT 1)rec_each
  </sql>
  <select id="selectByCouponCombineRecLimitCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.CouponCombineRecLimitCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_coupon_combine_rec_limit ccr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCouponCombineRecLimitPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
   from bu_coupon_combine_rec_limit ccr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByCouponCombineRecLimitCustomExample" parameterType="com.jf.entity.CouponCombineRecLimitCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_coupon_combine_rec_limit ccr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
</mapper>