<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CutPriceCnfDtlCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.CutPriceCnfDtlCustom" extends="com.jf.dao.CutPriceCnfDtlMapper.BaseResultMap" >
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cut_price_cnf_id, rate_type, begin_amount, end_amount, begin_rate, end_rate, 
    fixed_amount, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.CutPriceCnfDtlCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_cut_price_cnf_dtl t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_cut_price_cnf_dtl t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.CutPriceCnfDtlCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_cut_price_cnf_dtl t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCustomExampleSelective" parameterType="map" >
    update bu_cut_price_cnf_dtl t
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cutPriceCnfId != null" >
        cut_price_cnf_id = #{record.cutPriceCnfId,jdbcType=INTEGER},
      </if>
      <if test="record.rateType != null" >
        rate_type = #{record.rateType,jdbcType=CHAR},
      </if>
      <if test="record.beginAmount != null" >
        begin_amount = #{record.beginAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.endAmount != null" >
        end_amount = #{record.endAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.beginRate != null" >
        begin_rate = #{record.beginRate,jdbcType=DECIMAL},
      </if>
      <if test="record.endRate != null" >
        end_rate = #{record.endRate,jdbcType=DECIMAL},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <insert id="insertCutPriceCnfDtlList" parameterType="java.util.List" >
    insert into bu_cut_price_cnf_dtl
      (cut_price_cnf_id, rate_type, begin_amount, 
      	end_amount, begin_rate, end_rate, 
      	create_by, create_date, remarks
      )
    values
    <foreach collection="list" item="record" separator =",">
         (#{record.cutPriceCnfId}, #{record.rateType}, #{record.beginAmount}, 
         	#{record.endAmount}, #{record.beginRate}, #{record.endRate},
         	#{record.createBy}, #{record.createDate}, #{record.remarks}	
         )
    </foreach >
  </insert>
  
  <update id="updateCutPriceCnfDtlIdListSelective" parameterType="java.util.List" >
    <foreach collection="list" item="record" index="index" open="" close="" separator=";" >
	    update bu_cut_price_cnf_dtl
	    <set >
	      <if test="record.id != null" >
	        id = #{record.id,jdbcType=INTEGER},
	      </if>
	      <if test="record.cutPriceCnfId != null" >
	        cut_price_cnf_id = #{record.cutPriceCnfId,jdbcType=INTEGER},
	      </if>
	      <if test="record.rateType != null" >
	        rate_type = #{record.rateType,jdbcType=CHAR},
	      </if>
	      <if test="record.beginAmount != null" >
	        begin_amount = #{record.beginAmount,jdbcType=DECIMAL},
	      </if>
	      <if test="record.endAmount != null" >
	        end_amount = #{record.endAmount,jdbcType=DECIMAL},
	      </if>
	      <if test="record.beginRate != null" >
	        begin_rate = #{record.beginRate,jdbcType=DECIMAL},
	      </if>
	      <if test="record.endRate != null" >
	        end_rate = #{record.endRate,jdbcType=DECIMAL},
	      </if>
	      <if test="record.createBy != null" >
	        create_by = #{record.createBy,jdbcType=INTEGER},
	      </if>
	      <if test="record.createDate != null" >
	        create_date = #{record.createDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="record.updateBy != null" >
	        update_by = #{record.updateBy,jdbcType=INTEGER},
	      </if>
	      <if test="record.updateDate != null" >
	        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="record.remarks != null" >
	        remarks = #{record.remarks,jdbcType=VARCHAR},
	      </if>
	      <if test="record.delFlag != null" >
	        del_flag = #{record.delFlag,jdbcType=CHAR},
	      </if>
	    </set>
	    where id = #{record.id,jdbcType=INTEGER}
    </foreach>
  </update>
  
  
  
  
</mapper>