<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.InformationCustomMapper">

     <resultMap type="com.jf.entity.InformationCustom" id="BaseResultMap" extends="com.jf.dao.InformationMapper.BaseResultMap">
		<result column="STAFF_NAME" property="creatName" />
		<result column="catalog_name" property="catalogName" />
		<result column="catalog_list_name" property="catalogListName" />
		<result column="infoType_des" property="infoTypeDsc" />
		<result column="statu_dsc" property="statuDsc" />
		<result column="mchtType_dsc" property="mchtTypeDsc" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>
    
    
     <sql id="Base_Column_List" >
	    id, catalog_id, title, pic, file_site, file_name, release_time, seq_no, status, info_type, 
	    mcht_type, is_window_show, window_end_time, create_by, create_date, update_by, update_date, 
	    remarks, del_flag, content,
	    (select ap.STAFF_NAME from sys_staff_info ap where ap.STAFF_ID=t.create_by) STAFF_NAME,
	    (select ap.front_name from bu_catalog ap where ap.id=t.catalog_id)  catalog_name,
	    (SELECT GROUP_CONCAT(front_name separator '>') from bu_catalog where FIND_IN_SET(id,FUN_GET_CATALOG_FROUNTNAME(t.catalog_id))) catalog_list_name,
		FUN_GET_STATUS_DESC("BU_INFORMATION","STATUS", t.`status`) statu_dsc,
		FUN_GET_STATUS_DESC("BU_INFORMATION","MCHT_TYPE", t.`mcht_type`) mchtType_dsc
	  </sql>
    
    <sql id="Example_Where_Clause" >
	    <where >
	      <foreach collection="oredCriteria" item="criteria" separator="or" >
	        <if test="criteria.valid" >
	          <trim prefix="(" suffix=")" prefixOverrides="and" >
	            <foreach collection="criteria.criteria" item="criterion" >
	              <choose >
	                <when test="criterion.noValue" >
	                  and ${criterion.condition}
	                </when>
	                <when test="criterion.singleValue" >
	                  and ${criterion.condition} #{criterion.value}
	                </when>
	                <when test="criterion.betweenValue" >
	                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
	                </when>
	                <when test="criterion.listValue" >
	                  and ${criterion.condition}
	                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
	                    #{listItem}
	                  </foreach>
	                </when>
	              </choose>
	            </foreach>
	          </trim>
	        </if>
	      </foreach>
	    </where>
	  </sql>
    
    <select id="selectInformationByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.InformationCustomExample" >
	    select
	    <if test="distinct" >
	      distinct
	    </if>
	    <include refid="Base_Column_List" />
	    from bu_information t
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	    <if test="limitStart != null and limitStart>=0" >
	      limit #{limitStart} , #{limitSize}
	    </if>
  	</select>
    
    
    <select id="countByExample" parameterType="com.jf.entity.InformationCustomExample" resultType="java.lang.Integer" >
	    select count(*) from bu_information t
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	  </select>
	  
	<update id="updateReleaseTimeByPrimaryKey" parameterType="com.jf.entity.Information" >
    update bu_information
    set release_time = #{releaseTime,jdbcType=TIMESTAMP} where id = #{id,jdbcType=INTEGER}
 	</update>
</mapper>