<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.IntellectualPropertyRightCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.IntellectualPropertyRightCustom"  extends="com.jf.dao.IntellectualPropertyRightMapper.BaseResultMap">
  	<result column="identity_type" property="identityType" jdbcType="VARCHAR" />
  	<result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
    <result column="property_right_type_desc" property="propertyRightTypeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, obligee_id, property_right_type, property_right_belong, property_right_name, 
    obligee_name, status, audit_remarks, create_by, create_date, update_by, update_date, 
    remarks, del_flag,
    (select t1.identity_type from bu_obligee t1 where t1.id = a.obligee_id) identity_type,
    FUN_GET_STATUS_DESC("BU_INTELLECTUAL_PROPERTY_RIGHT", "STATUS", a.status) status_desc,
    FUN_GET_STATUS_DESC("BU_INTELLECTUAL_PROPERTY_RIGHT", "PROPERTY_RIGHT_TYPE", a.property_right_type) property_right_type_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.IntellectualPropertyRightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_intellectual_property_right a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_intellectual_property_right a
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="countByExample" parameterType="com.jf.entity.IntellectualPropertyRightExample" resultType="java.lang.Integer" >
    select count(*) from bu_intellectual_property_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
</mapper>