<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.IntegralDailyStatisticsCustomMapper" >
	<select id="statisticsIntegral" parameterType="java.util.Map" resultType="java.util.Map">
		
		<![CDATA[
	 		SELECT
				sum(t.total_integral_type_1) total_integral_1,
				sum(t.total_integral_type_2) total_integral_2,
				sum(t.total_integral_type_3) total_integral_3,
				sum(t.total_integral_type_4) total_integral_4,
				sum(t.total_integral_type_5) total_integral_5,
				sum(t.total_integral_type_6) total_integral_6,
				sum(t.total_integral_type_7) total_integral_7,
				sum(t.total_integral_type_8) total_integral_8,
				sum(t.total_integral_type_9) total_integral_9,
				sum(t.total_integral_type_10) total_integral_10,
				sum(t.total_integral_type_17) total_integral_17,
				sum(t.total_integral_type_18) total_integral_18
			FROM
				(
					SELECT
						IFNULL(sum(idtl.integral), 0) total_integral_type_1,
						0 total_integral_type_2,
						0 total_integral_type_3,
						0 total_integral_type_4,
						0 total_integral_type_5,
						0 total_integral_type_6,
						0 total_integral_type_7,
						0 total_integral_type_8,
						0 total_integral_type_9,
						0 total_integral_type_10,
						0 total_integral_type_17,
						0 total_integral_type_18,
						create_date
					FROM
						bu_integral_dtl idtl
					WHERE
						idtl.del_flag = '0'
					AND idtl.tally_mode = #{tallyMode_1 }
					AND idtl.type = #{type_1 }
					AND idtl.create_date >= #{startStatisticDate }
					AND idtl.create_date <= #{endStatisticDate }
					UNION ALL
						SELECT
							0 total_integral_type_1,
							IFNULL(sum(idtl.integral), 0) total_integral_type_2,
							0 total_integral_type_3,
							0 total_integral_type_4,
							0 total_integral_type_5,
							0 total_integral_type_6,
							0 total_integral_type_7,
							0 total_integral_type_8,
							0 total_integral_type_9,
							0 total_integral_type_10,
							0 total_integral_type_17,
							0 total_integral_type_18,
							create_date
						FROM
							bu_integral_dtl idtl
						WHERE
							idtl.del_flag = '0'
						AND idtl.tally_mode = #{tallyMode_2 }
						AND idtl.type = #{type_2 }
						AND idtl.create_date >= #{startStatisticDate }
						AND idtl.create_date <= #{endStatisticDate }
						UNION ALL
							SELECT
								0 total_integral_type_1,
								0 total_integral_type_2,
								IFNULL(sum(idtl.integral), 0) total_integral_type_3,
								0 total_integral_type_4,
								0 total_integral_type_5,
								0 total_integral_type_6,
								0 total_integral_type_7,
								0 total_integral_type_8,
								0 total_integral_type_9,
								0 total_integral_type_10,
								0 total_integral_type_17,
							    0 total_integral_type_18,
								create_date
							FROM
								bu_integral_dtl idtl
							WHERE
								idtl.del_flag = '0'
							AND idtl.tally_mode = #{tallyMode_3 }
							AND idtl.type = #{type_3 }
							AND idtl.create_date >= #{startStatisticDate }
							AND idtl.create_date <= #{endStatisticDate }
							UNION ALL
								SELECT
									0 total_integral_type_1,
									0 total_integral_type_2,
									0 total_integral_type_3,
									IFNULL(sum(idtl.integral), 0) total_integral_type_4,
									0 total_integral_type_5,
									0 total_integral_type_6,
									0 total_integral_type_7,
									0 total_integral_type_8,
									0 total_integral_type_9,
									0 total_integral_type_10,
									0 total_integral_type_17,
									0 total_integral_type_18,
									create_date
								FROM
									bu_integral_dtl idtl
								WHERE
									idtl.del_flag = '0'
								AND idtl.tally_mode = #{tallyMode_4 }
								AND idtl.type = #{type_4 }
								AND idtl.create_date >= #{startStatisticDate }
								AND idtl.create_date <= #{endStatisticDate }
								UNION ALL
									SELECT
										0 total_integral_type_1,
										0 total_integral_type_2,
										0 total_integral_type_3,
										0 total_integral_type_4,
										IFNULL(sum(idtl.integral), 0) total_integral_type_5,
										0 total_integral_type_6,
										0 total_integral_type_7,
										0 total_integral_type_8,
										0 total_integral_type_9,
										0 total_integral_type_10,
										0 total_integral_type_17,
									    0 total_integral_type_18,
										create_date
									FROM
										bu_integral_dtl idtl
									WHERE
										idtl.del_flag = '0'
									AND idtl.tally_mode = #{tallyMode_5 }
									AND idtl.type = #{type_5 }
									AND idtl.create_date >= #{startStatisticDate }
									AND idtl.create_date <= #{endStatisticDate }
									UNION ALL
										SELECT
											0 total_integral_type_1,
											0 total_integral_type_2,
											0 total_integral_type_3,
											0 total_integral_type_4,
											0 total_integral_type_5,
											IFNULL(sum(idtl.integral), 0) total_integral_type_6,
											0 total_integral_type_7,
											0 total_integral_type_8,
											0 total_integral_type_9,
											0 total_integral_type_10,
										    0 total_integral_type_17,
											0 total_integral_type_18,
											create_date
										FROM
											bu_integral_dtl idtl
										WHERE
											idtl.del_flag = '0'
										AND idtl.tally_mode = #{tallyMode_6 }
										AND idtl.type = #{type_6 }
										AND idtl.create_date >= #{startStatisticDate }
										AND idtl.create_date <= #{endStatisticDate }
										UNION ALL
											SELECT
												0 total_integral_type_1,
												0 total_integral_type_2,
												0 total_integral_type_3,
												0 total_integral_type_4,
												0 total_integral_type_5,
												0 total_integral_type_6,
												IFNULL(sum(idtl.integral), 0) total_integral_type_7,
												0 total_integral_type_8,
												0 total_integral_type_9,
												0 total_integral_type_10,
												0 total_integral_type_17,
											    0 total_integral_type_18,
												create_date
											FROM
												bu_integral_dtl idtl
											WHERE
												idtl.del_flag = '0'
											AND idtl.tally_mode = #{tallyMode_7 }
											AND idtl.type = #{type_7 }
											AND idtl.create_date >= #{startStatisticDate }
											AND idtl.create_date <= #{endStatisticDate }
											UNION ALL
												SELECT
													0 total_integral_type_1,
													0 total_integral_type_2,
													0 total_integral_type_3,
													0 total_integral_type_4,
													0 total_integral_type_5,
													0 total_integral_type_6,
													0 total_integral_type_7,
													IFNULL(sum(idtl.integral), 0) total_integral_type_8,
													0 total_integral_type_9,
													0 total_integral_type_10,
													0 total_integral_type_17,
													0 total_integral_type_18,
													create_date
												FROM
													bu_integral_dtl idtl
												WHERE
													idtl.del_flag = '0'
												AND idtl.tally_mode = #{tallyMode_8 }
												AND idtl.type = #{type_8 }
												AND idtl.create_date >= #{startStatisticDate }
												AND idtl.create_date <= #{endStatisticDate }
												UNION ALL
													SELECT
														0 total_integral_type_1,
														0 total_integral_type_2,
														0 total_integral_type_3,
														0 total_integral_type_4,
														0 total_integral_type_5,
														0 total_integral_type_6,
														0 total_integral_type_7,
														0 total_integral_type_8,
														IFNULL(sum(idtl.integral), 0) total_integral_type_9,
														0 total_integral_type_10,
														0 total_integral_type_17,
														0 total_integral_type_18,
														create_date
													FROM
														bu_integral_dtl idtl
													WHERE
														idtl.del_flag = '0'
													AND idtl.tally_mode = #{tallyMode_9 }
													AND idtl.type = #{type_9 }
													AND idtl.create_date >= #{startStatisticDate }
													AND idtl.create_date <= #{endStatisticDate }
													UNION ALL
														SELECT
															0 total_integral_type_1,
															0 total_integral_type_2,
															0 total_integral_type_3,
															0 total_integral_type_4,
															0 total_integral_type_5,
															0 total_integral_type_6,
															0 total_integral_type_7,
															0 total_integral_type_8,
															0 total_integral_type_9,
															IFNULL(sum(idtl.integral), 0) total_integral_type_10,
															0 total_integral_type_17,
															0 total_integral_type_18,
															create_date
														FROM
															bu_integral_dtl idtl
														WHERE
															idtl.del_flag = '0'
														AND idtl.tally_mode = #{tallyMode_10 }
														AND idtl.type = #{type_10 }
														AND idtl.create_date >= #{startStatisticDate }
														AND idtl.create_date <= #{endStatisticDate }
														UNION ALL
														 SELECT
											                0 total_integral_type_1,
											                0 total_integral_type_2,
											                0 total_integral_type_3,
											                0 total_integral_type_4,
											                0 total_integral_type_5,
											                0 total_integral_type_5,
											                0 total_integral_type_7,
											                0 total_integral_type_8,
											                0 total_integral_type_9,
											                0 total_integral_type_10,
											                IFNULL(sum(idtl.integral), 0) total_integral_type_17,
											                0 total_integral_type_18,
											                create_date
										                FROM
											                bu_integral_dtl idtl
										               WHERE
											              idtl.del_flag = '0'
										              AND idtl.tally_mode = #{tallyMode_17}
										              AND idtl.type = #{type_17}
										              AND idtl.create_date >= #{startStatisticDate}
										              AND idtl.create_date <= #{endStatisticDate }
										              UNION ALL
														 SELECT
											                0 total_integral_type_1,
											                0 total_integral_type_2,
											                0 total_integral_type_3,
											                0 total_integral_type_4,
											                0 total_integral_type_5,
											                0 total_integral_type_5,
											                0 total_integral_type_7,
											                0 total_integral_type_8,
											                0 total_integral_type_9,
											                0 total_integral_type_10,
											                0 total_integral_type_17,
											                IFNULL(sum(idtl.integral), 0) total_integral_type_18,
											                create_date
										                FROM
											                bu_integral_dtl idtl
										               WHERE
											              idtl.del_flag = '0'
										              AND idtl.tally_mode = #{tallyMode_18}
										              AND idtl.type = #{type_18}
										              AND idtl.create_date >= #{startStatisticDate}
										              AND idtl.create_date <= #{endStatisticDate }
										                   
										
				) t
			
		]]>
		
 	</select>
 
 
</mapper>