<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MchtContactCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MchContactCustom" extends="com.jf.dao.MchtContactMapper.BaseResultMap">
  	<result column="province_name" property="provinceName" jdbcType="VARCHAR" />
  	<result column="city_name" property="cityName" jdbcType="VARCHAR" />
  	<result column="county_name" property="countyName" jdbcType="VARCHAR" />
  	<result column="mcht_code" property="mchtCode" jdbcType="VARCHAR" />
  	<result column="settled_type" property="settledType" jdbcType="VARCHAR" />
  	<result column="company_name" property="companyName" jdbcType="VARCHAR" />
  	<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
  	<result column="platform_contact_name" property="platformContactName" jdbcType="VARCHAR" />
  	<result column="fwStaff_id" property="fwStaffId" jdbcType="INTEGER" />
  	<result column="fwAssistantStaff_id" property="fwAssistantStaffId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t.*,
     ( select AREA_NAME from bu_p_area p where p.AREA_ID = t.province) province_name,
	 ( select AREA_NAME from bu_p_area p where p.AREA_ID = t.city) city_name,
	 ( select AREA_NAME from bu_p_area p where p.AREA_ID = t.county) county_name,
     (select mcht_code from bu_mcht_info m where m.id = t.mcht_id) mcht_code,
	 (select settled_type from bu_mcht_info m where m.id = t.mcht_id) settled_type,
	 (select company_name from bu_mcht_info m where m.id = t.mcht_id) company_name,
	 (select shop_name from bu_mcht_info m where m.id = t.mcht_id) shop_name,
	 (select contact_name from bu_platform_contact p where p.contact_type='7' and p.id in( select mp.platform_contact_id  from bu_mcht_platform_contact mp  where mp.mcht_id=t.mcht_id and mp.status=1  and mp.del_flag = 0 )) platform_contact_name,
	 (SELECT staff_id from bu_platform_contact p WHERE p.contact_type='7'and p.id in(select mp.platform_contact_id from bu_mcht_platform_contact mp where mp.mcht_id=t.mcht_id and mp.status=1 and del_flag = 0)) fwStaff_id,  
	 (SELECT STAFF_ID from bu_platform_contact p where id =(SELECT assistant_id from bu_platform_contact p WHERE  p.contact_type='7' and p.id in( select mp.platform_contact_id  from bu_mcht_platform_contact mp  where mp.mcht_id=t.mcht_id and mp.status=1  and del_flag = 0 ))) fwAssistantStaff_id
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MchtContactCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_mcht_contact t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_mcht_contact t
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="countByCustomExample" parameterType="com.jf.entity.MchtContactCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_mcht_contact t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

    <select id="selectByExampleGroupBy" resultMap="BaseResultMap" parameterType="List" >
    select * from (SELECT * from bu_mcht_contact where mcht_id in <foreach collection="ids" item="item" index="index" 
	open="(" separator="," close=")">#{item}</foreach>
	and contact_type = '1' and audit_status = '1' and del_flag = '0' ORDER BY id desc) a GROUP BY a.mcht_id
  </select>
  
</mapper>