<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberExtendCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberExtendCustom"  extends="com.jf.dao.MemberExtendMapper.BaseResultMap">
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="member_mobile" property="memberMobile" jdbcType="VARCHAR" />
    <result column="mcht_company" property="mchtCompany" jdbcType="VARCHAR" />
    <result column="zs_name" property="zsName" jdbcType="VARCHAR" />
    <result column="mcht_code" property="mchtCode" jdbcType="VARCHAR" />
    <result column="member_create_date" property="memberCreateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
	 id, member_id, qq_id, weibo_id, sign_in_remind, zs_platform_contact_id, mcht_settled_apply_id, 
    create_by, create_date, update_by, update_date, remarks, del_flag,
    (select mi.nick from bu_member_info mi where mi.id = me.member_id and mi.del_flag='0' ) member_nick,
	(select mi.mobile from bu_member_info mi where mi.id = me.member_id  and mi.del_flag='0') member_mobile,
	(select mi.create_date from bu_member_info mi where mi.id = me.member_id and mi.del_flag='0' ) member_create_date,
	(select msa.company_name from  bu_mcht_settled_apply msa where msa.id=me.mcht_settled_apply_id and msa.del_flag='0' ) mcht_company,
	(select pc.contact_name  from bu_platform_contact pc where pc.id = me.zs_platform_contact_id and pc.del_flag='0') zs_name,
	(select mi.mcht_code from bu_mcht_settled_apply msa ,bu_mcht_info mi where msa.id = me.mcht_settled_apply_id and mi.id = msa.mcht_id and msa.del_flag='0') mcht_code
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberExtendCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_extend me
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>

  <select id="countByCustomExample" parameterType="com.jf.entity.MemberExtendCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_extend me
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>