<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberCollegeStudentCertificationCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberCollegeStudentCertificationCustom" extends="com.jf.dao.MemberCollegeStudentCertificationMapper.BaseResultMap">
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="member_mobile" property="memberMobile" jdbcType="VARCHAR" />
    <result column="member_status" property="memberStatus" jdbcType="CHAR" />
    <result column="member_createdate" property="memberCreateDate" jdbcType="TIMESTAMP" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, status, pic, commit_date, audit_by, audit_date, audit_reason_status, create_by, 
    create_date, update_by, update_date, remarks, del_flag,
    (select mi.nick from bu_member_info mi where mcs.member_id=mi.id and mi.del_flag='0') member_nick,
    (select mi.mobile from bu_member_info mi where mcs.member_id=mi.id and mi.del_flag='0') member_mobile,
    (select mi.status from bu_member_info mi where mcs.member_id=mi.id and mi.del_flag='0') member_status,
    (select mi.create_date from bu_member_info mi where mcs.member_id=mi.id and mi.del_flag='0') member_createdate,
    (select ss.STAFF_NAME from sys_staff_info ss where mcs.audit_by=ss.STAFF_ID and ss.STATUS='A') member_name
  </sql>
  <select id="memberCollegeStudentCertificationCustomSelectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberCollegeStudentCertificationCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_college_student_certification mcs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="memberCollegeStudentCertificationCustomCountByExample" parameterType="com.jf.entity.MemberCollegeStudentCertificationCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_college_student_certification mcs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>