<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberSignInCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberSignInCustom" extends="com.jf.dao.MemberSignInMapper.BaseResultMap" >
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="member_mobile" property="memberMobile" jdbcType="VARCHAR" />
    <result column="member_balance" property="memberBalance" jdbcType="DECIMAL" />
    <result column="member_account_id" property="memberAccountId" jdbcType="INTEGER" />
    <result column="one_amount_sum" property="oneAmountSum" jdbcType="DECIMAL" />
    <result column="two_amount_sum" property="twoAmountSum" jdbcType="DECIMAL" />
    <result column="three_amount_sum" property="threeAmountSum" jdbcType="DECIMAL" />
    <result column="four_amount_sum" property="fourAmountSum" jdbcType="DECIMAL" />
    <result column="five_amount_sum" property="fiveAmountSum" jdbcType="DECIMAL" />
    <result column="six_amount_sum" property="sixAmountSum" jdbcType="DECIMAL" />
    <result column="amount_sum" property="amountSum" jdbcType="DECIMAL" />
    <result column="expense_count" property="expenseCount" jdbcType="INTEGER" />
    <result column="two_amount_count" property="twoAmountCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, last_sign_in_date, most_continuity, current_continuity, send_count, 
    is_send_warn, popup_count, source_member_id, create_by, create_date, update_by, update_date, 
    remarks, del_flag,
    (select mi.nick from bu_member_info mi where mi.del_flag = '0' and mi.id = t.member_id) member_nick, <!-- 昵称 -->
    (select mi.mobile from bu_member_info mi where mi.del_flag = '0' and mi.id = t.member_id) member_mobile, <!-- 会员手机号码 -->
    (select ma.balance from bu_member_account ma where ma.del_flag = '0' and ma.member_id = t.member_id) member_balance, <!-- 账户余额 -->
    (select ma.id from bu_member_account ma where ma.del_flag = '0' and ma.member_id = t.member_id) member_account_id, <!-- 账户ID -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type = '1' and ma.member_id = t.member_id) one_amount_sum, <!-- 签到现金额 -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type in('2', '3') and ma.member_id = t.member_id) two_amount_sum, <!-- 已提现金额 -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type = '3' and ma.member_id = t.member_id) three_amount_sum, <!-- 兑换优惠券 -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type = '4' and ma.member_id = t.member_id) four_amount_sum, <!-- 冻结 -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type = '5' and ma.member_id = t.member_id) five_amount_sum, <!-- 好友签到助力现金额 -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type = '6' and ma.member_id = t.member_id) six_amount_sum, <!-- 连签红包 -->
    (select ifnull(sum(mad.amount), 0) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type in('1', '5', '6') and ma.member_id = t.member_id) amount_sum, <!-- 累计签到金额 -->
    (select count(*) from bu_combine_order co where co.del_flag = '0' and co.pay_status = '1' and co.member_id = t.member_id) expense_count, <!-- 消费数 -->
    (select count(*) from bu_member_account ma, bu_member_account_dtl mad where ma.del_flag = '0' and mad.del_flag = '0' and ma.id = mad.acc_id and mad.biz_type in('2', '3') and ma.member_id = t.member_id) two_amount_count <!-- 提现次数 -->
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberSignInCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_sign_in t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_member_sign_in t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.MemberSignInCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_sign_in t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCustomExampleSelective" parameterType="map" >
    update bu_member_sign_in t
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.lastSignInDate != null" >
        last_sign_in_date = #{record.lastSignInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mostContinuity != null" >
        most_continuity = #{record.mostContinuity,jdbcType=INTEGER},
      </if>
      <if test="record.currentContinuity != null" >
        current_continuity = #{record.currentContinuity,jdbcType=INTEGER},
      </if>
      <if test="record.sendCount != null" >
        send_count = #{record.sendCount,jdbcType=INTEGER},
      </if>
      <if test="record.isSendWarn != null" >
        is_send_warn = #{record.isSendWarn,jdbcType=CHAR},
      </if>
      <if test="record.popupCount != null" >
        popup_count = #{record.popupCount,jdbcType=INTEGER},
      </if>
      <if test="record.sourceMemberId != null" >
        source_member_id = #{record.sourceMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>