<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberActivityFootprintCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberActivityFootprintCustom"  extends="com.jf.dao.MemberActivityFootprintMapper.BaseResultMap">
    <result column="activity_mchtcode" property="activityMchtCode" jdbcType="VARCHAR" />
    <result column="activity_mchtshopname" property="activityMchtShopName" jdbcType="VARCHAR" />
    <result column="activity_product_type_name" property="activityProductTypename" jdbcType="VARCHAR" />
    <result column="activity_product_brand_name" property="activityProductBrandname" jdbcType="VARCHAR" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="benefit_point" property="benefitPoint" jdbcType="VARCHAR"/>
    <result column="preferential_type_desc" property="preferentialTypeDesc" jdbcType="VARCHAR" />
    <result column="sum_coo_pass" property="sumCooPass" jdbcType="INTEGER" />
    <result column="activity_status" property="activityStatus" jdbcType="VARCHAR" />
    <result column="preheat_time" property="preheatTime" jdbcType="TIMESTAMP" />
    <result column="activity_begin_time" property="activityBeginTime" jdbcType="TIMESTAMP" />
    <result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, activity_id, create_by, create_date, update_by, update_date, remarks, 
    del_flag,
    (select b.nick from bu_member_info b where b.id=a.member_id) nick,
	(select m.mcht_code from bu_activity c,bu_mcht_info m where a.activity_id=c.id and c.mcht_id=m.id and c.del_flag='0' and m.del_flag='0') activity_mchtcode,
	(select m.shop_name from bu_activity c,bu_mcht_info m where a.activity_id=c.id and c.mcht_id=m.id and c.del_flag='0' and m.del_flag='0') activity_mchtshopname,
	(select p.name from bu_activity c,bu_product_type p where a.activity_id=c.id and c.product_type_id=p.id and c.del_flag='0' and p.del_flag='0' LIMIT 1) activity_product_type_name,
	(select b.name from bu_activity c,bu_product_brand b where a.activity_id=c.id and c.product_brand_id=b.id and c.del_flag='0' and b.del_flag='0') activity_product_brand_name,
	(select c.name from bu_activity c where a.activity_id=c.id and c.del_flag='0') activity_name,
    (select ac.benefit_point from bu_activity_area ac,bu_activity c where ac.id=c.activity_area_id and a.activity_id=c.id and ac.del_flag='0') benefit_point,
    FUN_GET_STATUS_DESC("BU_ACTIVITY_AREA", "PREFERENTIAL_TYPE", (select baa.preferential_type from bu_activity_area baa,bu_activity ba where baa.del_flag = '0' and baa.id = ba.activity_area_id and a.activity_id=ba.id)) preferential_type_desc,
    (select count(*) from bu_activity_product bap, bu_activity ba where bap.activity_id = ba.id and a.activity_id=ba.id and bap.del_flag = '0' and bap.refuse_flag != '1' and bap.operate_audit_status = '2' and bap.coo_audit_status = '2') sum_coo_pass,
    (select c.status from bu_activity c where a.activity_id=c.id and c.del_flag='0') activity_status,
    (select baa.preheat_time from bu_activity_area baa,bu_activity c where baa.id = c.activity_area_id and a.activity_id=c.id and baa.del_flag = '0') preheat_time,
    (select baa.activity_begin_time from bu_activity_area baa, bu_activity c where baa.id=c.activity_area_id and a.activity_id=c.id) activity_begin_time,
    (select baa.activity_end_time from bu_activity_area baa,bu_activity c where baa.id = c.activity_area_id and a.activity_id=c.id and baa.del_flag = '0') activity_end_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberFootprintExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_activity_footprint a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_member_activity_footprint a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.jf.entity.MemberFootprintExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_activity_footprint a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>