<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberSignInDtlMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberSignInDtl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_sign_in" property="memberSignIn" jdbcType="INTEGER" />
    <result column="reward_type" property="rewardType" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="extra_amount" property="extraAmount" jdbcType="DECIMAL" />
    <result column="sign_in_cnf_id" property="signInCnfId" jdbcType="INTEGER" />
    <result column="sign_in_cnf_dtl" property="signInCnfDtl" jdbcType="INTEGER" />
    <result column="current_source_member_id" property="currentSourceMemberId" jdbcType="INTEGER" />
    <result column="is_help" property="isHelp" jdbcType="CHAR" />
    <result column="help_amount" property="helpAmount" jdbcType="DECIMAL" />
    <result column="is_help_amount_get" property="isHelpAmountGet" jdbcType="CHAR" />
    <result column="sign_in_client" property="signInClient" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, member_sign_in, reward_type, amount, extra_amount, sign_in_cnf_id, 
    sign_in_cnf_dtl, current_source_member_id, is_help, help_amount, is_help_amount_get, 
    sign_in_client, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberSignInDtlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_sign_in_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_member_sign_in_dtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_member_sign_in_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.MemberSignInDtlExample" >
    delete from bu_member_sign_in_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.MemberSignInDtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_member_sign_in_dtl (member_id, member_sign_in, reward_type, 
      amount, extra_amount, sign_in_cnf_id, 
      sign_in_cnf_dtl, current_source_member_id, is_help, 
      help_amount, is_help_amount_get, sign_in_client, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{memberId,jdbcType=INTEGER}, #{memberSignIn,jdbcType=INTEGER}, #{rewardType,jdbcType=CHAR}, 
      #{amount,jdbcType=DECIMAL}, #{extraAmount,jdbcType=DECIMAL}, #{signInCnfId,jdbcType=INTEGER}, 
      #{signInCnfDtl,jdbcType=INTEGER}, #{currentSourceMemberId,jdbcType=INTEGER}, #{isHelp,jdbcType=CHAR}, 
      #{helpAmount,jdbcType=DECIMAL}, #{isHelpAmountGet,jdbcType=CHAR}, #{signInClient,jdbcType=CHAR}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.MemberSignInDtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_member_sign_in_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberSignIn != null" >
        member_sign_in,
      </if>
      <if test="rewardType != null" >
        reward_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="extraAmount != null" >
        extra_amount,
      </if>
      <if test="signInCnfId != null" >
        sign_in_cnf_id,
      </if>
      <if test="signInCnfDtl != null" >
        sign_in_cnf_dtl,
      </if>
      <if test="currentSourceMemberId != null" >
        current_source_member_id,
      </if>
      <if test="isHelp != null" >
        is_help,
      </if>
      <if test="helpAmount != null" >
        help_amount,
      </if>
      <if test="isHelpAmountGet != null" >
        is_help_amount_get,
      </if>
      <if test="signInClient != null" >
        sign_in_client,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberSignIn != null" >
        #{memberSignIn,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        #{rewardType,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="extraAmount != null" >
        #{extraAmount,jdbcType=DECIMAL},
      </if>
      <if test="signInCnfId != null" >
        #{signInCnfId,jdbcType=INTEGER},
      </if>
      <if test="signInCnfDtl != null" >
        #{signInCnfDtl,jdbcType=INTEGER},
      </if>
      <if test="currentSourceMemberId != null" >
        #{currentSourceMemberId,jdbcType=INTEGER},
      </if>
      <if test="isHelp != null" >
        #{isHelp,jdbcType=CHAR},
      </if>
      <if test="helpAmount != null" >
        #{helpAmount,jdbcType=DECIMAL},
      </if>
      <if test="isHelpAmountGet != null" >
        #{isHelpAmountGet,jdbcType=CHAR},
      </if>
      <if test="signInClient != null" >
        #{signInClient,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.MemberSignInDtlExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_sign_in_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_member_sign_in_dtl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.memberSignIn != null" >
        member_sign_in = #{record.memberSignIn,jdbcType=INTEGER},
      </if>
      <if test="record.rewardType != null" >
        reward_type = #{record.rewardType,jdbcType=CHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.extraAmount != null" >
        extra_amount = #{record.extraAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.signInCnfId != null" >
        sign_in_cnf_id = #{record.signInCnfId,jdbcType=INTEGER},
      </if>
      <if test="record.signInCnfDtl != null" >
        sign_in_cnf_dtl = #{record.signInCnfDtl,jdbcType=INTEGER},
      </if>
      <if test="record.currentSourceMemberId != null" >
        current_source_member_id = #{record.currentSourceMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.isHelp != null" >
        is_help = #{record.isHelp,jdbcType=CHAR},
      </if>
      <if test="record.helpAmount != null" >
        help_amount = #{record.helpAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.isHelpAmountGet != null" >
        is_help_amount_get = #{record.isHelpAmountGet,jdbcType=CHAR},
      </if>
      <if test="record.signInClient != null" >
        sign_in_client = #{record.signInClient,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_member_sign_in_dtl
    set id = #{record.id,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=INTEGER},
      member_sign_in = #{record.memberSignIn,jdbcType=INTEGER},
      reward_type = #{record.rewardType,jdbcType=CHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      extra_amount = #{record.extraAmount,jdbcType=DECIMAL},
      sign_in_cnf_id = #{record.signInCnfId,jdbcType=INTEGER},
      sign_in_cnf_dtl = #{record.signInCnfDtl,jdbcType=INTEGER},
      current_source_member_id = #{record.currentSourceMemberId,jdbcType=INTEGER},
      is_help = #{record.isHelp,jdbcType=CHAR},
      help_amount = #{record.helpAmount,jdbcType=DECIMAL},
      is_help_amount_get = #{record.isHelpAmountGet,jdbcType=CHAR},
      sign_in_client = #{record.signInClient,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.MemberSignInDtl" >
    update bu_member_sign_in_dtl
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberSignIn != null" >
        member_sign_in = #{memberSignIn,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        reward_type = #{rewardType,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="extraAmount != null" >
        extra_amount = #{extraAmount,jdbcType=DECIMAL},
      </if>
      <if test="signInCnfId != null" >
        sign_in_cnf_id = #{signInCnfId,jdbcType=INTEGER},
      </if>
      <if test="signInCnfDtl != null" >
        sign_in_cnf_dtl = #{signInCnfDtl,jdbcType=INTEGER},
      </if>
      <if test="currentSourceMemberId != null" >
        current_source_member_id = #{currentSourceMemberId,jdbcType=INTEGER},
      </if>
      <if test="isHelp != null" >
        is_help = #{isHelp,jdbcType=CHAR},
      </if>
      <if test="helpAmount != null" >
        help_amount = #{helpAmount,jdbcType=DECIMAL},
      </if>
      <if test="isHelpAmountGet != null" >
        is_help_amount_get = #{isHelpAmountGet,jdbcType=CHAR},
      </if>
      <if test="signInClient != null" >
        sign_in_client = #{signInClient,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.MemberSignInDtl" >
    update bu_member_sign_in_dtl
    set member_id = #{memberId,jdbcType=INTEGER},
      member_sign_in = #{memberSignIn,jdbcType=INTEGER},
      reward_type = #{rewardType,jdbcType=CHAR},
      amount = #{amount,jdbcType=DECIMAL},
      extra_amount = #{extraAmount,jdbcType=DECIMAL},
      sign_in_cnf_id = #{signInCnfId,jdbcType=INTEGER},
      sign_in_cnf_dtl = #{signInCnfDtl,jdbcType=INTEGER},
      current_source_member_id = #{currentSourceMemberId,jdbcType=INTEGER},
      is_help = #{isHelp,jdbcType=CHAR},
      help_amount = #{helpAmount,jdbcType=DECIMAL},
      is_help_amount_get = #{isHelpAmountGet,jdbcType=CHAR},
      sign_in_client = #{signInClient,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>