<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.OrderDtlMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.OrderDtl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sub_order_id" property="subOrderId" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="activity_area_id" property="activityAreaId" jdbcType="INTEGER" />
    <result column="single_product_activity_id" property="singleProductActivityId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_item_id" property="productItemId" jdbcType="INTEGER" />
    <result column="cloud_product_item_id" property="cloudProductItemId" jdbcType="INTEGER" />
    <result column="sku_pic" property="skuPic" jdbcType="VARCHAR" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="art_no" property="artNo" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="product_prop_desc" property="productPropDesc" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="tag_price" property="tagPrice" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="settle_price" property="settlePrice" jdbcType="DECIMAL" />
    <result column="pop_commission_rate" property="popCommissionRate" jdbcType="DECIMAL" />
    <result column="platform_preferential" property="platformPreferential" jdbcType="DECIMAL" />
    <result column="mcht_preferential" property="mchtPreferential" jdbcType="DECIMAL" />
    <result column="integral_preferential" property="integralPreferential" jdbcType="DECIMAL" />
    <result column="settle_amount" property="settleAmount" jdbcType="DECIMAL" />
    <result column="commission_amount" property="commissionAmount" jdbcType="DECIMAL" />
    <result column="refund_date" property="refundDate" jdbcType="TIMESTAMP" />
    <result column="product_status" property="productStatus" jdbcType="CHAR" />
    <result column="is_give" property="isGive" jdbcType="CHAR" />
    <result column="mcht_settle_order_id" property="mchtSettleOrderId" jdbcType="INTEGER" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="is_svip_buy" property="isSvipBuy" jdbcType="CHAR" />
    <result column="svip_discount" property="svipDiscount" jdbcType="DECIMAL" />
    <result column="selling_price" property="sellingPrice" jdbcType="DECIMAL" />
    <result column="dtl_express_id" property="dtlExpressId" jdbcType="INTEGER" />
    <result column="dtl_express_no" property="dtlExpressNo" jdbcType="VARCHAR" />
    <result column="delivery_status" property="deliveryStatus" jdbcType="CHAR" />
    <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
    <result column="marked_out_of_stock" property="markedOutOfStock" jdbcType="CHAR" />
    <result column="distribution_member_id" property="distributionMemberId" jdbcType="INTEGER" />
    <result column="distribution_amount" property="distributionAmount" jdbcType="DECIMAL" />
    <result column="distribution_settle_status" property="distributionSettleStatus" jdbcType="CHAR" />
    <result column="distribution_settle_date" property="distributionSettleDate" jdbcType="TIMESTAMP" />
    <result column="product_status_date" property="productStatusDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sub_order_id, activity_id, activity_area_id, single_product_activity_id, product_id, 
    product_item_id, cloud_product_item_id, sku_pic, sku, product_name, art_no, brand_name, 
    product_prop_desc, quantity, tag_price, sale_price, pay_amount, settle_price, pop_commission_rate, 
    platform_preferential, mcht_preferential, integral_preferential, settle_amount, commission_amount, 
    refund_date, product_status, is_give, mcht_settle_order_id, freight, original_price, 
    is_svip_buy, svip_discount, selling_price, dtl_express_id, dtl_express_no, delivery_status, 
    delivery_date, marked_out_of_stock,distribution_member_id,distribution_amount,distribution_settle_status,distribution_settle_date,product_status_date,create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.OrderDtlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_order_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_order_dtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_order_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.OrderDtlExample" >
    delete from bu_order_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.OrderDtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_order_dtl (sub_order_id, activity_id, activity_area_id, 
      single_product_activity_id, product_id, product_item_id, 
      cloud_product_item_id, sku_pic, sku, 
      product_name, art_no, brand_name, 
      product_prop_desc, quantity, tag_price, 
      sale_price, pay_amount, settle_price, 
      pop_commission_rate, platform_preferential, 
      mcht_preferential, integral_preferential, 
      settle_amount, commission_amount, refund_date, 
      product_status, is_give, mcht_settle_order_id, 
      freight, original_price, is_svip_buy, 
      svip_discount, selling_price, dtl_express_id, 
      dtl_express_no, delivery_status, delivery_date, 
      marked_out_of_stock,distribution_amount,distribution_settle_statu,distribution_settle_date,product_status_date, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag)
    values (#{subOrderId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{activityAreaId,jdbcType=INTEGER}, 
      #{singleProductActivityId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productItemId,jdbcType=INTEGER}, 
      #{cloudProductItemId,jdbcType=INTEGER}, #{skuPic,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{artNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{productPropDesc,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{tagPrice,jdbcType=DECIMAL}, 
      #{salePrice,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, #{settlePrice,jdbcType=DECIMAL}, 
      #{popCommissionRate,jdbcType=DECIMAL}, #{platformPreferential,jdbcType=DECIMAL}, 
      #{mchtPreferential,jdbcType=DECIMAL}, #{integralPreferential,jdbcType=DECIMAL}, 
      #{settleAmount,jdbcType=DECIMAL}, #{commissionAmount,jdbcType=DECIMAL}, #{refundDate,jdbcType=TIMESTAMP}, 
      #{productStatus,jdbcType=CHAR}, #{isGive,jdbcType=CHAR}, #{mchtSettleOrderId,jdbcType=INTEGER}, 
      #{freight,jdbcType=DECIMAL}, #{originalPrice,jdbcType=DECIMAL}, #{isSvipBuy,jdbcType=CHAR}, 
      #{svipDiscount,jdbcType=DECIMAL}, #{sellingPrice,jdbcType=DECIMAL}, #{dtlExpressId,jdbcType=INTEGER}, 
      #{dtlExpressNo,jdbcType=VARCHAR}, #{deliveryStatus,jdbcType=CHAR}, #{deliveryDate,jdbcType=TIMESTAMP}, 
      #{markedOutOfStock,jdbcType=CHAR}, #{distributionMemberId,jdbcType=INTEGER},#{distributionAmount,jdbcType=DECIMAL},#{distributionSettleStatus,jdbcType=CHAR},#{distributionSettleDate,jdbcType=TIMESTAMP},#{productStatusDate,jdbcType=TIMESTAMP},#{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.OrderDtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_order_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subOrderId != null" >
        sub_order_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityAreaId != null" >
        activity_area_id,
      </if>
      <if test="singleProductActivityId != null" >
        single_product_activity_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productItemId != null" >
        product_item_id,
      </if>
      <if test="cloudProductItemId != null" >
        cloud_product_item_id,
      </if>
      <if test="skuPic != null" >
        sku_pic,
      </if>
      <if test="sku != null" >
        sku,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="artNo != null" >
        art_no,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="productPropDesc != null" >
        product_prop_desc,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="tagPrice != null" >
        tag_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="settlePrice != null" >
        settle_price,
      </if>
      <if test="popCommissionRate != null" >
        pop_commission_rate,
      </if>
      <if test="platformPreferential != null" >
        platform_preferential,
      </if>
      <if test="mchtPreferential != null" >
        mcht_preferential,
      </if>
      <if test="integralPreferential != null" >
        integral_preferential,
      </if>
      <if test="settleAmount != null" >
        settle_amount,
      </if>
      <if test="commissionAmount != null" >
        commission_amount,
      </if>
      <if test="refundDate != null" >
        refund_date,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="isGive != null" >
        is_give,
      </if>
      <if test="mchtSettleOrderId != null" >
        mcht_settle_order_id,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="isSvipBuy != null" >
        is_svip_buy,
      </if>
      <if test="svipDiscount != null" >
        svip_discount,
      </if>
      <if test="sellingPrice != null" >
        selling_price,
      </if>
      <if test="dtlExpressId != null" >
        dtl_express_id,
      </if>
      <if test="dtlExpressNo != null" >
        dtl_express_no,
      </if>
      <if test="deliveryStatus != null" >
        delivery_status,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="markedOutOfStock != null" >
        marked_out_of_stock,
      </if>
      <if test="productStatusDate != null" >
        product_status_date,
      </if>
      <if test="distributionMemberId != null" >
        distribution_member_id,
      </if>
      <if test="distributionAmount != null" >
        distribution_amount,
      </if>
      <if test="distributionSettleStatus != null" >
        distribution_settle_status,
      </if>
      <if test="distributionSettleDate != null" >
        distribution_settle_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subOrderId != null" >
        #{subOrderId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activityAreaId != null" >
        #{activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="singleProductActivityId != null" >
        #{singleProductActivityId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productItemId != null" >
        #{productItemId,jdbcType=INTEGER},
      </if>
      <if test="cloudProductItemId != null" >
        #{cloudProductItemId,jdbcType=INTEGER},
      </if>
      <if test="skuPic != null" >
        #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="artNo != null" >
        #{artNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productPropDesc != null" >
        #{productPropDesc,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="tagPrice != null" >
        #{tagPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="settlePrice != null" >
        #{settlePrice,jdbcType=DECIMAL},
      </if>
      <if test="popCommissionRate != null" >
        #{popCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="platformPreferential != null" >
        #{platformPreferential,jdbcType=DECIMAL},
      </if>
      <if test="mchtPreferential != null" >
        #{mchtPreferential,jdbcType=DECIMAL},
      </if>
      <if test="integralPreferential != null" >
        #{integralPreferential,jdbcType=DECIMAL},
      </if>
      <if test="settleAmount != null" >
        #{settleAmount,jdbcType=DECIMAL},
      </if>
      <if test="commissionAmount != null" >
        #{commissionAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundDate != null" >
        #{refundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=CHAR},
      </if>
      <if test="productStatusDate != null" >
        #{productStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isGive != null" >
        #{isGive,jdbcType=CHAR},
      </if>
      <if test="mchtSettleOrderId != null" >
        #{mchtSettleOrderId,jdbcType=INTEGER},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="isSvipBuy != null" >
        #{isSvipBuy,jdbcType=CHAR},
      </if>
      <if test="svipDiscount != null" >
        #{svipDiscount,jdbcType=DECIMAL},
      </if>
      <if test="sellingPrice != null" >
        #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="dtlExpressId != null" >
        #{dtlExpressId,jdbcType=INTEGER},
      </if>
      <if test="dtlExpressNo != null" >
        #{dtlExpressNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryStatus != null" >
        #{deliveryStatus,jdbcType=CHAR},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="markedOutOfStock != null" >
        #{markedOutOfStock,jdbcType=CHAR},
      </if>
      <if test="distributionMemberId != null" >
        #{distributionMemberId,jdbcType=INTEGER},
      </if>
      <if test="distributionAmount != null" >
        #{distributionAmount,jdbcType=DECIMAL},
      </if>
      <if test="distributionSettleStatus != null" >
        #{distributionSettleStatus,jdbcType=CHAR},
      </if>
      <if test="distributionSettleDate != null" >
        #{distributionSettleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.OrderDtlExample" resultType="java.lang.Integer" >
    select count(*) from bu_order_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_order_dtl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subOrderId != null" >
        sub_order_id = #{record.subOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.activityAreaId != null" >
        activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.singleProductActivityId != null" >
        single_product_activity_id = #{record.singleProductActivityId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productItemId != null" >
        product_item_id = #{record.productItemId,jdbcType=INTEGER},
      </if>
      <if test="record.cloudProductItemId != null" >
        cloud_product_item_id = #{record.cloudProductItemId,jdbcType=INTEGER},
      </if>
      <if test="record.skuPic != null" >
        sku_pic = #{record.skuPic,jdbcType=VARCHAR},
      </if>
      <if test="record.sku != null" >
        sku = #{record.sku,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.artNo != null" >
        art_no = #{record.artNo,jdbcType=VARCHAR},
      </if>
      <if test="record.brandName != null" >
        brand_name = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPropDesc != null" >
        product_prop_desc = #{record.productPropDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.tagPrice != null" >
        tag_price = #{record.tagPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.salePrice != null" >
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.payAmount != null" >
        pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.settlePrice != null" >
        settle_price = #{record.settlePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.popCommissionRate != null" >
        pop_commission_rate = #{record.popCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="record.platformPreferential != null" >
        platform_preferential = #{record.platformPreferential,jdbcType=DECIMAL},
      </if>
      <if test="record.mchtPreferential != null" >
        mcht_preferential = #{record.mchtPreferential,jdbcType=DECIMAL},
      </if>
      <if test="record.integralPreferential != null" >
        integral_preferential = #{record.integralPreferential,jdbcType=DECIMAL},
      </if>
      <if test="record.settleAmount != null" >
        settle_amount = #{record.settleAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.commissionAmount != null" >
        commission_amount = #{record.commissionAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.refundDate != null" >
        refund_date = #{record.refundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productStatus != null" >
        product_status = #{record.productStatus,jdbcType=CHAR},
      </if>
      <if test="record.isGive != null" >
        is_give = #{record.isGive,jdbcType=CHAR},
      </if>
      <if test="record.mchtSettleOrderId != null" >
        mcht_settle_order_id = #{record.mchtSettleOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.freight != null" >
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.originalPrice != null" >
        original_price = #{record.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isSvipBuy != null" >
        is_svip_buy = #{record.isSvipBuy,jdbcType=CHAR},
      </if>
      <if test="record.svipDiscount != null" >
        svip_discount = #{record.svipDiscount,jdbcType=DECIMAL},
      </if>
      <if test="record.sellingPrice != null" >
        selling_price = #{record.sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.dtlExpressId != null" >
        dtl_express_id = #{record.dtlExpressId,jdbcType=INTEGER},
      </if>
      <if test="record.dtlExpressNo != null" >
        dtl_express_no = #{record.dtlExpressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryStatus != null" >
        delivery_status = #{record.deliveryStatus,jdbcType=CHAR},
      </if>
      <if test="record.deliveryDate != null" >
        delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.markedOutOfStock != null" >
        marked_out_of_stock = #{record.markedOutOfStock,jdbcType=CHAR},
      </if>
      <if test="record.distributionMemberId != null" >
        distribution_member_id = #{record.distributionMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.distributionAmount != null" >
        distribution_amount = #{record.distributionAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.distributionSettleStatus!= null" >
        distribution_settle_status = #{record.distributionSettleStatus,jdbcType=CHAR},
      </if>
      <if test="record.distributionSettleDate != null" >
        distribution_settle_date = #{record.distributionSettleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productStatusDate != null" >
        product_status_date = #{record.productStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_order_dtl
    set id = #{record.id,jdbcType=INTEGER},
      sub_order_id = #{record.subOrderId,jdbcType=INTEGER},
      activity_id = #{record.activityId,jdbcType=INTEGER},
      activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      single_product_activity_id = #{record.singleProductActivityId,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      product_item_id = #{record.productItemId,jdbcType=INTEGER},
      cloud_product_item_id = #{record.cloudProductItemId,jdbcType=INTEGER},
      sku_pic = #{record.skuPic,jdbcType=VARCHAR},
      sku = #{record.sku,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      art_no = #{record.artNo,jdbcType=VARCHAR},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      product_prop_desc = #{record.productPropDesc,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      tag_price = #{record.tagPrice,jdbcType=DECIMAL},
      sale_price = #{record.salePrice,jdbcType=DECIMAL},
      pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      settle_price = #{record.settlePrice,jdbcType=DECIMAL},
      pop_commission_rate = #{record.popCommissionRate,jdbcType=DECIMAL},
      platform_preferential = #{record.platformPreferential,jdbcType=DECIMAL},
      mcht_preferential = #{record.mchtPreferential,jdbcType=DECIMAL},
      integral_preferential = #{record.integralPreferential,jdbcType=DECIMAL},
      settle_amount = #{record.settleAmount,jdbcType=DECIMAL},
      commission_amount = #{record.commissionAmount,jdbcType=DECIMAL},
      refund_date = #{record.refundDate,jdbcType=TIMESTAMP},
      product_status = #{record.productStatus,jdbcType=CHAR},
      is_give = #{record.isGive,jdbcType=CHAR},
      mcht_settle_order_id = #{record.mchtSettleOrderId,jdbcType=INTEGER},
      freight = #{record.freight,jdbcType=DECIMAL},
      original_price = #{record.originalPrice,jdbcType=DECIMAL},
      is_svip_buy = #{record.isSvipBuy,jdbcType=CHAR},
      svip_discount = #{record.svipDiscount,jdbcType=DECIMAL},
      selling_price = #{record.sellingPrice,jdbcType=DECIMAL},
      dtl_express_id = #{record.dtlExpressId,jdbcType=INTEGER},
      dtl_express_no = #{record.dtlExpressNo,jdbcType=VARCHAR},
      delivery_status = #{record.deliveryStatus,jdbcType=CHAR},
      delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      marked_out_of_stock = #{record.markedOutOfStock,jdbcType=CHAR},
      distribution_member_id = #{record.distributionMemberId,jdbcType=INTEGER},
      distribution_amount = #{record.distributionAmount,jdbcType=DECIMAL},
      distribution_settle_status = #{record.distributionSettleStatus,jdbcType=CHAR},
      distribution_settle_date = #{record.distributionSettleDate,jdbcType=TIMESTAMP},
      product_status_date = #{record.productStatusDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.OrderDtl" >
    update bu_order_dtl
    <set >
      <if test="subOrderId != null" >
        sub_order_id = #{subOrderId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activityAreaId != null" >
        activity_area_id = #{activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="singleProductActivityId != null" >
        single_product_activity_id = #{singleProductActivityId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productItemId != null" >
        product_item_id = #{productItemId,jdbcType=INTEGER},
      </if>
      <if test="cloudProductItemId != null" >
        cloud_product_item_id = #{cloudProductItemId,jdbcType=INTEGER},
      </if>
      <if test="skuPic != null" >
        sku_pic = #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="sku != null" >
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="artNo != null" >
        art_no = #{artNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productPropDesc != null" >
        product_prop_desc = #{productPropDesc,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="tagPrice != null" >
        tag_price = #{tagPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="settlePrice != null" >
        settle_price = #{settlePrice,jdbcType=DECIMAL},
      </if>
      <if test="popCommissionRate != null" >
        pop_commission_rate = #{popCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="platformPreferential != null" >
        platform_preferential = #{platformPreferential,jdbcType=DECIMAL},
      </if>
      <if test="mchtPreferential != null" >
        mcht_preferential = #{mchtPreferential,jdbcType=DECIMAL},
      </if>
      <if test="integralPreferential != null" >
        integral_preferential = #{integralPreferential,jdbcType=DECIMAL},
      </if>
      <if test="settleAmount != null" >
        settle_amount = #{settleAmount,jdbcType=DECIMAL},
      </if>
      <if test="commissionAmount != null" >
        commission_amount = #{commissionAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundDate != null" >
        refund_date = #{refundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=CHAR},
      </if>
      <if test="isGive != null" >
        is_give = #{isGive,jdbcType=CHAR},
      </if>
      <if test="mchtSettleOrderId != null" >
        mcht_settle_order_id = #{mchtSettleOrderId,jdbcType=INTEGER},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="isSvipBuy != null" >
        is_svip_buy = #{isSvipBuy,jdbcType=CHAR},
      </if>
      <if test="svipDiscount != null" >
        svip_discount = #{svipDiscount,jdbcType=DECIMAL},
      </if>
      <if test="sellingPrice != null" >
        selling_price = #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="dtlExpressId != null" >
        dtl_express_id = #{dtlExpressId,jdbcType=INTEGER},
      </if>
      <if test="dtlExpressNo != null" >
        dtl_express_no = #{dtlExpressNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryStatus != null" >
        delivery_status = #{deliveryStatus,jdbcType=CHAR},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="markedOutOfStock != null" >
        marked_out_of_stock = #{markedOutOfStock,jdbcType=CHAR},
      </if>
      <if test="distributionMemberId != null" >
        distribution_member_id = #{distributionMemberId,jdbcType=INTEGER},
      </if>
      <if test="distributionAmount != null" >
        distribution_amount = #{distributionAmount,jdbcType=DECIMAL},
      </if>
      <if test="distributionSettleStatus != null" >
        distribution_settle_status = #{distributionSettleStatus,jdbcType=CHAR},
      </if>
      <if test="distributionSettleDate != null" >
        distribution_settle_date = #{distributionSettleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatusDate != null" >
        product_status_date = #{productStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.OrderDtl" >
    update bu_order_dtl
    set sub_order_id = #{subOrderId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER},
      activity_area_id = #{activityAreaId,jdbcType=INTEGER},
      single_product_activity_id = #{singleProductActivityId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      product_item_id = #{productItemId,jdbcType=INTEGER},
      cloud_product_item_id = #{cloudProductItemId,jdbcType=INTEGER},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      art_no = #{artNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      product_prop_desc = #{productPropDesc,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      tag_price = #{tagPrice,jdbcType=DECIMAL},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      settle_price = #{settlePrice,jdbcType=DECIMAL},
      pop_commission_rate = #{popCommissionRate,jdbcType=DECIMAL},
      platform_preferential = #{platformPreferential,jdbcType=DECIMAL},
      mcht_preferential = #{mchtPreferential,jdbcType=DECIMAL},
      integral_preferential = #{integralPreferential,jdbcType=DECIMAL},
      settle_amount = #{settleAmount,jdbcType=DECIMAL},
      commission_amount = #{commissionAmount,jdbcType=DECIMAL},
      refund_date = #{refundDate,jdbcType=TIMESTAMP},
      product_status = #{productStatus,jdbcType=CHAR},
      is_give = #{isGive,jdbcType=CHAR},
      mcht_settle_order_id = #{mchtSettleOrderId,jdbcType=INTEGER},
      freight = #{freight,jdbcType=DECIMAL},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      is_svip_buy = #{isSvipBuy,jdbcType=CHAR},
      svip_discount = #{svipDiscount,jdbcType=DECIMAL},
      selling_price = #{sellingPrice,jdbcType=DECIMAL},
      dtl_express_id = #{dtlExpressId,jdbcType=INTEGER},
      dtl_express_no = #{dtlExpressNo,jdbcType=VARCHAR},
      delivery_status = #{deliveryStatus,jdbcType=CHAR},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      marked_out_of_stock = #{markedOutOfStock,jdbcType=CHAR},
      distribution_member_id = #{distributionMemberId,jdbcType=INTEGER},
      distribution_amount = #{distributionAmount,jdbcType=DECIMAL},
      distribution_settle_status = #{distributionSettleStatus,jdbcType=CHAR},
      distribution_settle_date = #{distributionSettleDate,jdbcType=TIMESTAMP},
      product_status_date = #{productStatusDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>