<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.PlatformContactCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.PlatformContactCustom"  extends="com.jf.dao.PlatformContactMapper.BaseResultMap">
 	<result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
 	<result column="contact_type_desc" property="contactTypeDesc" jdbcType="VARCHAR" />
 	<result column="staff_name" property="staffName" jdbcType="VARCHAR" />
 	<result column="assistant_contact_name" property="assistantcontactname" jdbcType="VARCHAR"/>
 	<result column="assistant_staff_id" property="assistantStaffId" jdbcType="INTEGER"/>
 	<result column="assistant_staff_name" property="assistantStaffName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    a.*,
    FUN_GET_STATUS_DESC("BU_PLATFORM_CONTACT","STATUS",a.status) status_desc,
    FUN_GET_STATUS_DESC("BU_PLATFORM_CONTACT","CONTACT_TYPE",a.contact_type) contact_type_desc,
    (select b.staff_name from sys_staff_info b where b.staff_id = a.staff_id) staff_name,
    (select b.contact_name from bu_platform_contact b where b.id = a.assistant_id ) assistant_contact_name,
    (select b.staff_id from bu_platform_contact b where b.del_flag = '0' and b.status = '0' and b.id = a.assistant_id ) assistant_staff_id,
    (select s.staff_name from bu_platform_contact b, sys_staff_info s where b.del_flag = '0' and b.status = '0' and b.staff_id = s.staff_id and b.id = a.assistant_id ) assistant_staff_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.PlatformContactExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_platform_contact a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_platform_contact a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.jf.entity.PlatformContactExample" resultType="java.lang.Integer" >
    select count(*) from bu_platform_contact a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
    <select id="selectMchtInfosByPlatContactId" parameterType="int" resultMap="com.jf.dao.MchtInfoMapper.BaseResultMap">
  select b.* from bu_mcht_platform_contact a,bu_mcht_info b where a.mcht_id=b.id and a.platform_contact_id=#{id};
  </select>
  
  
  <select id="selectPlatformContByMchId" parameterType="java.util.HashMap" resultMap="com.jf.dao.PlatformContactMapper.BaseResultMap">
  		select b.* from bu_mcht_platform_contact a,bu_platform_contact b where a.mcht_id = #{mchtId} and a.platform_contact_id = b.id
  		<if test="MAX_NUM!=null and MAX_NUM!=''">
		 limit #{MIN_NUM},#{MAX_NUM}
	     </if>  
  </select>
    <select id="selectPlatformContByMchIdCount" parameterType="java.util.HashMap" resultType="Integer">
  		select count(1) from bu_mcht_platform_contact a,bu_platform_contact b where a.mcht_id = #{mchtId} and a.platform_contact_id = b.id
  </select>
  <select id="getStaffById" parameterType="Integer" resultType="Integer">
  	SELECT pc.staff_id AS staffId FROM bu_platform_contact pc WHERE pc.staff_id=#{staffId} AND pc.contact_type='2' AND pc.del_flag='0' AND pc.status='0'
  </select>
  <select id="getContactNameByMchtIdAndContactType" parameterType="map" resultType="String">
  	SELECT GROUP_CONCAT(b.contact_name) FROM bu_mcht_platform_contact a,bu_platform_contact b,bu_mcht_info c where a.status='1' and a.del_flag='0' and a.mcht_id = c.id AND a.platform_contact_id = b.id AND c.id=#{mchtId} AND b.contact_type = #{contactType}
  </select>
</mapper>