<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.dao.ProductManagerMapper">
	
	 <resultMap type="com.jf.entity.ProductBrand" id="resultProductBrandMap">
		<id column="BRAND_ID" property="brandId" />
		<result column="BRAND_NAME" property="brandName" />
		<result column="PRODUCT_TYPE_ID" property="productTypeId" />
	</resultMap>	
	
	<select id="selectBrandList" parameterType="java.util.Map" resultMap="resultProductBrandMap">
		SELECT BRAND_ID, BRAND_NAME
		  FROM BU_PRODUCT_BRAND
		 WHERE STATUS = 'A'
		   AND PRODUCT_TYPE_ID = #{PRODUCT_TYPE_ID, jdbcType=NUMERIC}
		 ORDER BY BRAND_ID ASC
	</select>
	
	<select id="getProductTypeLevel3First" resultType="java.util.HashMap">
		SELECT *
  FROM (SELECT PRODUCT_TYPE_ID, PRODUCT_TYPE_NAME
          FROM BU_PRODUCT_TYPE T
         WHERE T.PARENT_ID =
               (SELECT *
                  FROM (SELECT PRODUCT_TYPE_ID
                          FROM BU_PRODUCT_TYPE T
                         WHERE T.PARENT_ID = (SELECT *
                                                FROM (SELECT PRODUCT_TYPE_ID
                                                        FROM BU_PRODUCT_TYPE T
                                                       WHERE T.PARENT_ID = 1
                                                         AND T.STATUS = 'A'
                                                       ORDER BY T.ORDER_CODE      ASC,
                                                                T.PRODUCT_TYPE_ID ASC) TMP1
                                               LIMIT 1) 
                           AND T.STATUS = 'A'
                         ORDER BY T.ORDER_CODE ASC, T.PRODUCT_TYPE_ID) TMP2
                 LIMIT 1)
           AND T.STATUS = 'A'
         ORDER BY T.ORDER_CODE ASC, T.PRODUCT_TYPE_ID ASC) TMP3 LIMIT 1
	</select>
	
	<select id="getProductList" parameterType="java.util.Map" resultType="java.util.HashMap">
		  SELECT    A.PRODUCT_ID,
				A.PRODUCT_NAME,
				FUN_GET_PRODUCT_TYPE(A.PRODUCT_TYPE_ID) PRODUCT_TYPE_NAME,
				FUN_GET_BRAND_NAME(A.BRAND_ID) BRAND_NAME,
				FUN_GET_PRODUCT_PRICE(A.PRODUCT_ID) PRODUCT_PRICE,
				DATE_FORMAT(A.CREATE_DATE, '%Y-%m-%d %H:%i:%S') CREATE_DATE,
				A.SHELVES_STAFF_ID,
				(SELECT STAFF_NAME FROM SYS_STAFF_INFO B WHERE B.STAFF_ID=A.SHELVES_STAFF_ID) SHELVES_STAFF_NAME, 
				A.CHECK_STAFF_ID,
				(SELECT STAFF_NAME FROM SYS_STAFF_INFO B WHERE B.STAFF_ID=A.CHECK_STAFF_ID) CHECK_STAFF_NAME,
				DATE_FORMAT(A.CHECK_DATE, '%Y-%m-%d %H:%i:%S') CHECK_DATE,
				A.STATUS,
				FUN_GET_STATUS_DESC('BU_PRODUCT', 'STATUS', A.STATUS) STATUS_DESC,
               FUN_GET_PRODUCT_PICTURE(A.PRODUCT_ID) PIC,
                
				FUN_GET_STATUS_DESC('BU_PRODUCT', 'PRODUCT_CATALOG', A.PRODUCT_CATALOG) PRODUCT_CATALOG
                
		    FROM 
	              BU_PRODUCT A
			WHERE   A.STATUS != 'P'
			<if test="PRODUCT_NAME!=null and PRODUCT_NAME!=''">
			and A.PRODUCT_NAME like '%${PRODUCT_NAME}%' 
		    </if> 
		    
		 	<if test="BRAND_SEARCH!=null and BRAND_SEARCH!=''">
			  AND A.BRAND_ID in(select t.brand_id  from BU_PRODUCT_BRAND t where t.brand_name like '%${BRAND_SEARCH}%')
		    </if>
		    
		    <if test="STATUS!=null and STATUS!=''">
			and A.STATUS=#{STATUS,jdbcType=VARCHAR}
		    </if> 
		<if test="PRODUCTTYPE != null and PRODUCTTYPE != ''">
			AND A.PRODUCT_TYPE_ID IN (SELECT PRODUCT_TYPE_ID FROM BU_PRODUCT_TYPE
			WHERE FIND_IN_SET(PRODUCT_TYPE_ID, QUERYPRODUCTTYPE(#{PRODUCTTYPE})))
		</if>
		order by CREATE_DATE DESC
	</select>
	<resultMap type="java.util.HashMap" id="resultgetProduct">
	<result column="PRODUCT_ID" property="PRODUCT_ID" /> 
	<result column="PRODUCT_CATALOG" property="PRODUCT_CATALOG" /> 
	<result column="PRODUCT_NAME" property="PRODUCT_NAME" /> 
	<result column="PRODUCT_TYPE_ID" property="PRODUCT_TYPE_ID" /> 
	<result column="BRAND_ID" property="BRAND_ID" /> 
	<result column="PRODUCT_TYPE_NAME" property="PRODUCT_TYPE_NAME" /> 
	<result column="BRAND_NAME" property="BRAND_NAME" /> 
	<result column="PRODUCT_PRICE" property="PRODUCT_PRICE" /> 
	<result column="CREATE_DATE" property="CREATE_DATE" /> 
	<result column="SHELVES_STAFF_ID" property="SHELVES_STAFF_ID" /> 
	<result column="SHELVES_STAFF_NAME" property="SHELVES_STAFF_NAME" /> 
	<result column="CHECK_STAFF_ID" property="CHECK_STAFF_ID" /> 
	<result column="CHECK_STAFF_NAME" property="CHECK_STAFF_NAME" /> 
	<result column="CHECK_DATE" property="CHECK_DATE" /> 
	<result column="STATUS" property="STATUS" /> 
	<result column="STATUS_DESC" property="STATUS_DESC" /> 
	<result column="PIC" property="PIC" /> 
	<result column="LEAST_AMOUNT" property="LEAST_AMOUNT" /> 
	<result column="BGN_PRICE" property="BGN_PRICE" /> 
	<result column="END_PRICE" property="END_PRICE" /> 
	 <result column="PRODUCT_DESC" property="PRODUCT_DESC" jdbcType="CLOB" javaType="java.lang.String"/>
		
		</resultMap>
	<select id="getProduct" parameterType="java.util.Map" resultMap="resultgetProduct">
		SELECT  A.PRODUCT_ID,
		        A.PRODUCT_CATALOG,
				A.PRODUCT_NAME,
				PRODUCT_TYPE_ID,
				BRAND_ID,
				FUN_GET_PRODUCT_TYPE(A.PRODUCT_TYPE_ID) PRODUCT_TYPE_NAME,
				FUN_GET_BRAND_NAME(A.BRAND_ID) BRAND_NAME,
				FUN_GET_PRODUCT_PRICE(A.PRODUCT_ID) PRODUCT_PRICE,
				DATE_FORMAT(A.CREATE_DATE, '%Y-%m-%d %H:%i:%S') CREATE_DATE,
				A.SHELVES_STAFF_ID,
				(SELECT STAFF_NAME FROM SYS_STAFF_INFO B WHERE B.STAFF_ID=A.SHELVES_STAFF_ID) SHELVES_STAFF_NAME, 
				A.CHECK_STAFF_ID,
				(SELECT STAFF_NAME FROM SYS_STAFF_INFO B WHERE B.STAFF_ID=A.CHECK_STAFF_ID) CHECK_STAFF_NAME,
				DATE_FORMAT(A.CHECK_DATE, '%Y-%m-%d %H:%i:%S') CHECK_DATE,
				A.STATUS,
				FUN_GET_STATUS_DESC('BU_PRODUCT', 'STATUS', A.STATUS) STATUS_DESC,
                FUN_GET_PRODUCT_PICTURE(A.PRODUCT_ID) PIC,
				 LEAST_AMOUNT,
				BGN_PRICE,
				END_PRICE,
				 PRODUCT_DESC  PRODUCT_DESC
               
		  FROM BU_PRODUCT A 
		 WHERE  A.STATUS != 'P' 
		   AND A.PRODUCT_ID = #{PRODUCT_ID, jdbcType=NUMERIC}
	</select>
	
	<resultMap type="com.gzs.common.beans.ProductType" id="resultProductTypeMap">
		<id column="PRODUCT_TYPE_ID" property="productTypeID" />
		<result column="PRODUCT_TYPE_NAME" property="productTypeName" />
		<result column="PRODUCT_TYPE_DESC" property="productTypeDesc" />
		<result column="PARENT_ID" property="parentID" />
		<result column="PRODUCT_TYPE_PICTURE" property="productTypePicture" />
	</resultMap>
	
	<select id="selectProductTypeList" parameterType="java.util.HashMap" resultMap="resultProductTypeMap">
		SELECT
		   T.PRODUCT_TYPE_ID,
		   T.PRODUCT_TYPE_NAME,
	       T.PRODUCT_TYPE_DESC,
	       T.PARENT_ID,
	       T.PRODUCT_TYPE_PICTURE,
	       T.ORDER_CODE
		FROM
			BU_PRODUCT_TYPE T
		WHERE
			T.STATUS = 'A'
		AND T.PARENT_ID = #{PARENT_ID,jdbcType=NUMERIC}
		ORDER BY
			T.ORDER_CODE
	</select>
	
	 	<resultMap type="com.jf.entity.ProductTypeSpec" id="resultProductSpecType">
		<id column="SPEC_ID" property="specId" />
		<result column="SPEC_NAME" property="specName" />
	</resultMap>
	
	<select id="selectProductTypeSpecList" parameterType="java.util.HashMap" resultMap="resultProductSpecType">
	     SELECT
		    T.SPEC_ID,
			T.SPEC_NAME  
		FROM
			BU_PRODUCT_TYPE_SPEC T
		WHERE T.STATUS = 'A'
		  AND T.INVOLVED_PRICE = #{INVOLVED_PRICE, jdbcType=VARCHAR}
		  AND T.PRODUCT_TYPE_ID =#{PRODUCT_TYPE_ID,jdbcType=NUMERIC}
		ORDER BY T.SPEC_ORDER,T.SPEC_ID
	</select>
	<update id="editCheckProduct" parameterType="java.util.HashMap">
		UPDATE
		BU_PRODUCT
		SET
		PRODUCT_TYPE_ID=#{PRODUCT_TYPE_ID,jdbcType=NUMERIC},
		BRAND_ID=#{BRAND_ID,jdbcType=NUMERIC},
		STATUS=#{STATUS,jdbcType=VARCHAR},
		CHECK_STAFF_ID=#{LOG_STAFF_ID,jdbcType=NUMERIC},
		CHECK_DATE=SYSDATE(),
		CHECK_REMARK=#{CHECK_REMARK},
		STATUS_STAFF_ID=#{LOG_STAFF_ID,jdbcType=NUMERIC},
		STATUS_DATE=SYSDATE()
		WHERE PRODUCT_ID =#{PRODUCT_ID,jdbcType=NUMERIC}
    </update>
    <resultMap type="com.jf.entity.ProductTypeSpec" id="resultProductSpecInfo">
		<id column="SPEC_ID" property="specId" />
		<result column="SPEC_NAME" property="specName" />
		<result column="SPEC_VALUE" property="specValue" />
	</resultMap>
	
	<select id="selectProductSpecInfoList" parameterType="java.util.HashMap" resultMap="resultProductSpecInfo">
	    SELECT
			T.SPEC_ID,
			T.SPEC_NAME,
			(SELECT
					A.SPEC_VALUE
				FROM
					BU_PRODUCT_SPEC A
				WHERE
					A. STATUS = 'A'
				AND A.PRODUCT_ID = #{PRODUCT_ID,jdbcType=NUMERIC}
				AND A.SPEC_ID = T.SPEC_ID
			) SPEC_VALUE
		FROM
			BU_PRODUCT_TYPE_SPEC T
		WHERE
			T.STATUS = 'A'
		AND T.INVOLVED_PRICE = 'N'
		AND T.PRODUCT_TYPE_ID = #{PRODUCT_TYPE_ID,jdbcType=NUMERIC}
		ORDER BY T.SPEC_ORDER,T.SPEC_ID
	 </select>
	 
	<select id="selectProductType" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
		A.PRODUCT_TYPE_ID,
		A.PARENT_ID,
		(SELECT
				T.PARENT_ID
			FROM
				BU_PRODUCT_TYPE T
			WHERE
				T.PRODUCT_TYPE_ID = A.PARENT_ID
		) PARENT_ID_S
	FROM
		BU_PRODUCT_TYPE A
	WHERE
		A.STATUS = 'A'
	AND A.PRODUCT_TYPE_ID = #{PRODUCT_TYPE_ID,jdbcType=NUMERIC}
	</select>
	
	 <update id="delProductPrice" parameterType="java.util.HashMap">
	   UPDATE BU_PRODUCT_PRICE A
		SET A.STATUS = 'X',
		    A.STATUS_DATE = SYSDATE()
		WHERE A.PRODUCT_ID = #{PRODUCT_ID,jdbcType=NUMERIC}
	 </update>
	 
	 <update id="delProductSpec" parameterType="java.util.HashMap">
	   UPDATE BU_PRODUCT_SPEC A
		SET A.STATUS = 'X',
		    A.STATUS_DATE = SYSDATE()
		WHERE A.PRODUCT_ID = #{PRODUCT_ID,jdbcType=NUMERIC}
		  AND A.SPEC_ID IN (SELECT SPEC_ID 
		  	FROM BU_PRODUCT_TYPE_SPEC T
		   WHERE T.SPEC_ID = A.SPEC_ID
		    AND T.STATUS = 'A' 
		    AND T.INVOLVED_PRICE = #{INVOLVED_PRICE, jdbcType=VARCHAR})
	 </update>
	
	<select id="selectSpecValueList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select *from (SELECT DISTINCT
			T.SPEC_ID,
			P.SPEC_NAME
		FROM
			BU_PRODUCT_SPEC T,
			BU_PRODUCT_TYPE_SPEC P
		WHERE
			T.SPEC_ID = P.SPEC_ID
		AND P.STATUS = 'A'
		AND T.STATUS = 'A'
		AND P.INVOLVED_PRICE = 'Y'
		AND T.PRODUCT_ID = #{PRODUCT_ID,jdbcType=NUMERIC}
		AND P.PRODUCT_TYPE_ID = #{PRODUCT_TYPE_ID,jdbcType=NUMERIC}) t
		ORDER BY
			t.SPEC_ID
	 </select>
	 
	<select id="selectPriceList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT T.PRODUCT_ID,
			T.PRICE_ID,
			T.PRODUCT_PRICE,
			T.PRODUCT_STOCK,
			T.PRICE_CODE,
			T.ORIGINAL_PRICE
		FROM
			BU_PRODUCT_PRICE T
		WHERE
			T.STATUS = 'A'
		AND T.PRODUCT_ID = #{PRODUCT_ID,jdbcType=NUMERIC}
		 ORDER BY T.PRICE_ID
	</select>
	
	<select id="selectProductSpecInfo" parameterType="java.util.HashMap" resultType="String">
	   SELECT T.SPEC_VALUE
		FROM
			BU_PRODUCT_SPEC T
		WHERE
			T.STATUS = 'A'
		AND T.PRODUCT_ID = #{PRODUCT_ID,jdbcType=NUMERIC}
	    AND T.PRICE_ID = #{PRICE_ID,jdbcType=NUMERIC}
	    AND T.SPEC_ID = #{SPEC_ID,jdbcType=NUMERIC}
	</select>
<!-- 0 删除、1 审核通过、2审核不通过、3 上架 -->
	<update id="updateProductStatus" parameterType="java.util.HashMap">
		UPDATE
		BU_PRODUCT
		SET
		STATUS=#{STATUS,jdbcType=VARCHAR},
		<if test="TYPE='1' and  TYPE='2'">
		CHECK_STAFF_ID=#{LOG_STAFF_ID,jdbcType=NUMERIC},
		CHECK_DATE=SYSDATE(), 
		</if> 
		<if test="TYPE='3'">
		SHELVES_STAFF_ID=#{LOG_STAFF_ID,jdbcType=NUMERIC},
		</if>  
		STATUS_STAFF_ID=#{LOG_STAFF_ID,jdbcType=NUMERIC},
		STATUS_DATE=SYSDATE()
		WHERE PRODUCT_ID in( ${PRODUCT_ID} )
    </update>
   
</mapper>