<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SysStaffProductTypeCustomMapper" >
  <resultMap id="BaseResultCustomMap" type="com.jf.entity.SysStaffProductTypeCustom" extends="com.jf.dao.SysStaffProductTypeMapper.BaseResultMap" >
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
  
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   id, staff_id, product_type_id, create_by, create_date, update_by, update_date, remarks, 
   del_flag,
   (select p.name from bu_product_type p where s.product_type_id=p.id and p.del_flag='0' and p.status='1')staff_name
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultCustomMap" parameterType="com.jf.entity.SysStaffProductTypeCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
     from sys_staff_product_type s
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKeyCustom" resultMap="BaseResultCustomMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_staff_product_type s
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.SysStaffProductTypeCustomExample" resultType="java.lang.Integer" >
    select count(*) from sys_staff_product_type s
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <!-- 根据用户id查询用户负责主营类目 -->
  <select id="selectByStaffId" resultType="java.util.HashMap" parameterType="java.lang.Integer" >
    SELECT
		t1.id,
		t1.NAME
	FROM
		sys_staff_product_type a
		LEFT JOIN bu_product_type t1 ON a.product_type_id = t1.id 
	WHERE
		a.staff_id = #{0}
		AND a.del_flag = '0' 
		AND t1.t_level = 1 
		AND t1.del_flag = '0' 
		AND t1.STATUS = '1'
  </select>
</mapper>