<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.TaskSendMemberCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.TaskSendMemberCustom" extends="com.jf.dao.TaskSendMemberMapper.BaseResultMap" >
    <result column="task_send_memeber_status_desc" property="taskSendMemeberStatusDesc" jdbcType="VARCHAR" />
    <result column="task_send_type" property="taskSendType" jdbcType="VARCHAR" />
    <result column="task_content" property="taskContent" jdbcType="VARCHAR" />
    <result column="task_send_channel" property="taskSendChannel" jdbcType="VARCHAR" />
    
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, task_id, member_id, mobile, status, send_date, send_count, commit_result, result_status, 
    result_date, seq_num, create_by, create_date, update_by, update_date, remarks, del_flag,
    FUN_GET_STATUS_DESC("BU_TASK_SEND_MEMEBER", "STATUS", t.status ) task_send_memeber_status_desc,
    (select a.send_type from bu_task a where a.del_flag = '0' and a.id = t.task_id) task_send_type,
    (select a.content from bu_task a where a.del_flag = '0' and a.id = t.task_id) task_content,
    (select a.send_channel from bu_task a where a.del_flag = '0' and a.id = t.task_id) task_send_channel
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.TaskSendMemberCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_task_send_member t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_task_send_member t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.TaskSendMemberCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_task_send_member t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCustomExampleSelective" parameterType="map" >
    update bu_task_send_member t
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.sendDate != null" >
        send_date = #{record.sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <insert id="addTaskSendMember" >
  	<if test="sendType == '0'.toString() or sendType == '2'.toString() ">
  		insert into bu_task_send_member (task_id, member_id, status, create_by, create_date, del_flag) values 
  		<foreach collection="sendValueSet" item="item"  separator="," >
  			(#{taskSendMember.taskId}, #{item}, #{taskSendMember.status}, #{taskSendMember.createBy}, #{taskSendMember.createDate}, #{taskSendMember.delFlag})
  		</foreach>
  	</if>
  	<if test="sendType == '1'.toString()">
  		insert into bu_task_send_member (task_id, mobile, status, create_by, create_date, del_flag) values 
  		<foreach collection="sendValueSet" item="item"  separator="," >
  			(#{taskSendMember.taskId}, #{item}, #{taskSendMember.status}, #{taskSendMember.createBy}, #{taskSendMember.createDate}, #{taskSendMember.delFlag})
  		</foreach>
  	</if>
  </insert>
  
  
  <!-- 此任务7天内登录用户数 -->
  <select id="getTaskMemberLoginCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
  	<if test="sendType == '0'.toString() or sendType == '2'.toString()">
	  	SELECT
			COUNT(DISTINCT b.member_id)
		FROM
			bu_task_send_member a,
			sys_app_login_log b
		WHERE
			a.member_id = b.member_id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b.create_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.task_id = #{taskId}
  	</if>
  	<if test="sendType == '1'.toString()">
  		SELECT
			COUNT(DISTINCT b.member_id)
		FROM
			bu_task_send_member a,
			sys_app_login_log b,
			bu_member_info c
		WHERE
			a.mobile = c.mobile
		AND b.member_id = c.id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b.create_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.task_id = #{taskId}
  	</if>
  </select>
  
  <!-- 此任务7天内付款用户数 -->
  <select id="getTaskMemberOrderCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
  	<if test="sendType == '0'.toString() or sendType == '2'.toString()">
  		SELECT
			COUNT(DISTINCT b.member_id)
		FROM
			bu_task_send_member a,
			bu_combine_order b
		WHERE
			a.member_id = b.member_id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b. STATUS = '1'
		AND b.pay_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.task_id = #{taskId}
  	</if>
  	<if test="sendType == '1'.toString()">
  		SELECT
			COUNT(DISTINCT b.member_id)
		FROM
			bu_task_send_member a,
			bu_combine_order b,
			bu_member_info c
		WHERE
			a.mobile = c.mobile
		AND b.member_id = c.id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b. STATUS = '1'
		AND b.pay_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.task_id = #{taskId}
  	</if>
  </select>
  
  <!-- 此任务7天内付款订单数 -->
  <select id="getTaskCombineOrderCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
  	<if test="sendType == '0'.toString() or sendType == '2'.toString()">
  		SELECT
			COUNT(1)
		FROM
			bu_task_send_member a,
			bu_combine_order b
		WHERE
			a.member_id = b.member_id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b. STATUS = '1'
		AND b.pay_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.task_id = #{taskId}
  	</if>
  	<if test="sendType == '1'.toString()">
  		SELECT
			COUNT(1)
		FROM
			bu_task_send_member a,
			bu_combine_order b,
			bu_member_info c
		WHERE
			a.mobile = c.mobile
		AND b.member_id = c.id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b. STATUS = '1'
		AND b.pay_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.task_id = #{taskId}
  	</if>
  </select>
  
  <!-- 会员7天内首次登录时间 -->
  <select id="getMemberLoginDate" parameterType="java.util.Map" resultType="java.util.Date" >
  	<if test="sendType == '0'.toString() or sendType == '2'.toString()">
  		SELECT
			b.create_date
		FROM
			bu_task_send_member a,
			sys_app_login_log b
		WHERE
			a.member_id = b.member_id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b.create_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.id = #{sendMemberId}
		ORDER BY
			b.create_date ASC
		LIMIT 1
  	</if>
  	<if test="sendType == '1'.toString() ">
  		SELECT
			b.create_date
		FROM
			bu_task_send_member a,
			sys_app_login_log b,
			bu_member_info c
		WHERE
			a.mobile = c.mobile
		AND b.member_id = c.id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b.create_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.id = #{sendMemberId}
		ORDER BY
			b.create_date ASC
		LIMIT 1
  	</if>
  </select>
  
  <!-- 会员7天内付款订单数 -->
  <select id="getCombineOrderCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
  	<if test="sendType == '0'.toString() or sendType == '2'.toString()">
  		SELECT
			COUNT(1)
		FROM
			bu_task_send_member a,
			bu_combine_order b
		WHERE
			a.member_id = b.member_id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b. STATUS = '1'
		AND b.pay_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.id = #{sendMemberId}
  	</if>
  	<if test="sendType == '1'.toString()">
  		SELECT
			COUNT(1)
		FROM
			bu_task_send_member a,
			bu_combine_order b,
			bu_member_info c
		WHERE
			a.mobile = c.mobile
		AND b.member_id = c.id
		AND a.del_flag = '0'
		AND a. STATUS = '2'
		AND b.del_flag = '0'
		AND b. STATUS = '1'
		AND b.pay_date BETWEEN #{firstSendDate} AND DATE_ADD(#{firstSendDate}, INTERVAL 7 DAY)
		AND a.id = #{sendMemberId}
  	</if>
  </select>
  
  
  
</mapper>