<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.TaskCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.TaskCustom"  extends="com.jf.dao.TaskMapper.BaseResultMap">
  	<result column="task_activity_selection_id" property="TaskActivitySelectionId" jdbcType="VARCHAR" />
  	<result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
  	<result column="decorate_info_id" property="decorateInfoId" jdbcType="INTEGER" />
  	<result column="create_name" property="createName" jdbcType="VARCHAR" />
  	<result column="send_values" property="sendValues" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.jf.entity.TaskCustom"  extends="com.jf.dao.TaskMapper.BaseResultMap">
  	<result column="task_activity_selection_id" property="TaskActivitySelectionId" jdbcType="VARCHAR" />
  	<result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
  	<result column="create_name" property="createName" jdbcType="VARCHAR" />
  	<result column="send_values" property="sendValues" jdbcType="LONGVARCHAR" />
  	<result column="yy_audit_name" property="yyAuditName" jdbcType="VARCHAR" />
  	<result column="yy_audit_remarks" property="yyAuditRemarks" jdbcType="VARCHAR" />
  	<result column="yy_audit_date" property="yyAuditDate" jdbcType="TIMESTAMP" />
  	<result column="fw_audit_name" property="fwAuditName" jdbcType="VARCHAR" />
  	<result column="fw_audit_remarks" property="fwAuditRemarks" jdbcType="VARCHAR" />
  	<result column="fw_audit_date" property="fwAuditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  	id,type,send_channel,name,task_explain,content,send_mode,send_date,time_interval,send_count,
  	send_type,file_path,send_values,label_group_ids,status,create_by,create_date,update_by,update_date,
	remarks,del_flag ,
    (select tas.id from bu_task_activity_selection tas where tas.task_id = t.id and tas.del_flag = 0) task_activity_selection_id,
    (select tas.cover_pic from bu_task_activity_selection tas where tas.task_id = t.id and tas.del_flag = 0) cover_pic,
    (select tas.decorate_info_id from bu_task_activity_selection tas where tas.task_id = t.id and tas.del_flag = 0) decorate_info_id,
	(select ssi.STAFF_NAME from sys_staff_info ssi where create_by = ssi.STAFF_ID) create_name
  </sql>
  <sql id="Base_Column_List2">
  	id,type,send_channel,name,task_explain,content,send_mode,send_date,time_interval,send_count,
  	send_type,file_path,send_values,label_group_ids,status,create_by,create_date,update_by,update_date,
	remarks,del_flag ,
	(select tas.id from bu_task_activity_selection tas where tas.task_id = t.id and tas.del_flag = 0) task_activity_selection_id,
    (select tas.cover_pic from bu_task_activity_selection tas where tas.task_id = t.id and tas.del_flag = 0) cover_pic,
    (select tas.decorate_info_id from bu_task_activity_selection tas where tas.task_id = t.id and tas.del_flag = 0) decorate_info_id,
	(select ssi.STAFF_NAME from sys_staff_info ssi where create_by = ssi.STAFF_ID) create_name,
	( select tl.create_date from bu_task_log tl where t.id = tl.task_id and del_flag = '0' and tl.operator_type = '1' ORDER BY tl.id desc LIMIT 1) yyAuditDate,
	( select tl.remarks from bu_task_log tl where t.id = tl.task_id and del_flag = '0' and tl.operator_type = '1' ORDER BY tl.id desc LIMIT 1) yyAuditRemarks,
	(SELECT ssi.STAFF_NAME FROM sys_staff_info ssi WHERE( select tl.create_by from bu_task_log tl where t.id = tl.task_id and del_flag = '0' and tl.operator_type = '1' ORDER BY tl.id desc LIMIT 1) = ssi.STAFF_ID ) yyAuditName,	
	( select tl.create_date from bu_task_log tl where t.id = tl.task_id and del_flag = '0' and tl.operator_type = '2' ORDER BY tl.id desc LIMIT 1) fwAuditDate,
	( select tl.remarks from bu_task_log tl where t.id = tl.task_id and del_flag = '0' and tl.operator_type = '2' ORDER BY tl.id desc LIMIT 1) fwAuditRemarks,
	(SELECT ssi.STAFF_NAME FROM sys_staff_info ssi WHERE( select tl.create_by from bu_task_log tl where t.id = tl.task_id and del_flag = '0' and tl.operator_type = '2' ORDER BY tl.id desc LIMIT 1) = ssi.STAFF_ID ) fwAuditName
  </sql>
  
  <select id="countByExample" parameterType="com.jf.entity.TaskCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_task t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.TaskCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_task t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  
  <select id="detailAuditSelectByExample" resultMap="BaseResultMap2" parameterType="com.jf.entity.TaskCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List2" />
    from bu_task t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  
  <insert id="batchInsertTaskSendMemberByTaskId">
  	insert into bu_task_send_member (id, task_id, member_id, status, send_date, create_by,
  	 create_date, del_flag) values 
  	 <foreach collection="itemsList" item="item"  separator="," >
  	 	(null,#{taskSendMember.taskId,jdbcType=INTEGER},#{item,jdbcType=INTEGER},"0",#{taskSendMember.sendDate,jdbcType=TIMESTAMP}
  	 	,#{taskSendMember.createBy,jdbcType=INTEGER},#{taskSendMember.createDate,jdbcType=TIMESTAMP},"0")
  	 </foreach>
  </insert>
  
  
</mapper>