<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ViolatePunishStandardCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ViolatePunishStandardCustom"  extends="com.jf.dao.ViolatePunishStandardMapper.BaseResultMap">
  	<result column="violate_type_desc" property="violateTypeDesc" jdbcType="VARCHAR" />
  	<result column="violate_action_desc" property="violateActionDesc" jdbcType="VARCHAR" />
  	<result column="complain_flag_desc" property="complainFlagDesc" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  	id, violate_type, violate_action, content, punish_standard, punish_other, complain_flag, 
    enable_hours, jifen_integral_desc, jifen_integral, seq_no, create_by, create_date, 
    update_by, update_date, remarks, del_flag, payment_breach_model, breach_deduction_quota, 
    min_deduction_quota, integral_compensate_model, integral_compensate_rate,
    FUN_GET_STATUS_DESC("BU_VIOLATE_PUNISH_STANDARD","VIOLATE_TYPE", violate_type)violate_type_desc,
    FUN_GET_STATUS_DESC("BU_VIOLATE_PUNISH_STANDARD","VIOLATE_ACTION", violate_action)violate_action_desc,
    FUN_GET_STATUS_DESC("BU_VIOLATE_PUNISH_STANDARD","COMPLAIN_FLAG", complain_flag)complain_flag_desc
  </sql>
  
  <select id="countByExample" parameterType="com.jf.entity.ViolatePunishStandardCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_violate_punish_standard t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ViolatePunishStandardCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_violate_punish_standard t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  
</mapper>