<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ZsProductTypeCustomMapper">
	<resultMap id="BaseResultCustomMap" type="com.jf.entity.ZsProductTypeCustom" extends="com.jf.dao.ZsProductTypeMapper.BaseResultMap">
		<result column="product_type_name" property="productTypeName" jdbcType="VARCHAR" />
		<result column="third_product_type_name" property="thirdProductTypename" jdbcType="VARCHAR" />
		<result column="zstype_name" property="zstypeName" jdbcType="VARCHAR" />
		<result column="status_desc" property="statusdesc" jdbcType="VARCHAR" />
		<result column="producttype_name" property="productTypename" jdbcType="VARCHAR" />
	</resultMap>
   <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
     <resultMap type="com.gzs.common.beans.Menu" id="resultProcType">
     	<id column="id" property="menuID" />
		<result column="name" property="menuName" />
		<result column="remarks" property="menuDesc" />
		<result column="parent_id" property="parentID" />
		<result column="menu_path" property="menuPath" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="update_date" property="statusDate" />
		<result column="seq_no" property="menuOrder" />
    </resultMap>
	
      <select id="selectZsProductType" resultMap="resultProcType">  
       select tt.*
            from(select id,
                    name,
                    parent_id,
                    create_date,
                    status,
                    update_date,
                    seq_no,
                    remarks
		  from bu_zs_product_type a
		 where a.del_flag = '0'
		 order by seq_no)tt 
    </select>
    
    <select id="selectProductTypeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		 select 
		        id,
				name,
				parent_id,
				(select x.name from bu_product_type x where x.id=a.product_type_ids) product_type_name,
				(SELECT GROUP_CONCAT(pt.`name`) FROM bu_product_type pt WHERE pt.del_flag='0' AND FIND_IN_SET(pt.id,a.product_type_ids))third_product_type_name,
                status,
                FUN_GET_STATUS_DESC("BU_ZS_PRODUCT_TYPE","STATUS", a.status) status_desc,
		        seq_no,
		        t_level,
		        create_by,
		        create_date,
		        update_by,
		        update_date,
		        remarks
		  from bu_zs_product_type a
		 where a.del_flag = '0'
	<!-- 
		 <if test="ISNO ==0">
		 and a.id = #{id}
		 </if>
		 <if test="ISNO !=0">
		 and a.parent_id = #{id}
		 </if>
	 -->	 
	 	 and a.parent_id = #{id}	 
		 order by seq_no
		 <if test="MAX_NUM!=null and MAX_NUM!=''">
		   limit #{MIN_NUM},#{MAX_NUM}
	     </if>   
    </select>
    <select id="queryDataCount" parameterType="java.util.HashMap" resultType="String">  
		 select count(*) totalnum
		  from bu_zs_product_type a
		 where a.del_flag = '0'
		 <if test="ISNO==0">
		 and a.id = #{id}
		 </if>
		 <if test="ISNO!=0">
		 and a.parent_id = #{id}
		 </if>
    </select>
    <select id="getprarentList" parameterType="java.util.HashMap" resultType="java.util.HashMap">  
		    select name parent_name,id parent_id
			  from bu_zs_product_type a
			 where id =#{id} 
    </select>
    <select id="getprarentId" parameterType="java.util.HashMap" resultType="String">  
		    select parent_id from bu_zs_product_type a where id=#{id} 

    </select>
    <select id="getPrarentF" parameterType="java.util.HashMap" resultType="String">  
		    select parent_id
			  from bu_zs_product_type a
			 where id in (select parent_id
			                             from bu_zs_product_type a
			                            where a.id = ${id}
			                              and a.del_flag = '0')

    </select>
    <select id="getIsNotType" parameterType="java.util.HashMap" resultType="int">  
		 select count(*) ISNOTTYPE
		  from bu_zs_product_type a
		 where a.name =#{name}
		   and a.del_flag = '0'
    </select>
    <select id="getProdTypeName" parameterType="java.util.HashMap" resultType="String">  
		 select name
		  from bu_zs_product_type a
		 where a.id = #{id}
		   and a.del_flag = '0'
    </select>
     <select id="gettlevvel" parameterType="java.util.HashMap" resultType="int">  
		 select ifnull(t_level,0)+1
		  from bu_zs_product_type a
		 where a.id =#{parent_id}
		   and del_flag = '0'
    </select>
   <select id="selectProductTypeListByid" parameterType="java.util.HashMap" resultType="java.util.HashMap">  
		 select 
		        id,
				name,
				parent_id,
				(select x.name from bu_zs_product_type x where x.id=a.parent_id) parent_name,
                status,
		        seq_no,
		        fee_rate,
		        t_level,
		        product_type_ids,
		        deposit,
		        brand_aptitude,
		        create_by,
		        create_date,
		        update_by,
		        update_date,
		        remarks
		  from bu_zs_product_type a
		 where a.del_flag = '0'
		 and a.id =#{id}
    </select>
    
    <select id="getNamesByIds" parameterType="java.lang.String" resultType="java.lang.String">
    	SELECT GROUP_CONCAT(pt.`name`) FROM bu_zs_product_type pt WHERE pt.del_flag='0' AND FIND_IN_SET(pt.id,#{ids})
    </select>
    
    <select id="getZsProductTypeDetails" resultType="java.lang.String">
    	SELECT CONCAT(fpt.`name`,'->',GROUP_CONCAT(pt.`name` SEPARATOR '/')) 
    	FROM 
    		bu_zs_product_type pt,bu_zs_product_type fpt 
    	WHERE pt.parent_id = fpt.id AND pt.id IN 
    	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    		#{item}       
        </foreach>
        AND pt.del_flag='0' AND fpt.del_flag='0'
    	GROUP BY fpt.id
    </select>
    
    
    <!-- <select id="zsselectProductTypeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		 select 
		        id,
				name,
				parent_id,
                status,
                FUN_GET_STATUS_DESC("BU_ZS_PRODUCT_TYPE","STATUS", a.status) status_desc,
		        seq_no,
		        fee_rate,
		        deposit,
		        product_type_ids,
		        t_level,
		        create_by,
		        create_date,
		        update_by,
		        update_date,
		        remarks,
		        (select x.name from bu_product_type x where x.id=a.product_type_ids) product_type_name,
				(SELECT GROUP_CONCAT(pt.`name`) FROM bu_product_type pt WHERE pt.del_flag='0' AND FIND_IN_SET(pt.id,a.product_type_ids))third_product_type_name,
				(SELECT t.`name` FROM bu_zs_product_type t WHERE t.del_flag='0' AND t.id=a.parent_id AND t.t_level='1')zstype_name
		  from bu_zs_product_type a
		 where a.del_flag = '0' and a.t_level='2'
		 order by id
		 <if test="MAX_NUM!=null and MAX_NUM!=''">
		   limit #{MIN_NUM},#{MAX_NUM}
	     </if>  
    </select>
    <select id="countdata" parameterType="java.util.HashMap" resultType="String">  
		 select count(*) totalnum
		  from bu_zs_product_type a
		 where a.del_flag = '0'
    </select> -->
          
<!--    <sql id="Base_Column_List" >
    a.id, name, parent_id, status, seq_no, fee_rate, product_type_ids, deposit, t_level, 
    create_by, create_date, update_by, update_date, remarks, del_flag,
     FUN_GET_STATUS_DESC("BU_ZS_PRODUCT_TYPE","STATUS", a.status) status_desc,
     (select c.name from bu_product_type x,bu_product_type b,bu_product_type c where x.id=a.product_type_ids AND x.parent_id=b.id AND b.parent_id=c.id AND b.del_flag='0' AND x.del_flag='0' AND c.del_flag='0' LIMIT 1) producttype_name,
     (SELECT GROUP_CONCAT(pt.`name`) FROM bu_product_type pt WHERE pt.del_flag='0' AND FIND_IN_SET(pt.id,a.product_type_ids))third_product_type_name,
     (SELECT t.`name` FROM bu_zs_product_type t WHERE t.del_flag='0' AND t.id=a.parent_id AND t.t_level='1')zstype_name
  </sql>
  <select id="zsselectByExample" resultMap="BaseResultCustomMap" parameterType="com.jf.entity.ZsproductTypeCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_zs_product_type a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="zscountByExample" parameterType="com.jf.entity.ZsproductTypeCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_zs_product_type a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select> -->
   <select id="zsselectProductTypeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	SELECT
         a.id,
         a.deposit,
         a.fee_rate,
    FUN_GET_STATUS_DESC ("BU_ZS_PRODUCT_TYPE","STATUS",a.STATUS) status_desc,
    (
	SELECT
		c. NAME
	FROM
		bu_product_type x,
		bu_product_type b,
		bu_product_type c
	WHERE
		x.id = a.product_type_ids
	AND x.parent_id = b.id
	AND b.parent_id = c.id
	AND b.status='1'
	AND x.status='1'
	AND c.status='1'
	AND b.del_flag = '0'
	AND x.del_flag = '0'
	AND c.del_flag = '0'
	LIMIT 1
    )product_type_name,
  (
	SELECT
		GROUP_CONCAT(pt.`name`)
	FROM
		bu_product_type pt
	WHERE
		pt.del_flag = '0'
	AND FIND_IN_SET(pt.id, a.product_type_ids)
   ) third_product_type_name,
    zs.`name` AS zsproduct_name,
    a.`name` AS zs_name
  FROM
	  bu_zs_product_type a,
      bu_zs_product_type zs
  WHERE
	a.parent_id = zs.id
  AND a.t_level = 2
  AND a.del_flag='0' 
  AND zs.del_flag='0'
  ORDER BY
	zs.product_type_ids ASC,
	zs.id ASC,
	a.id ASC;
   </select>
</mapper>