<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Genanx</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/module.css">
    <link rel="stylesheet" href="css/tmpl.css">
    <link rel="stylesheet" href="themes/01/css/theme.css">
</head>
<body class="page-index">
<div class="header-wrap">
    <table class="headertb" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="siteLogo">
                <a href="#"><img src="themes/01/images/pic/logo.png" alt=""></a>
            </td>
        </tr>
    </table>

    <div id="headerRight">
        <div id="headerSearch">
            <form target="_top" action="" name="search">
                <div class="search-panel-fields">
                    <label for="q">搜索商城商品!</label>
                    <input type="text" name="q" id="q" accesskey="s" autocomplete="off" autofocus x-webkit-speech=""
                           x-webkit-grammar="builtin:translate" lang="zh-CN">
                    <button type="submit">搜索</button>
                </div>
            </form>
        </div>
        <div class="head-login">
            <ul>
                <li><a href="login.html">登录</a></li>
                <li><a href="register.html">注册</a></li>
            </ul>
            <ul class="login-in">
                <li><p class="topnotify"><a href="/notice/list"><span>通知<i>10</i></span></a></p></li>
                <li><a href="#">会员中心</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="nav">
    <div class="nav-wrap">
        <div class="site-nav">
            <ul>
                <li data-navmenu="snav_item1" class="site-nav-item"><a href="#"><span>首页</span></a></li>
                <li data-navmenu="snav_item2" class="site-nav-item"><a href="#"><span>产品</span></a></li>
                <li data-navmenu="snav_item3" class="site-nav-item"><a href="#"><span>时尚资讯</span></a></li>
                <li data-navmenu="snav_item4" class="site-nav-item"><a href="#"><span>发现DISSONA</span></a></li>
                <li data-navmenu="snav_item5" class="site-nav-item"><a href="#"><span>店铺形象</span></a></li>
                <li data-navmenu="snav_item10" class="site-nav-item"><a href="#"><span>推广活动</span></a></li>
            </ul>
        </div>
    </div>
    <div id="snav_item5" class="site-nav-layer">
        <div class="navsub-wrap">
            <div class="bd">
                <ul>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士1</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士2</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士3</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士4</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士5</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士6</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士7</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士8</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士9</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士10</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士11</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士12</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士14</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士15</div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="prev"><span></span></a>
            <a href="javascript:void(0)" class="next"><span></span></a>
        </div>
    </div>
    <div id="snav_item10" class="site-nav-layer">
        <div class="navsub-wrap">
            <div class="bd">
                <ul>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士1</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士2</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士3</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士4</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士5</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士6</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士7</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士8</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士9</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士10</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士11</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士12</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士14</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pic"><img src="../../images/goodspic.jpg" alt=""/></div>
                            <div class="tit">女士15</div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="prev"><span></span></a>
            <a href="javascript:void(0)" class="next"><span></span></a>
        </div>
    </div>
</div>
</body>

<script src="../../js/lib/jquery-1.8.3.min.js"></script>
<script src="../../js/jquery.SuperSlide.2.1.1.js"></script>
<script>
    $(function(){
        $(".site-nav-item").each(function(i,v){
            var item = $(v),
                    layer = $("#"+item.attr("data-navmenu")),
                    timer;
            if(!layer[0]) return;
            item.hover(function(){
                layer.fadeIn(200);
                clearTimeout(timer);
            },function(){
                timer = setTimeout(function(){
                    layer.fadeOut(200);
                },50);
            });
            layer.hover(function(){
                clearTimeout(timer);
            },function(){
                timer = setTimeout(function(){
                    layer.fadeOut(200);
                },50);
            });
        });
        $(".navsub-wrap").slide({
            mainCell:".bd ul",
            effect:"left",
            autoPage : true,
            vis:7
        });
    });
</script>
</html>