<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 自动映射使用驼峰命名法,即数据库字段a_column对应domain字段aColum -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>
