@CHARSET "UTF-8";

body,html {
	height: 100%;
}

body {
	background-color: #eaeef5;
	padding: 0px;
	margin: 0;
	overflow: hidden;
}

.l-topmenu {
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
/*	background: url('../images/main/top.jpg') repeat-x bottom;*/
	position: relative;
	border-top: 1px solid #1D438B;
}

.l-topmenu-logo {
	color: #E7E7E7;
	padding-left: 35px;
	line-height: 26px;
/*	background: url('../images/main/topicon.gif') no-repeat 10px 5px;*/
}