@CHARSET "UTF-8";
table.search {
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 12px;
	line-height: 15px;
}

table.search td .text {
	border: 1px solid #AECAF0;
	height: 22px;
	width: 132px;
}

table.search td.title {
	padding-left: 20px;
	text-align: right;	
}

table.search td.btn {
	padding-left: 30px;
	text-align: center;
}
.search-tr{
	width: 96%;
	padding: 0.5% 2%;
}
.search-td{
	width: 18%;
	display: inline-block;
}
.search-td-label{
	width:40%;
	display: inline-block;
	text-align: right;
}
.search-td-condition{
	display: inline-block;
	width:50%;
}

.search-td-condition *{
	width:100%;
}
.search-td-search-btn{
	float:right;
	width:15%;
	display: inline-block;
}
.search-td-export-btn{
	float:right;
	width:15%;
	display: inline-block;
}

.search-td-date{
	width: 20%;
	display: inline-block;
}

.search-td-combobox-condition{
	display: inline-block;
	width:50%;
}

.search-td-combobox-condition .l-text-combobox{
	width:100%;
}

