.certification .touchfix {
	padding: .3rem;
	background: #fff;
}

.certification .up-btn {
	height: 3.6rem;
}

.certification .up-btn {
	position: relative;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

.certification .up-btn:after,
.certification .up-btn:before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 1rem;
	height: .04rem;
	margin: -.01rem 0 0 -.5rem;
	background: #ddd;
}

.certification .up-btn:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.certification .up-btn input {
	opacity: 0;
	width: 100%;
	height: 100%;
}

.certification .up-btn .up-img {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.certification .up-img>div {
	width: 100%;
	height: 3.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.certification .up-img>div>img{
	width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.certification .remarks {
	font-size: 14px;
	color: rgba(153, 153, 153, 1);
	line-height: .64rem;
}
.certification .h3{
	color:rgba(51,51,51,1);
	font-size:14px;
	font-weight:800;
	margin-top: .5rem;
	margin-bottom: .25rem;
}
.certification .btn{
	width:4.4rem;
	height:.9rem;
	background:rgba(255,80,80,1);
	border-radius:.06rem;
	margin: 0 auto;
	font-size:16px;
	color: #fff;
	margin-top: 1.06rem;
	display: block;
}
.certification .example{
	width: 100%;
}