<div class="page register flex dc" data-title="修改昵称" data-id="register_nick">
	<link rel="stylesheet" href="register/index.css">

	<header class="flex ac jb fn">
		
		<!-- <div class="flex fn"><i class="back ico-btn" onclick="getUrl('set/self')"></i></div> -->
		<!-- 微信公众返回 BUG13164 jing -->
		<div class="flex fn"><i class="back ico-btn" onclick="back(false, true)"></i></div>
		<p class="ellipsis">修改昵称</p>
		<div class="fn"></div>
	</header>

	<form class="scroll-y fg content">
		<div class="con-1">
			<div class="flex ac jb">
				<input type="text" name="nick" maxlength="18" placeholder="请输入内容" required>
			</div>
		</div>

		<div class="con-2">
			<input class="btn-submit" type="submit" value="确认">
		</div>
	</form>

	<script src="register/nick/index.js?var=1.0" async></script>
</div>