<div class="page my-share flex dc" data-title="分享APP" data-id="my_share">
	<link rel="stylesheet" href="my/share/index.css?var=1.0">

	<header class="flex ac jb fn">
		<div class="flex fn"><i class="back ico-btn" onclick="back()"></i></div>
		<p class="ellipsis">分享APP</p>
		<div class="fn"></div>
	</header>

	<div class="scroll-y content fg" onclick="shareHand.show()">
		<img src="my/share/resources/bg.jpg">
		<a class="my-share-btn flex ac jc">立即分享</a>
	</div>

	<script src="my/share/index.js?var=1.0" async></script>
</div>