<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ActivityCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ActivityCustom"  extends="com.jf.dao.ActivityMapper.BaseResultMap">
  	<result column="short_name" property="shortName" jdbcType="VARCHAR" />
  	<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="mcht_code" property="mchtCode" jdbcType="VARCHAR" />
    <result column="enroll_begin_time" property="enrollBeginTime" jdbcType="TIMESTAMP"/>
    <result column="operate_name" property="operateName" jdbcType="VARCHAR"/>
    <result column="design_name" property="designName" jdbcType="VARCHAR"/>
    <result column="law_name" property="lawName" jdbcType="VARCHAR"/>
    <result column="coo_name" property="cooName" jdbcType="VARCHAR"/>
    <result column="operate_audit_status_desc" property="operateAuditStatusDesc" jdbcType="VARCHAR"/>
    <result column="design_audit_status_desc" property="designAuditStatusDesc" jdbcType="VARCHAR"/>
    <result column="law_audit_status_desc" property="lawAuditStatusDesc" jdbcType="VARCHAR"/>
    <result column="coo_audit_status_desc" property="cooAuditStatusDesc" jdbcType="VARCHAR"/>
    <result column="product_num" property="productNum" jdbcType="INTEGER"/>
    <result column="service_charge" property="serviceCharge" jdbcType="DOUBLE"/>
    <result column="qq" property="qq" jdbcType="VARCHAR"/>
    <result column="product_type_name" property="productTypeName" jdbcType="VARCHAR"/>
    <result column="product_brand_name" property="productBrandName" jdbcType="VARCHAR"/>
    <result column="activity_status_desc" property="activityStatusDesc" jdbcType="VARCHAR"/>
    <result column="benefit_point" property="benefitPoint" jdbcType="VARCHAR"/>
    <result column="activity_begin_time" property="activityBeginTime" jdbcType="TIMESTAMP"/>
    <result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP"/>
    <result column="enroll_end_time" property="enrollEndTime" jdbcType="TIMESTAMP"/>
    <result column="preheat_time" property="preheatTime" jdbcType="TIMESTAMP"/>
    <result column="mcht_cooperate_begin_date" property="mchtCooperateBeginDate" jdbcType="TIMESTAMP"/>
    <result column="source_desc" property="sourceDesc" jdbcType="VARCHAR"/>
    <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
    <result column="activity_days" property="activityDays" jdbcType="INTEGER"/>
    <result column="activity_area_type_desc" property="activityAreaTypeDesc" jdbcType="VARCHAR"/>
    <result column="activity_area_name" property="activityAreaName" jdbcType="VARCHAR"/>
    <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
    <result column="preferential_type" property="preferentialType" jdbcType="VARCHAR"/>
<!--     <result column="brand_sale_num" property="brandSaleNum" jdbcType="INTEGER"/>
    <result column="thirty_brand_sale_num" property="thirtyBrandSaleNum" jdbcType="INTEGER"/>
    <result column="thirty_quantity" property="thirtyQuantity" jdbcType="INTEGER"/>
    <result column="thirty_sale_price" property="thirtySalePrice" jdbcType="DECIMAL"/>
    <result column="this_quantity" property="thisQuantity" jdbcType="INTEGER"/>
    <result column="this_sale_price" property="thisSalePrice" jdbcType="DECIMAL"/> -->
    <result column="activity_area_pic" property="activityAreaPic" jdbcType="VARCHAR"/>
    <result column="activity_stock" property="activityStock" jdbcType="INTEGER"/>
    <result column="product_audit1_num" property="productAudit1Num" jdbcType="INTEGER"/>
    <result column="product_audit3_num" property="productAudit3Num" jdbcType="INTEGER"/>
    <result column="this_product_appeal_num" property="thisProductAppealNum" jdbcType="INTEGER"/>
	<result column="this_mcht_violate_num" property="thisMchtViolateNum" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ba.id, ba.name, ba.activity_area_id, ba.mcht_id, ba.product_type_id, ba.product_brand_id, 
    IFNULL((select mpb.pop_commission_rate from bu_mcht_product_brand mpb where mpb.mcht_id = ba.mcht_id and mpb.product_brand_id=ba.product_brand_id and mpb.del_flag='0' and mpb.status='1' and mpb.audit_status='3'),0) service_charge,
    ba.fee_rate, ba.submit_time,
    ba.expected_start_time, ba.entry_pic, ba.poster_pic,ba.brand_team_pic, ba.status, ba.operate_audit_by, ba.operate_audit_status, 
    ba.operate_audit_remarks, ba.design_audit_by, ba.design_audit_status, ba.design_audit_remarks, 
    ba.law_audit_by, ba.law_audit_status, ba.law_audit_remarks, ba.coo_audit_by, ba.coo_audit_status, 
    ba.coo_audit_remarks, ba.create_by, ba.create_date, ba.update_by, ba.update_date, ba.remarks, ba.del_flag,ba.seq_no,
    design_reject_reason,
    (select m.short_name from bu_mcht_info m where m.id=ba.mcht_id AND m.del_flag='0') short_name,
    (select m.shop_name from bu_mcht_info m where m.id=ba.mcht_id AND m.del_flag='0') shop_name,
    (select m.mcht_code from bu_mcht_info m where m.id=ba.mcht_id AND m.del_flag='0') mcht_code,
    (select m.cooperate_begin_date from bu_mcht_info m where m.id=ba.mcht_id AND m.del_flag='0') mcht_cooperate_begin_date,
    (select mc.qq from bu_mcht_contact mc where mc.id=ba.mcht_id and mc.del_flag='0' and mc.contact_type='2') qq,
    (select a.name from bu_activity_area a where a.id=ba.activity_area_id) field_name,
    (select a.enroll_end_time from bu_activity_area a where a.id=ba.activity_area_id) enroll_end_time,
    (select a.enroll_begin_time from bu_activity_area a where a.id=ba.activity_area_id) enroll_begin_time,
    (select a.activity_begin_time from bu_activity_area a where a.id=ba.activity_area_id) activity_begin_time,
    (select a.activity_end_time from bu_activity_area a where a.id=ba.activity_area_id) activity_end_time,
    (select a.preheat_time from bu_activity_area a where a.id=ba.activity_area_id) preheat_time,
    (select a.preferential_type from bu_activity_area a where a.id=ba.activity_area_id) preferential_type,
    (select s.staff_name from sys_staff_info s where s.staff_id=ba.operate_audit_by) operate_name,
    (select s.staff_name from sys_staff_info s where s.staff_id=ba.design_audit_by) design_name,
    (select s.staff_name from sys_staff_info s where s.staff_id=ba.law_audit_by) law_name,
    (select s.staff_name from sys_staff_info s where s.staff_id=ba.coo_audit_by) coo_name,
    (select IFNULL(count(bap.id),0) from bu_activity_product bap where bap.activity_id=ba.id and bap.del_flag='0' and bap.refuse_flag='0') product_num,
    FUN_GET_STATUS_DESC("BU_ACTIVITY","OPERATE_AUDIT_STATUS", ba.operate_audit_status) operate_audit_status_desc,
    FUN_GET_STATUS_DESC("BU_ACTIVITY","DESIGN_AUDIT_STATUS", ba.design_audit_status) design_audit_status_desc,
    FUN_GET_STATUS_DESC("BU_ACTIVITY","LAW_AUDIT_STATUS", ba.law_audit_status) law_audit_status_desc,
    FUN_GET_STATUS_DESC("BU_ACTIVITY","COO_AUDIT_STATUS", ba.coo_audit_status) coo_audit_status_desc,
    FUN_GET_STATUS_DESC("BU_ACTIVITY","STATUS", ba.status) activity_status_desc,
	(select pt.name from bu_product_type pt where pt.id=ba.product_type_id) product_type_name,
	(select pb.name from bu_product_brand pb where pb.id=ba.product_brand_id) product_brand_name,
	(select a.benefit_point from bu_activity_area a where a.id=ba.activity_area_id) benefit_point,
	(SELECT baa.pic FROM bu_activity_area baa WHERE baa.id=ba.activity_area_id) activity_area_pic,
	(SELECT IFNULL(SUM(aa.stock-aa.locked_amount),0) FROM bu_product_item aa,bu_activity_product bb WHERE aa.del_flag='0' and aa.product_id=bb.product_id AND bb.activity_id=ba.id and bb.del_flag='0' and bb.refuse_flag='0') activity_stock,
	(select ay.source from bu_activity_area ay where ay.id=ba.activity_area_id) source,
	FUN_GET_STATUS_DESC("BU_ACTIVITY_AREA","SOURCE",(select ay.source from bu_activity_area ay where ay.id=ba.activity_area_id)) source_desc,
	(SELECT DateDiff(b.preheat_time, NOW()) FROM bu_activity_area b WHERE b.id=ba.activity_area_id) activity_days,
	(select bt.type from bu_activity_area bt where bt.id=ba.activity_area_id) type,
	FUN_GET_STATUS_DESC("BU_ACTIVITY_AREA","TYPE", (SELECT bt.type FROM bu_activity_area bt WHERE bt.id=ba.activity_area_id)) activity_area_type_desc,
	(SELECT bt.name FROM bu_activity_area bt WHERE bt.id=ba.activity_area_id) activity_area_name,
	(SELECT pc.contact_name FROM bu_platform_contact pc WHERE pc.id IN (SELECT mpc.platform_contact_id FROM bu_mcht_platform_contact mpc WHERE mpc.mcht_id=ba.mcht_id AND mpc.status='1' AND mpc.del_flag='0') and pc.contact_type='2' and pc.status='0' AND pc.del_flag='0' limit 1) contact_name,
<!-- 	(SELECT IFNULL(COUNT(bb.id),0) FROM bu_activity_area aa,bu_activity bb WHERE aa.id=bb.activity_area_id AND aa.source='2' AND bb.mcht_id=ba.mcht_id and bb.del_flag='0' and bb.status in ('5','6')) brand_sale_num,
	(SELECT IFNULL(COUNT(bb.id),0) FROM bu_activity_area aa,bu_activity bb WHERE aa.id=bb.activity_area_id AND aa.source='2' AND bb.mcht_id=ba.mcht_id and bb.del_flag='0' and bb.status in ('5','6') AND bb.create_date &gt;= DATE_SUB(CURDATE(), INTERVAL 30 DAY)) thirty_brand_sale_num,
	(SELECT IFNULL(COUNT(aa.quantity),0) FROM bu_order_dtl aa,bu_activity_area bb,bu_activity cc WHERE bb.id=cc.activity_area_id AND bb.source='2' AND aa.activity_area_id=bb.id AND aa.activity_id=cc.id AND cc.mcht_id=ba.mcht_id AND aa.product_status='1' and aa.del_flag='0' AND aa.create_date &gt;= DATE_SUB(CURDATE(), INTERVAL 30 DAY) ) thirty_quantity,
	(SELECT IFNULL(SUM(aa.sale_price*aa.quantity),0.00) FROM bu_order_dtl aa,bu_activity_area bb,bu_activity cc WHERE bb.id=cc.activity_area_id AND bb.source='2' AND aa.activity_area_id=bb.id AND aa.activity_id=cc.id AND cc.mcht_id=ba.mcht_id AND aa.product_status='1' and aa.del_flag='0' AND aa.create_date &gt;= DATE_SUB(CURDATE(), INTERVAL 30 DAY)) thirty_sale_price,
	(SELECT IFNULL(SUM(aa.quantity),0) FROM bu_order_dtl aa,bu_activity_area bb WHERE aa.activity_id=ba.id AND bb.id=ba.activity_area_id AND aa.activity_area_id=bb.id AND aa.product_status='1' and aa.del_flag='0') this_quantity,
	(SELECT IFNULL(SUM(aa.sale_price*aa.quantity),0.00) FROM bu_order_dtl aa,bu_activity_area bb WHERE aa.activity_id=ba.id AND bb.id=ba.activity_area_id AND aa.activity_area_id=bb.id AND aa.product_status='1') this_sale_price, -->
	(SELECT IFNULL(count(cc.id),0) from bu_activity_product bb,bu_product cc where bb.activity_id=ba.id and bb.del_flag='0' and bb.refuse_flag='0' and bb.product_id=cc.id and cc.del_flag='0' and cc.audit_status='1') product_audit1_num,
	(SELECT IFNULL(count(cc.id),0) from bu_activity_product bb,bu_product cc where bb.activity_id=ba.id and bb.del_flag='0' and bb.refuse_flag='0' and bb.law_audit_status!='3' and bb.product_id=cc.id and cc.del_flag='0' and cc.audit_status='3') product_audit3_num,
	(SELECT IFNULL(COUNT(cc.id ),0) from bu_order_dtl bb,bu_appeal_order cc where bb.activity_id=ba.id and bb.del_flag='0' and bb.sub_order_id=cc.sub_order_id and cc.del_flag='0') this_product_appeal_num,
	(SELECT IFNULL(COUNT(bb.id ),0) FROM bu_violate_order bb WHERE bb.mcht_id=ba.mcht_id and bb.del_flag='0') this_mcht_violate_num
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_activity ba
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <!-- 通过id获得详情信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_activity ba
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 总条数 -->
  <select id="countByExample" parameterType="com.jf.entity.ActivityExample" resultType="java.lang.Integer" >
    select count(*) from bu_activity ba
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- 根据活动id统计商品库存 -->
  <select id="selectByProductIdList" resultType="Integer" parameterType="Integer">
  	SELECT SUM(pi.stock-pi.locked_amount) FROM bu_product_item pi 
  	WHERE pi.del_flag='0' and pi.product_id IN (SELECT ap.product_id FROM bu_activity_product ap WHERE ap.activity_id=#{activityId})
  </select>
  <select id="selectMchtActivityList" resultMap="BaseResultMap" parameterType="map" >
  	select 
  	<include refid="Base_Column_List" />
  	 from bu_activity ba
  	 where ba.activity_area_id=#{activityAreaId}
  </select>
  <select id="getActivityByIdList" parameterType="Integer" resultType="Integer">
  	SELECT ba.id FROM bu_activity ba WHERE ba.activity_area_id=#{activityAreaId} and ba.del_flag='0'
  </select>
  
  <update id="updateByCustomExampleSelective" parameterType="map" >
    update bu_activity ba
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.activityAreaId != null" >
        activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.productTypeId != null" >
        product_type_id = #{record.productTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.productTypeSecondId != null" >
        product_type_second_id = #{record.productTypeSecondId,jdbcType=INTEGER},
      </if>
      <if test="record.brandLimitType != null" >
        brand_limit_type = #{record.brandLimitType,jdbcType=CHAR},
      </if>
      <if test="record.productBrandId != null" >
        product_brand_id = #{record.productBrandId,jdbcType=INTEGER},
      </if>
      <if test="record.feeRate != null" >
        fee_rate = #{record.feeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expectedStartTime != null" >
        expected_start_time = #{record.expectedStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.entryPic != null" >
        entry_pic = #{record.entryPic,jdbcType=VARCHAR},
      </if>
      <if test="record.posterPic != null" >
        poster_pic = #{record.posterPic,jdbcType=VARCHAR},
      </if>
      <if test="record.brandteamPic != null" >
        brand_team_pic = #{record.brandteamPic,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.operateAuditBy != null" >
        operate_audit_by = #{record.operateAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.operateAuditStatus != null" >
        operate_audit_status = #{record.operateAuditStatus,jdbcType=CHAR},
      </if>
      <if test="record.operateAuditRemarks != null" >
        operate_audit_remarks = #{record.operateAuditRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.designAuditBy != null" >
        design_audit_by = #{record.designAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.designAuditStatus != null" >
        design_audit_status = #{record.designAuditStatus,jdbcType=CHAR},
      </if>
      <if test="record.designAuditRemarks != null" >
        design_audit_remarks = #{record.designAuditRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.lawAuditBy != null" >
        law_audit_by = #{record.lawAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.lawAuditStatus != null" >
        law_audit_status = #{record.lawAuditStatus,jdbcType=CHAR},
      </if>
      <if test="record.lawAuditRemarks != null" >
        law_audit_remarks = #{record.lawAuditRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.cooAuditBy != null" >
        coo_audit_by = #{record.cooAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.cooAuditStatus != null" >
        coo_audit_status = #{record.cooAuditStatus,jdbcType=CHAR},
      </if>
      <if test="record.cooAuditRemarks != null" >
        coo_audit_remarks = #{record.cooAuditRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNo != null" >
        seq_no = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.activityGroupId != null" >
        activity_group_id = #{record.activityGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.isSign != null" >
        is_sign = #{record.isSign,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.designRejectReason != null" >
        design_reject_reason = #{record.designRejectReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <resultMap id="BaseResultCustomMap" type="com.jf.entity.ActivityNewCustom"  extends="com.jf.dao.ActivityMapper.BaseResultMap">
  	<result column="benefit_point" property="benefitPoint" jdbcType="VARCHAR"/>
  	<result column="preferential_type_desc" property="preferentialTypeDesc" jdbcType="VARCHAR"/>
  	<result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
  	<result column="mcht_code" property="mchtCode" jdbcType="VARCHAR"/>
  	<result column="operate_audit_name" property="operateAuditName" jdbcType="VARCHAR"/>
  	<result column="operate_audit_status_desc" property="operateAuditStatusDesc" jdbcType="VARCHAR"/>
  	<result column="coo_audit_name" property="cooAuditName" jdbcType="VARCHAR"/>
  	<result column="coo_audit_status_desc" property="cooAuditStatusDesc" jdbcType="VARCHAR"/>
  	<result column="activity_status_desc" property="activityStatusDesc" jdbcType="VARCHAR"/>
    <result column="activity_begin_time" property="activityBeginTime" jdbcType="TIMESTAMP"/>
    <result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP"/>
    <result column="preheat_time" property="preheatTime" jdbcType="TIMESTAMP"/>
    <result column="pop_commission_rate" property="popCommissionRate" jdbcType="DECIMAL"/>
    <result column="preferential_type" property="preferentialType" jdbcType="VARCHAR"/>
    <result column="activity_area_name" property="activityAreaName" jdbcType="VARCHAR"/>
    <result column="design_audit_name" property="designAuditName" jdbcType="VARCHAR"/>
    <result column="design_audit_status_desc" property="designAuditStatusDesc" jdbcType="VARCHAR"/>
    <result column="sum_operate_audit" property="sumOperateAudit" jdbcType="INTEGER"/>
  	<result column="sum_operate_pass" property="sumOperatePass" jdbcType="INTEGER"/>
  	<result column="sum_operate_product_item" property="sumOperateProductItem" jdbcType="INTEGER"/>
    <result column="sum_coo_audit" property="sumCooAudit" jdbcType="INTEGER"/>
  	<result column="sum_coo_pass" property="sumCooPass" jdbcType="INTEGER"/>
  	<result column="sum_coo_product_item" property="sumCooProductItem" jdbcType="INTEGER"/>
  	<result column="sum_all_coo_audit" property="sumAllCooAudit" jdbcType="INTEGER"/>
  	<result column="activity_area_activity_group_id" property="activityAreaActivityGroupId" jdbcType="INTEGER"/>
  	<result column="activity_area_is_sign" property="activityAreaIsSign" jdbcType="VARCHAR"/>
  	<result column="group_name" property="groupName" jdbcType="VARCHAR"/>
  	<result column="product_brand_name" property="productBrandName" jdbcType="VARCHAR"/>
  	<result column="product_type_name" property="productTypeName" jdbcType="VARCHAR"/>
  	<result column="ad_info_id" property="adInfoId" jdbcType="INTEGER"/>
  	<result column="source" property="source" jdbcType="VARCHAR"/>
  	<result column="preferential_id_group" property="preferentialIdGroup" jdbcType="VARCHAR"/>
  	<result column="pay_amount_sum" property="payAmountSum" jdbcType="VARCHAR"/>
  	<result column="activity_brand_group_name" property="activityBrandGroupName" jdbcType="VARCHAR"/>
  	<result column="mcht_grade_desc" property="mchtGradeDesc" jdbcType="VARCHAR"/>
    <result column="mcht_type" property="mchtType" jdbcType="CHAR"/>
    <result column="is_manage_self" property="isManageSelf" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Base_Column_Custom_List" >
  	id, name, activity_area_id, mcht_id, product_type_id, product_type_second_id, brand_limit_type, 
    product_brand_id, fee_rate, submit_time, expected_start_time, entry_pic, poster_pic, brand_team_pic,
    poster_link_id, status, operate_audit_by, operate_audit_status, operate_audit_remarks, 
    design_audit_by, design_audit_status, design_audit_remarks, law_audit_by, law_audit_status, 
    law_audit_remarks, coo_audit_by, coo_audit_status, coo_audit_remarks, seq_no, activity_group_id, 
    is_sign, pre_sell_audit_status, pre_sell_audit_remarks, create_by, create_date, update_by, 
    update_date, remarks, del_flag,
    design_reject_reason,
    (select baa.benefit_point from bu_activity_area baa where baa.id = ba.activity_area_id and baa.del_flag = '0') benefit_point,
    FUN_GET_STATUS_DESC("BU_ACTIVITY_AREA", "PREFERENTIAL_TYPE", (select baa.preferential_type from bu_activity_area baa where baa.del_flag = '0' and baa.id = ba.activity_area_id)) preferential_type_desc,
    (select bmi.shop_name from bu_mcht_info bmi where bmi.id = ba.mcht_id and bmi.del_flag = '0') shop_name,
    (select bmi.mcht_code from bu_mcht_info bmi where bmi.id = ba.mcht_id and bmi.del_flag = '0') mcht_code,
    (select ssi.staff_name from sys_staff_info ssi where ssi.staff_id = ba.operate_audit_by) operate_audit_name,
    FUN_GET_STATUS_DESC("BU_ACTIVITY", "OPERATE_AUDIT_STATUS", ba.operate_audit_status) operate_audit_status_desc,
    (select ssi.staff_name from sys_staff_info ssi where ssi.staff_id = ba.coo_audit_by) coo_audit_name,
    FUN_GET_STATUS_DESC("BU_ACTIVITY", "COO_AUDIT_STATUS", ba.coo_audit_status) coo_audit_status_desc,
    FUN_GET_STATUS_DESC("BU_ACTIVITY","STATUS", ba.status) activity_status_desc,
    (select baa.activity_begin_time from bu_activity_area baa where baa.id = ba.activity_area_id and baa.del_flag = '0') activity_begin_time,
    (select baa.activity_end_time from bu_activity_area baa where baa.id = ba.activity_area_id and baa.del_flag = '0') activity_end_time,
    (select baa.preheat_time from bu_activity_area baa where baa.id = ba.activity_area_id and baa.del_flag = '0') preheat_time,
    (select mpb.pop_commission_rate from bu_mcht_product_brand mpb where mpb.mcht_id = ba.mcht_id and mpb.product_brand_id = ba.product_brand_id and mpb.del_flag = '0' Limit 1 ) pop_commission_rate,
    (select baa.preferential_type from bu_activity_area baa where baa.del_flag = '0' and baa.id = ba.activity_area_id) preferential_type,
    (select baa.name from bu_activity_area baa where baa.del_flag = '0' and baa.id = ba.activity_area_id) activity_area_name,
    (select ssi.staff_name from sys_staff_info ssi where ssi.staff_id = ba.design_audit_by) design_audit_name,
  	FUN_GET_STATUS_DESC("BU_ACTIVITY","DESIGN_AUDIT_STATUS", ba.design_audit_status) design_audit_status_desc,
  	(select count(*) from bu_activity_product bap where bap.activity_id = ba.id and bap.del_flag = '0' and bap.refuse_flag != '1' and (bap.operate_audit_status = '1' or bap.operate_audit_status is null or bap.operate_audit_status = '')) sum_operate_audit,
  	(select count(*) from bu_activity_product bap where bap.activity_id = ba.id and bap.del_flag = '0' and bap.refuse_flag != '1' and bap.operate_audit_status = '2') sum_operate_pass,
  	(select IFNULL(SUM(bpi.stock),0) from bu_activity_product bap, bu_product_item bpi where bap.activity_id = ba.id and bap.product_id = bpi.product_id and bap.del_flag = '0' and bpi.del_flag = '0' and bap.refuse_flag != '1' and bap.operate_audit_status = '2') sum_operate_product_item,
  	(select count(*) from bu_activity_product bap where bap.activity_id = ba.id and bap.del_flag = '0' and bap.refuse_flag != '1' and bap.operate_audit_status = '2' and bap.coo_audit_status = '1') sum_coo_audit,
  	(select count(*) from bu_activity_product bap where bap.activity_id = ba.id and bap.del_flag = '0' and bap.refuse_flag != '1' and bap.operate_audit_status = '2' and bap.coo_audit_status = '2') sum_coo_pass,
  	(select IFNULL(SUM(bpi.stock),0) from bu_activity_product bap, bu_product_item bpi where bap.activity_id = ba.id and bap.product_id = bpi.product_id and bap.del_flag = '0' and bpi.del_flag = '0' and bap.refuse_flag != '1' and bap.operate_audit_status = '2' and bap.coo_audit_status = '2') sum_coo_product_item,
  	(select count(*) from bu_activity_product bap where bap.activity_id = ba.id and bap.del_flag = '0' and bap.refuse_flag != '1' and (bap.coo_audit_status = '1' or bap.coo_audit_status is null or bap.coo_audit_status = '')) sum_all_coo_audit,
  	(select baa.activity_group_id from bu_activity_area baa where baa.del_flag = '0' and baa.id = ba.activity_area_id) activity_area_activity_group_id,
  	(select baa.is_sign from bu_activity_area baa where baa.del_flag = '0' and baa.id = ba.activity_area_id) activity_area_is_sign,
  	(select bag.group_name from bu_activity_area baa, bu_activity_group bag where baa.activity_group_id = bag.id and bag.del_flag = '0' and baa.del_flag = '0' and baa.id = ba.activity_area_id) group_name,
  	(select pb.name from bu_product_brand pb where pb.id = ba.product_brand_id) product_brand_name,
  	(select pt.name from bu_product_type pt where pt.id = ba.product_type_id) product_type_name,
  	(select a.id from bu_ad_info a where a.link_id = ba.id and a.del_flag = '0' and a.type = '2' and a.catalog = '1' and a.position = '9' and a.link_type = '2' and a.status = '1' limit 1) ad_info_id,
  	(select baa.source from bu_activity_area baa where baa.id = ba.activity_area_id and baa.del_flag = '0') source,
  	(select baa.preferential_id_group from bu_activity_area baa where baa.id = ba.activity_area_id and baa.del_flag = '0') preferential_id_group,
  	(SELECT IFNULL(SUM(od.pay_amount),0) FROM bu_combine_order co, bu_sub_order so, bu_order_dtl od WHERE co.del_flag = '0' AND so.del_flag = '0' AND co.pay_status = '1' AND co.id = so.combine_order_id AND so.id = od.sub_order_id AND od.activity_id = ba.id) pay_amount_sum,
  	(select abg.name from bu_activity_brand_group_activity abga left join bu_activity_brand_group abg on abga.activity_brand_group_id = abg.id where abga.del_flag = '0' and abg.del_flag = '0' and abga.activity_area_id = ba.activity_area_id limit 1) activity_brand_group_name,
  	FUN_GET_STATUS_DESC("BU_MCHT_INFO", "GRADE", (select mi.grade from bu_mcht_info mi where mi.del_flag = '0' and mi.id = ba.mcht_id)) mcht_grade_desc,
  	(select mi.mcht_type from bu_mcht_info mi where mi.id = ba.mcht_id and mi.del_flag = '0') mcht_type,
  	(select mi.is_manage_self from bu_mcht_info mi where mi.id = ba.mcht_id and mi.del_flag = '0') is_manage_self
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultCustomMap" parameterType="com.jf.entity.ActivityCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_Custom_List" />
    from bu_activity ba
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultCustomMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_Custom_List" />
    from bu_activity ba
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 获取30天内的已审核人 -->
  <select id="getAuditByList" parameterType="java.util.Map" resultType="java.util.Map" >
  		SELECT DISTINCT
  		<if test="operate_audit_by != null " ><!-- 运营审核人员 -->
		  t.operate_audit_by
		</if>
		<if test="coo_audit_by != null " ><!-- 运营总监 -->
		  t.coo_audit_by
		</if>
		<if test="design_audit_by != null " ><!-- 设计部审核 -->
		  t.design_audit_by
		</if>
		FROM bu_activity t
		WHERE t.del_flag = '0'
		<if test="operate_audit_by != null " >
			AND t.operate_audit_by IS NOT NULL
		</if>
		<if test="coo_audit_by != null " >
			AND t.coo_audit_by IS NOT NULL
		</if>
		<if test="design_audit_by != null " >
			AND t.design_audit_by IS NOT NULL
		</if>
		    AND t.create_date >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
  </select>
  
  <select id="getProductIdsByActivityIds" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select DISTINCT ap.product_id from bu_activity a,bu_activity_product ap where a.id = ap.activity_id and FIND_IN_SET(a.id,#{activityIds}) and a.del_flag='0' and ap.del_flag='0' and ap.refuse_flag='0' and ap.coo_audit_status='2'
  </select>
  
  <select id="getEntryPics" parameterType="java.util.HashMap" resultType="java.lang.String">
	SELECT
		a.entry_pic
	FROM
		bu_activity a
	WHERE
	a.del_flag = '0'
	AND a.id IN
	<foreach collection="activityIds" item="listItem" open="(" close=")" separator="," >
		#{listItem}
    </foreach> 
	ORDER BY FIND_IN_SET(a.id,#{ids})  
  </select>

    <select id="countActivityTrafficStatisticsRealTime" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
        select
        count(*)
        from
        bu_activity ba
        where
        ba.del_flag = '0'
        AND ba.STATUS = '6'
        AND EXISTS (
        SELECT
        baa.id
        FROM
        bu_activity_area baa
        WHERE
        baa.id = ba.activity_area_id
        AND baa.del_flag = '0'
        AND baa.source = '2'
        AND ( baa.activity_end_time > NOW( ) OR baa.activity_end_time IS NULL )
        )
        <if test="activityId != null" >
            AND ba.id = #{activityId,jdbcType=INTEGER}
        </if>
        <if test="name != null" >
            AND ba.name LIKE #{name,jdbcType=VARCHAR}
        </if>
        <if test="mchtCode != null" >
            AND EXISTS (select mi.id from bu_mcht_info mi WHERE mi.id = ba.mcht_id and mi.del_flag = '0' and mi.mcht_code = #{mchtCode,jdbcType=VARCHAR})
        </if>
        <if test="mchtName != null" >
            AND EXISTS (select mi.id from bu_mcht_info mi WHERE mi.id = ba.mcht_id and mi.del_flag = '0' and mi.shop_name LIKE #{mchtName,jdbcType=VARCHAR})
        </if>
        <if test="productTypeId != null" >
            AND ba.product_type_id = #{productTypeId,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectActivityTrafficStatisticsRealTime" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
        SELECT
        b.id,
        b.NAME,
        b.seqNo AS seqNo,
        b.activityAreaId AS activityAreaId,
        b.entryPic AS entryPic,
        b.adInfoId AS adInfoId,
        b.payAmountSum AS payAmountSum,
        IFNULL( a.totalVisitorCount, 0 ) AS totalVisitorCount,
        0 AS totalVisitorCountTourist,
        IFNULL( a.totalPvCount, 0 ) AS totalPvCount,
        0 AS totalPvCountTourist,
        IFNULL( b.shoppingCartCount, 0 ) AS shoppingCartCount,
        IFNULL( b.subProductCount, 0 ) AS subProductCount,
        IFNULL( b.payProductCount, 0 ) AS payProductCount,
        IFNULL( CONCAT( ROUND( b.shoppingCartCount / a.totalVisitorCount * 100, 2 ), '%' ), '0.00%' ) AS addProductRate,
        IFNULL( CONCAT( ROUND( b.subProductCount / b.shoppingCartCount * 100, 2 ), '%' ), '0.00%' ) AS submitOrderRate,
        IFNULL( CONCAT( ROUND( b.payProductCount / b.subProductCount * 100, 2 ), '%' ) , '0.00%') AS paymentRate
        FROM
        (
        select
        ba.id,
        ba.NAME,
        ba.seq_no AS seqNo,
        ba.activity_area_id AS activityAreaId,
        ba.entry_pic AS entryPic,
        (
        SELECT
        a.id
        FROM
        bu_ad_info a
        WHERE
        a.link_id = ba.id
        AND a.del_flag = '0'
        AND a.type = '2'
        AND a.catalog = '1'
        AND a.position = '9'
        AND a.link_type = '2'
        AND a.STATUS = '1'
        LIMIT 1
        ) adInfoId,
        (
        SELECT
        IFNULL( SUM( od.pay_amount ), 0 )
        FROM
        bu_combine_order co,
        bu_sub_order so,
        bu_order_dtl od
        WHERE
        co.del_flag = '0'
        AND so.del_flag = '0'
        AND co.pay_status = '1'
        AND co.id = so.combine_order_id
        AND so.id = od.sub_order_id
        AND od.activity_id = ba.id
        ) AS payAmountSum,
        IFNULL(
        (
        SELECT
        SUM( bsc.quantity )
        FROM
        bu_shopping_cart bsc
        WHERE
        ba.id = bsc.activity_id
        AND bsc.create_date <![CDATA[ >= ]]> #{beginTime,jdbcType=TIMESTAMP}
        AND bsc.create_date <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
        ),
        0
        ) AS shoppingCartCount,
        IFNULL(
        (
        SELECT
        count( co.id )
        FROM
        bu_combine_order co,
        bu_sub_order so,
        bu_order_dtl od
        WHERE
        od.activity_id = ba.id
        AND od.sub_order_id = so.id
        AND so.combine_order_id = co.id
        AND co.create_date <![CDATA[ >= ]]> #{beginTime,jdbcType=TIMESTAMP}
        AND co.create_date <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
        AND co.del_flag = '0'
        AND so.del_flag = '0'
        AND od.del_flag = '0'
        ),
        0
        ) AS subProductCount,
        IFNULL(
        (
        SELECT
        count( co.id )
        FROM
        bu_combine_order co,
        bu_sub_order so,
        bu_order_dtl od
        WHERE
        od.activity_id = ba.id
        AND od.sub_order_id = so.id
        AND so.combine_order_id = co.id
        AND co.create_date  <![CDATA[ >= ]]> #{beginTime,jdbcType=TIMESTAMP}
        AND co.create_date <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
        AND co.STATUS = '1'
        AND co.pay_status = '1'
        AND co.del_flag = '0'
        AND so.del_flag = '0'
        AND od.del_flag = '0'
        ),
        0
        ) AS payProductCount
        from
        bu_activity ba
        where
        ba.del_flag = '0'
        AND ba.STATUS = '6'
        AND EXISTS (
        SELECT
        baa.id
        FROM
        bu_activity_area baa
        WHERE
        baa.id = ba.activity_area_id
        AND baa.del_flag = '0'
        AND baa.source = '2'
        AND ( baa.activity_end_time > NOW( ) OR baa.activity_end_time IS NULL )
        )
        <if test="activityId != null" >
            AND ba.id = #{activityId,jdbcType=INTEGER}
        </if>
        <if test="name != null" >
            AND ba.name LIKE #{name,jdbcType=VARCHAR}
        </if>
        <if test="mchtCode != null" >
            AND EXISTS (select mi.id from bu_mcht_info mi WHERE mi.id = ba.mcht_id and mi.del_flag = '0' and mi.mcht_code = #{mchtCode,jdbcType=VARCHAR})
        </if>
        <if test="mchtName != null" >
            AND EXISTS (select mi.id from bu_mcht_info mi WHERE mi.id = ba.mcht_id and mi.del_flag = '0' and mi.shop_name LIKE #{mchtName,jdbcType=VARCHAR})
        </if>
        <if test="productTypeId != null" >
            AND ba.product_type_id = #{productTypeId,jdbcType=INTEGER}
        </if>
        ORDER BY
        IFNULL( ba.seq_no, 999999 ) ASC,
        ( SELECT baa.activity_begin_time FROM bu_activity_area baa WHERE baa.id = ba.activity_area_id AND baa.del_flag = '0' ) DESC,
        ba.id DESC
        <if test="limitStart != null and limitSize != null " >
            LIMIT #{limitStart},#{limitSize}
        </if>
        ) b
        LEFT JOIN (
        select
        maf.activity_id AS activityId,
        IFNULL( count( * ), 0 ) AS totalVisitorCount,
        IFNULL( count( DISTINCT ( maf.member_id ) ), 0 ) AS totalPvCount
        from
        bu_member_activity_footprint maf,
        (SELECT
        ba.id
        FROM
        bu_activity ba
        WHERE
        ba.del_flag = '0'
        AND ba.STATUS = '6'
        AND EXISTS (
        SELECT
        baa.id
        FROM
        bu_activity_area baa
        WHERE
        baa.id = ba.activity_area_id
        AND baa.del_flag = '0'
        AND baa.source = '2'
        AND ( baa.activity_end_time > NOW( ) OR baa.activity_end_time IS NULL )
        )
        <if test="activityId != null" >
            AND ba.id = #{activityId,jdbcType=INTEGER}
        </if>
        <if test="name != null" >
            AND ba.name LIKE #{name,jdbcType=VARCHAR}
        </if>
        <if test="mchtCode != null" >
            AND EXISTS (select mi.id from bu_mcht_info mi WHERE mi.id = ba.mcht_id and mi.del_flag = '0' and mi.mcht_code = #{mchtCode,jdbcType=VARCHAR})
        </if>
        <if test="mchtName != null" >
            AND EXISTS (select mi.id from bu_mcht_info mi WHERE mi.id = ba.mcht_id and mi.del_flag = '0' and mi.shop_name LIKE #{mchtName,jdbcType=VARCHAR})
        </if>
        <if test="productTypeId != null" >
            AND ba.product_type_id = #{productTypeId,jdbcType=INTEGER}
        </if>
        ORDER BY
        IFNULL( ba.seq_no, 999999 ) ASC,
        ( SELECT baa.activity_begin_time FROM bu_activity_area baa WHERE baa.id = ba.activity_area_id AND baa.del_flag = '0' ) DESC,
        ba.id DESC
        <if test="limitStart != null and limitSize != null " >
            LIMIT #{limitStart},#{limitSize}
        </if>
        ) c
        where
        maf.del_flag = '0'
        AND maf.activity_id = c.id
        AND maf.create_date <![CDATA[ >= ]]> #{beginTime,jdbcType=TIMESTAMP}
        AND maf.create_date <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
        GROUP BY maf.activity_id
        ) a ON a.activityId = b.id
    </select>
</mapper>