<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ActivityBrandGroupActivityCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ActivityBrandGroupActivityCustom" extends="com.jf.dao.ActivityBrandGroupActivityMapper.BaseResultMap">
  <result column="activity_id" property="activityId" jdbcType="INTEGER" />
  <result column="activity_status_desc" property="activityStatusDesc" jdbcType="VARCHAR" />
  <result column="activity_entry_pic" property="activityEntryPic" jdbcType="VARCHAR" />
  <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
  <result column="activity_area_benefit_point" property="activityareaBenefitPoint" jdbcType="VARCHAR" />
  <result column="activity_area_preferential_type" property="activityareaPreferentialType" jdbcType="VARCHAR" />
  <result column="activity_shop_name" property="activityShopName" jdbcType="VARCHAR" />
  <result column="activity_product_type" property="activityProductType" jdbcType="VARCHAR" />
  <result column="activity_area_begin_time" property="activityareaBeginTtime" jdbcType="TIMESTAMP" />
  <result column="activity_area_end_time" property="activityareaEndTime" jdbcType="TIMESTAMP" />
  <result column="activity_area_preheat_time" property="activityareaPreheatTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   id, activity_brand_group_id, activity_area_id, create_by, create_date, update_by,
   update_date, remarks, del_flag,
FUN_GET_STATUS_DESC("BU_ACTIVITY","STATUS",(select act.status from bu_activity act,bu_activity_area ac where a.activity_area_id=ac.id and ac.id=act.activity_area_id and ac.del_flag='0' and act.del_flag='0' LIMIT 1)) activity_Status_Desc,
(SELECT act.id FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0' limit 1)activity_id,
(SELECT act.entry_pic FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0' limit 1)activity_entry_pic,
(SELECT act.`name` FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0' limit 1)activity_name,
(SELECT ac.benefit_point FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0')activity_area_benefit_point,
 FUN_GET_STATUS_DESC("BU_ACTIVITY_AREA","PREFERENTIAL_TYPE",(SELECT ac.preferential_type FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0')) activity_area_preferential_type,
(SELECT m.shop_name FROM bu_activity_area ac,bu_activity act,bu_mcht_info m WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND act.mcht_id=m.id AND m.del_flag='0' AND ac.del_flag='0' and act.del_flag='0' limit 1)activity_shop_name,
(SELECT p.`name` FROM bu_activity_area ac,bu_activity act,bu_product_type p WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND act.product_type_id=p.id AND p.`status`='1' AND p.del_flag='0' AND ac.del_flag='0' and act.del_flag='0' limit 1)activity_product_type,
(SELECT ac.activity_begin_time FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0')activity_area_begin_time,
(SELECT ac.activity_end_time FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0')activity_area_end_time,
(SELECT ac.preheat_time FROM bu_activity_area ac,bu_activity act WHERE a.activity_area_id=ac.id AND ac.id=act.activity_area_id AND ac.del_flag='0' and act.del_flag='0')activity_area_preheat_time
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ActivityBrandGroupActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_activity_brand_group_activity a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.ActivityBrandGroupActivityExample" resultType="java.lang.Integer" >
    select count(*) from bu_activity_brand_group_activity a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_activity_brand_group_activity a
    where id = #{id,jdbcType=INTEGER}
  </select> 
</mapper>