<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.AllowanceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.AllowanceInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rang" property="rang" jdbcType="CHAR" />
    <result column="belong" property="belong" jdbcType="CHAR" />
    <result column="activity_area_id" property="activityAreaId" jdbcType="INTEGER" />
    <result column="ladder_flag" property="ladderFlag" jdbcType="CHAR" />
    <result column="sum_flag" property="sumFlag" jdbcType="CHAR" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="usage_begin_time" property="usageBeginTime" jdbcType="TIMESTAMP" />
    <result column="usage_end_time" property="usageEndTime" jdbcType="TIMESTAMP" />
    <result column="allowance_description" property="allowanceDescription" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, rang, belong, activity_area_id, ladder_flag, sum_flag, rule, usage_begin_time, 
    usage_end_time, allowance_description, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.AllowanceInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_allowance_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_allowance_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_allowance_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.AllowanceInfoExample" >
    delete from bu_allowance_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.AllowanceInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_allowance_info (rang, belong, activity_area_id, 
      ladder_flag, sum_flag, rule, 
      usage_begin_time, usage_end_time, allowance_description, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{rang,jdbcType=CHAR}, #{belong,jdbcType=CHAR}, #{activityAreaId,jdbcType=INTEGER}, 
      #{ladderFlag,jdbcType=CHAR}, #{sumFlag,jdbcType=CHAR}, #{rule,jdbcType=VARCHAR}, 
      #{usageBeginTime,jdbcType=TIMESTAMP}, #{usageEndTime,jdbcType=TIMESTAMP}, #{allowanceDescription,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.AllowanceInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_allowance_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rang != null" >
        rang,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="activityAreaId != null" >
        activity_area_id,
      </if>
      <if test="ladderFlag != null" >
        ladder_flag,
      </if>
      <if test="sumFlag != null" >
        sum_flag,
      </if>
      <if test="rule != null" >
        rule,
      </if>
      <if test="usageBeginTime != null" >
        usage_begin_time,
      </if>
      <if test="usageEndTime != null" >
        usage_end_time,
      </if>
      <if test="allowanceDescription != null" >
        allowance_description,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rang != null" >
        #{rang,jdbcType=CHAR},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=CHAR},
      </if>
      <if test="activityAreaId != null" >
        #{activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="ladderFlag != null" >
        #{ladderFlag,jdbcType=CHAR},
      </if>
      <if test="sumFlag != null" >
        #{sumFlag,jdbcType=CHAR},
      </if>
      <if test="rule != null" >
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="usageBeginTime != null" >
        #{usageBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usageEndTime != null" >
        #{usageEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allowanceDescription != null" >
        #{allowanceDescription,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.AllowanceInfoExample" resultType="java.lang.Integer" >
    select count(*) from bu_allowance_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_allowance_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rang != null" >
        rang = #{record.rang,jdbcType=CHAR},
      </if>
      <if test="record.belong != null" >
        belong = #{record.belong,jdbcType=CHAR},
      </if>
      <if test="record.activityAreaId != null" >
        activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.ladderFlag != null" >
        ladder_flag = #{record.ladderFlag,jdbcType=CHAR},
      </if>
      <if test="record.sumFlag != null" >
        sum_flag = #{record.sumFlag,jdbcType=CHAR},
      </if>
      <if test="record.rule != null" >
        rule = #{record.rule,jdbcType=VARCHAR},
      </if>
      <if test="record.usageBeginTime != null" >
        usage_begin_time = #{record.usageBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usageEndTime != null" >
        usage_end_time = #{record.usageEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.allowanceDescription != null" >
        allowance_description = #{record.allowanceDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_allowance_info
    set id = #{record.id,jdbcType=INTEGER},
      rang = #{record.rang,jdbcType=CHAR},
      belong = #{record.belong,jdbcType=CHAR},
      activity_area_id = #{record.activityAreaId,jdbcType=INTEGER},
      ladder_flag = #{record.ladderFlag,jdbcType=CHAR},
      sum_flag = #{record.sumFlag,jdbcType=CHAR},
      rule = #{record.rule,jdbcType=VARCHAR},
      usage_begin_time = #{record.usageBeginTime,jdbcType=TIMESTAMP},
      usage_end_time = #{record.usageEndTime,jdbcType=TIMESTAMP},
      allowance_description = #{record.allowanceDescription,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.AllowanceInfo" >
    update bu_allowance_info
    <set >
      <if test="rang != null" >
        rang = #{rang,jdbcType=CHAR},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=CHAR},
      </if>
      <if test="activityAreaId != null" >
        activity_area_id = #{activityAreaId,jdbcType=INTEGER},
      </if>
      <if test="ladderFlag != null" >
        ladder_flag = #{ladderFlag,jdbcType=CHAR},
      </if>
      <if test="sumFlag != null" >
        sum_flag = #{sumFlag,jdbcType=CHAR},
      </if>
      <if test="rule != null" >
        rule = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="usageBeginTime != null" >
        usage_begin_time = #{usageBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usageEndTime != null" >
        usage_end_time = #{usageEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allowanceDescription != null" >
        allowance_description = #{allowanceDescription,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.AllowanceInfo" >
    update bu_allowance_info
    set rang = #{rang,jdbcType=CHAR},
      belong = #{belong,jdbcType=CHAR},
      activity_area_id = #{activityAreaId,jdbcType=INTEGER},
      ladder_flag = #{ladderFlag,jdbcType=CHAR},
      sum_flag = #{sumFlag,jdbcType=CHAR},
      rule = #{rule,jdbcType=VARCHAR},
      usage_begin_time = #{usageBeginTime,jdbcType=TIMESTAMP},
      usage_end_time = #{usageEndTime,jdbcType=TIMESTAMP},
      allowance_description = #{allowanceDescription,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>