<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.AppVersionCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.AppVersionCustom"  extends="com.jf.dao.AppVersionMapper.BaseResultMap">
    <result column="app_type_desc" property="appTypeDesc" jdbcType="VARCHAR" />
    <result column="spr_chnl_desc" property="sprChnlDesc" jdbcType="VARCHAR" />
    <result column="is_effect_desc" property="isEffectDesc" jdbcType="VARCHAR" />
    <result column="is_must_desc" property="isMustDesc" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, app_version, app_version_no, target_version, app_type, spr_chnl, package_url, 
    package_size, is_effect, launch_content, is_must, create_by, create_date, update_by, 
    update_date, remarks, del_flag,
    FUN_GET_STATUS_DESC("SYS_APP_VERSION", "APP_TYPE", a.app_type) app_type_desc,
    FUN_GET_STATUS_DESC("BU_MEMBER_INFO", "SPR_CHNL", a.spr_chnl) spr_chnl_desc,
    FUN_GET_STATUS_DESC("SYS_APP_VERSION", "IS_EFFECT", a.is_effect) is_effect_desc,
    FUN_GET_STATUS_DESC("SYS_APP_VERSION", "IS_MUST", a.is_must) is_must_desc,
    (select b.staff_name from sys_staff_info b where b.staff_id=a.create_by) staff_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.AppVersionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_app_version a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_app_version a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.jf.entity.AppVersionExample" resultType="java.lang.Integer" >
    select count(*) from sys_app_version a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="getSprChnlsByAppVersion" parameterType="java.lang.Integer" resultType="java.lang.String">
  	SELECT DISTINCT sav.spr_chnl FROM sys_app_version sav WHERE sav.app_version=#{appVersion}
  </select>
  <insert id="batchInsert" >
  	insert into sys_app_version (app_version,app_version_no,app_type,spr_chnl,package_url,package_size,is_effect,launch_content,is_must,create_by,create_date,del_flag) values
      		<foreach collection="list" item="item" separator=",">
      			(
      			#{item.appVersion},
      			#{item.appVersionNo},
      			#{item.appType},
      			#{item.sprChnl},
      			#{item.packageUrl},
      			#{item.packageSize},
      			#{item.isEffect},
      			#{item.launchContent},
      			#{item.isMust},
      			#{item.createBy},
      			#{item.createDate},
      			#{item.delFlag}
      			)
      		</foreach>
  	
  </insert>
</mapper>