<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CombineDepositOrderCustomMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="combineDepositOrderCountEachDayListSql">
SELECT
	each_day,
	ifnull(sum(total_count), 0) AS total_count,
	ifnull(sum(combine_amount), 0.00) AS combine_amount,
	ifnull(sum(zfb_amount), 0.00) AS zfb_amount,
	ifnull(sum(zfb_count), 0) AS zfb_count,
	ifnull(sum(wx_amount), 0.00) AS wx_amount,
	ifnull(sum(wx_count), 0) AS wx_count,
	ifnull(sum(gzh_amount), 0.00) AS gzh_amount,
	ifnull(sum(gzh_count), 0) AS gzh_count
FROM
	(
		SELECT
			DATE_FORMAT(cdo.pay_date, '%Y-%m-%d') each_day,
			count(cdo.id) total_count,
			SUM(cdo.total_deposit) combine_amount,
			0 AS zfb_amount,
			0 AS zfb_count,
			0 AS wx_amount,
			0 AS wx_count,
			0 AS gzh_amount,
			0 AS gzh_count
		FROM
			bu_combine_deposit_order cdo 
		WHERE
			cdo.`status` = '2'
		AND cdo.del_flag = '0'
		AND cdo.pay_date IS NOT NULL
		AND cdo.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR}
		AND cdo.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR}
		AND cdo.payment_id IS NOT NULL
		GROUP BY
			each_day
		UNION
			SELECT
				DATE_FORMAT(cdo.pay_date, '%Y-%m-%d') each_day,
				0 AS total_count,
				0 AS combine_amount,
				SUM(cdo.total_deposit) zfb_amount,
				count(cdo.id) zfb_count,
				0 AS wx_amount,
				0 AS wx_count,
				0 AS gzh_amount,
				0 AS gzh_count
			FROM
				bu_combine_deposit_order cdo 
			WHERE
				cdo.`status` = '2'
			AND cdo.del_flag = '0'
			AND cdo.pay_date IS NOT NULL
			AND cdo.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR}
			AND cdo.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR}
			AND cdo.payment_id IN (1, 6)
			GROUP BY
				each_day
			UNION
				SELECT
					DATE_FORMAT(cdo.pay_date, '%Y-%m-%d') each_day,
					0 AS total_count,
					0 AS combine_amount,
					0 AS zfb_amount,
					0 AS zfb_count,
					SUM(cdo.total_deposit) wx_amount,
					count(cdo.id) wx_count,
					0 AS gzh_amount,
					0 AS gzh_count
				FROM
					bu_combine_deposit_order cdo 
				WHERE
					cdo.`status` = '2'
				AND cdo.del_flag = '0'
				AND cdo.pay_date IS NOT NULL
				AND cdo.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR}
				AND cdo.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR}
				AND cdo.payment_id IN (2, 5)
				GROUP BY
					each_day
				UNION
					SELECT
						DATE_FORMAT(cdo.pay_date, '%Y-%m-%d') each_day,
						0 AS total_count,
						0 AS combine_amount,
						0 AS zfb_amount,
						0 AS zfb_count,
						0 AS wx_amount,
						0 AS wx_count,
						SUM(cdo.total_deposit) gzh_amount,
						count(cdo.id) AS gzh_count
					FROM
						bu_combine_deposit_order cdo 
					WHERE
						cdo.`status` = '2'
					AND cdo.del_flag = '0'
					AND cdo.pay_date IS NOT NULL
					AND cdo.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR}
					AND cdo.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR}
					AND cdo.payment_id in (4,7)
					GROUP BY
						each_day
	) t
GROUP BY
	t.each_day
ORDER BY
	t.each_day
LIMIT 61
	</sql>
	<select id="combineDepositOrderCountEachDayList" resultType="java.util.Map" parameterType="java.util.HashMap" >
    	SELECT TAB.* FROM (
		<include refid="combineDepositOrderCountEachDayListSql" />
		)TAB
       	<if test="MAX_NUM!=null and MAX_NUM!=''">
			LIMIT ${MIN_NUM},${MAX_NUM}
	    </if>
  	</select>
</mapper>