<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.CommentCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.CommentCustom" extends="com.jf.dao.CommentMapper.BaseResultMap" >
  	<result column="sub_order_code" property="subOrderCode" jdbcType="VARCHAR" />
  	<result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
  	<result column="product_name" property="productName" jdbcType="VARCHAR" />
  	<result column="brand_name" property="brandName" jdbcType="VARCHAR" />
  	<result column="art_no" property="artNo" jdbcType="VARCHAR" />
  	<result column="product_prop_desc" property="productPropDesc" jdbcType="VARCHAR" />
  	<result column="sku" property="sku" jdbcType="VARCHAR" />
  	<result column="sku_pic" property="skuPic" jdbcType="VARCHAR" />
  	<result column="comment_pic" property="commentPic" jdbcType="VARCHAR" />
  	<result column="mcht_score" property="mchtScore" jdbcType="INTEGER" />
  	<result column="wuliu_score" property="wuliuScore" jdbcType="INTEGER" />
  	<result column="append_comment_content" property="appendCommentContent" jdbcType="VARCHAR" />
  	<result column="append_comment_pic" property="appendCommentPic" jdbcType="VARCHAR" />
  	<result column="mcht_comment_pic" property="mchtCommentPic" jdbcType="VARCHAR" />
  	<result column="mcht_reply_day" property="mchtReplyDay" jdbcType="INTEGER" />
  	<result column="append_reply_date" property="appendReplyDate" jdbcType="INTEGER" />
  	<result column="append_comment_id" property="appendCommentId" jdbcType="INTEGER" />
  	<result column="is_show_desc" property="isShowDesc" jdbcType="VARCHAR" />
  	<result column="product_code" property="productCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mcht_id, sub_order_id, order_dtl_id, product_id, member_id, is_append_comment, 
    product_score, content, mcht_reply, mcht_reply_date, is_draw, comment_weight, comment_source, 
    is_show, create_by, create_date, update_by, update_date, remarks, del_flag,
    (select so.sub_order_code from bu_sub_order so where so.del_flag = '0' and so.id = t.sub_order_id limit 1 ) sub_order_code,
    (select co.receiver_name from bu_sub_order so, bu_combine_order co where so.del_flag = '0' and co.del_flag = '0' and so.combine_order_id = co.id and so.id = t.sub_order_id limit 1 ) receiver_name,
    (select p.name from bu_product p where p.del_flag = '0' and p.id = t.product_id) product_name,
    (select pb.name from bu_product p,bu_product_brand pb where p.id=t.product_id and p.brand_id = pb.id and p.del_flag = '0' and pb.del_flag = '0') brand_name,
    (select p.art_no from bu_product p where p.del_flag = '0' and p.id = t.product_id limit 1 ) art_no,
    case when t.order_dtl_id = 0 then t.product_prop_desc else
    (select od.product_prop_desc from bu_order_dtl od where od.del_flag = '0' and od.id = t.order_dtl_id limit 1 ) end product_prop_desc,
    case when t.order_dtl_id = 0 then (select pi.sku from bu_product_item pi where pi.id = t.product_item_id and pi.del_flag = '0') else
    (select od.sku from bu_order_dtl od where od.del_flag = '0' and od.id = t.order_dtl_id limit 1 ) end sku,
    case when t.order_dtl_id = 0 then (select pi.pic from bu_product_item pi where pi.id = t.product_item_id and pi.del_flag = '0') else
    (select od.sku_pic from bu_order_dtl od where od.del_flag = '0' and od.id = t.order_dtl_id limit 1 ) end sku_pic,
    (select group_concat(cp.pic) from bu_comment_pic cp where cp.del_flag = '0' and cp.pic_type = '1' and cp.comment_id = t.id limit 0, 6 ) comment_pic,
    (select ss.mcht_score from bu_shop_score ss where ss.del_flag = '0' and ss.mcht_id = t.mcht_id and ss.sub_order_id = t.sub_order_id limit 1) mcht_score,
    (select ss.wuliu_score from bu_shop_score ss where ss.del_flag = '0' and ss.mcht_id = t.mcht_id and ss.sub_order_id = t.sub_order_id limit 1) wuliu_score,
    ifnull((select c.content from bu_comment c where c.del_flag = '0' and c.is_append_comment = '1' and c.sub_order_id = t.sub_order_id and c.order_dtl_id = t.order_dtl_id limit 1),'') append_comment_content,
    (select group_concat(cp.pic) from bu_comment c, bu_comment_pic cp where c.del_flag = '0' and c.is_append_comment = '1' and c.sub_order_id = t.sub_order_id and c.order_dtl_id = t.order_dtl_id and cp.del_flag = '0' and cp.comment_id = c.id and cp.pic_type = '1' limit 0, 6 ) append_comment_pic,
    (select group_concat(cp.pic) from bu_comment_pic cp where cp.del_flag = '0' and cp.pic_type = '2' and cp.comment_id = t.id limit 0, 6 ) mcht_comment_pic, 
    (SELECT DATEDIFF(t.mcht_reply_date, t.create_date)) mcht_reply_day,
    (SELECT DATEDIFF((select c.create_date from bu_comment c where c.del_flag = '0' and c.is_append_comment = '1' and c.sub_order_id = t.sub_order_id and c.order_dtl_id = t.order_dtl_id limit 1), t.create_date)) append_reply_date,
    (select c.id from bu_comment c where c.del_flag = '0' and c.is_append_comment = '1' and c.sub_order_id = t.sub_order_id and c.order_dtl_id = t.order_dtl_id limit 1) append_comment_id,
    FUN_GET_STATUS_DESC("BU_COMMENT", "IS_SHOW", t.is_show) is_show_desc,
    (select p.code from bu_product p where p.id = t.product_id limit 1)product_code
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.CommentCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_comment t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_comment t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.CommentCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_comment t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCustomExampleSelective" parameterType="map" >
    update bu_comment t
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.subOrderId != null" >
        sub_order_id = #{record.subOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderDtlId != null" >
        order_dtl_id = #{record.orderDtlId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.isAppendComment != null" >
        is_append_comment = #{record.isAppendComment,jdbcType=CHAR},
      </if>
      <if test="record.productScore != null" >
        product_score = #{record.productScore,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.mchtReply != null" >
        mcht_reply = #{record.mchtReply,jdbcType=VARCHAR},
      </if>
      <if test="record.isDraw != null" >
        is_draw = #{record.isDraw,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectByPropDescCustomExample" parameterType="Integer" resultType="com.jf.entity.Comment">
    select
    c.id, c.mcht_id,c.product_id, c.member_id,od.product_item_id,od.product_prop_desc,
    c.is_append_comment, c.product_score, c.content, c.hide_content, c.mcht_reply, c.mcht_reply_date,
    c.is_draw, c.comment_weight,c.comment_source, c.is_show, c.create_by, c.create_date,c.remarks, c.del_flag
    from bu_comment c,bu_order_dtl od
    where c.product_id = #{id}
    and c.order_dtl_id = od.id
    and c.is_append_comment = '0'
    and c.del_flag = '0'
    and od.del_flag = '0'
    order by c.id asc
  </select>

  <insert id="insertBatch" parameterType="list" useGeneratedKeys="true" keyProperty="id">
    insert into bu_comment
    (mcht_id, sub_order_id, order_dtl_id, product_id, member_id, product_prop_desc,
    is_append_comment, product_score, content, hide_content, mcht_reply, mcht_reply_date,
    is_draw, comment_weight, comment_source, is_show, create_by, create_date, update_by,
    update_date, remarks, del_flag)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.mchtId,jdbcType=INTEGER}, #{item.subOrderId,jdbcType=INTEGER}, #{item.orderDtlId,jdbcType=INTEGER},
      #{item.productId,jdbcType=INTEGER}, #{item.memberId,jdbcType=INTEGER}, #{item.productPropDesc,jdbcType=VARCHAR},
      #{item.isAppendComment,jdbcType=CHAR}, #{item.productScore,jdbcType=INTEGER}, #{item.content,jdbcType=VARCHAR},
      #{item.hideContent,jdbcType=VARCHAR}, #{item.mchtReply,jdbcType=VARCHAR}, #{item.mchtReplyDate,jdbcType=TIMESTAMP},
      #{item.isDraw,jdbcType=CHAR}, #{item.commentWeight,jdbcType=INTEGER}, #{item.commentSource,jdbcType=CHAR},
      #{item.isShow,jdbcType=CHAR}, #{item.createBy,jdbcType=INTEGER}, #{item.createDate,jdbcType=TIMESTAMP},
      #{item.updateBy,jdbcType=INTEGER}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.remarks,jdbcType=VARCHAR},
      #{item.delFlag,jdbcType=CHAR})
    </foreach>
  </insert>

  <select id="selectSaleQuantity" parameterType="Integer" resultType="Integer">
    select ifnull(sum(od.quantity), 0)
    from bu_order_dtl od
    where od.del_flag = '0' and od.product_id = #{id}
  </select>

  <select id="selectPayers" parameterType="Integer" resultType="Integer">
    select count(co.id)
	from bu_combine_order co,bu_sub_order so,bu_order_dtl od
	where co.id = so.combine_order_id
	and so.id = od.sub_order_id
	and od.product_id = #{id}
	and co.del_flag='0'
	and so.del_flag='0'
	and od.del_flag='0'
	and co.status='1'
	and co.pay_date is not null
  </select>
</mapper>