<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.FullDiscountCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.FullDiscountCustom" extends="com.jf.dao.FullDiscountMapper.BaseResultMap">
    
  </resultMap>
  
  
  <select id="selectByActivityId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from bu_full_discount fd where fd.activity_area_id=#{activityId} and fd.del_flag='0'
  </select>
</mapper>