<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ImpeachMemberMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ImpeachMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_ids" property="memberIds" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="mcht_id" property="mchtId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="scene" property="scene" jdbcType="CHAR" />
    <result column="sub_order_ids" property="subOrderIds" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="need_limit" property="needLimit" jdbcType="CHAR" />
    <result column="limit_member_action" property="limitMemberAction" jdbcType="VARCHAR" />
    <result column="reject_reason" property="rejectReason" jdbcType="CHAR" />
    <result column="case_close_desc" property="caseCloseDesc" jdbcType="CHAR" />
    <result column="receiver_date" property="receiverDate" jdbcType="TIMESTAMP" />
    <result column="commissioner_inner_remarks" property="commissionerInnerRemarks" jdbcType="VARCHAR" />
    <result column="commissioner_audit_by" property="commissionerAuditBy" jdbcType="INTEGER" />
    <result column="commissioner_audit_date" property="commissionerAuditDate" jdbcType="TIMESTAMP" />
    <result column="fw_inner_remarks" property="fwInnerRemarks" jdbcType="VARCHAR" />
    <result column="fw_reject_reason" property="fwRejectReason" jdbcType="VARCHAR" />
    <result column="fw_audit_by" property="fwAuditBy" jdbcType="INTEGER" />
    <result column="fw_audit_date" property="fwAuditDate" jdbcType="TIMESTAMP" />
    <result column="end_inner_remarks" property="endInnerRemarks" jdbcType="VARCHAR" />
    <result column="end_reject_reason" property="endRejectReason" jdbcType="VARCHAR" />
    <result column="end_audit_by" property="endAuditBy" jdbcType="INTEGER" />
    <result column="end_audit_date" property="endAuditDate" jdbcType="TIMESTAMP" />
    <result column="last_edit_date" property="lastEditDate" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_ids, comment_id, mcht_id, code, status, type, scene, sub_order_ids, description, 
    name, mobile, need_limit, limit_member_action, reject_reason, case_close_desc, receiver_date, 
    commissioner_inner_remarks, commissioner_audit_by, commissioner_audit_date, fw_inner_remarks, 
    fw_reject_reason, fw_audit_by, fw_audit_date, end_inner_remarks, end_reject_reason, 
    end_audit_by, end_audit_date, last_edit_date, source, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ImpeachMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_impeach_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_impeach_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_impeach_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.ImpeachMemberExample" >
    delete from bu_impeach_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.ImpeachMember" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_impeach_member (member_ids, comment_id, mcht_id, 
      code, status, type, scene, 
      sub_order_ids, description, name, 
      mobile, need_limit, limit_member_action, 
      reject_reason, case_close_desc, receiver_date, 
      commissioner_inner_remarks, commissioner_audit_by, 
      commissioner_audit_date, fw_inner_remarks, 
      fw_reject_reason, fw_audit_by, fw_audit_date, 
      end_inner_remarks, end_reject_reason, end_audit_by, 
      end_audit_date, last_edit_date, source, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{memberIds,jdbcType=VARCHAR}, #{commentId,jdbcType=INTEGER}, #{mchtId,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{type,jdbcType=CHAR}, #{scene,jdbcType=CHAR}, 
      #{subOrderIds,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{needLimit,jdbcType=CHAR}, #{limitMemberAction,jdbcType=VARCHAR}, 
      #{rejectReason,jdbcType=CHAR}, #{caseCloseDesc,jdbcType=CHAR}, #{receiverDate,jdbcType=TIMESTAMP}, 
      #{commissionerInnerRemarks,jdbcType=VARCHAR}, #{commissionerAuditBy,jdbcType=INTEGER}, 
      #{commissionerAuditDate,jdbcType=TIMESTAMP}, #{fwInnerRemarks,jdbcType=VARCHAR}, 
      #{fwRejectReason,jdbcType=VARCHAR}, #{fwAuditBy,jdbcType=INTEGER}, #{fwAuditDate,jdbcType=TIMESTAMP}, 
      #{endInnerRemarks,jdbcType=VARCHAR}, #{endRejectReason,jdbcType=VARCHAR}, #{endAuditBy,jdbcType=INTEGER}, 
      #{endAuditDate,jdbcType=TIMESTAMP}, #{lastEditDate,jdbcType=TIMESTAMP}, #{source,jdbcType=CHAR}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.ImpeachMember" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_impeach_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberIds != null" >
        member_ids,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="mchtId != null" >
        mcht_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="scene != null" >
        scene,
      </if>
      <if test="subOrderIds != null" >
        sub_order_ids,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="needLimit != null" >
        need_limit,
      </if>
      <if test="limitMemberAction != null" >
        limit_member_action,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="caseCloseDesc != null" >
        case_close_desc,
      </if>
      <if test="receiverDate != null" >
        receiver_date,
      </if>
      <if test="commissionerInnerRemarks != null" >
        commissioner_inner_remarks,
      </if>
      <if test="commissionerAuditBy != null" >
        commissioner_audit_by,
      </if>
      <if test="commissionerAuditDate != null" >
        commissioner_audit_date,
      </if>
      <if test="fwInnerRemarks != null" >
        fw_inner_remarks,
      </if>
      <if test="fwRejectReason != null" >
        fw_reject_reason,
      </if>
      <if test="fwAuditBy != null" >
        fw_audit_by,
      </if>
      <if test="fwAuditDate != null" >
        fw_audit_date,
      </if>
      <if test="endInnerRemarks != null" >
        end_inner_remarks,
      </if>
      <if test="endRejectReason != null" >
        end_reject_reason,
      </if>
      <if test="endAuditBy != null" >
        end_audit_by,
      </if>
      <if test="endAuditDate != null" >
        end_audit_date,
      </if>
      <if test="lastEditDate != null" >
        last_edit_date,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberIds != null" >
        #{memberIds,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="mchtId != null" >
        #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="scene != null" >
        #{scene,jdbcType=CHAR},
      </if>
      <if test="subOrderIds != null" >
        #{subOrderIds,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="needLimit != null" >
        #{needLimit,jdbcType=CHAR},
      </if>
      <if test="limitMemberAction != null" >
        #{limitMemberAction,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=CHAR},
      </if>
      <if test="caseCloseDesc != null" >
        #{caseCloseDesc,jdbcType=CHAR},
      </if>
      <if test="receiverDate != null" >
        #{receiverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissionerInnerRemarks != null" >
        #{commissionerInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="commissionerAuditBy != null" >
        #{commissionerAuditBy,jdbcType=INTEGER},
      </if>
      <if test="commissionerAuditDate != null" >
        #{commissionerAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fwInnerRemarks != null" >
        #{fwInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="fwRejectReason != null" >
        #{fwRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="fwAuditBy != null" >
        #{fwAuditBy,jdbcType=INTEGER},
      </if>
      <if test="fwAuditDate != null" >
        #{fwAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endInnerRemarks != null" >
        #{endInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="endRejectReason != null" >
        #{endRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="endAuditBy != null" >
        #{endAuditBy,jdbcType=INTEGER},
      </if>
      <if test="endAuditDate != null" >
        #{endAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.ImpeachMemberExample" resultType="java.lang.Integer" >
    select count(*) from bu_impeach_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_impeach_member
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberIds != null" >
        member_ids = #{record.memberIds,jdbcType=VARCHAR},
      </if>
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.scene != null" >
        scene = #{record.scene,jdbcType=CHAR},
      </if>
      <if test="record.subOrderIds != null" >
        sub_order_ids = #{record.subOrderIds,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.needLimit != null" >
        need_limit = #{record.needLimit,jdbcType=CHAR},
      </if>
      <if test="record.limitMemberAction != null" >
        limit_member_action = #{record.limitMemberAction,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectReason != null" >
        reject_reason = #{record.rejectReason,jdbcType=CHAR},
      </if>
      <if test="record.caseCloseDesc != null" >
        case_close_desc = #{record.caseCloseDesc,jdbcType=CHAR},
      </if>
      <if test="record.receiverDate != null" >
        receiver_date = #{record.receiverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commissionerInnerRemarks != null" >
        commissioner_inner_remarks = #{record.commissionerInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.commissionerAuditBy != null" >
        commissioner_audit_by = #{record.commissionerAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.commissionerAuditDate != null" >
        commissioner_audit_date = #{record.commissionerAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fwInnerRemarks != null" >
        fw_inner_remarks = #{record.fwInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.fwRejectReason != null" >
        fw_reject_reason = #{record.fwRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.fwAuditBy != null" >
        fw_audit_by = #{record.fwAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.fwAuditDate != null" >
        fw_audit_date = #{record.fwAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endInnerRemarks != null" >
        end_inner_remarks = #{record.endInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.endRejectReason != null" >
        end_reject_reason = #{record.endRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.endAuditBy != null" >
        end_audit_by = #{record.endAuditBy,jdbcType=INTEGER},
      </if>
      <if test="record.endAuditDate != null" >
        end_audit_date = #{record.endAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastEditDate != null" >
        last_edit_date = #{record.lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_impeach_member
    set id = #{record.id,jdbcType=INTEGER},
      member_ids = #{record.memberIds,jdbcType=VARCHAR},
      comment_id = #{record.commentId,jdbcType=INTEGER},
      mcht_id = #{record.mchtId,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      type = #{record.type,jdbcType=CHAR},
      scene = #{record.scene,jdbcType=CHAR},
      sub_order_ids = #{record.subOrderIds,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      need_limit = #{record.needLimit,jdbcType=CHAR},
      limit_member_action = #{record.limitMemberAction,jdbcType=VARCHAR},
      reject_reason = #{record.rejectReason,jdbcType=CHAR},
      case_close_desc = #{record.caseCloseDesc,jdbcType=CHAR},
      receiver_date = #{record.receiverDate,jdbcType=TIMESTAMP},
      commissioner_inner_remarks = #{record.commissionerInnerRemarks,jdbcType=VARCHAR},
      commissioner_audit_by = #{record.commissionerAuditBy,jdbcType=INTEGER},
      commissioner_audit_date = #{record.commissionerAuditDate,jdbcType=TIMESTAMP},
      fw_inner_remarks = #{record.fwInnerRemarks,jdbcType=VARCHAR},
      fw_reject_reason = #{record.fwRejectReason,jdbcType=VARCHAR},
      fw_audit_by = #{record.fwAuditBy,jdbcType=INTEGER},
      fw_audit_date = #{record.fwAuditDate,jdbcType=TIMESTAMP},
      end_inner_remarks = #{record.endInnerRemarks,jdbcType=VARCHAR},
      end_reject_reason = #{record.endRejectReason,jdbcType=VARCHAR},
      end_audit_by = #{record.endAuditBy,jdbcType=INTEGER},
      end_audit_date = #{record.endAuditDate,jdbcType=TIMESTAMP},
      last_edit_date = #{record.lastEditDate,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.ImpeachMember" >
    update bu_impeach_member
    <set >
      <if test="memberIds != null" >
        member_ids = #{memberIds,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="mchtId != null" >
        mcht_id = #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="scene != null" >
        scene = #{scene,jdbcType=CHAR},
      </if>
      <if test="subOrderIds != null" >
        sub_order_ids = #{subOrderIds,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="needLimit != null" >
        need_limit = #{needLimit,jdbcType=CHAR},
      </if>
      <if test="limitMemberAction != null" >
        limit_member_action = #{limitMemberAction,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=CHAR},
      </if>
      <if test="caseCloseDesc != null" >
        case_close_desc = #{caseCloseDesc,jdbcType=CHAR},
      </if>
      <if test="receiverDate != null" >
        receiver_date = #{receiverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissionerInnerRemarks != null" >
        commissioner_inner_remarks = #{commissionerInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="commissionerAuditBy != null" >
        commissioner_audit_by = #{commissionerAuditBy,jdbcType=INTEGER},
      </if>
      <if test="commissionerAuditDate != null" >
        commissioner_audit_date = #{commissionerAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fwInnerRemarks != null" >
        fw_inner_remarks = #{fwInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="fwRejectReason != null" >
        fw_reject_reason = #{fwRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="fwAuditBy != null" >
        fw_audit_by = #{fwAuditBy,jdbcType=INTEGER},
      </if>
      <if test="fwAuditDate != null" >
        fw_audit_date = #{fwAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endInnerRemarks != null" >
        end_inner_remarks = #{endInnerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="endRejectReason != null" >
        end_reject_reason = #{endRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="endAuditBy != null" >
        end_audit_by = #{endAuditBy,jdbcType=INTEGER},
      </if>
      <if test="endAuditDate != null" >
        end_audit_date = #{endAuditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditDate != null" >
        last_edit_date = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.ImpeachMember" >
    update bu_impeach_member
    set member_ids = #{memberIds,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=INTEGER},
      mcht_id = #{mchtId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      type = #{type,jdbcType=CHAR},
      scene = #{scene,jdbcType=CHAR},
      sub_order_ids = #{subOrderIds,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      need_limit = #{needLimit,jdbcType=CHAR},
      limit_member_action = #{limitMemberAction,jdbcType=VARCHAR},
      reject_reason = #{rejectReason,jdbcType=CHAR},
      case_close_desc = #{caseCloseDesc,jdbcType=CHAR},
      receiver_date = #{receiverDate,jdbcType=TIMESTAMP},
      commissioner_inner_remarks = #{commissionerInnerRemarks,jdbcType=VARCHAR},
      commissioner_audit_by = #{commissionerAuditBy,jdbcType=INTEGER},
      commissioner_audit_date = #{commissionerAuditDate,jdbcType=TIMESTAMP},
      fw_inner_remarks = #{fwInnerRemarks,jdbcType=VARCHAR},
      fw_reject_reason = #{fwRejectReason,jdbcType=VARCHAR},
      fw_audit_by = #{fwAuditBy,jdbcType=INTEGER},
      fw_audit_date = #{fwAuditDate,jdbcType=TIMESTAMP},
      end_inner_remarks = #{endInnerRemarks,jdbcType=VARCHAR},
      end_reject_reason = #{endRejectReason,jdbcType=VARCHAR},
      end_audit_by = #{endAuditBy,jdbcType=INTEGER},
      end_audit_date = #{endAuditDate,jdbcType=TIMESTAMP},
      last_edit_date = #{lastEditDate,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>