<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.IndexPopupAdMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.IndexPopupAd" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="popup_desc" property="popupDesc" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="link_type" property="linkType" jdbcType="CHAR" />
    <result column="link_content" property="linkContent" jdbcType="VARCHAR" />
    <result column="popup_count" property="popupCount" jdbcType="CHAR" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="select_group" property="selectGroup" jdbcType="VARCHAR" />
    <result column="up_date" property="upDate" jdbcType="TIMESTAMP" />
    <result column="down_date" property="downDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, popup_desc, pic, link_type, link_content, popup_count, day, select_group, up_date, 
    down_date, status, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.IndexPopupAdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_index_popup_ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_index_popup_ad
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_index_popup_ad
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.IndexPopupAdExample" >
    delete from bu_index_popup_ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.IndexPopupAd" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_index_popup_ad (popup_desc, pic, link_type, 
      link_content, popup_count, day, 
      select_group, up_date, down_date, 
      status, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag)
    values (#{popupDesc,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{linkType,jdbcType=CHAR}, 
      #{linkContent,jdbcType=VARCHAR}, #{popupCount,jdbcType=CHAR}, #{day,jdbcType=INTEGER}, 
      #{selectGroup,jdbcType=VARCHAR}, #{upDate,jdbcType=TIMESTAMP}, #{downDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.IndexPopupAd" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_index_popup_ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="popupDesc != null" >
        popup_desc,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
      <if test="linkContent != null" >
        link_content,
      </if>
      <if test="popupCount != null" >
        popup_count,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="selectGroup != null" >
        select_group,
      </if>
      <if test="upDate != null" >
        up_date,
      </if>
      <if test="downDate != null" >
        down_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="popupDesc != null" >
        #{popupDesc,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=CHAR},
      </if>
      <if test="linkContent != null" >
        #{linkContent,jdbcType=VARCHAR},
      </if>
      <if test="popupCount != null" >
        #{popupCount,jdbcType=CHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
      <if test="selectGroup != null" >
        #{selectGroup,jdbcType=VARCHAR},
      </if>
      <if test="upDate != null" >
        #{upDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downDate != null" >
        #{downDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.IndexPopupAdExample" resultType="java.lang.Integer" >
    select count(*) from bu_index_popup_ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_index_popup_ad
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.popupDesc != null" >
        popup_desc = #{record.popupDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.linkType != null" >
        link_type = #{record.linkType,jdbcType=CHAR},
      </if>
      <if test="record.linkContent != null" >
        link_content = #{record.linkContent,jdbcType=VARCHAR},
      </if>
      <if test="record.popupCount != null" >
        popup_count = #{record.popupCount,jdbcType=CHAR},
      </if>
      <if test="record.day != null" >
        day = #{record.day,jdbcType=INTEGER},
      </if>
      <if test="record.selectGroup != null" >
        select_group = #{record.selectGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.upDate != null" >
        up_date = #{record.upDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downDate != null" >
        down_date = #{record.downDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_index_popup_ad
    set id = #{record.id,jdbcType=INTEGER},
      popup_desc = #{record.popupDesc,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      link_type = #{record.linkType,jdbcType=CHAR},
      link_content = #{record.linkContent,jdbcType=VARCHAR},
      popup_count = #{record.popupCount,jdbcType=CHAR},
      day = #{record.day,jdbcType=INTEGER},
      select_group = #{record.selectGroup,jdbcType=VARCHAR},
      up_date = #{record.upDate,jdbcType=TIMESTAMP},
      down_date = #{record.downDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.IndexPopupAd" >
    update bu_index_popup_ad
    <set >
      <if test="popupDesc != null" >
        popup_desc = #{popupDesc,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=CHAR},
      </if>
      <if test="linkContent != null" >
        link_content = #{linkContent,jdbcType=VARCHAR},
      </if>
      <if test="popupCount != null" >
        popup_count = #{popupCount,jdbcType=CHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="selectGroup != null" >
        select_group = #{selectGroup,jdbcType=VARCHAR},
      </if>
      <if test="upDate != null" >
        up_date = #{upDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downDate != null" >
        down_date = #{downDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.IndexPopupAd" >
    update bu_index_popup_ad
    set popup_desc = #{popupDesc,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=CHAR},
      link_content = #{linkContent,jdbcType=VARCHAR},
      popup_count = #{popupCount,jdbcType=CHAR},
      day = #{day,jdbcType=INTEGER},
      select_group = #{selectGroup,jdbcType=VARCHAR},
      up_date = #{upDate,jdbcType=TIMESTAMP},
      down_date = #{downDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>