<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.IntegralDtlCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.IntegralDtlCustom"  extends="com.jf.dao.IntegralDtlMapper.BaseResultMap">
 	<result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="tally_mode_name" property="tallyModeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, acc_id, tally_mode, type, integral, balance, biz_type, order_id, create_by, create_date, 
    update_by, update_date, remarks, del_flag,
    (select b.member_id from bu_member_account b where b.id=a.acc_id) member_id,
    (select c.nick from bu_member_account b, bu_member_info c where b.id=a.acc_id and b.member_id=c.id) nick,
	FUN_GET_STATUS_DESC("BU_INTEGRAL_DTL","TALLY_MODE", a.tally_mode) tally_mode_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.IntegralDtlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_integral_dtl a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_integral_dtl a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.jf.entity.IntegralDtlExample" resultType="java.lang.Integer" >
    select count(*) from bu_integral_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectTotalIntegral" resultType="java.lang.Integer" >
    select ifnull(sum(integral), 0) from bu_member_account where del_flag='0'
  </select>
  <select id="sumIntegralByExample" parameterType="com.jf.entity.IntegralDtlExample" resultType="java.lang.Integer" >
    select ifnull(sum(integral), 0) from bu_integral_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <insert id="insertIntegralDtlList" parameterType="java.util.List" >
  	insert into bu_integral_dtl (acc_id, tally_mode, type, integral, balance, biz_type, order_id, create_by, create_date, remarks)
  	values
   		<foreach collection="list" item="item" separator=",">
   			(#{item.accId,jdbcType=INTEGER},
   			#{item.tallyMode,jdbcType=CHAR},
   			#{item.type,jdbcType=INTEGER},
   			#{item.integral,jdbcType=INTEGER},
   			#{item.balance,jdbcType=INTEGER},
   			#{item.bizType,jdbcType=CHAR},
   			#{item.orderId,jdbcType=INTEGER},
   			#{item.createBy,jdbcType=INTEGER},
   			#{item.createDate,jdbcType=TIMESTAMP},
   			#{item.remarks,jdbcType=VARCHAR})
   		</foreach>
  </insert>
  
  
  
</mapper>