<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.LandingPageCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.LandingPageCustom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="android_channel" property="androidChannel" jdbcType="VARCHAR" />
    <result column="ios_activity_group_id" property="iosActivityGroupId" jdbcType="INTEGER" />
    <result column="ios_activity_name" property="iosActivityName" jdbcType="VARCHAR" />
    <result column="editor_recommend" property="editorRecommend" jdbcType="VARCHAR" />
    <result column="application_information" property="applicationInformation" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_name" property="createName" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, android_channel, ios_activity_group_id, ios_activity_name, editor_recommend, 
    application_information, create_by, create_date,update_by, update_date, remarks,
    del_flag,
    (select b.staff_name from sys_staff_info b where b.staff_id = a.create_by and b.status = 'A') create_name
  </sql>
  <select id="selectLandingPagesCustomByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.LandingPageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_landing_page a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>

  <select id="countLandingPagesCustomByExample" parameterType="com.jf.entity.LandingPageExample" resultType="java.lang.Integer" >
    select count(*) from bu_landing_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

</mapper>