<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MchtContactMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MchtContact" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mcht_id" property="mchtId" jdbcType="INTEGER" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_type" property="contactType" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="county" property="county" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="is_primary" property="isPrimary" jdbcType="CHAR" />
    <result column="idcard_img" property="idcardImg" jdbcType="VARCHAR" />
    <result column="audit_by" property="auditBy" jdbcType="INTEGER" />
    <result column="audit_status" property="auditStatus" jdbcType="CHAR" />
    <result column="reject_reasons" property="rejectReasons" jdbcType="VARCHAR" />
    <result column="inner_remarks" property="innerRemarks" jdbcType="VARCHAR" />
    <result column="idcard_img_1" property="idcardImg1" jdbcType="VARCHAR" />
    <result column="idcard_img_2" property="idcardImg2" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mcht_id, contact_name, contact_type, mobile, wechat, tel, qq, email, province, 
    city, county, address, is_primary, idcard_img, audit_by, audit_status, reject_reasons, 
    inner_remarks, idcard_img_1, idcard_img_2, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MchtContactExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_mcht_contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_mcht_contact
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_mcht_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.MchtContactExample" >
    delete from bu_mcht_contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.MchtContact" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_mcht_contact (mcht_id, contact_name, contact_type, 
      mobile, wechat, tel, 
      qq, email, province, 
      city, county, address, 
      is_primary, idcard_img, audit_by, 
      audit_status, reject_reasons, inner_remarks, 
      idcard_img_1, idcard_img_2, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{mchtId,jdbcType=INTEGER}, #{contactName,jdbcType=VARCHAR}, #{contactType,jdbcType=CHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{city,jdbcType=INTEGER}, #{county,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{isPrimary,jdbcType=CHAR}, #{idcardImg,jdbcType=VARCHAR}, #{auditBy,jdbcType=INTEGER}, 
      #{auditStatus,jdbcType=CHAR}, #{rejectReasons,jdbcType=VARCHAR}, #{innerRemarks,jdbcType=VARCHAR}, 
      #{idcardImg1,jdbcType=VARCHAR}, #{idcardImg2,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.MchtContact" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_mcht_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mchtId != null" >
        mcht_id,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactType != null" >
        contact_type,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="isPrimary != null" >
        is_primary,
      </if>
      <if test="idcardImg != null" >
        idcard_img,
      </if>
      <if test="auditBy != null" >
        audit_by,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="rejectReasons != null" >
        reject_reasons,
      </if>
      <if test="innerRemarks != null" >
        inner_remarks,
      </if>
      <if test="idcardImg1 != null" >
        idcard_img_1,
      </if>
      <if test="idcardImg2 != null" >
        idcard_img_2,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mchtId != null" >
        #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null" >
        #{contactType,jdbcType=CHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="county != null" >
        #{county,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isPrimary != null" >
        #{isPrimary,jdbcType=CHAR},
      </if>
      <if test="idcardImg != null" >
        #{idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="auditBy != null" >
        #{auditBy,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="rejectReasons != null" >
        #{rejectReasons,jdbcType=VARCHAR},
      </if>
      <if test="innerRemarks != null" >
        #{innerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg1 != null" >
        #{idcardImg1,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg2 != null" >
        #{idcardImg2,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.MchtContactExample" resultType="java.lang.Integer" >
    select count(*) from bu_mcht_contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_mcht_contact
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.contactName != null" >
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactType != null" >
        contact_type = #{record.contactType,jdbcType=CHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null" >
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=INTEGER},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=INTEGER},
      </if>
      <if test="record.county != null" >
        county = #{record.county,jdbcType=INTEGER},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.isPrimary != null" >
        is_primary = #{record.isPrimary,jdbcType=CHAR},
      </if>
      <if test="record.idcardImg != null" >
        idcard_img = #{record.idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="record.auditBy != null" >
        audit_by = #{record.auditBy,jdbcType=INTEGER},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=CHAR},
      </if>
      <if test="record.rejectReasons != null" >
        reject_reasons = #{record.rejectReasons,jdbcType=VARCHAR},
      </if>
      <if test="record.innerRemarks != null" >
        inner_remarks = #{record.innerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardImg1 != null" >
        idcard_img_1 = #{record.idcardImg1,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardImg2 != null" >
        idcard_img_2 = #{record.idcardImg2,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_mcht_contact
    set id = #{record.id,jdbcType=INTEGER},
      mcht_id = #{record.mchtId,jdbcType=INTEGER},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_type = #{record.contactType,jdbcType=CHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=INTEGER},
      city = #{record.city,jdbcType=INTEGER},
      county = #{record.county,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      is_primary = #{record.isPrimary,jdbcType=CHAR},
      idcard_img = #{record.idcardImg,jdbcType=VARCHAR},
      audit_by = #{record.auditBy,jdbcType=INTEGER},
      audit_status = #{record.auditStatus,jdbcType=CHAR},
      reject_reasons = #{record.rejectReasons,jdbcType=VARCHAR},
      inner_remarks = #{record.innerRemarks,jdbcType=VARCHAR},
      idcard_img_1 = #{record.idcardImg1,jdbcType=VARCHAR},
      idcard_img_2 = #{record.idcardImg2,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.MchtContact" >
    update bu_mcht_contact
    <set >
      <if test="mchtId != null" >
        mcht_id = #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null" >
        contact_type = #{contactType,jdbcType=CHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isPrimary != null" >
        is_primary = #{isPrimary,jdbcType=CHAR},
      </if>
      <if test="idcardImg != null" >
        idcard_img = #{idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="auditBy != null" >
        audit_by = #{auditBy,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="rejectReasons != null" >
        reject_reasons = #{rejectReasons,jdbcType=VARCHAR},
      </if>
      <if test="innerRemarks != null" >
        inner_remarks = #{innerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg1 != null" >
        idcard_img_1 = #{idcardImg1,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg2 != null" >
        idcard_img_2 = #{idcardImg2,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.MchtContact" >
    update bu_mcht_contact
    set mcht_id = #{mchtId,jdbcType=INTEGER},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_type = #{contactType,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      county = #{county,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      is_primary = #{isPrimary,jdbcType=CHAR},
      idcard_img = #{idcardImg,jdbcType=VARCHAR},
      audit_by = #{auditBy,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=CHAR},
      reject_reasons = #{rejectReasons,jdbcType=VARCHAR},
      inner_remarks = #{innerRemarks,jdbcType=VARCHAR},
      idcard_img_1 = #{idcardImg1,jdbcType=VARCHAR},
      idcard_img_2 = #{idcardImg2,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>