<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MchtDepositDtlMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MchtDepositDtl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deposit_id" property="depositId" jdbcType="INTEGER" />
    <result column="txn_type" property="txnType" jdbcType="VARCHAR" />
    <result column="type_sub" property="typeSub" jdbcType="VARCHAR" />
    <result column="txn_amt" property="txnAmt" jdbcType="DECIMAL" />
    <result column="pay_amt" property="payAmt" jdbcType="DECIMAL" />
    <result column="biz_type" property="bizType" jdbcType="CHAR" />
    <result column="biz_id" property="bizId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, deposit_id, txn_type, type_sub, txn_amt, pay_amt, biz_type, biz_id, create_by, 
    create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MchtDepositDtlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_mcht_deposit_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_mcht_deposit_dtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_mcht_deposit_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.MchtDepositDtlExample" >
    delete from bu_mcht_deposit_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.MchtDepositDtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_mcht_deposit_dtl (deposit_id, txn_type, type_sub, 
      txn_amt, pay_amt, biz_type, 
      biz_id, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag)
    values (#{depositId,jdbcType=INTEGER}, #{txnType,jdbcType=VARCHAR}, #{typeSub,jdbcType=VARCHAR}, 
      #{txnAmt,jdbcType=DECIMAL}, #{payAmt,jdbcType=DECIMAL}, #{bizType,jdbcType=CHAR}, 
      #{bizId,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.MchtDepositDtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_mcht_deposit_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depositId != null" >
        deposit_id,
      </if>
      <if test="txnType != null" >
        txn_type,
      </if>
      <if test="typeSub != null" >
        type_sub,
      </if>
      <if test="txnAmt != null" >
        txn_amt,
      </if>
      <if test="payAmt != null" >
        pay_amt,
      </if>
      <if test="bizType != null" >
        biz_type,
      </if>
      <if test="bizId != null" >
        biz_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depositId != null" >
        #{depositId,jdbcType=INTEGER},
      </if>
      <if test="txnType != null" >
        #{txnType,jdbcType=VARCHAR},
      </if>
      <if test="typeSub != null" >
        #{typeSub,jdbcType=VARCHAR},
      </if>
      <if test="txnAmt != null" >
        #{txnAmt,jdbcType=DECIMAL},
      </if>
      <if test="payAmt != null" >
        #{payAmt,jdbcType=DECIMAL},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=CHAR},
      </if>
      <if test="bizId != null" >
        #{bizId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.MchtDepositDtlExample" resultType="java.lang.Integer" >
    select count(*) from bu_mcht_deposit_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_mcht_deposit_dtl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.depositId != null" >
        deposit_id = #{record.depositId,jdbcType=INTEGER},
      </if>
      <if test="record.txnType != null" >
        txn_type = #{record.txnType,jdbcType=VARCHAR},
      </if>
      <if test="record.typeSub != null" >
        type_sub = #{record.typeSub,jdbcType=VARCHAR},
      </if>
      <if test="record.txnAmt != null" >
        txn_amt = #{record.txnAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.payAmt != null" >
        pay_amt = #{record.payAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.bizType != null" >
        biz_type = #{record.bizType,jdbcType=CHAR},
      </if>
      <if test="record.bizId != null" >
        biz_id = #{record.bizId,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_mcht_deposit_dtl
    set id = #{record.id,jdbcType=INTEGER},
      deposit_id = #{record.depositId,jdbcType=INTEGER},
      txn_type = #{record.txnType,jdbcType=VARCHAR},
      type_sub = #{record.typeSub,jdbcType=VARCHAR},
      txn_amt = #{record.txnAmt,jdbcType=DECIMAL},
      pay_amt = #{record.payAmt,jdbcType=DECIMAL},
      biz_type = #{record.bizType,jdbcType=CHAR},
      biz_id = #{record.bizId,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.MchtDepositDtl" >
    update bu_mcht_deposit_dtl
    <set >
      <if test="depositId != null" >
        deposit_id = #{depositId,jdbcType=INTEGER},
      </if>
      <if test="txnType != null" >
        txn_type = #{txnType,jdbcType=VARCHAR},
      </if>
      <if test="typeSub != null" >
        type_sub = #{typeSub,jdbcType=VARCHAR},
      </if>
      <if test="txnAmt != null" >
        txn_amt = #{txnAmt,jdbcType=DECIMAL},
      </if>
      <if test="payAmt != null" >
        pay_amt = #{payAmt,jdbcType=DECIMAL},
      </if>
      <if test="bizType != null" >
        biz_type = #{bizType,jdbcType=CHAR},
      </if>
      <if test="bizId != null" >
        biz_id = #{bizId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.MchtDepositDtl" >
    update bu_mcht_deposit_dtl
    set deposit_id = #{depositId,jdbcType=INTEGER},
      txn_type = #{txnType,jdbcType=VARCHAR},
      type_sub = #{typeSub,jdbcType=VARCHAR},
      txn_amt = #{txnAmt,jdbcType=DECIMAL},
      pay_amt = #{payAmt,jdbcType=DECIMAL},
      biz_type = #{bizType,jdbcType=CHAR},
      biz_id = #{bizId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>