<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MchtBrandChgCustomMapper">
	<resultMap id="BaseResultMap" type="com.jf.entity.MchtBrandChgCustom"
		extends="com.jf.dao.MchtBrandChgMapper.BaseResultMap">
		<result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
		<result column="aptitude_type_desc" property="aptitudeTypeDesc"
			jdbcType="VARCHAR" />
		<result column="audit_status_desc" property="auditStatusDesc"
			jdbcType="VARCHAR" />
		<result column="brand_name" property="brandName"
			jdbcType="VARCHAR" />
		<result column="short_name" property="shortName" jdbcType="VARCHAR" />
		<result column="aptitude_pic_count" property="aptitudePicCount" jdbcType="INTEGER" />
		<result column="platform_auth_pic_count" property="platformAuthPicCount" jdbcType="INTEGER" />
		<result column="fw_contact_name" property="fwContactName" jdbcType="VARCHAR" />
		<result column="zs_contact_name" property="zsContactName" jdbcType="VARCHAR" />
		<result column="fw_staff_id" property="fwStaffId" jdbcType="INTEGER" />
		<result column="mcht_code" property="mchtCode" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
		<result column="fw_assistant_id" property="fwAssistantid" jdbcType="INTEGER" />
		<result column="archive_status_desc" property="archiveStatusDesc" jdbcType="VARCHAR" />
		
	</resultMap>
	
	 <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
	<select id="getMchtBrandChgCustomByID" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select t.*,a.short_name,pb.`name` brand_name,
		FUN_GET_STATUS_DESC("BU_MCHT_BRAND_CHG","AUDIT_STATUS",t.audit_status) audit_status_desc,
		FUN_GET_STATUS_DESC("BU_MCHT_BRAND_CHG","APTITUDE_TYPE", t.aptitude_type) aptitude_type_desc,
		
		(select count(1) from bu_mcht_brand_aptitude_pic_chg ap where ap.del_flag='0' and ap.brand_chg_id=t.id) aptitude_pic_count,
		(select count(1) from bu_mcht_platform_auth_pic_chg  pap where pap.del_flag='0' and pap.brand_chg_id=t.id) platform_auth_pic_count
		from bu_mcht_brand_chg t join bu_mcht_info a on t.mcht_id=a.id left join bu_product_brand pb on t.product_brand_id=pb.id where
		t.del_flag='0'  and t.id=#{mchtBrandChgId,jdbcType=INTEGER}
	</select>
	
	<select id="getMchtBrandChgCustom" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select t.*,a.short_name,pb.`name` brand_name,pb.id product_brand_id,a.mcht_code,a.company_name,a.shop_name,
		
		FUN_GET_STATUS_DESC("BU_MCHT_BRAND_CHG","AUDIT_STATUS",t.audit_status) audit_status_desc,
		FUN_GET_STATUS_DESC("BU_MCHT_BRAND_CHG","APTITUDE_TYPE", t.aptitude_type) aptitude_type_desc,
		FUN_GET_STATUS_DESC("BU_MCHT_PRODUCT_BRAND","STATUS", (select x.status from bu_mcht_product_brand x where x.id=t.mcht_product_brand_id)) status_desc,
		(select c.contact_name from bu_platform_contact c,bu_mcht_platform_contact b where c.id = b.platform_contact_id and b.mcht_id = t.mcht_id and c.contact_type = '7' and b.del_flag='0' and c.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)fw_contact_name,
		(select c.staff_id from bu_platform_contact c,bu_mcht_platform_contact b where c.id = b.platform_contact_id and b.mcht_id = t.mcht_id and c.contact_type = '7' and b.del_flag='0' and c.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)fw_staff_id,
		(select c.contact_name from bu_platform_contact c,bu_mcht_platform_contact b where c.id = b.platform_contact_id and b.mcht_id = t.mcht_id and c.contact_type = '1' and b.del_flag='0' and c.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)zs_contact_name,
		(select pc.staff_id from bu_platform_contact c,bu_mcht_platform_contact b,bu_platform_contact pc where c.id = b.platform_contact_id and c.assistant_id=pc.id and b.mcht_id = t.mcht_id and c.contact_type = '7' and b.del_flag='0' and c.del_flag='0' and pc.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)fw_assistant_id
		from bu_mcht_brand_chg t join bu_mcht_info a on t.mcht_id=a.id left join bu_product_brand pb on t.product_brand_id=pb.id where
		 t.del_flag='0' 
		<if test="commit_date_begin!=null and commit_date_begin!=''">
			and t.commit_date <![CDATA[ >= ]]> #{commit_date_begin}
		</if>
		<if test="commit_date_end!=null and commit_date_end!=''">
			and t.commit_date <![CDATA[ <= ]]> #{commit_date_end}
		</if>
		<if test="mchtCode !=null and mchtCode != ''">
			and a.mcht_code =#{mchtCode}
		</if>
		<if test="archiveStatus!=null and archiveStatus!= ''">
			and t.archive_status =#{archiveStatus}
		</if>
		<if test="archiveDealStatus!=null and archiveDealStatus!= ''">
			and t.archive_deal_status =#{archiveDealStatus}
		</if>
		<if test="productBrandName!=null and productBrandName!= ''">
			and t.product_brand_name like CONCAT('%',#{productBrandName},'%')
		</if>
		<if test="notEqualArchiveStatus!=null and notEqualArchiveStatus!= ''">
			and t.archive_status !=#{notEqualArchiveStatus}
		</if>
		<if test="AUDITSTATUS !=null and AUDITSTATUS != ''">
			and t.audit_status =#{AUDITSTATUS}
		</if>
		<if test="APTITUDETYPE !=null and APTITUDETYPE != ''">
			and t.aptitude_type =#{APTITUDETYPE}
		</if>
		<if test="shortName !=null and shortName != ''">
			and a.short_name like CONCAT('%',#{shortName},'%')
		</if>
		<if test="companyName !=null and companyName != ''">
			and a.company_name like CONCAT('%',#{companyName},'%')
		</if>
		<if test="name !=null and name != ''">
			and (a.company_name like CONCAT('%',#{name},'%') or a.short_name like CONCAT('%',#{name},'%'))
		</if>
		<if test="status !=null and status != ''">
			and EXISTS(select id from bu_mcht_product_brand y where y.id=t.mcht_product_brand_id and y.status=#{status})
		</if>
		<if test="platformContactId !=null and platformContactId != ''">
			and EXISTS (select mi.mcht_id from bu_mcht_platform_contact mi where mi.mcht_id=t.mcht_id and mi.platform_contact_id=#{platformContactId})
		</if>
		<if test="platContactStaffId != '' and platContactStaffId != null">
			and a.id IN(select mpc.mcht_id from bu_platform_contact pc, bu_mcht_platform_contact mpc where pc.del_flag = '0' and pc.status = '0' and (pc.staff_id = #{platContactStaffId } or pc.assistant_id in(select bpc.id from bu_platform_contact bpc where bpc.del_flag = '0' and bpc.status = '0' and bpc.staff_id = #{platContactStaffId }) ) 
							and mpc.del_flag = '0' and mpc.status = '1' and mpc.platform_contact_id = pc.id )
		</if>
		<if test="productTypeId != '' and productTypeId != null"> 	<!-- 主营类目 -->
			and EXISTS (select mpt.id from bu_mcht_product_type mpt where mpt.mcht_id = a.id and mpt.is_main = '1' and mpt.del_flag = '0'  and mpt.product_type_id = #{productTypeId } )
		</if>		
		<if test="andWhereClause!='' and andWhereClause!=null">
			and ${andWhereClause}
		</if>		
		<if test="orderBy != '' and orderBy != null">
			${orderBy }
		</if>
		<if test="pageLimit != '' and pageLimit != null">
			${pageLimit }
		</if>	
	</select>
	<select id="getMchtBrandChgCustomCount" parameterType="java.util.HashMap" resultType="int">
		select  count(1) count 		from bu_mcht_brand_chg t join bu_mcht_info a on t.mcht_id=a.id left join bu_product_brand pb on t.product_brand_id=pb.id where
		 t.del_flag='0' 
		<if test="commit_date_begin!=null and commit_date_begin!=''">
			and t.commit_date <![CDATA[ >= ]]> #{commit_date_begin}
		</if>
		<if test="commit_date_end!=null and commit_date_end!=''">
			and t.commit_date <![CDATA[ <= ]]> #{commit_date_end}
		</if>
		<if test="mchtCode !=null and mchtCode != ''">
			and a.mcht_code =#{mchtCode}
		</if>
		<if test="archiveStatus!=null and archiveStatus!= ''">
			and t.archive_status =#{archiveStatus}
		</if>
		<if test="archiveDealStatus!=null and archiveDealStatus!= ''">
			and t.archive_deal_status =#{archiveDealStatus}
		</if>
		<if test="productBrandName!=null and productBrandName!= ''">
			and t.product_brand_name like CONCAT('%',#{productBrandName},'%')
		</if>
		<if test="notEqualArchiveStatus!=null and notEqualArchiveStatus!= ''">
			and t.archive_status !=#{notEqualArchiveStatus}
		</if>
		<if test="AUDITSTATUS !=null and AUDITSTATUS != ''">
			and t.audit_status =#{AUDITSTATUS}
		</if>
		<if test="APTITUDETYPE !=null and APTITUDETYPE != ''">
			and t.aptitude_type =#{APTITUDETYPE}
		</if>
		<if test="shortName !=null and shortName != ''">
			and a.short_name like CONCAT('%',#{shortName},'%')
		</if>
		<if test="companyName !=null and companyName != ''">
			and a.company_name like CONCAT('%',#{companyName},'%')
		</if>
		<if test="name !=null and name != ''">
			and (a.company_name like CONCAT('%',#{name},'%') or a.short_name like CONCAT('%',#{name},'%'))
		</if>
		<if test="status !=null and status != ''">
			and EXISTS(select id from bu_mcht_product_brand y where y.id=t.mcht_product_brand_id and y.status=#{status})
		</if>
		<if test="platformContactId !=null and platformContactId != ''">
			and EXISTS (select mi.mcht_id from bu_mcht_platform_contact mi where mi.mcht_id=t.mcht_id and mi.platform_contact_id=#{platformContactId})
		</if>
		<if test="platContactStaffId != '' and platContactStaffId != null">
			and a.id IN(select mpc.mcht_id from bu_platform_contact pc, bu_mcht_platform_contact mpc where pc.del_flag = '0' and pc.status = '0' and (pc.staff_id = #{platContactStaffId } or pc.assistant_id in(select bpc.id from bu_platform_contact bpc where bpc.del_flag = '0' and bpc.status = '0' and bpc.staff_id = #{platContactStaffId }) ) 
							and mpc.del_flag = '0' and mpc.status = '1' and mpc.platform_contact_id = pc.id )
		</if>
		<if test="productTypeId != '' and productTypeId != null"> 	<!-- 主营类目 -->
			and EXISTS (select mpt.id from bu_mcht_product_type mpt where mpt.mcht_id = a.id and mpt.is_main = '1' and mpt.del_flag = '0'  and mpt.product_type_id = #{productTypeId } )
		</if>	
		<if test="andWhereClause!='' and andWhereClause!=null">
		and ${andWhereClause}
		</if>
	</select>

	<update id="mchtBrandChgHandleArchiveUpdate" parameterType="java.util.HashMap" >
		 update bu_mcht_brand_chg set update_by = #{updateBy},update_date = #{updateDate}
		<if test="archiveDealStatus !=null and archiveDealStatus != ''">
		 	,archive_deal_status = #{archiveDealStatus}		
		</if>
		<if test="expressIdIsNull !=null and expressIdIsNull != ''">
			,${expressIdIsNull}
		</if>
		<if test="expressNoIsNull !=null and expressNoIsNull != ''">
			,${expressNoIsNull}
		</if>
		<if test="archiveDealRemarks != '' and archiveDealRemarks != null">
			,archive_deal_remarks = #{archiveDealRemarks}
		</if>	
		<if test="archiveDealInnerRemarks !='' and archiveDealInnerRemarks !=null">
			,archive_deal_inner_remarks = #{archiveDealInnerRemarks}
		</if>
		<if test="archiveDealInnerRemarksIsNull !='' and archiveDealInnerRemarksIsNull !=null">
			,${archiveDealInnerRemarksIsNull}
		</if>
		where id = #{id}
	</update>

<sql id="mcht_brand_list">
	a.*,FUN_GET_STATUS_DESC("BU_MCHT_BRAND_CHG","ARCHIVE_STATUS", a.archive_status) archive_status_desc
	</sql>
		
	  <select id="selectByExampleCustom" parameterType="com.jf.entity.MchtInfoExample" resultMap="BaseResultMap" >
 	SELECT t.*
FROM
(
SELECT
<if test="distinct" >
	      distinct
</if>
	<include refid="mcht_brand_list" />
	FROM bu_mcht_brand_chg a
	<if test="_parameter != null" >
	 <include refid="Example_Where_Clause" />
	</if>	
) t
  </select>
</mapper>