<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MchtInfoChgCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MchtInfoChgCustom"  extends="com.jf.dao.MchtInfoChgMapper.BaseResultMap">
     <result column="mcht_type_desc" property="mchtTypeDesc" jdbcType="VARCHAR" />
     <result column="is_manage_self_desc" property="isManageSelfDesc" jdbcType="VARCHAR" />
     <result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
     <result column="reg_fee_type_desc" property="regFeeTypeDesc" jdbcType="VARCHAR" />
     <result column="mcht_bl_pic_chg_count" property="mchtBlPicChgCount" jdbcType="INTEGER" />
     <result column="fw_staff_id" property="fwStaffId" jdbcType="INTEGER" />
     <result column="contact_province_name" property="contactProvinceName" jdbcType="VARCHAR" />
     <result column="contact_city_name" property="contactCityName" jdbcType="VARCHAR" />
     <result column="contact_county_name" property="contactCountyName" jdbcType="VARCHAR" />
     <result column="zs_contact_name" property="zsContactName" jdbcType="VARCHAR" />
     <result column="fw_contact_name" property="fwContactName" jdbcType="VARCHAR" />
     <result column="mcht_short_name" property="mchtShortName" jdbcType="VARCHAR" />
     <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
     <result column="settled_type" property="settledType" jdbcType="VARCHAR" />
     
     <result column="is_mcht_send" property="isMchtSend" jdbcType="VARCHAR" />
     <result column="cooperate_begin_date" property="cooperateBeginDate" jdbcType="TIMESTAMP" />
     <result column="assistant_id" property="assistantId" jdbcType="INTEGER" />    
     <result column="contract_id" property="coontractId" jdbcType="INTEGER" />  
     <result column="mcht_company_info_archive_status" property="mchtCompanyInfoArchiveStatus" jdbcType="VARCHAR" />  
     
     <result column="company_info_archive_status_desc" property="companyInfoArchiveStatusDesc" jdbcType="VARCHAR" />
     
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
	a.*,
    FUN_GET_STATUS_DESC("BU_MCHT_INFO","MCHT_TYPE", (select b.mcht_type from bu_mcht_info b where b.id=a.mcht_id)) mcht_type_desc,
	FUN_GET_STATUS_DESC("BU_MCHT_INFO","IS_MANAGE_SELF", (select b.is_manage_self from bu_mcht_info b where b.id=a.mcht_id)) is_manage_self_desc,
	FUN_GET_STATUS_DESC("BU_MCHT_INFO","REG_FEE_TYPE", a.reg_fee_type) reg_fee_type_desc,
	FUN_GET_STATUS_DESC("BU_MCHT_INFO_CHG","COMPANY_INFO_ARCHIVE_STATUS", a.company_info_archive_status) company_info_archive_status_desc,
	FUN_GET_STATUS_DESC("BU_MCHT_INFO","COMPANY_TYPE", a.company_type) company_Type_desc,
	(select count(1) from bu_mcht_bl_pic_chg mblpc where mblpc.del_flag='0' and mblpc.mcht_info_chg_id=a.id) mcht_bl_pic_chg_count,
	(select a.AREA_NAME from bu_p_area a where a.AREA_ID=contact_province) contact_province_name,
	(select b.AREA_NAME from bu_p_area b where b.AREA_ID=contact_city) contact_city_name,
	 (select c.AREA_NAME from bu_p_area c where c.AREA_ID=contact_county) contact_county_name,
	  (select c.contact_name from bu_platform_contact c,bu_mcht_platform_contact b where c.id = b.platform_contact_id and b.mcht_id = a.mcht_id and c.contact_type = '1' and b.del_flag='0' and c.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)zs_contact_name,
      (select c.contact_name from bu_platform_contact c,bu_mcht_platform_contact b where c.id = b.platform_contact_id and b.mcht_id = a.mcht_id and c.contact_type = '7' and b.del_flag='0' and c.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)fw_contact_name,
      (select c.staff_id from bu_platform_contact c,bu_mcht_platform_contact b where c.id = b.platform_contact_id and b.mcht_id = a.mcht_id and c.contact_type = '7' and b.del_flag='0' and c.del_flag='0' and b.status='1' and c.status='0' LIMIT 1)fw_staff_id,
      (select s.staff_id from bu_platform_contact s where s.id = (select pc.assistant_id from bu_platform_contact pc,bu_mcht_platform_contact mpc where pc.del_flag = '0' and mpc.del_flag = '0' and pc.id = mpc.platform_contact_id and mpc.mcht_id = a.mcht_id and pc.contact_type = '7' and mpc.status='1' and pc.status='0')) assistant_id,
      (select b.short_name from bu_mcht_info b where b.id=a.mcht_id) mcht_short_name,
      (select b.shop_name from bu_mcht_info b where b.id=a.mcht_id) shop_name,
      (select b.settled_type from bu_mcht_info b where b.id=a.mcht_id) settled_type,
      (select b.cooperate_begin_date from bu_mcht_info b where b.id = a.mcht_id and b.del_flag = '0') cooperate_begin_date,
      (select b.id from bu_mcht_contract b where b.mcht_id = a.mcht_id order by id desc LIMIT 1) contract_id,
      (select b.company_info_archive_status from bu_mcht_info b where b.id = a.mcht_id and b.del_flag = '0') mcht_company_info_archive_status,
      FUN_GET_STATUS_DESC("BU_MCHT_INFO_CHG","STATUS", a.status) status_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MchtInfoChgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_mcht_info_chg a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_mcht_info_chg a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.jf.entity.MchtInfoChgExample" resultType="java.lang.Integer" >
    select count(*) from bu_mcht_info_chg a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
     <update id="updateByPrimaryKeyCustom">
   		update bu_mcht_info_chg set express_id = NULL, express_no = NULL,archive_deal_status = '${mchtInfoChg.archiveDealStatus}',archive_deal_remarks='${mchtInfoChg.archiveDealRemarks}',
   		<if test="mchtInfoChg.archiveDealInnerRemarks != null and mchtInfoChg.archiveDealInnerRemarks != ''">
     		archive_deal_inner_remarks='${mchtInfoChg.archiveDealInnerRemarks}',
   		 </if>  		
   		update_by = ${mchtInfoChg.updateBy},update_date = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
   		where id = ${mchtInfoChg.id}
   </update> 
   
    <update id="updateByPrimaryKeyCustoms">
   		update bu_mcht_info_chg set express_id = NULL, express_no = NULL,archive_deal_status = '${mchtInfoChg.archiveDealStatus}',archive_deal_remarks='${mchtInfoChg.archiveDealRemarks}',update_by = ${mchtInfoChg.updateBy},update_date = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
   		where id = ${mchtInfoChg.id}
   </update> 
</mapper>