<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberCumulativeSignInCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberCumulativeSignInCustom"  extends="com.jf.dao.MemberCumulativeSignInMapper.BaseResultMap">
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="cumulative_sign_in_count" property="cumulativeSignInCount" jdbcType="INTEGER" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="coupon_names" property="couponNames" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t.*,
    (select sim.month from bu_cumulative_sign_in_setting csis,bu_sign_in_manage sim where csis.id = t.cumulative_sign_in_setting_id and csis.del_flag='0' and csis.sign_in_manage_id = sim.id and sim.del_flag='0' limit 1)month,
    (select csis.cumulative_sign_in_count from bu_cumulative_sign_in_setting csis where csis.id = t.cumulative_sign_in_setting_id and csis.del_flag='0')cumulative_sign_in_count,
    (select csis.integral from bu_cumulative_sign_in_setting csis where csis.id = t.cumulative_sign_in_setting_id and csis.del_flag='0')integral,
    (select p.name from bu_cumulative_sign_in_setting csis,bu_product p where csis.id = t.cumulative_sign_in_setting_id and p.code = csis.product_code and p.del_flag='0' and csis.del_flag='0' limit 1)product_name,
    (SELECT	GROUP_CONCAT(CONCAT(c.money,"元优惠券") separator '&lt;br&gt;') FROM bu_cumulative_sign_in_setting csis,bu_coupon c WHERE csis.id = t.cumulative_sign_in_setting_id and FIND_IN_SET(c.id, csis.coupon_ids) and csis.del_flag='0')coupon_names
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberCumulativeSignInExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_cumulative_sign_in t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="countByExample" parameterType="com.jf.entity.MemberCumulativeSignInExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_cumulative_sign_in t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>