<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberLabelGroupCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberLabelGroupCustom" extends="com.jf.dao.MemberLabelGroupMapper.BaseResultMap" >
    <result column="member_count" property="memberCount" jdbcType="INTEGER" />
    <result column="memberlabel_status" property="memberLabelStatus" jdbcType="VARCHAR" />
    <result column="memberlabeltype_status" property="memberLabelTypeStatus" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, label_group_name, status,stat_num,stat_date,create_by, create_date, update_by, update_date, remarks, del_flag,
    <!-- (select count(1) from bu_member_label_group_relation gr, bu_member_label_relation lr where gr.label_id = lr.label_id and gr.label_type_id = lr.label_type_id and gr.del_flag = '0' and gr.label_group_id = t.id and lr.del_flag = '0' 
    	and gr.type = '0' and not exists(select l.id from bu_member_label_group_relation g, bu_member_label_relation l where g.label_id = l.label_id and g.label_type_id = l.label_type_id and g.del_flag = '0' and g.label_group_id = t.id and l.del_flag = '0' and g.type = '1' and l.memeber_id = lr.memeber_id) ) member_count -->
    (select ss.STAFF_NAME from sys_staff_info ss where ss.STATUS='A' and t.create_by=ss.STAFF_ID) staff_name
 </sql>
  <select id="selectMemberLabelGroupCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberLabelGroupCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_label_group t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectMemberLabelGroupCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
   from bu_member_label_group t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countMemberLabelGroupCustomExample" parameterType="com.jf.entity.MemberLabelGroupCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_label_group t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectMemberCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
  	SELECT
		COUNT(1)
	FROM
		bu_member_label_group_relation a,
		bu_member_label_relation b
	WHERE
		a.label_id = b.label_id
    AND	a.label_type_id = b.label_type_id
	AND a.del_flag = '0'
	AND a.type = '0'
	AND b.del_flag = '0'
	AND a.label_group_id=(${labelGroupId})
	AND NOT EXISTS (
		SELECT
			d.memeber_id
		FROM
			bu_member_label_group_relation c,
			bu_member_label_relation d
		WHERE
			c.label_id = d.label_id
        AND c.label_type_id = d.label_type_id
		AND c.del_flag = '0'
		AND c.type = '1'
		AND d.del_flag = '0'
		AND d.memeber_id = b.memeber_id
		AND c.label_group_id=(${labelGroupId})
	)
  </select>
  
</mapper>