<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberFootprintCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberFootprintCustom"  extends="com.jf.dao.MemberFootprintMapper.BaseResultMap">
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="art_no" property="artNo" jdbcType="VARCHAR" />
    <result column="product_type_name1" property="productTypeName1" jdbcType="VARCHAR" />
    <result column="product_type_name2" property="productTypeName2" jdbcType="VARCHAR" />
    <result column="product_type_name3" property="productTypeName3" jdbcType="VARCHAR" />
    <result column="product_brand_name" property="productBrandName" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, product_id, create_by, create_date, update_by, update_date, remarks,
    del_flag,
    (select b.nick from bu_member_info b where b.id=a.member_id) nick,
	(select b.name product_name from bu_product b where b.id=a.product_id) product_name,
	(select b.art_no from bu_product b where b.id=a.product_id) art_no,
	(select d.name from bu_product b, bu_product_type c, bu_product_type d, bu_product_type e where b.id=a.product_id and c.id=b.product_type_id and d.id=c.parent_id and e.id=d.parent_id) product_type_name1,
	(select d.name from bu_product b, bu_product_type c, bu_product_type d where b.id=a.product_id and c.id=b.product_type_id and d.id=c.parent_id) product_type_name2,
	(select c.name from bu_product b, bu_product_type c where b.id=a.product_id and c.id=b.product_type_id) product_type_name3,
	(select c.name from bu_product b, bu_product_brand c where b.id=a.product_id and c.id=b.brand_id) product_brand_name,
	(select min(b.sale_price) from bu_product_item b where b.del_flag='0' and b.product_id=a.product_id) sale_price,
	(select b.code from bu_product b where b.id=a.product_id) product_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberFootprintExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_footprint a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_member_footprint a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.jf.entity.MemberFootprintExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_footprint
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>