<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.MemberLabelRuleCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.MemberLabelRuleCustom" extends="com.jf.dao.MemberLabelRuleMapper.BaseResultMap" >
     <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
     <result column="memberlabel_type_name" property="memberlabelTypeName" jdbcType="VARCHAR" />
     <result column="memberlabel_name" property="memberlabelName" jdbcType="VARCHAR" />
     <result column="memberlabel_name" property="memberlabelName" jdbcType="VARCHAR" />
     <result column="memberlabel_status" property="memberlabelStatus" jdbcType="VARCHAR" />
     
    <result column="member_status_desc" property="memberStatusDesc" jdbcType="VARCHAR" />
    <result column="member_create_date" property="memberCreateDate" jdbcType="TIMESTAMP" />
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_mobile" property="memberMobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, label_type_id, label_id, sign_date_begin, sign_date_end, last_login_date_begin,
    last_login_date_end, last_expense_date_begin, last_expense_date_end, login_date_begin,
    login_date_end, pay_date_begin, pay_date_end, pay_count_begin, pay_count_end, pay_amount_begin,
    pay_amount_end, pay_log_count_begin, pay_log_count_end, pay_log_amount_begin, pay_log_amount_end,
    sport_type_count_begin, sport_type_count_end, costume_type_count_begin, costume_type_count_end,
    shoe_type_count_begin, shoe_type_count_end, jewel_type_count_begin, jewel_type_count_end,
    live_type_count_begin, live_type_count_end, digital_type_count_begin, digital_type_count_end,
    makeup_type_count_begin, makeup_type_count_end, child_type_count_begin, child_type_count_end,
    food_type_count_begin, food_type_count_end, svip_year, return_goods_rate_min, return_goods_rate_max,
    refund_rate_min, refund_rate_max, create_by, create_date, update_by, update_date,
    remarks, del_flag,
    (select ss.STAFF_NAME from sys_staff_info ss where ss.STAFF_ID=mlr.create_by and ss.STATUS='A') staff_name,
    (select mlt.label_type_name from bu_member_label_type mlt where mlr.label_type_id=mlt.id and mlt.del_flag='0') memberlabel_type_name,
    (select ml.label_name from bu_member_label ml where mlr.label_id=ml.id and ml.del_flag='0') memberlabel_name,
    (select ml.status from bu_member_label ml where ml.id=mlr.label_id and ml.del_flag='0') memberlabel_status
  </sql>
  <select id="selectMemberLabelRuleCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.MemberLabelRuleCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_label_rule mlr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectMemberLabelRuleCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
   from bu_member_label_rule mlr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countMemberLabelRuleCustomExample" parameterType="com.jf.entity.MemberLabelRuleCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_member_label_rule mlr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
   <select id="getMemberLabelList" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	SELECT
		a.*,
		FUN_GET_STATUS_DESC("BU_MEMBER_INFO", "STATUS", m.status) member_status_desc,
		m.create_date member_create_date,
		m.nick member_nick,
		m.id member_id,
		m.mobile member_mobile
	FROM
		bu_member_label_rule a,
		bu_member_label_relation b,
		bu_member_info m
	WHERE
		a.label_id = b.label_id
	AND a.label_type_id = b.label_type_id
	AND b.memeber_id = m.id
	AND a.del_flag = '0'
	AND b.del_flag = '0'
	AND m.del_flag = '0'
	<if test="labelRuleId != null and labelRuleId != ''"  >
		AND a.id = #{labelRuleId}
	</if>
	<if test="memeberId != null">
		AND m.id = #{memeberId} 
	</if>
	<if test="nick != null">
		AND m.nick like CONCAT('%', #{nick}, '%') 
	</if>
	<if test="createDateBegin != null">
		AND m.create_date >= #{createDateBegin}  
	</if>
	<if test="createDateEnd != null">
		<![CDATA[AND m.create_date <= #{createDateEnd}]]>
	</if>
	<if test="orderByClause != null" >
      	order by ${orderByClause}
    </if>
	<if test="limitStart != null and limitStart>=0" >
      LIMIT #{limitStart} , #{limitSize}
    </if>
  </select>
  
  <select id="getMemberLabelCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
  	SELECT
		COUNT(1)
	FROM
		bu_member_label_rule a,
		bu_member_label_relation b
	WHERE
		a.label_id = b.label_id
	AND a.label_type_id = b.label_type_id
	AND a.del_flag = '0'
	AND b.del_flag = '0'
	<if test="labelRuleId != null and labelRuleId != ''"  >
		AND a.id = #{labelRuleId}
	</if>
  </select>
  
</mapper>