<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jf.dao.OrgMngMapper"> 
    <!-- 组织部门树 -->
   <select id="queryStaffOrgList" parameterType="java.util.HashMap" resultMap="queryStaffMenusList-map" flushCache="true">
        SELECT M.ORG_ID MENU_ID, 
               M.PARENT_ID , 
               M.ORG_NAME MENU_NAME, 
             <!--    CONCAT('/orgMng/list.shtml?ORG_ID=' ,M.ORG_ID)  MENU_PATH, 
              '/orgMng/list.shtml' MENU_PATH, -->
               M.STATUS,
		       date_format(M.CREATE_DATE,'%Y-%m-%d')  CREATE_DATE,
		       date_format(M.STATUS_DATE,'%Y-%m-%d')  STATUS_DATE,
               M.CREATE_STAFF_ID,
               M.MODIFY_STAFF_ID,
               M.DUTY_STAFF_NAME,
               M.ADDR,
               M.LINK_PHONE,
               M.MOBILE_PHONE 
		  FROM SYS_ORGANIZATION M
		 WHERE 1=1
		   AND M.STATUS = 'A'
		   AND EXISTS(SELECT B.ORG_ID
		                     FROM SYS_STAFF_INFO B
		                    WHERE B.STAFF_ID =#{STAFF_ID}
                          AND FIND_IN_SET(M.ORG_ID, FUN_GET_CHILD_ORG(B.ORG_ID))
		                      AND B.STATUS = M.STATUS)
		 ORDER BY M.PARENT_ID,M.ORG_ID
    </select> 

    <sql id="queryDataList-condition">
        SELECT T.STAFF_ID,
		       T.STAFF_NAME,
		       T.STAFF_CODE,
		       T.STAFF_PASS,
		       T.SEX_TYPE,
		       FUN_GET_STATUS_DESC('SYS_STAFF_INFO', 'SEX_TYPE', T.SEX_TYPE)  SEX_TYPE_NAME,
		       T.BIRTHDAY,
		       T.CERT_TYPE,
		       FUN_GET_STATUS_DESC('SYS_STAFF_INFO', 'CERT_TYPE', T.CERT_TYPE)  CERT_TYPE_NAME,
		       T.CERT_NBR,
		       date_format(T.CREATE_DATE,'%Y-%m-%d')  CREATE_DATE,
		       date_format(T.STATUS_DATE,'%Y-%m-%d')  STATUS_DATE,
		       T.STATUS,
		       T.MOBILE_PHONE,
		       T.EMAIL,
		       T.REMARK,
		       T.ORG_ID,
		       T.IS_MANAGEMENT,
		       T.CAN_VIEW_QUALIFICATION,
		       (SELECT G.ORG_NAME 
		          FROM SYS_ORGANIZATION G
		           WHERE G.STATUS='A'
		           AND G.ORG_ID=T.ORG_ID
		           LIMIT 1 ) ORG_ID_NAME,
		       FUN_GET_STATUS_DESC('SYS_STAFF_INFO', 'STATUS', T.STATUS)  STATUS_NAME,
		       (SELECT STAFF_NAME
		          FROM SYS_STAFF_INFO F
		           WHERE F.STAFF_ID = T.CREATE_STAFF_ID
		           AND F.STATUS = 'A'
		           LIMIT 1) CREATE_STAFF_ID,
		       (SELECT STAFF_NAME
		          FROM SYS_STAFF_INFO F
		         WHERE F.STAFF_ID = T.MODIFY_STAFF_ID
		           AND F.STATUS = 'A'
		           LIMIT 1) MODIFY_STAFF_ID,
		        (SELECT GROUP_CONCAT(p.name) FROM bu_product_type p,sys_staff_product_type s where p.id=s.product_type_id and s.staff_id=T.STAFF_ID and p.status='1' and s.del_flag='0' and p.del_flag='0' order by p.id )product_typename,
		        (SELECT GROUP_CONCAT(s.id) FROM bu_product_type p,sys_staff_product_type s where p.id=s.product_type_id and s.staff_id=T.STAFF_ID and p.status='1' and s.del_flag='0' and p.del_flag='0' order by p.id )staffproducttype_Id,
		        (SELECT GROUP_CONCAT(sm.mcht_contact_type) FROM bu_staff_mcht_contact_permission sm where sm.staff_id=T.STAFF_ID and sm.del_flag='0')mcht_contact_type,
		        (SELECT GROUP_CONCAT(si.STAFF_NAME) FROM sys_staff_info si WHERE FIND_IN_SET(si.STAFF_ID, T.SUBORDINATE_STAFF_IDS) ) staff_names
		  FROM SYS_STAFF_INFO T 
		 WHERE 1=1
		   AND T.STATUS='A'
		 <if test="STAFF_NAME !=null and STAFF_NAME != ''">
		   AND (T.STAFF_NAME LIKE '%${STAFF_NAME}%'  OR T.STAFF_CODE LIKE '%${STAFF_NAME}%' ) 
		 </if>
		 <if test="CUR_STAFF_ID !=null and CUR_STAFF_ID != ''">
		   AND T.STAFF_ID = #{CUR_STAFF_ID} 
		 </if>
		 <if test="ORG_ID !=null and ORG_ID != ''">
		   AND T.ORG_ID=#{ORG_ID}
		 </if>
		 <!-- 验证唯一 START -->
		 <if test="CHECK_STAFF_CODE !=null and CHECK_STAFF_CODE != ''">
		   AND T.STAFF_CODE =#{CHECK_STAFF_CODE}
		 </if>
		 <if test="CHECK_STAFF_ID !=null and CHECK_STAFF_ID != ''">
		   AND T.STAFF_ID = #{CHECK_STAFF_ID} 
		 </if>
		 <!-- 验证唯一 END -->
		 
		  
    
    </sql>
     <!-- 查询 统计 -->
    <select id="queryDataCount" parameterType="java.util.HashMap" resultType="String" >  
		SELECT count(*) totalNum FROM (
		<include refid="queryDataList-condition"/>
		) TAB

    </select>
    <!-- 查询 清单 -->
    <select id="queryDataList" parameterType="java.util.HashMap" resultType="java.util.HashMap" >  
		SELECT * FROM (
		<include refid="queryDataList-condition"/>
		) TAB 
       <if test="MAX_NUM!=null and MAX_NUM!=''">
		   LIMIT #{MIN_NUM},#{MAX_NUM}
	   </if>

    </select>
    
	<select id="querycheckStaff" parameterType="java.util.HashMap" resultType="java.util.HashMap" >  
		SELECT * FROM    SYS_STAFF_INFO T 
		 WHERE  T.STAFF_CODE =#{CHECK_STAFF_CODE}
    </select>
    
    <!--   人员操作 -->
    <insert id="saveDataStaff" parameterType="java.util.HashMap"  useGeneratedKeys="true"  keyProperty="STAFF_ID"  >
      INSERT INTO SYS_STAFF_INFO(
		       STAFF_NAME,
		       STAFF_CODE,
		       STAFF_PASS,
		       MOBILE_PHONE,
		       EMAIL,
		       ORG_ID, 
		       REMARK,
		       SEX_TYPE, 
		       BIRTHDAY,
		       CERT_TYPE, 
		       CERT_NBR,
		       CREATE_DATE,
		       STATUS,
		       STATUS_DATE,
		       CREATE_STAFF_ID,
		       MODIFY_STAFF_ID)
	    VALUES(#{STAFF_NAME},
	           #{STAFF_CODE},
	           #{STAFF_PASS},
	           #{MOBILE_PHONE},
	           #{EMAIL},
	           #{ORG_ID},
	            #{REMARK},
		       #{SEX_TYPE}, 
		       #{BIRTHDAY},
		       #{CERT_TYPE}, 
		       #{CERT_NBR},
	           SYSDATE() ,
	           'A',
	           SYSDATE() ,
	           #{LOGIN_STAFF_ID},
	           #{LOGIN_STAFF_ID}
	          )
    </insert>
    <update id="updateDataStaff" parameterType="java.util.HashMap">
      UPDATE SYS_STAFF_INFO
	     SET STAFF_NAME=#{STAFF_NAME}, 
	         MOBILE_PHONE=#{MOBILE_PHONE},
	         EMAIL=#{EMAIL},
	         ORG_ID=#{ORG_ID},
	         REMARK=#{REMARK},
		     SEX_TYPE=#{SEX_TYPE}, 
		     BIRTHDAY=#{BIRTHDAY},
		     CERT_TYPE=#{CERT_TYPE}, 
	         MODIFY_STAFF_ID=#{LOGIN_STAFF_ID},
	         STATUS_DATE= SYSDATE()
	   WHERE STAFF_ID=#{STAFF_ID}
    </update>
    
    <update id="deleteDataStaff" parameterType="java.util.HashMap">
      UPDATE SYS_STAFF_INFO
	     SET STATUS='X',
	         MODIFY_STAFF_ID=#{LOGIN_STAFF_ID},
	         STATUS_DATE= SYSDATE()
	   WHERE STAFF_ID in(${STAFF_ID})
    </update>
    
    <update id="resetStaffPwd" parameterType="java.util.HashMap">
      UPDATE SYS_STAFF_INFO
	     SET STAFF_PASS=#{STAFF_PASS},
	         MODIFY_STAFF_ID=#{LOGIN_STAFF_ID},
	         STATUS_DATE= SYSDATE()
	   WHERE STAFF_ID in(${STAFF_ID})
    </update>


     <!-- 部门查询 -->
    <select id="selectOrgInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap" >  
		SELECT T.ORG_ID,
		       T.ORG_NAME,
		       T.ORG_DESC,
		       T.PARENT_ID,
		       T.STATUS,
		       date_format(T.CREATE_DATE,'%Y-%m-%d')  CREATE_DATE,
		       date_format(T.STATUS_DATE,'%Y-%m-%d')  STATUS_DATE,
		       T.CREATE_STAFF_ID,
		       T.MODIFY_STAFF_ID, 
		       T.DUTY_STAFF_ID,
               T.DUTY_STAFF_NAME,
               T.ADDR,
               T.LINK_PHONE,
               T.MOBILE_PHONE 
		  FROM SYS_ORGANIZATION T
		 WHERE T.STATUS = 'A'
		  <if test="ORG_ID!=null and ORG_ID!=''">
		   AND T.ORG_ID =#{ORG_ID}
          </if>
          <if test="F_ORG_ID!=null and F_ORG_ID!=''">
		   AND T.PARENT_ID =#{F_ORG_ID}
          </if>
          LIMIT 1
    </select>
    <insert id="saveDataOrg" parameterType="java.util.HashMap"  useGeneratedKeys="true"  keyProperty="ORG_ID"  >
      INSERT INTO SYS_ORGANIZATION(
		       ORG_NAME,
		       ORG_DESC,
		       PARENT_ID,
		       CREATE_DATE,
		       STATUS,
		       STATUS_DATE,
		       CREATE_STAFF_ID,
		       MODIFY_STAFF_ID,
		       DUTY_STAFF_ID,
		       DUTY_STAFF_NAME,
               ADDR,
               LINK_PHONE,
               MOBILE_PHONE)
	    VALUES(#{ORG_NAME},
	           #{ORG_DESC},
	           #{PARENT_ID},
	           SYSDATE() ,
	           'A',
	           SYSDATE() ,
	           #{LOGIN_STAFF_ID},
	           #{LOGIN_STAFF_ID},
	           #{DUTY_STAFF_ID},
	            #{DUTY_STAFF_NAME},
                #{ADDR},
                #{LINK_PHONE},
                #{MOBILE_PHONE}
	          )
    </insert>
    <update id="updateDataOrg" parameterType="java.util.HashMap">
      UPDATE SYS_ORGANIZATION
	     SET ORG_NAME=#{ORG_NAME},
	         ORG_DESC=#{ORG_DESC},
	         PARENT_ID=#{PARENT_ID},
	         MODIFY_STAFF_ID=#{LOGIN_STAFF_ID},
	         STATUS_DATE= SYSDATE(),
	          DUTY_STAFF_ID=#{DUTY_STAFF_ID},
	          DUTY_STAFF_NAME=#{DUTY_STAFF_NAME},
               ADDR= #{ADDR},
               LINK_PHONE=#{LINK_PHONE},
               MOBILE_PHONE=#{MOBILE_PHONE}
	   WHERE ORG_ID=#{ORG_ID}
    </update>
    
    <update id="deleteDataOrg" parameterType="java.util.HashMap">
      UPDATE SYS_ORGANIZATION
	     SET STATUS='P',
	         MODIFY_STAFF_ID=#{LOGIN_STAFF_ID},
	         STATUS_DATE= SYSDATE()
	   WHERE ORG_ID=#{ORG_ID}
    </update>
    
    <select id="queryOrgStatus" parameterType="java.util.HashMap" resultType="String">
      SELECT STATUS
      FROM	SYS_ORGANIZATION
	   WHERE ORG_ID=#{ORG_ID}
    </select>

     <resultMap type="com.gzs.common.beans.Menu" id="queryStaffMenusList-map">
    	<id column="MENU_ID" property="menuID" />
		<result column="MENU_CODE" property="menuCode" />
		<result column="MENU_NAME" property="menuName" />
		<result column="MENU_DESC" property="menuDesc" />
		<result column="PARENT_ID" property="parentID" />
		<result column="MENU_PATH" property="menuPath" />
		<result column="MENU_ORDER" property="menuOrder" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="STATUS_DATE" property="statusDate" />
		<result column="CREATE_STAFF_ID" property="createStaffID" />
		<result column="MODIFY_STAFF_ID" property="modifyStaffID" />
		<result column="IS_CHECK" property="isCheck" />
    </resultMap>
    <!--   
    <select id="selectMenuTree" resultMap="resultMenu">
    	SELECT * FROM SYS_MENU A WHERE A.STATUS = 'A'
    </select>
  
   -->
    <!--  注销权限 -->
    <update id="deleteStaffRoles" parameterType="java.util.HashMap">
        UPDATE SYS_STAFF_ROLE 
           SET STATUS='P' ,
               STATUS_DATE=SYSDATE(),
               MODIFY_STAFF_ID=#{LOGIN_STAFF_ID}
         WHERE STAFF_ID=  #{CHECK_STAFF_ID}
           AND STATUS='A'
           AND ROLE_ID IN   (${ROLE_IDS})
            
    </update>
     <!--  新增权限 -->
    <insert id="insertStaffRoles"  parameterType="java.util.HashMap" flushCache="true">
      INSERT SYS_STAFF_ROLE  (
				STAFF_ID,
				ROLE_ID,
				CREATE_DATE,
				STATUS,
				STATUS_DATE,
				CREATE_STAFF_ID,
				MODIFY_STAFF_ID
				)      
         SELECT DISTINCT ${CHECK_STAFF_ID} STAFF_ID,
                ROLE_ID,
                SYSDATE() CREATE_DATE,
                'A' STATUS,
                SYSDATE() STATUS_DATE,
                ${LOGIN_STAFF_ID} CREATE_STAFF_ID,
                ${LOGIN_STAFF_ID} MODIFY_STAFF_ID
		  FROM SYS_ROLE_INFO M
		 WHERE M.STATUS = 'A'
		   AND M.ROLE_ID IN (${ROLE_IDS})
		   AND M.ROLE_ID NOT IN (
		       SELECT M1.ROLE_ID 
		         FROM SYS_STAFF_ROLE M1
		         WHERE M1.STATUS='A'
		           AND M1.STAFF_ID =#{CHECK_STAFF_ID}
		         )
    </insert>
    
    <!-- <select id="selectmenuList" parameterType="java.util.HashMap" resultType="String">  
	 SELECT r.MENU_ID FROM sys_role_menu r,sys_staff_role s WHERE r.ROLE_ID=s.ROLE_ID AND r.STATUS='A' AND s.STATUS='A' AND s.STAFF_ID=#{staff_ID}  
    </select> -->
    
    <select id="selectmenuList" parameterType="java.util.HashMap" resultType="String">  
    SELECT A.MENU_ID
		FROM SYS_MENU A
		WHERE A.STATUS = 'A'
		AND EXISTS (SELECT 1
		FROM SYS_STAFF_ROLE B, SYS_ROLE_MENU C,SYS_ROLE_INFO D
		WHERE D.ROLE_ID = C.ROLE_ID
		AND B.ROLE_ID = C.ROLE_ID
		AND C.MENU_ID = A.MENU_ID
		AND B.STATUS='A'
		AND C.STATUS='A'
		AND D.STATUS='A'
		AND B.STAFF_ID=#{staff_ID})
     </select>
      
      
   <select id="selectmenucout" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
	SUM(Menu422_conut) AS Menu422_conut,
	SUM(Menu423_conut) AS Menu423_conut,
	SUM(Menu308_count) AS Menu308_count,
	SUM(Menu311_count) AS Menu311_count,
	SUM(Menu261_count) AS Menu261_count,
	SUM(Menu435_count) AS Menu435_count,
	SUM(Menu312_count) AS Menu312_count,
	SUM(Menu314_count) AS Menu314_count,
	SUM(Menu434_count) AS Menu434_count,
	SUM(Menu313_count) AS Menu313_count,
	SUM(Menu551_count) AS Menu551_count,
	SUM(Menu552_count) AS Menu552_count,
	SUM(Menu534_count) AS Menu534_count,
	SUM(Menu535_count) AS Menu535_count,
	SUM(Menu307_count) AS Menu307_count
FROM
	(
		SELECT
			COUNT(*) AS Menu422_conut,
			0 AS Menu423_conut,
			0 AS Menu308_count,
			0 AS Menu311_count,
			0 AS Menu261_count,
	        0 AS Menu435_count,
	        0 AS Menu312_count,
	        0 AS Menu314_count,
	        0 AS Menu434_count,
	        0 AS Menu313_count,
	        0 AS Menu551_count,
	        0 AS Menu552_count,
	        0 AS Menu534_count,
	        0 AS Menu535_count,
	        0 AS Menu307_count
		FROM
			bu_mcht_settled_apply m,
			sys_staff_product_type s
		WHERE
			m.product_type_id = s.product_type_id
		AND s.del_flag = '0'
		AND m.del_flag = '0'
		AND m. STATUS = '0'
		AND m.customer_source='1'
        AND m.isimport='0'
		AND s.STAFF_ID =#{staff_ID}
		UNION ALL
			SELECT
				0 AS Menu422_conut,
				COUNT(*) AS Menu423_conut,
				0 AS Menu308_count,
				0 AS Menu311_count,
	            0 AS Menu261_count,
	            0 AS Menu435_count,
	            0 AS Menu312_count,
	            0 AS Menu314_count,
	            0 AS Menu434_count,
	            0 AS Menu313_count,
	            0 AS Menu551_count,
	            0 AS Menu552_count,
	            0 AS Menu534_count,
	            0 AS Menu535_count,
	            0 AS Menu307_count
			FROM
				bu_mcht_settled_apply m,
				sys_staff_product_type s
			WHERE
				m.product_type_id = s.product_type_id
			AND s.del_flag = '0'
			AND m.del_flag = '0'
			AND m.deposit_confirm_status = '0'
			AND m.status='4'
			AND m.customer_source='1'
            AND m.isimport='0'
			AND s.STAFF_ID =#{staff_ID}
			UNION ALL
				SELECT
					0 AS Menu422_conut,
					0 AS Menu423_conut,
					COUNT(*) AS Menu308_count,
					0 AS Menu311_count,
	                0 AS Menu261_count,
	                0 AS Menu435_count,
	                0 AS Menu312_count,
	                0 AS Menu314_count,
	                0 AS Menu434_count,
	                0 AS Menu313_count,
	                0 AS Menu551_count,
	                0 AS Menu552_count,
	                0 AS Menu534_count,
	                0 AS Menu535_count,
	                0 AS Menu307_count
				FROM
					bu_mcht_settled_apply m,
					sys_staff_product_type s
				WHERE
					m.product_type_id = s.product_type_id
				AND s.del_flag = '0'
				AND m.del_flag = '0'
				AND m.deposit_confirm_status = '1'
				AND m. STATUS = '4'
				AND m.customer_source='1'
                AND m.isimport='0'
				AND s.STAFF_ID =#{staff_ID}
		UNION ALL	
		SELECT
	        0 AS Menu422_conut,
	        0 AS Menu423_conut,
	        0 AS Menu308_count,
	        COUNT(*) AS Menu311_count,   
	        0 AS Menu261_count,
	        0 AS Menu435_count,
	        0 AS Menu312_count,
	        0 AS Menu314_count,
	        0 AS Menu434_count,
	        0 AS Menu313_count,
	        0 AS Menu551_count,
	        0 AS Menu552_count,
	        0 AS Menu534_count,
	        0 AS Menu535_count,
	        0 AS Menu307_count
    FROM
	   bu_mcht_product_type mp,
	   sys_staff_product_type s,
	   bu_mcht_info m
   WHERE
	  s.product_type_id = mp.product_type_id
AND mp.mcht_id = m.id
AND mp.is_main = '1'
AND m.zs_total_audit_status ='2'
AND m.total_audit_status !='2'
AND m.total_audit_status ='0'
AND mp.del_flag='0'
AND s.del_flag='0'
AND	m.del_flag = '0'
AND s.STAFF_ID =#{staff_ID}
UNION ALL
   SELECT
      0 AS Menu422_conut,
	  0 AS Menu423_conut,
	  0 AS Menu308_count,
      0 AS Menu311_count,
	  COUNT(*) AS Menu261_count,
	  0 AS Menu435_count,
	  0 AS Menu312_count,
	  0 AS Menu314_count,
	  0 AS Menu434_count,
	  0 AS Menu313_count,
	  0 AS Menu551_count,
	  0 AS Menu552_count,
	  0 AS Menu534_count,
	  0 AS Menu535_count,
	  0 AS Menu307_count
FROM
	bu_mcht_bank_account mba,
	bu_mcht_info m
WHERE
	mba.mcht_id = m.id
AND mba.STATUS = '0'
AND m.STATUS='0'
AND mba.del_flag='0'
AND m.del_flag='0'
UNION ALL
  SELECT
      0 AS Menu422_conut,
	  0 AS Menu423_conut,
	  0 AS Menu308_count,
      0 AS Menu311_count,
	  0 AS Menu261_count,
      COUNT(*) AS Menu435_count,
      0 AS Menu312_count,
      0 AS Menu314_count,
      0 AS Menu434_count,
      0 AS Menu313_count,
      0 AS Menu551_count,
      0 AS Menu552_count,
      0 AS Menu534_count,
      0 AS Menu535_count,
      0 AS Menu307_count
FROM
	bu_mcht_info a
WHERE
	a.del_flag = '0'
AND a. STATUS != '3'
AND EXISTS (
	SELECT
		mc.id
	FROM
		bu_mcht_contract mc
	WHERE
		mc.del_flag = '0'
	AND mc.mcht_id = a.id
	AND (
		mc.archive_status = '1'
		OR mc.audit_status = '3'
	)
)
AND a.finance_confirm_status = '0'
AND EXISTS (
	SELECT
		mpt.id
	FROM
		sys_staff_product_type spt,
		bu_mcht_product_type mpt
	WHERE
		spt.del_flag = '0'
	AND spt.staff_id =#{staff_ID}
	AND spt.product_type_id = mpt.product_type_id
	AND mpt.del_flag = '0'
	AND mpt.is_main = '1'
	AND mpt.mcht_id = a.id
)
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    COUNT(*) AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,
    0 AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
    bu_platform_contact pc,
    bu_mcht_platform_contact mpc,
    bu_mcht_contract mc
WHERE
mpc.platform_contact_id=pc.id
AND mpc.mcht_id=mc.mcht_id
AND mc.audit_status='2'	
AND mpc.`status`='1'
AND mc.del_flag='0'
AND mpc.del_flag='0'
AND pc.del_flag='0'
AND pc.staff_id=#{staff_ID}
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    COUNT(*) AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,
    0 AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
	bu_mcht_contract t
WHERE
	(
		del_flag = '0'
		AND contract_type = '1'
		AND EXISTS (
			SELECT
				x.id
			FROM
				bu_mcht_info x
			WHERE
				x.del_flag = '0'
			AND x.id = mcht_id
			AND x.STATUS IN (0, 1, 2)
		)
		AND NOT EXISTS (
			SELECT
				x.id
			FROM
				bu_mcht_info x
			WHERE
				x.del_flag = '0'
			AND x.id = t.mcht_id
			AND x.mcht_brand_archive_status = '1'
			AND x.company_info_archive_status = '1'
			AND t.archive_status = '1'
		)
		AND archive_status ='0'
		AND EXISTS (
			SELECT
				pc.id
			FROM
				bu_mcht_platform_contact mpc,
				bu_platform_contact pc
			WHERE
				mpc.del_flag = '0'
			AND mpc.mcht_id = t.mcht_id
			AND mpc.platform_contact_id = pc.id
			AND mpc. STATUS = '1'
			AND pc.del_flag = '0'
			AND pc. STATUS = '0'
			AND pc.contact_type = '7'
			AND pc.staff_id =#{staff_ID}
		)
	)
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    COUNT(*) AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,
    0 AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
  sys_staff_product_type s,
  bu_mcht_info m,
  bu_mcht_product_type mpt
  <if test="isManagement==0">
  ,bu_mcht_platform_contact mpc,
   bu_platform_contact pc 
  </if>
WHERE
   s.product_type_id=mpt.product_type_id
 AND mpt.is_main='1'
 AND mpt.mcht_id=m.id
 AND m.zs_total_audit_status='0'
 AND mpt.status='1'
<if test="isManagement==0">
AND mpc.platform_contact_id=pc.id
AND m.id=mpc.mcht_id
AND mpc.status='1'
AND pc.staff_id=s.staff_id
</if>
 AND s.staff_id=#{staff_ID}
 AND mpt.del_flag='0'
 AND s.del_flag='0'
 AND m.del_flag='0'
 <if test="isManagement==0">
 AND mpc.del_flag='0'
 AND pc.del_flag='0'
 </if>
 UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    COUNT(*)  AS Menu313_count,
    0 AS Menu551_count,
    0 AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
	sys_staff_product_type spt,
	bu_mcht_product_type mpt,
	bu_mcht_info m,
	bu_mcht_contract mc
WHERE
 spt.product_type_id = mpt.product_type_id
AND mpt.is_main = '1'
AND mc.mcht_id=mpt.mcht_id
AND mpt.mcht_id=m.id
AND (mc.archive_status='1' or mc.audit_status='3')
AND m.status='0'
AND m.finance_confirm_status='1'
AND spt.staff_id=#{staff_ID}
AND spt.del_flag='0'
AND m.del_flag='0'	
AND mpt.del_flag = '0'
AND mc.del_flag='0'	
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    COUNT(*) AS Menu551_count,
    0 AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
	bu_work w
WHERE
 w.del_flag='0'
AND w.status='1'
AND w.create_by=#{staff_ID}
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,
    COUNT(*) AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
	bu_work w
WHERE
 w.del_flag='0'
AND w.status='0'
AND w.staff_id=#{staff_ID}
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,
    0 AS Menu552_count,
    COUNT(*) AS Menu534_count,
    0 AS Menu535_count,
    0 AS Menu307_count
FROM
	bu_staff_opinion_feedback sof
WHERE
 sof.del_flag='0'
AND sof.reply='2'
AND sof.isanonymous='2'
AND sof.create_by=#{staff_ID}
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,  
    0 AS Menu552_count,
    0 AS Menu534_count,
    COUNT(*) AS Menu535_count,
    0 AS Menu307_count
FROM
	bu_staff_opinion_feedback sof
WHERE
 sof.del_flag='0'
AND sof.reply='2'
UNION ALL
SELECT 
    0 AS Menu422_conut,
	0 AS Menu423_conut,
	0 AS Menu308_count,
    0 AS Menu311_count,
	0 AS Menu261_count,
    0 AS Menu435_count,
    0 AS Menu312_count,
    0 AS Menu314_count,
    0 AS Menu434_count,
    0 AS Menu313_count,
    0 AS Menu551_count,  
    0 AS Menu552_count,
    0 AS Menu534_count,
    0 AS Menu535_count,
    COUNT(*) AS Menu307_count
FROM
	bu_mcht_settled_apply msa,
    sys_staff_product_type spt
WHERE
    spt.product_type_id=msa.product_type_id
AND msa.platform_contact_id IS NULL
AND msa.del_flag='0'
AND spt.del_flag='0'
AND spt.staff_id=#{staff_ID}	
 ) t 
  </select>
  
  
  <select id="selectmenucout1" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  SELECT
	SUM(Menu426_conut) AS Menu426_conut,
	SUM(Menu443_conut) AS Menu443_conut,
	SUM(Menu430_conut) AS Menu430_conut,
	SUM(Menu212_conut) AS Menu212_conut
  FROM
	(
		SELECT
			COUNT(*) AS Menu426_conut,
			0 AS Menu443_conut,
			0 AS Menu430_conut,
			0 AS Menu212_conut 
		FROM
			sys_staff_product_type s,
            bu_intervention_order io,
            bu_mcht_product_type mpt
		WHERE
			s.product_type_id=mpt.product_type_id
        AND mpt.mcht_id=io.mcht_id
        AND mpt.is_main='1'
        AND mpt.status='1'
        AND io.status='0'
        AND s.staff_id=#{staff_ID}
        AND io.del_flag='0'
        AND mpt.del_flag='0'
        AND s.del_flag='0'
     UNION ALL
       SELECT
			 0 AS Menu426_conut,
			 COUNT(*) AS Menu443_conut,
			 0 AS Menu430_conut,
			 0 AS Menu212_conut 
		FROM
            bu_intervention_order t
       WHERE
	   (
		del_flag = '0'
		AND EXISTS (
			SELECT
				s.product_type_id
			FROM
				bu_mcht_product_type mpc,
				sys_staff_product_type s
			WHERE
				s.product_type_id = mpc.product_type_id
			AND t.mcht_id = mpc.mcht_id
			AND mpc.is_main = '1'
			AND s.del_flag = '0'
			AND mpc.del_flag = '0'
			AND mpc.STATUS = '1'
			AND s.staff_id =#{staff_ID}
		)
		AND platform_processor =#{staff_ID}
		AND STATUS IN ('1', '2', '5', '7', '4', '6')
	)
     UNION ALL
        SELECT
			0 AS Menu426_conut,
			0 AS Menu443_conut,
			COUNT(*) AS Menu430_conut,
			0 AS Menu212_conut
		FROM
			sys_staff_product_type s,
            bu_intervention_order io,
            bu_mcht_product_type mpt
		WHERE
			s.product_type_id=mpt.product_type_id
        AND mpt.mcht_id=io.mcht_id
        AND mpt.is_main='1'
        AND mpt.status='1'
        AND io.status='2'
        AND s.staff_id=#{staff_ID}
        AND io.del_flag='0'
        AND mpt.del_flag='0'
        AND s.del_flag='0'
      UNION ALL
       SELECT
			 0 AS Menu426_conut,
			 0 AS Menu443_conut,
			 0 AS Menu430_conut,
			 COUNT(*) AS Menu212_conut
	   FROM
         	bu_appeal_order t
       WHERE
	   (
		EXISTS (
			SELECT
				s.product_type_id
			FROM
				bu_mcht_product_type mpc,
				sys_staff_product_type s
			WHERE
				s.product_type_id = mpc.product_type_id
			AND t.mcht_id = mpc.mcht_id
			AND mpc.is_main = '1'
			AND s.del_flag = '0'
			AND mpc.del_flag = '0'
			AND mpc.STATUS = '1'
			AND s.staff_id =#{staff_ID}
		)
		AND del_flag = '0'
		AND service_status IN ('0', '1')
	  )
  ) t 
  </select>
  
  
  <select id="selectmenucout2" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  SELECT
	SUM(Menu325_conut) AS Menu325_conut,
	SUM(Menu328_conut) AS Menu328_conut,
	SUM(Menu537_conut) AS Menu537_conut,
	SUM(Menu538_conut) AS Menu538_conut,
	SUM(Menu539_conut) AS Menu539_conut,
	SUM(Menu540_conut) AS Menu540_conut,
	SUM(Menu541_conut) AS Menu541_conut,
	SUM(Menu542_conut) AS Menu542_conut,
	SUM(Menu543_conut) AS Menu543_conut,
	SUM(Menu544_conut) AS Menu544_conut,
	SUM(Menu545_conut) AS Menu545_conut,
	SUM(Menu546_conut) AS Menu546_conut,
	SUM(Menu326_conut) AS Menu326_conut,
	SUM(Menu520_conut) AS Menu520_conut,
	SUM(Menu522_conut) AS Menu522_conut,
	SUM(Menu324_conut) AS Menu324_conut,
	SUM(Menu523_conut) AS Menu523_conut,
	SUM(Menu524_conut) AS Menu524_conut
  FROM
	(
		SELECT
			COUNT(*) AS Menu325_conut,
			0 AS Menu328_conut,
			0 AS Menu537_conut,
			0 AS Menu538_conut,
			0 AS Menu539_conut,
			0 AS Menu540_conut,
			0 AS Menu541_conut,
			0 AS Menu542_conut,
			0 AS Menu543_conut,
			0 AS Menu544_conut,
			0 AS Menu545_conut,
			0 AS Menu546_conut,
			0 AS Menu326_conut,
			0 AS Menu520_conut,
			0 AS Menu522_conut,
			0 AS Menu324_conut,
			0 AS Menu523_conut,
			0 AS Menu524_conut	
		FROM
			bu_mcht_info_chg mic,
            bu_mcht_platform_contact mpc,
            bu_platform_contact pc
		WHERE
			pc.id=mpc.platform_contact_id
        AND mpc.mcht_id=mic.mcht_id
        AND mic.status='1'
        AND mpc.status='1'
        AND mic.del_flag='0'
        AND mpc.del_flag='0'
        AND pc.del_flag='0'
        AND pc.staff_id=#{staff_ID}
      UNION ALL
      SELECT
         0 AS Menu325_conut,
         COUNT(*) AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_bank_account mba,
         bu_mcht_info mi
     WHERE
        mba.status='0'
    AND mi.id = mba.mcht_id    
    AND mi.STATUS IN ('0', '1', '2')   
    AND mba.del_flag='0'
    AND mi.del_flag = '0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         COUNT(*) AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca,
         sys_staff_product_type spt,
         bu_mcht_product_type mpt
     WHERE
       spt.product_type_id=mpt.product_type_id
    AND mpt.mcht_id=mca.mcht_id
    AND mpt.status='1'
    AND mpt.is_main='1'
    AND mca.zs_confirm_status='0'
    AND spt.staff_id=#{staff_ID}
    AND spt.del_flag='0'
    AND mca.del_flag='0'
    AND mpt.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         COUNT(*) AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca,
         sys_staff_product_type spt,
         bu_mcht_product_type mpt
     WHERE
       spt.product_type_id=mpt.product_type_id
    AND mpt.mcht_id=mca.mcht_id
    AND mpt.status='1'
    AND mpt.is_main='1'
    AND mca.progress_status='1'
    AND spt.staff_id=#{staff_ID}
    AND spt.del_flag='0'
    AND mca.del_flag='0'
    AND mpt.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         COUNT(*) AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca,
         sys_staff_product_type spt,
         bu_mcht_product_type mpt
     WHERE
       spt.product_type_id=mpt.product_type_id
    AND mpt.mcht_id=mca.mcht_id
    AND mpt.status='1'
    AND mpt.is_main='1'
    AND mca.progress_status='2'
    AND spt.staff_id=#{staff_ID}
    AND spt.del_flag='0'
    AND mca.del_flag='0'
    AND mpt.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         COUNT(*) AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca,
         sys_staff_product_type spt,
         bu_mcht_product_type mpt
     WHERE
       spt.product_type_id=mpt.product_type_id
    AND mpt.mcht_id=mca.mcht_id
    AND mpt.status='1'
    AND mpt.is_main='1'
    AND mca.progress_status='3'
    AND spt.staff_id=#{staff_ID}
    AND spt.del_flag='0'
    AND mca.del_flag='0'
    AND mpt.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         COUNT(*) AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca
     WHERE
        mca.progress_status='4'
    AND mca.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         COUNT(*) AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca
     WHERE
        mca.progress_status='5'
    AND mca.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         COUNT(*) AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca
     WHERE
        mca.progress_status='6'
    AND mca.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         COUNT(*) AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca
     WHERE
        mca.progress_status='7'
    AND mca.del_flag='0'
    UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         COUNT(*) AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mca
     WHERE
        mca.progress_status='8'
    AND mca.del_flag='0'
  UNION ALL
      SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         COUNT(*) AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
      FROM
         bu_mcht_close_application mc
     WHERE
        mc.progress_status='9'
    AND mc.del_flag='0'
  UNION ALL
    SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         COUNT(*) AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
    FROM
       bu_mcht_brand_chg mbc, 
       bu_product_brand pb
       <if test="isManagement==0">
       ,bu_mcht_platform_contact mpc,
        bu_platform_contact pc
       </if>
       <if test="isManagement==1">
       ,sys_staff_product_type spt,
        bu_mcht_product_type mpt
       </if>
   WHERE
       mbc.del_flag='0'
   AND pb.del_flag='0' 
   AND mbc.audit_status='1'
   AND pb.`status`='1'
    <if test="isManagement==0">
   AND mpc.platform_contact_id=pc.id
   AND mpc.mcht_id=mbc.mcht_id
   AND mbc.product_brand_id=pb.id
   AND mpc.`status`='1'
   AND mpc.del_flag='0'
   AND pc.del_flag='0'
   AND pc.staff_id=#{staff_ID}
   </if> 
   <if test="isManagement==1">
    AND spt.product_type_id=mpt.product_type_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND mpt.mcht_id=mbc.mcht_id
    AND mbc.product_brand_id=pb.id
    AND spt.del_flag='0'
    AND mpt.del_flag='0'
    AND spt.staff_id=#{staff_ID}
   </if>
    UNION ALL
    SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         COUNT(*) AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
    FROM
       bu_mcht_brand_chg mbc, 
       bu_mcht_info a,
       bu_product_brand pb 
       <if test="isManagement==0">
       ,bu_mcht_platform_contact mpc,
        bu_platform_contact pc
       </if>
       <if test="isManagement==1">
       ,sys_staff_product_type spt,
        bu_mcht_product_type mpt
       </if>
   WHERE
       mbc.del_flag='0'
   AND mbc.audit_status='3'
   AND a.STATUS IN ('1', '2')
   AND a.del_flag='0'
   AND mbc.product_brand_id=pb.id
   <if test="archivestatuslist!='' and archivestatuslist!=null">
   AND mbc.archive_status in 
		<foreach collection="archivestatuslist" index="index" item="archivestatus" open="(" separator="," close=")">
				#{archivestatus}
	    </foreach>
   </if>
   <if test="isManagement==0">
   AND mpc.platform_contact_id=pc.id
   AND mpc.mcht_id=mbc.mcht_id
   AND mbc.mcht_id=a.id
   AND mpc.`status`='1'
   AND mpc.del_flag='0'
   AND pc.del_flag='0'
   AND pc.staff_id=#{staff_ID}
   </if> 
   <if test="isManagement==1">
    AND spt.product_type_id=mpt.product_type_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND mpt.mcht_id=mbc.mcht_id
    AND mbc.mcht_id=a.id
    AND spt.del_flag='0'
    AND mpt.del_flag='0'
    AND spt.staff_id=#{staff_ID}
   </if>
  UNION ALL
   SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         COUNT(*) AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
    FROM
       bu_mcht_product_brand mpb,
       bu_mcht_info a
       <if test="isManagement==0">
       ,bu_mcht_platform_contact mpc,
        bu_platform_contact pc
       </if>
       <if test="isManagement==1">
       ,sys_staff_product_type spt,
        bu_mcht_product_type mpt
       </if>
   WHERE
       mpb.del_flag='0'
   AND mpb.zs_audit_status='1'
   AND mpb.brand_source ='2'
   AND mpb.mcht_id=a.id
   AND a.del_flag='0'
   AND a.STATUS IN ('1', '2')
   <if test="isManagement==0">
   AND mpc.platform_contact_id=pc.id
   AND mpc.mcht_id=mpb.mcht_id
   AND mpc.`status`='1'
   AND mpc.del_flag='0'
   AND pc.del_flag='0'
   AND pc.staff_id=#{staff_ID}
   </if> 
   <if test="isManagement==1">
    AND spt.product_type_id=mpt.product_type_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND mpt.mcht_id=mpb.mcht_id
    AND spt.del_flag='0'
    AND mpt.del_flag='0'
    AND spt.staff_id=#{staff_ID}
   </if>
   UNION ALL
   SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         COUNT(*) AS Menu324_conut,
         0 AS Menu523_conut,
         0 AS Menu524_conut
    FROM
       bu_mcht_product_brand mpb,
       bu_mcht_info a
       <if test="isManagement==0">
       ,bu_mcht_platform_contact mpc,
        bu_platform_contact pc
       </if>
       <if test="isManagement==1">
       ,sys_staff_product_type spt,
        bu_mcht_product_type mpt
       </if>
   WHERE
       mpb.del_flag='0'
   AND mpb.mcht_id = a.id    
   AND mpb.audit_status='1'
   AND mpb.zs_audit_status='2'
   AND mpb.brand_source ='2'
   AND a.STATUS IN ('1', '2')
   AND a.del_flag='0'
   <if test="isManagement==0">
   AND mpc.platform_contact_id=pc.id
   AND mpc.mcht_id=mpb.mcht_id
   AND mpc.`status`='1'
   AND mpc.del_flag='0'
   AND pc.del_flag='0'
   AND pc.staff_id=#{staff_ID}
   </if> 
   <if test="isManagement==1">
    AND spt.product_type_id=mpt.product_type_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND mpt.mcht_id=mpb.mcht_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND spt.del_flag='0'
    AND mpt.del_flag='0'
    AND spt.staff_id=#{staff_ID}
   </if>
 UNION ALL
   SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         COUNT(*) AS Menu523_conut,
         0 AS Menu524_conut
    FROM
       bu_mcht_product_brand mpb, 
       bu_mcht_info a
       <if test="isManagement==0">
       ,bu_mcht_platform_contact mpc,
        bu_platform_contact pc
       </if>
       <if test="isManagement==1">
       ,sys_staff_product_type spt,
        bu_mcht_product_type mpt
       </if>
   WHERE
       mpb.del_flag='0'
   AND mpb.audit_status='3'
   AND mpb.brand_source='2'
   AND a.STATUS IN ('1', '2')
   AND a.del_flag='0'
  <if test="archivestatuslist!='' and archivestatuslist!=null">
   AND mpb.archive_status in 
		<foreach collection="archivestatuslist" index="index" item="archivestatus" open="(" separator="," close=")">
				#{archivestatus}
	    </foreach>
   </if>
   <if test="isManagement==0">
   AND mpc.platform_contact_id=pc.id
   AND mpc.mcht_id=mpb.mcht_id
   AND mpb.mcht_id=a.id
   AND mpc.`status`='1'
   AND mpc.del_flag='0'
   AND pc.del_flag='0'
   AND pc.staff_id=#{staff_ID}
   </if> 
   <if test="isManagement==1">
    AND spt.product_type_id=mpt.product_type_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND mpt.mcht_id=mpb.mcht_id
    AND mpb.mcht_id=a.id
    AND spt.del_flag='0'
    AND mpt.del_flag='0'
    AND spt.staff_id=#{staff_ID}
   </if>
   UNION ALL
   SELECT
         0 AS Menu325_conut,
         0 AS Menu328_conut,
         0 AS Menu537_conut,
         0 AS Menu538_conut,
         0 AS Menu539_conut,
         0 AS Menu540_conut,
         0 AS Menu541_conut,
         0 AS Menu542_conut,
         0 AS Menu543_conut,
         0 AS Menu544_conut,
         0 AS Menu545_conut,
         0 AS Menu546_conut,
         0 AS Menu326_conut,
         0 AS Menu520_conut,
         0 AS Menu522_conut,
         0 AS Menu324_conut,
         0 AS Menu523_conut,
         COUNT(*) AS Menu524_conut
    FROM
       bu_mcht_product_brand mpb,
       bu_mcht_info a
       <if test="isManagement==0">
       ,bu_mcht_platform_contact mpc,
        bu_platform_contact pc
       </if>
       <if test="isManagement==1">
       ,sys_staff_product_type spt,
        bu_mcht_product_type mpt
       </if>
   WHERE
       mpb.del_flag='0'
   AND mpb.audit_status='3'
   AND mpb.zs_audit_status='2'
   AND mpb.status='0'
   AND mpb.brand_source ='2'
   AND mpb.mcht_id=a.id
   AND a.STATUS ='1'
   AND a.del_flag='0'
   <if test="isManagement==0">
   AND mpc.platform_contact_id=pc.id
   AND mpc.mcht_id=mpb.mcht_id
   AND mpc.`status`='1'
   AND mpc.del_flag='0'
   AND pc.del_flag='0'
   AND pc.staff_id=#{staff_ID}
   </if> 
   <if test="isManagement==1">
    AND spt.product_type_id=mpt.product_type_id
    AND mpt.is_main='1'
    AND mpt.status='1'
    AND mpt.mcht_id=mpb.mcht_id
    AND spt.del_flag='0'
    AND mpt.del_flag='0'
    AND spt.staff_id=#{staff_ID}
   </if>
  ) t 
  </select>
	
</mapper>