<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ShopownerOrderCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ShopownerOrderCustom"  extends="com.jf.dao.ShopownerOrderMapper.BaseResultMap">
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="payment_name" property="paymentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
     id, order_code, member_id, source_client, status, payment_id, payment_no, pay_amount, 
    pay_date, pay_status, ip, create_by, create_date, update_by, update_date, remarks, 
    del_flag,
	( SELECT m.nick FROM bu_member_info m WHERE m.del_flag = '0' AND member_id = m.id) nick,
	( SELECT sp.remarks FROM sys_payment sp WHERE sp.del_flag = '0' AND sp.id = payment_id ) payment_name
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ShopownerOrderCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_shopowner_order 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>

  <select id="countByCustomExample" parameterType="com.jf.entity.ShopownerOrderCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_shopowner_order 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="statisticsShopownerOrder" resultType="java.util.Map" parameterType="java.util.Map" >
    	SELECT
			t.each_day AS eachDay,
			ifnull( sum( t.total_count ), 0 ) AS totalCount,
			ifnull( sum( t.combine_amount ), 0.00 ) AS combineAmount,
			ifnull( sum( t.zfb_amount ), 0.00 ) AS zfbAmount,
			ifnull( sum( t.zfb_count ), 0 ) AS zfbCount,
			ifnull( sum( t.wx_amount ), 0.00 ) AS wxAmount,
			ifnull( sum( t.wx_count ), 0 ) AS wxCount,
			ifnull( sum( t.gzh_amount ), 0.00 ) AS gzhAmount,
			ifnull( sum( t.gzh_count ), 0 ) AS gzhCount 
		FROM
			(
		SELECT
				DATE_FORMAT( so.pay_date, '%Y-%m-%d' ) each_day,
				count( so.id ) total_count,
				SUM( so.pay_amount ) combine_amount,
				0 AS zfb_amount,
				0 AS zfb_count,
				0 AS wx_amount,
				0 AS wx_count,
				0 AS gzh_amount,
				0 AS gzh_count 
			FROM
				bu_shopowner_order so 
			WHERE
				so.`status` = '1' 
				AND so.del_flag = '0' 
				AND so.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR} 
				AND so.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR} 
				AND so.pay_date IS NOT NULL 
				AND so.payment_id IS NOT NULL 
			GROUP BY
				each_day UNION
				SELECT
				DATE_FORMAT( so.pay_date, '%Y-%m-%d' ) each_day,
				0 AS total_count,
				0 AS combine_amount,
				SUM( so.pay_amount ) zfb_amount,
				count( so.id ) zfb_count,
				0 AS wx_amount,
				0 AS wx_count,
				0 AS gzh_amount,
				0 AS gzh_count 
			FROM
				bu_shopowner_order so 
			WHERE
				so.`status` = '1' 
				AND so.del_flag = '0' 
				AND so.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR} 
				AND so.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR} 
				AND so.pay_date IS NOT NULL 
				AND so.payment_id IN ( 1, 6 ) 
			GROUP BY 
				each_day UNION
				SELECT
				DATE_FORMAT( so.pay_date, '%Y-%m-%d' ) each_day,
				0 AS total_count,
				0 AS combine_amount,
				0 AS zfb_amount,
				0 AS zfb_count,
				SUM( so.pay_amount ) wx_amount,
				count( so.id ) wx_count,
				0 AS gzh_amount,
				0 AS gzh_count 
			FROM
				bu_shopowner_order so 
			WHERE
				so.`status` = '1' 
				AND so.del_flag = '0' 
				AND so.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR} 
				AND so.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR} 
				AND so.pay_date IS NOT NULL 
				AND so.payment_id IN ( 2, 5 ) 
			GROUP BY
				each_day UNION
				SELECT
				DATE_FORMAT( so.pay_date, '%Y-%m-%d' ) each_day,
				0 AS total_count,
				0 AS combine_amount,
				0 AS zfb_amount,
				0 AS zfb_count,
				0 AS wx_amount,
				0 AS wx_count,
				SUM( so.pay_amount ) gzh_amount,
				count( so.id ) gzh_count 
			FROM
				bu_shopowner_order so 
			WHERE
				so.`status` = '1' 
				AND so.del_flag = '0' 
				AND so.pay_date <![CDATA[ >= ]]> #{payDateBegin,jdbcType=VARCHAR} 
				AND so.pay_date <![CDATA[ <= ]]> #{payDateEnd,jdbcType=VARCHAR} 
				AND so.pay_date IS NOT NULL 
				AND so.payment_id IN ( 4, 7 ) 
			GROUP BY
				each_day
				) t 
		GROUP BY
			t.each_day 
		ORDER BY
			t.each_day 
			LIMIT 61
  </select>
</mapper>