<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SingleProductActivityControlCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.SingleProductActivityControlCustom"  extends="com.jf.dao.SingleProductActivityControlMapper.BaseResultMap">
    <result column="type_desc" property="typeDesc" jdbcType="VARCHAR" />
    <result column="product_type_names" property="productTypeNames" jdbcType="VARCHAR" />
    <result column="show_to_mcht_codes" property="showToMchtCodes" jdbcType="VARCHAR" />
    <result column="hide_to_mcht_codes" property="hideToMchtCodes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t.*,
    FUN_GET_STATUS_DESC("BU_SINGLE_PRODUCT_ACTIVITY", "TYPE", t.type) type_desc,
    (select GROUP_CONCAT(pt.name) from bu_product_type pt where pt.del_flag='0' and find_in_set(pt.id,t.product_type_ids)) product_type_names,
    (select GROUP_CONCAT(mi.mcht_code) from bu_mcht_info mi where mi.del_flag='0' and find_in_set(mi.id,t.show_to_mcht_ids)) show_to_mcht_codes,
    (select GROUP_CONCAT(mi.mcht_code) from bu_mcht_info mi where mi.del_flag='0' and find_in_set(mi.id,t.hide_to_mcht_ids)) hide_to_mcht_codes
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.SingleProductActivityControlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_single_product_activity_control t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="countByExample" parameterType="com.jf.entity.SingleProductActivityControlExample" resultType="java.lang.Integer" >
    select count(*) from bu_single_product_activity_control t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectCustomByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from bu_single_product_activity_control t
    where t.id=#{id}
  </select>
  <select id="getMchtIdsByMchtCodes" parameterType="java.lang.String" resultType="java.lang.String">
  	select GROUP_CONCAT(mi.id) from bu_mcht_info mi where mi.del_flag='0' and find_in_set(mi.mcht_code,#{mchtCodes});
  </select>
</mapper>