<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SourceProductTypeCustomMapper" >
  <resultMap id="BaseResultCustomMap" type="com.jf.entity.SourceProductTypeCustom" extends="com.jf.dao.SourceProductTypeMapper.BaseResultMap" >
  <result column="product_type1_name" property="producttype1Name" jdbcType="VARCHAR" />
  <result column="product_type2_name" property="producttype2Name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, source_product_type_name, product_type1_id, product_type2_id, status, seq_no, 
    create_by, create_date, update_by, update_date, remarks, del_flag,
    (select pt.name from bu_product_type pt where spt.product_type1_id=pt.id and pt.status='1' and pt.del_flag='0')product_type1_name,
    (SELECT GROUP_CONCAT(pt.name) FROM bu_product_type pt WHERE pt.status='1' and pt.del_flag='0' and FIND_IN_SET(pt.id,spt.product_type2_id))product_type2_name
  </sql>
  <select id="sourceProductTypeCustomselectByExample" resultMap="BaseResultCustomMap" parameterType="com.jf.entity.SourceProductTypeCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_source_product_type spt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="sourceProductTypeCustomselectByPrimaryKey" resultMap="BaseResultCustomMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_source_product_type spt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="sourceProductTypeCountByExample" parameterType="com.jf.entity.SourceProductTypeCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_source_product_type spt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
</mapper>