<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SysStaffInfoCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.SysStaffInfoCustom" extends="com.jf.dao.SysStaffInfoMapper.BaseResultMap" >
	    <result column="id" property="id" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   STAFF_ID as id, STAFF_ID, STAFF_CODE, STAFF_PASS, STAFF_NAME, MOBILE_PHONE, EMAIL, ORG_ID, IS_MANAGEMENT, 
    CREATE_DATE, STATUS, STATUS_DATE, CREATE_STAFF_ID, MODIFY_STAFF_ID, CERT_TYPE, CERT_NBR, 
    SEX_TYPE, BIRTHDAY, LOGIN_ERROR_COUNT, SUBORDINATE_STAFF_IDS, REMARK
  </sql>
  <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.SysStaffInfoCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_staff_info t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_staff_info t
    where STAFF_ID = #{staffId,jdbcType=INTEGER}
  </select>
  <select id="countByCustomExample" parameterType="com.jf.entity.SysStaffInfoCustomExample" resultType="java.lang.Integer" >
    select count(*) from sys_staff_info t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCustomExampleSelective" parameterType="map" >
    update sys_staff_info t
    <set >
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.staffCode != null" >
        STAFF_CODE = #{record.staffCode,jdbcType=VARCHAR},
      </if>
      <if test="record.staffPass != null" >
        STAFF_PASS = #{record.staffPass,jdbcType=VARCHAR},
      </if>
      <if test="record.staffName != null" >
        STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.isManagement != null" >
        IS_MANAGEMENT = #{record.isManagement,jdbcType=CHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null" >
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaffId != null" >
        CREATE_STAFF_ID = #{record.createStaffId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyStaffId != null" >
        MODIFY_STAFF_ID = #{record.modifyStaffId,jdbcType=INTEGER},
      </if>
      <if test="record.certType != null" >
        CERT_TYPE = #{record.certType,jdbcType=VARCHAR},
      </if>
      <if test="record.certNbr != null" >
        CERT_NBR = #{record.certNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.sexType != null" >
        SEX_TYPE = #{record.sexType,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        BIRTHDAY = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.loginErrorCount != null" >
        LOGIN_ERROR_COUNT = #{record.loginErrorCount,jdbcType=INTEGER},
      </if>
      <if test="record.subordinateStaffIds != null" >
        SUBORDINATE_STAFF_IDS = #{record.subordinateStaffIds,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <!--查询用户的上级人员  -->
    <select id="selectSuperior" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select
    <include refid="Base_Column_List" />
    from sys_staff_info t where FIND_IN_SET(#{staffId,jdbcType=INTEGER} , SUBORDINATE_STAFF_IDS)
  </select>
  
</mapper>