<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.VideoProductCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.VideoProductCustom" extends="com.jf.dao.VideoProductMapper.BaseResultMap">
    <result column="pic" property="pic" jdbcType="VARCHAR" />
	<result column="product_code" property="productCode" jdbcType="VARCHAR" />
	<result column="product_name" property="productName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, video_id, mcht_id, product_id, seq_no, create_by, create_date, update_by, update_date,
    remarks, del_flag,
    (select p.code from bu_product p where vp.product_id=p.id and p.del_flag='0') product_code,
    (select pc.pic from bu_product_pic pc where vp.product_id=pc.product_id and pc.del_flag='0' and pc.is_default='1' limit 1) pic,
    (select p.name from bu_product p where vp.product_id=p.id and p.del_flag='0') product_name
  </sql>
  <select id="selectByVideoProductCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.VideoProductCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_video_product vp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByVideoProductCustomPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_video_product vp
    where id = #{id,jdbcType=INTEGER}
  </select>
 
  <select id="countByVideoProductCustomExample" parameterType="com.jf.entity.VideoProductCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_video_product vp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="selectCurrentTimeStatistical" parameterType="java.util.Map" resultType="java.util.Map" >
    SELECT
      A.video_id,
      0 total_visitor_count_tourist,
      0 total_pv_count_tourist,
      (
          SELECT
              CONVERT(CONCAT(COUNT(DISTINCT(mf.member_id)),',',COUNT(mf.member_id)), CHAR)
          FROM
              bu_member_footprint mf
          WHERE
              mf.del_flag = '0'
          AND FIND_IN_SET(mf.product_id, A.product_ids)
          AND mf.create_date BETWEEN #{nowPayDateBegin}
          AND #{nowPayDateEnd}
      ) total_count,
      (
          SELECT
              IFNULL(SUM(sc.quantity), 0)
          FROM
              bu_shopping_cart sc,
              bu_product_item pi
          WHERE
              sc.product_item_id = pi.id
          AND FIND_IN_SET(pi.product_id, A.product_ids)
          AND sc.create_date BETWEEN #{nowPayDateBegin}
          AND #{nowPayDateEnd}
      ) shopping_cart_count,
      (
          SELECT
              IFNULL(SUM(od.quantity), 0)
          FROM
              bu_order_dtl od
          WHERE
              FIND_IN_SET(od.product_id, A.product_ids)
          AND od.create_date BETWEEN #{nowPayDateBegin}
          AND #{nowPayDateEnd}
      ) sub_product_count,
      (
          SELECT
              IFNULL(SUM(od.quantity), 0)
          FROM
              bu_order_dtl od,
              bu_sub_order so,
              bu_combine_order co
          WHERE
              od.sub_order_id = so.id
          AND so.combine_order_id = co.id
          AND co. STATUS = '1'
          AND co.pay_status = '1'
          AND od.del_flag = '0'
          AND so.del_flag = '0'
          AND co.del_flag = '0'
          AND FIND_IN_SET(od.product_id, A.product_ids)
          AND od.create_date BETWEEN #{nowPayDateBegin}
          AND #{nowPayDateEnd}
      ) pay_product_count
    FROM
      (
          SELECT
              vp.video_id video_id,
              GROUP_CONCAT(vp.product_id) product_ids
          FROM
              bu_video_product vp
          WHERE
              vp.del_flag = '0'
          AND vp.video_id IN
          <foreach collection="videoIdList" item="videoId" open="(" close=")" separator=",">
            ${videoId}
          </foreach>
          GROUP BY
              video_id
      ) A
  </select>

  <select id="selectHistoryStatistical" parameterType="java.util.Map" resultType="java.util.Map" >
    SELECT
        A.*,
        (
            SELECT
                IFNULL(SUM(sc.quantity), 0)
            FROM
                bu_member_action ma,
                bu_shopping_cart sc
            WHERE
                ma.action_item_id = sc.id
            AND ma.column_type = A.column_type
            AND ma.column_id = A.video_id
            AND ma.create_date BETWEEN #{payDateBegin}
            AND #{payDateEnd}
            AND ma.action_type = '14'
            AND ma.action_item_id IS NOT NULL
        ) shopping_cart_count,
        (
            SELECT
                IFNULL(SUM(sc.quantity), 0)
            FROM
                bu_member_action ma,
                bu_shopping_cart sc
            WHERE
                ma.action_item_id = sc.id
            AND ma.column_type = A.column_type
            AND ma.column_id = A.video_id
            AND ma.create_date BETWEEN #{payDateBegin}
            AND #{payDateEnd}
            AND ma.action_type IN ('14', '15')
            AND ma.action_item_id IS NOT NULL
            AND sc.order_dtl_id IS NOT NULL
        ) sub_product_count,
        (
            SELECT
                IFNULL(SUM(od.quantity), 0)
            FROM
                bu_member_action ma,
                bu_shopping_cart sc,
                bu_order_dtl od,
                bu_sub_order so,
                bu_combine_order co
            WHERE
                ma.action_item_id = sc.id
            AND sc.order_dtl_id = od.id
            AND od.sub_order_id = so.id
            AND so.combine_order_id = co.id
            AND ma.column_type = A.column_type
            AND ma.column_id = A.video_id
            AND ma.create_date BETWEEN #{payDateBegin}
            AND #{payDateEnd}
            AND ma.action_type IN ('14', '15')
            AND ma.action_item_id IS NOT NULL
            AND sc.order_dtl_id IS NOT NULL
            AND co. STATUS = '1'
        ) pay_product_count
    FROM
        (
            SELECT
                mpd.dtl_item_id video_id,
                DATE_FORMAT(mpd.create_date, '%Y-%m-%d') statistical_date,
                pv.column_type,
                COUNT(DISTINCT mpd.member_id) total_visitor_count,
                COUNT(DISTINCT IF (mpd.member_id IS NOT NULL,NULL,mpd.device_number)) total_visitor_count_tourist,
                COUNT(mpd.member_id) total_pv_count,
                COUNT(1) - COUNT(mpd.member_id) total_pv_count_tourist
            FROM
                bu_member_pv_dtl mpd,
                bu_member_pv pv
            WHERE
                mpd.member_pv_id = pv.pv_id
            AND mpd.dtl_item_type = '8'
            AND mpd.dtl_item_id IN
            <foreach collection="videoIdList" item="videoId" open="(" close=")" separator=",">
                #{videoId}
            </foreach>
            AND mpd.del_flag = '0'
            AND mpd.create_date BETWEEN #{payDateBegin}
            AND #{payDateEnd}
            AND pv.create_date BETWEEN #{payDateBegin}
            AND #{payDateEnd}
            AND pv.page_classify = '37'
            AND pv.page_type = '99'
            AND pv.del_flag = '0'
            GROUP BY
                value_id
        ) A
  </select>


</mapper>