<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.VideoCommentReplyMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.VideoCommentReply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="video_id" property="videoId" jdbcType="INTEGER" />
    <result column="video_comment_id" property="videoCommentId" jdbcType="INTEGER" />
    <result column="replier" property="replier" jdbcType="CHAR" />
    <result column="replier_id" property="replierId" jdbcType="INTEGER" />
    <result column="replier_avatar" property="replierAvatar" jdbcType="VARCHAR" />
    <result column="replier_nick" property="replierNick" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, video_id, video_comment_id, replier, replier_id, replier_avatar, replier_nick, 
    content, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.VideoCommentReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_video_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_video_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_video_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.VideoCommentReplyExample" >
    delete from bu_video_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.VideoCommentReply" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_video_comment_reply (video_id, video_comment_id, replier, 
      replier_id, replier_avatar, replier_nick, 
      content, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag)
    values (#{videoId,jdbcType=INTEGER}, #{videoCommentId,jdbcType=INTEGER}, #{replier,jdbcType=CHAR}, 
      #{replierId,jdbcType=INTEGER}, #{replierAvatar,jdbcType=VARCHAR}, #{replierNick,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.VideoCommentReply" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_video_comment_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="videoCommentId != null" >
        video_comment_id,
      </if>
      <if test="replier != null" >
        replier,
      </if>
      <if test="replierId != null" >
        replier_id,
      </if>
      <if test="replierAvatar != null" >
        replier_avatar,
      </if>
      <if test="replierNick != null" >
        replier_nick,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoCommentId != null" >
        #{videoCommentId,jdbcType=INTEGER},
      </if>
      <if test="replier != null" >
        #{replier,jdbcType=CHAR},
      </if>
      <if test="replierId != null" >
        #{replierId,jdbcType=INTEGER},
      </if>
      <if test="replierAvatar != null" >
        #{replierAvatar,jdbcType=VARCHAR},
      </if>
      <if test="replierNick != null" >
        #{replierNick,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.VideoCommentReplyExample" resultType="java.lang.Integer" >
    select count(*) from bu_video_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_video_comment_reply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.videoId != null" >
        video_id = #{record.videoId,jdbcType=INTEGER},
      </if>
      <if test="record.videoCommentId != null" >
        video_comment_id = #{record.videoCommentId,jdbcType=INTEGER},
      </if>
      <if test="record.replier != null" >
        replier = #{record.replier,jdbcType=CHAR},
      </if>
      <if test="record.replierId != null" >
        replier_id = #{record.replierId,jdbcType=INTEGER},
      </if>
      <if test="record.replierAvatar != null" >
        replier_avatar = #{record.replierAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.replierNick != null" >
        replier_nick = #{record.replierNick,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_video_comment_reply
    set id = #{record.id,jdbcType=INTEGER},
      video_id = #{record.videoId,jdbcType=INTEGER},
      video_comment_id = #{record.videoCommentId,jdbcType=INTEGER},
      replier = #{record.replier,jdbcType=CHAR},
      replier_id = #{record.replierId,jdbcType=INTEGER},
      replier_avatar = #{record.replierAvatar,jdbcType=VARCHAR},
      replier_nick = #{record.replierNick,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.VideoCommentReply" >
    update bu_video_comment_reply
    <set >
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoCommentId != null" >
        video_comment_id = #{videoCommentId,jdbcType=INTEGER},
      </if>
      <if test="replier != null" >
        replier = #{replier,jdbcType=CHAR},
      </if>
      <if test="replierId != null" >
        replier_id = #{replierId,jdbcType=INTEGER},
      </if>
      <if test="replierAvatar != null" >
        replier_avatar = #{replierAvatar,jdbcType=VARCHAR},
      </if>
      <if test="replierNick != null" >
        replier_nick = #{replierNick,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.VideoCommentReply" >
    update bu_video_comment_reply
    set video_id = #{videoId,jdbcType=INTEGER},
      video_comment_id = #{videoCommentId,jdbcType=INTEGER},
      replier = #{replier,jdbcType=CHAR},
      replier_id = #{replierId,jdbcType=INTEGER},
      replier_avatar = #{replierAvatar,jdbcType=VARCHAR},
      replier_nick = #{replierNick,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>