@charset "utf-8";
@import "var";

/*common*/
.btn{
  &,span{
    background: $btn_bg;
  }
}
.btn-action{
  background: $btn_action_bg;
}
.btn-action2{
  background: $btn_action2_bg;
}

/*top*/
.topnotify span{background-image: $notify_bg;}

/*header*/
.header{background: $header_bg;}

#headerSearch{}
.search-panel-fields{
  border-color:$theme_color;
  button{background-color: $theme_color;}
}

.cartbtn{
  background-color: $theme_color;
  border-color: $theme_color;
}

.mini-cart-menu{}
.mini-cart-view .mini-cart-btn{background: $theme_color; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #fff;}

/*nav*/
.site-nav-item a:hover span{ border-bottom-color: $theme_color;}

/*footer*/
.footer{ background: #f7f7f7; color: #969696;
  a{ color: #969696;}
}

/*login*/
.loginbox{border-top: 3px solid $theme_color;}

/*main*/
.filter-sort .sort-on{border-color: $theme_color; background-color: $theme_color; color: #fff;}
.pagination .page-cur,.page-go button{background: $theme_color; border:1px solid darken($theme_color,10); color: #fff;}

/*page*/
.block .blocktitle{
  border-bottom-color: $title_bottom_line; color: $title_color; background: $title_bg;
  span{ margin-bottom: -2px; border-bottom: 2px solid $theme_color;}
}
.commentblock h3{
  border-color: $theme_color;
}
.sideblock .blocktitle{border-top: 3px solid $theme_color; margin: 0 -1px;}

/*slides*/
#inslides{
  .switchable-triggers{
    li{color: #fff;
      &.current{color: $theme_color;}
    }
  }
}

/*tabs*/
#intabs{
  .switchable-tab-title{ height: 30px; line-height: 30px; border-bottom: 2px solid #d4d4d4;
    .current{ border-bottom: 2px solid $theme_color; margin-bottom: -2px;}
  }
  .switchable-nav-item i{ display: block; margin-top: 70px; width: 0; height: 0; border:15px dashed transparent; text-indent: -9999px; line-height: 0;}
  .prev i{border-right: 15px solid $theme_color;}
  .next i{border-left: 15px solid $theme_color; margin-left: 10px;}
}

/*goodslist*/
.goods-showlist {
  .item-hover{border-color: $theme_color;}
  .goodsname a:hover{color: $theme_color;}
  .thumbslist li.selected{border-color: $theme_color;}
}

/*goodsdetail*/
.goods-gallery .thumbs li.selected{border-color: $theme_color;}
.goodspromotion .promote i{ background: $promote_color;}
.btn-buy a,.btn-buy a span{background: $btn_buy_bg;}
.btn-cart a,.btn-cart a span{background: $btn_cart_bg;}
.detail-tabbar{
  border-color: $detail_tab_border_color; background: $detail_tab_bg;
  a{color: $detail_tab_text_color; border-color:$detail_tab_border_color;}
  .selected{
    border-top: 3px solid $theme_color; margin-top: -3px; background: $detail_tab_active_bg;
    a{color: $detail_tab_active_text_color;}
  }
}
.detail-bd .hd{background: $detail_title_bg; color: $detail_title_color;}
.review-rate span{color: $theme_color;}
.sumratebar span{background: $theme_color;}

/*goods-set*/
.combobuy-hd h3,.combobuy-ft h3{ color: $theme_color;}

/*step*/
.stepind{background-image: $step_bg_img;}
.steps{
  .step-active{ background-color: $step_active_line_color;}
  .step-active .stepname{color: $step_active_color;}
}
.orderstate{
  .stepind{background-image: $step_large_bg_img;}
  .steps{
    .step-active{ background-color: $step_large_active_line_color;}
    .step-active .stepname{color: $step_large_active_color;}
  }
}

/*payment*/
.tabbar .selected{margin-top: -3px; border-top: 3px solid $theme_color;}
.payment .tabbar .selected a{border-top: 3px solid $theme_color; padding-top: 0;}

/*refund*/
.tabnav li a.current{color: #fff; background: $theme_color;}

/*news*/
.newslist h3{border-bottom: 2px solid $theme_color;}
.newslist .title a:hover{color: $theme_color;}
.newstop{border-bottom: 2px solid $theme_color;}

/*mycenter*/
.mcmenu-home{ margin-bottom: 10px; background-color: $theme_color;}
.mcmenu{border-top: 4px solid $theme_color;}
.mctitle span{margin-bottom: -2px; border-bottom: 2px solid $theme_color;}
.mcmenu dd a.current{ background-image: $mc_menu_arrow_img;}
.link-back{background: $theme_color;}

.pswstrength-low, .pswstrength-mid, .pswstrength-high{ background-image: $psw_strength_bg_img;}
.link{color: $link_color;}
.deliverstatus li.itemactive s{background: $deliver_status_line;}
.deliverstatus li p, .deliverstatus li p span{background-image: $deliver_status_bg_img;}

/*brand*/
.brandextra a{background: $theme_color;}