@charset "utf-8";
@import "var";

/*common*/
body{
  background: $body_bg;
}
.btn{
  &,span{
    background: $btn_bg;
  }
}
.btn-action{
  background: $btn_action_bg;
}
.btn-action2{
  background: $btn_action2_bg;
}
a:hover{ color: darken($theme_color2,10%);}

/*top*/
.topnotify span{background-image: $notify_bg;}

/*header*/
#header{background: $header_bg;}

#headerSearch{ width: 410px;}
.search-panel-fields{
  width: auto; padding: 0; overflow: hidden;
  label{position: absolute; left: 10px; top: 0; z-index: 2; line-height: 32px; color: #949494; cursor: text;}
  input{float: left; width: 320px; height: 30px; *line-height: 30px; margin: 0; padding: 0 10px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-color:#afafaf;}
  button{float: left; position: static; width: 67px; height: 32px; border: 0; color: #fff; text-indent: 0; cursor: pointer; background: url("../images/ico-search.png") center no-repeat #474747; text-indent: -9999px;}
}
.hotsearch{
  position: relative; height: 30px; overflow: hidden; line-height: 30px;
  a{margin-left: 5px; color: #b0b0af;}
}

#headerCart{position: relative; float: right; margin-right: 6px; display: inline; border: 1px solid $theme_color;}
.cartbtn{
  float: left; padding:0 10px 0 38px; display: block; height: 30px; line-height: 30px; color: #fff; background: $theme_color;
  a{color: #fff;}
  i{position: absolute; left: 5px; top: 0; width: 28px; height: 30px; background: url("../images/ico-shopcart.png") no-repeat center;}
  span{display: inline-block;}
  .cartcount{display: inline-block;}
}

.mini-cart-menu{border: 1px solid #d4d4d4; right: -1px; top: 31px;}
.mini-cart-view .mini-cart-btn{background: $theme_color2; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #fff;}

/*nav*/
.nav{
  &,.layout{background: $nav_bg;}
  .textNav,.site-nav{
    color: #fff;
    a{
      color: #fff;
      .current,&:hover{background: $theme_color2; text-decoration: none;}
    }
  }
}

.gbc-title{background: $theme_color2;}
.gbc-title span{background: url("../images/gbc-titlearrow.png") no-repeat 100% 0; padding-right: 30px; color: #fff;}
.global-catalog-open .gbc-title span{background-position: 100% 100%;}

.gbc-treetitle,
.gbc-subtree li a:hover,
.sublayer-item li a:hover,
.sublayer-item dt a:hover{ color: $theme_color;}

/*footer*/
.footer{ background: $theme_color;}
.footwarranty{background: $theme_color2;}

/*login*/
.loginbox{border-top: 3px solid $theme_color;}

/*main*/
.filter-sort .sort-on{border-color: $theme_color2; background-color: $theme_color2; color: #fff;}
.pagination .page-cur,.page-go button{background: $theme_color2; border:1px solid $theme_color2; color: #fff;}

/*page*/
.block .blocktitle{
  border-bottom-color: $title_bottom_line; color: $title_color; background: $title_bg;
  span{ margin-bottom: -2px; border-bottom: 2px solid $theme_color;}
}
.commentblock h3{
  border-color: $theme_color;
}
.sideblock .blocktitle{border-top: 3px solid $theme_color; margin: 0 -1px;}

.newsbox .title{ color: #fff; background: $theme_color;}

/*slides*/
#inslides{
  .switchable-slides{
    li{
    }
  }
  .switchable-triggers{
    .current{ color: $theme_color;}
  }
}

/*tabs*/
#intabs{
  .switchable-tab-title{ height: 30px; line-height: 30px; border-bottom: 2px solid #d4d4d4;
    .current{ border-bottom: 2px solid $theme_color; margin-bottom: -2px;}
  }
  .switchable-nav-item i{ display: block; margin-top: 70px; width: 0; height: 0; border:15px dashed transparent; text-indent: -9999px; line-height: 0;}
  .prev i{border-right: 15px solid $theme_color;}
  .next i{border-left: 15px solid $theme_color; margin-left: 10px;}
}

/*goodslist*/
.m-itemslist .type-grid {
  .item-hover{border-color: $theme_color;}
  .goodsname a:hover{color: $theme_color;}
  .thumbslist li.selected{border-color: $theme_color;}
}

/*goodsdetail*/
.goods-gallery .thumbs li.selected{border-color: $theme_color;}
.goodspromotion .promote i{ background: $promote_color;}
.btn-buy a,.btn-buy a span{background: $btn_buy_bg;}
.btn-cart a,.btn-cart a span{background: $btn_cart_bg;}
.detail-tabbar{
  border-color: $detail_tab_border_color; background: $detail_tab_bg;
  a{color: $detail_tab_text_color; border-color:$detail_tab_border_color;}
  .selected{
    border-top: 3px solid $theme_color; margin-top: -3px; background: $detail_tab_active_bg;
    a{color: $detail_tab_active_text_color;}
  }
}
.detail-bd .hd{background: $detail_title_bg; color: $detail_title_color;}
.review-rate span{color: $theme_color;}
.sumratebar span{background: $theme_color;}

/*goods-set*/
.combobuy-hd h3,.combobuy-ft h3{ color: $theme_color;}

/*step*/
.stepind{background-image: $step_bg_img;}
.steps{
  .step-active{ background-color: $step_active_line_color;}
  .step-active .stepname{color: $step_active_color;}
}
.orderstate{
  .stepind{background-image: $step_large_bg_img;}
  .steps{
    .step-active{ background-color: $step_large_active_line_color;}
    .step-active .stepname{color: $step_large_active_color;}
  }
}

/*payment*/
.tabbar .selected{margin-top: -3px; border-top: 3px solid $theme_color;}
.payment .tabbar .selected a{border-top: 3px solid $theme_color; padding-top: 0;}

/*refund*/
.tabnav li a.current{color: #fff; background: $theme_color;}

/*news*/
.newslist h3{border-bottom: 2px solid $theme_color;}
.newslist .title a:hover{color: $theme_color;}
.newstop{border-bottom: 2px solid $theme_color;}

/*mycenter*/
.mcmenu-home{ margin-bottom: 10px; background-color: $theme_color;}
.mcmenu{border-top: 4px solid $theme_color;}
.mctitle span{margin-bottom: -2px; border-bottom: 2px solid $theme_color;}
.mcmenu dd a.current{ background-image: $mc_menu_arrow_img;}
.link-back{background: $theme_color;}

.pswstrength-low, .pswstrength-mid, .pswstrength-high{ background-image: $psw_strength_bg_img;}
.link{color: $link_color;}
.deliverstatus li.itemactive s{background: $deliver_status_line;}
.deliverstatus li p, .deliverstatus li p span{background-image: $deliver_status_bg_img;}

/*brand*/
.brandextra a{background: $theme_color2;}