@CHARSET "UTF-8";

span.prompt {
	background-image: url(../images/icon/information.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	margin-left: 10px;
}

span.error {
	background-image: url(../images/icon/delete.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	margin-left: 10px;
}

span.correct {
	background-image: url(../images/icon/accept.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	margin-left: 10px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	color:#333333;
	font-size: 12px;
	width: 100%;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.gridtable td.title {
	background-color: #dedede;
	font-weight: bold;
	text-align: center;
}

table.gridtable span.required {
 color: #FF0000;
 font-size: 100%;
	text-align: center;
	text-align: center;
	text-align: center;
}
