<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ShopDecorateInfoDraftCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ShopDecorateInfoDraftCustom" extends="com.jf.dao.ShopDecorateInfoDraftMapper.BaseResultMap">
   	  <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
   	  <result column="shop_logo" property="shopLogo" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getShopDecorateInfo" parameterType="int" resultType="com.jf.entity.ShopDecorateInfoDraftCustom">
  		select
		page.banner,
		page.shop_logo,
		info.id,
		mcht.shop_name
		from bu_shop_decorate_page_draft page,bu_shop_decorate_info_draft info,bu_mcht_info mcht
		where page.mcht_id = mcht.id and page.shop_decorate_info_id = info.id
		and page.del_flag = '0'
		and info.del_flag = '0'
		and mcht.status = '1'
		and mcht.shop_status = '1'
		and mcht.id = #{mchtId}
  	</select>
</mapper>