@charset "utf-8";

//颜色值格式: #xxxxxx || transparent
//背景图片格式: url("../images/xxxxx.png") || none

//body背景
$body_bg : null;
//头部背景
$header_bg : #ffffff;
//主颜色
$theme_color : #0580b7;
//副颜色
$theme_color2 : #f76363;
//导航背景
$nav_bg : #0580b7;
//标题颜色
$title_color : #0580b7;
$title_bg : #ffffff;
$title_bottom_line : null;

//通知图标
$notify_bg : null;

//普通按钮
$btn_bg : null;
//立即购买按钮
$btn_buy_bg : $btn_bg;
//加入购物车按钮
$btn_cart_bg : null;
//操作按钮
$btn_action_bg : $theme_color;
$btn_action2_bg : null;

//促销颜色
$promote_color: null;

//详情
$detail_tab_bg : #fafafa;
$detail_tab_border_color : #e2e1e3;
$detail_tab_text_color : #717171;
$detail_tab_active_bg :#ffffff;
$detail_tab_active_text_color :#0580b7;
$detail_title_bg : #0580b7;
$detail_title_color : #ffffff;

//个人中心侧栏当前箭头
$mc_menu_arrow_img: url("../images/mc-menuarrow.gif");
//密码强度
$psw_strength_bg_img:url("../images/password-strength.png");
//链接颜色
$link_color : #f76363;

//配送状态
$deliver_status_line : #0580b7;
$deliver_status_bg_img: url("../images/deliverstatus.png");

//右上角步骤
$step_bg_img : url("../images/step.png");
$step_active_line_color : #f76363;
$step_active_color : #f76363;
//中间步骤
$step_large_bg_img : url("../images/step-l.png");
$step_large_active_line_color : #f76363;
$step_large_active_color : #f76363;
