<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ProductBrandCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ProductBrandCustom" extends="com.jf.dao.ProductBrandMapper.BaseResultMap" >
   <association column="product_type_group" property="productTypes"
			select="selectProductTypes" />
  </resultMap>
  
  <select id="selectProductTypes" parameterType="string" resultMap="com.jf.dao.ProductTypeMapper.BaseResultMap">
  	select  
  	*
    from bu_product_type where FIND_IN_SET(id,#{product_type_group, jdbcType=VARCHAR})
  </select>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
 
  <sql id="Base_Column_List" >
    id, name, name_zh, name_en, logo, product_type_group, tmk_type_group, tmk_type, catalog, 
    status, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ProductBrandCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_product_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
 
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_product_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
 
  <select id="countByExample" parameterType="com.jf.entity.ProductBrandCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_product_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="getMchtProductBrands" parameterType="map" resultMap="com.jf.dao.ProductBrandMapper.BaseResultMap" >
	select * from bu_product_brand pb ,bu_mcht_product_brand mpb where pb.id=mpb.product_brand_id and mpb.del_flag="0" and pb.del_flag="0" and pb.status='1' and mpb.status='1' and mpb.audit_status='3' and mpb.mcht_id = #{mchtId,jdbcType=INTEGER} and pb.id NOT IN
	<foreach collection="productBrandIdList" item="productBrandId"  open="(" separator="," close=")">
		#{productBrandId}
	</foreach>
  </select>
</mapper>