<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.ProvinceFreightCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.ProvinceFreightCustom"  extends="com.jf.dao.ProvinceFreightMapper.BaseResultMap">
  	<result column="area_names" property="areaNames" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mcht_id, freight_template_id, area_ids, first_freight, additional_freight, create_by, 
    create_date, update_by, update_date, remarks, del_flag,
    (select GROUP_CONCAT(pa.AREA_NAME SEPARATOR "、") from bu_p_area pa where FIND_IN_SET(pa.AREA_ID,t.area_ids))area_names
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.ProvinceFreightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_province_freight t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="getAreaIds" resultType="java.lang.String" parameterType="java.util.HashMap">
  	SELECT GROUP_CONCAT(pf.area_ids) FROM bu_province_freight pf WHERE pf.del_flag='0' and pf.mcht_id=#{mchtId} and pf.freight_template_id=#{freightTemplateId} 
  	<if test="provinceFreightId!=null">
  	AND pf.id!=#{provinceFreightId}
  	</if>
  </select>
</mapper>