<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SourceNicheProductCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.SourceNicheProductCustom" extends="com.jf.dao.SourceNicheProductMapper.BaseResultMap">
  	<result column="pic" property="pic" jdbcType="VARCHAR" />
  	<result column="p_name" property="pName" jdbcType="VARCHAR" />
  	<result column="p_art_no" property="pArtNo" jdbcType="VARCHAR" />
  	<result column="p_code" property="pCode" jdbcType="VARCHAR" />
  	<result column="svip_discount" property="svipDiscount" jdbcType="DECIMAL" />
  	<result column="p_stock" property="pStock" jdbcType="INTEGER" />
  	<result column="sale_price_min" property="salePriceMin" jdbcType="DECIMAL" />
  	<result column="sale_price_max" property="salePriceMax" jdbcType="DECIMAL" />
  	<result column="mall_price_min" property="mallPriceMin" jdbcType="DECIMAL" />
  	 <result column="mall_price_max" property="mallPriceMax" jdbcType="DECIMAL" />
  	<result column="p_recommend_remarks" property="pRecommendRemarks" jdbcType="VARCHAR" />
	<result column="p_status" property="pStatus" jdbcType="VARCHAR" />
	
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, source_niche_id, product_id, create_by, create_date, update_by, update_date, 
    remarks, del_flag, 
    (select pic from bu_product_pic b where b.product_id = snp.product_id and b.del_flag='0' and b.is_default = '1') pic,
    (select name from bu_product b where b.id = snp.product_id and b.del_flag='0') p_name,
    (select art_no from bu_product b where b.id = snp.product_id and b.del_flag='0') p_art_no,
    (select code from bu_product b where b.id = snp.product_id and b.del_flag='0') p_code,   
    (select min(b.sale_price) from bu_product_item b where b.product_id=snp.product_id and b.del_flag='0') sale_price_min,
    (select max(b.sale_price) from bu_product_item b where b.product_id=snp.product_id and b.del_flag='0') sale_price_max,
    (select min(a.mall_price) from bu_product_item a where a.product_id=snp.product_id and a.del_flag='0') mall_price_min,
 	(select max(a.mall_price) from bu_product_item a where a.product_id=snp.product_id and a.del_flag='0') mall_price_max,
	(select IFNULL(SUM(bpi.stock-bpi.locked_amount),0) from bu_product_item bpi where bpi.del_flag='0' and bpi.product_id=snp.product_id) p_stock,
    (select svip_discount from bu_product b where b.id = snp.product_id and b.del_flag='0') svip_discount,
    (select status from bu_product b where b.id = snp.product_id and b.del_flag='0') p_status,
    (select recommend_remarks from bu_product b where b.id = snp.product_id and b.del_flag='0') p_recommend_remarks 
  </sql>
  <select id="selectCustomByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.SourceNicheProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_source_niche_product snp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
 

</mapper>