<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.SourceNicheCustomMapper" >
  <resultMap id="BaseResultMap" type="com.jf.entity.SourceNicheCustom" extends="com.jf.dao.CloudProductMapper.BaseResultMap">
  	<result column="pic" property="pic" jdbcType="VARCHAR" />
  	<result column="name" property="name" jdbcType="VARCHAR" />
  	<result column="art_no" property="artNo" jdbcType="VARCHAR" />
  	<result column="code" property="code" jdbcType="VARCHAR" />
  	<result column="min_sale_price_item_id" property="minSalePriceItemId" jdbcType="INTEGER" />
  	<result column="svip_discount" property="svipDiscount" jdbcType="DECIMAL" />
  	<result column="product_item_stock" property="productItemStock" jdbcType="INTEGER" />
  	<result column="product_count" property="productCount" jdbcType="INTEGER" />
  	<result column="sale_price_min" property="salePriceMin" jdbcType="DECIMAL" />
  	<result column="sale_price_max" property="salePriceMax" jdbcType="DECIMAL" />
	
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
id, type, link_id, support_quantity, seq_no, status, source, mcht_id, up_date, weight_update_date, 
    weight, audit_by, audit_status, audit_date, can_apply, audit_remarks, create_by, 
    create_date, update_by, update_date, remarks, del_flag,
    (select pic from bu_product_pic b where b.product_id = a.link_id and b.del_flag='0' and b.is_default = '1') pic,
    (select name from bu_product b where b.id = a.link_id and b.del_flag='0') name,
    (select art_no from bu_product b where b.id = a.link_id and b.del_flag='0') art_no,
    (select code from bu_product b where b.id = a.link_id and b.del_flag='0') code,   
    (select min(b.sale_price) from bu_product_item b where b.product_id=a.link_id and b.del_flag='0') sale_price_min,
    (select max(b.sale_price) from bu_product_item b where b.product_id=a.link_id and b.del_flag='0') sale_price_max,
	(select IFNULL(SUM(bpi.stock-bpi.locked_amount),0) from bu_product_item bpi where bpi.del_flag='0' and bpi.product_id=a.link_id) product_item_stock,
    (select svip_discount from bu_product b where b.id = a.link_id and b.del_flag='0') svip_discount,
    (select count(product_id) from bu_order_dtl b where b.product_id = a.link_id and b.create_date between a.update_date and DATE_SUB(a.update_date, INTERVAL -30 DAY)) product_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.entity.SourceNicheExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_source_niche a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_source_niche
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_source_niche
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.entity.SourceNicheExample" >
    delete from bu_source_niche
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.entity.SourceNiche" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_source_niche (type, link_id, support_quantity, 
      seq_no, status, source, mcht_id, 
      up_date, weight_update_date, weight, 
      audit_by, audit_status, audit_date, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{type,jdbcType=CHAR}, #{linkId,jdbcType=INTEGER}, #{supportQuantity,jdbcType=INTEGER}, 
      #{seqNo,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{source,jdbcType=CHAR}, #{mchtId,jdbcType=INTEGER}, 
      #{upDate,jdbcType=TIMESTAMP}, #{weightUpdateDate,jdbcType=TIMESTAMP}, #{weight,jdbcType=INTEGER}, 
      #{auditBy,jdbcType=INTEGER}, #{auditStatus,jdbcType=CHAR}, #{auditDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.entity.SourceNiche" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bu_source_niche
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="linkId != null" >
        link_id,
      </if>
      <if test="supportQuantity != null" >
        support_quantity,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="mchtId != null" >
        mcht_id,
      </if>
      <if test="upDate != null" >
        up_date,
      </if>
      <if test="weightUpdateDate != null" >
        weight_update_date,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="auditBy != null" >
        audit_by,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="linkId != null" >
        #{linkId,jdbcType=INTEGER},
      </if>
      <if test="supportQuantity != null" >
        #{supportQuantity,jdbcType=INTEGER},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="mchtId != null" >
        #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="upDate != null" >
        #{upDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weightUpdateDate != null" >
        #{weightUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="auditBy != null" >
        #{auditBy,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.entity.SourceNicheExample" resultType="java.lang.Integer" >
    select count(*) from bu_source_niche
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_source_niche
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.linkId != null" >
        link_id = #{record.linkId,jdbcType=INTEGER},
      </if>
      <if test="record.supportQuantity != null" >
        support_quantity = #{record.supportQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.seqNo != null" >
        seq_no = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=CHAR},
      </if>
      <if test="record.mchtId != null" >
        mcht_id = #{record.mchtId,jdbcType=INTEGER},
      </if>
      <if test="record.upDate != null" >
        up_date = #{record.upDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.weightUpdateDate != null" >
        weight_update_date = #{record.weightUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.auditBy != null" >
        audit_by = #{record.auditBy,jdbcType=INTEGER},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=CHAR},
      </if>
      <if test="record.auditDate != null" >
        audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_source_niche
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=CHAR},
      link_id = #{record.linkId,jdbcType=INTEGER},
      support_quantity = #{record.supportQuantity,jdbcType=INTEGER},
      seq_no = #{record.seqNo,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      source = #{record.source,jdbcType=CHAR},
      mcht_id = #{record.mchtId,jdbcType=INTEGER},
      up_date = #{record.upDate,jdbcType=TIMESTAMP},
      weight_update_date = #{record.weightUpdateDate,jdbcType=TIMESTAMP},
      weight = #{record.weight,jdbcType=INTEGER},
      audit_by = #{record.auditBy,jdbcType=INTEGER},
      audit_status = #{record.auditStatus,jdbcType=CHAR},
      audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.entity.SourceNiche" >
    update bu_source_niche
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="linkId != null" >
        link_id = #{linkId,jdbcType=INTEGER},
      </if>
      <if test="supportQuantity != null" >
        support_quantity = #{supportQuantity,jdbcType=INTEGER},
      </if>
      <if test="seqNo != null" >
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="mchtId != null" >
        mcht_id = #{mchtId,jdbcType=INTEGER},
      </if>
      <if test="upDate != null" >
        up_date = #{upDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weightUpdateDate != null" >
        weight_update_date = #{weightUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="auditBy != null" >
        audit_by = #{auditBy,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.entity.SourceNiche" >
    update bu_source_niche
    set type = #{type,jdbcType=CHAR},
      link_id = #{linkId,jdbcType=INTEGER},
      support_quantity = #{supportQuantity,jdbcType=INTEGER},
      seq_no = #{seqNo,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      source = #{source,jdbcType=CHAR},
      mcht_id = #{mchtId,jdbcType=INTEGER},
      up_date = #{upDate,jdbcType=TIMESTAMP},
      weight_update_date = #{weightUpdateDate,jdbcType=TIMESTAMP},
      weight = #{weight,jdbcType=INTEGER},
      audit_by = #{auditBy,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=CHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="selectByCustomExample" resultMap="BaseResultMap" parameterType="com.jf.entity.SourceNicheCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_source_niche a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  
  <select id="selectCountByCustomExample" parameterType="com.jf.entity.SourceNicheCustomExample" resultType="java.lang.Integer" >
    select count(*) from bu_source_niche a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>